interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.2210/pdb4hhb/pdb
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"id":[{"id":"https:\/\/ror.org\/047qy5748","id-type":"ROR","asserted-by":"publisher"}],"name":"Worldwide
        Protein Data Bank","acronym":["wwPDB"]}],"indexed":{"date-parts":[[2025,5,23]],"date-time":"2025-05-23T04:50:49Z","timestamp":1747975849379,"version":"3.41.0"},"description":"x-ray
        diffraction structure","reference-count":0,"publisher":"Worldwide Protein
        Data Bank","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"content-updated":{"date-parts":[[2024,5,22]]},"published-print":{"date-parts":[[1984,7,17]]},"DOI":"10.2210\/pdb4hhb\/pdb","type":"dataset","created":{"date-parts":[[2006,1,5]],"date-time":"2006-01-05T00:34:58Z","timestamp":1136421298000},"source":"Crossref","is-referenced-by-count":1,"title":["THE
        CRYSTAL STRUCTURE OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION"],"prefix":"10.2210","author":[{"given":"G.","family":"Fermi","sequence":"first","affiliation":[]},{"given":"M.F.","family":"Perutz","sequence":"additional","affiliation":[]}],"member":"7763","content-created":{"date-parts":[[1984,3,7]]},"container-title":["Worldwide
        Protein Data Bank"],"original-title":[],"deposited":{"date-parts":[[2025,5,22]],"date-time":"2025-05-22T17:27:23Z","timestamp":1747934843000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.wwpdb.org\/pdb?id=pdb_00004hhb"}},"subtitle":["4hhb"],"short-title":[],"issued":{"date-parts":[[1984,3,7]]},"references-count":0,"URL":"https:\/\/doi.org\/10.2210\/pdb4hhb\/pdb","relation":{},"subject":[],"published":{"date-parts":[[1984,3,7]]}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
