interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.14264/uql.2020.791
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"The
        University of Queensland","department":["School of Social Science"]}],"indexed":{"date-parts":[[2025,5,14]],"date-time":"2025-05-14T04:32:37Z","timestamp":1747197157440,"version":"3.40.5"},"reference-count":0,"publisher":"University
        of Queensland Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14264\/uql.2020.791","type":"dissertation","created":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:58Z","timestamp":1591592938000},"approved":{"date-parts":[[2020,5,25]]},"source":"Crossref","is-referenced-by-count":0,"title":["School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers"],"prefix":"10.14264","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-3086-4443","authenticated-orcid":true,"given":"Patricia
        Maree","family":"Collingwood","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"5387","container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:59Z","timestamp":1591592939000},"score":1,"degree":["PhD
        Thesis"],"resource":{"primary":{"URL":"http:\/\/espace.library.uq.edu.au\/view\/UQ:23a1e74"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.14264\/uql.2020.791","relation":{},"subject":[]}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-concurrency-limit:
      - '3'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '10'
    status:
      code: 200
      message: OK
version: 1
