interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/5561f8e4-2ff1-4186-a8d5-8dacb3afe414
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"name":"Liberate Science","url":"https://ror.org/0342dzm54"}],"blog":{"archive_collection":22140,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22140/20231105111127/","archive_timestamps":[20231105110227,20240505180828,20241105110221,20250505110220],"authors":null,"canonical_url":null,"category":"socialScience","community_id":"8655fbee-45c9-4cd4-9500-f55f85811cee","created_at":1672790400,"current_feed_url":null,"description":"Supporting
        research as a common good.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/8655fbee-45c9-4cd4-9500-f55f85811cee/logo","feed_format":"application/feed+json","feed_url":"https://libscie.org/rss/","filter":"visibility:public","funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.80","home_page_url":"https://libscie.org","id":"5e58d0d0-1aba-4d40-a946-3e4a08a9f095","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1712910068,"relative_url":null,"ror":"https://ror.org/0342dzm54","secure":true,"slug":"libscie","status":"expired","subfield":"1802","title":"Liberate
        Science","updated_at":1712910068,"use_api":false,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Liberate
        Science","blog_slug":"libscie","content_html":"<p>KU Leuven is now an inaugural
        supporting member of ResearchEquals,\nsustaining and governing the development
        of modular publishing.</p>\n<p>As part of their commitment to Open Science,
        KU Leuven supports\nsustainable implementations of Open Access and Open Science
        through the\n<a\nhref=\"https://www.kuleuven.be/open-science/what-is-open-science/scholarly-publishing-and-open-access/open-access-kuleuven/OS-services?ref=libscie.org\">KU\nLeuven
        Fund for F[...]
