interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/8a4de443-3347-4b82-b57d-e3c82b6485fc
  response:
    content: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/differences-between-orcid-and-datacite-metadata","authors":[{"name":"Martin
      Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"api":true,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":1672561153,"current_feed_url":"https://blog.front-matter.io/atom/","description":"The
      Front Matter Blog covers the intersection of science and technology since 2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
      5.52","home_page_url":"https://blog.front-matter.io","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://mozilla.social/@martin","plan":"Team","prefix":"10.53731","relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","title":"Front
      Matter","updated_at":1707416598,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Front
      Matter","blog_slug":"front_matter","content_text":"One of the first tasks for
      DataCite in the European Commission-funded\n[THOR project](http://project-thor.eu/),
      which started in June, was to\ncontribute to a comparison of the ORCID and DataCite
      metadata standards.\nTogether with ORCID, CERN, the British Library and Dryad
      we looked at\nhow contributors, organizations and artefacts - and the relations\nbetween
      them - are described in the respective metadata schemata, and\nhow they are
      implemented in two examp[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5281/zenodo.30799
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5281%2Fzenodo.30799">https://data.crosscite.org/10.5281%2Fzenodo.30799</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5281%2Fzenodo.30799
    status_code: 302
version: 1
