interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/57ed3097-a397-491e-90c0843d1e0102ac
  response:
    body:
      string: '{"abstract":"We will follow up with a blog post later this week explaining
        the DataCite auto-update implementation. Since ORCID\u2019s inception, our
        key goal has been to unambiguously identify researchers and provide tools
        to automate the connection between researchers and their creative works. We
        are taking a big step towards achieving this goal today, with the launch of
        Auto-Update functionality in collaboration with Crossref and DataCite.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/auto-update-has-arrived/","authors":[{"affiliation":[{"id":"https://ror.org/04wxnsj81","name":"DataCite"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","content_html":"<p><em>We will follow up
        with a blog post later this week explaining the DataCite auto-update implementation.</em></p>\n<p>Since
        ORCID\u2019s inception, our key goal has been to unambiguously identify researchers
        and provide tools to automate the connection between researchers and their
        creative works. We are taking a big step towards achieving this goal today,
        with the launch of <a href=\"http://orcid.org/blog/2014/11/21/new-functionality-friday-auto-update-your[...]
