interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/ddhjk-a8f36
  response:
    body:
      string: '{"id": "ddhjk-a8f36", "created": "2024-10-13T22:40:41.789375+00:00",
        "updated": "2025-09-29T23:20:55.956151+00:00", "links": {"self": "https://rogue-scholar.org/api/records/ddhjk-a8f36",
        "self_html": "https://rogue-scholar.org/records/ddhjk-a8f36", "preview_html":
        "https://rogue-scholar.org/records/ddhjk-a8f36?preview=1", "doi": "https://doi.org/10.53731/r79s4nh-97aq74v-ag4t1",
        "self_doi": "https://doi.org/10.53731/r79s4nh-97aq74v-ag4t1", "self_doi_html":
        "https://rogue-scholar.org/doi/10.53731/r79s4nh-97aq74v-ag4t1", "reserve_doi":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/draft/pids/doi", "parent":
        "https://rogue-scholar.org/api/records/jn1h8-m3m07", "parent_html": "https://rogue-scholar.org/records/jn1h8-m3m07",
        "parent_doi": "https://doi.org/10.53731/jn1h8-m3m07", "parent_doi_html": "https://rogue-scholar.org/doi/10.53731/jn1h8-m3m07",
        "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:ddhjk-a8f36/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:ddhjk-a8f36/sequence/default",
        "files": "https://rogue-scholar.org/api/records/ddhjk-a8f36/files", "media_files":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/media-files", "archive":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/ddhjk-a8f36/latest", "versions": "https://rogue-scholar.org/api/records/ddhjk-a8f36/versions",
        "draft": "https://rogue-scholar.org/api/records/ddhjk-a8f36/draft", "access_links":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/request", "access":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access", "communities":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/communities-suggestions",
        "requests": "https://rogue-scholar.org/api/records/ddhjk-a8f36/requests"},
        "revision_id": 73, "parent": {"id": "jn1h8-m3m07", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["15a362ea-8138-42b8-917f-1840a92addf8", "d79fe364-6d96-40b6-b437-b93ca3493106",
        "f5585376-cf4d-4ba8-b423-16834e1f708f"], "default": "15a362ea-8138-42b8-917f-1840a92addf8",
        "entries": [{"id": "15a362ea-8138-42b8-917f-1840a92addf8", "created": "2024-08-30T15:03:16.250133+00:00",
        "updated": "2025-10-06T07:36:50.738768+00:00", "links": {}, "revision_id":
        731, "slug": "front_matter", "metadata": {"title": "Front Matter", "description":
        "The Front Matter Blog covers the intersection of science and technology since
        2007.", "type": {"id": "blog"}, "website": "https://blog.front-matter.io"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:issn": "2749-9952", "rs:feed_url": "https://blog.front-matter.io/atom",
        "rs:prefix": "10.53731", "rs:joined": "January 1, 2023", "rs:feed_format":
        "application/atom+xml", "rs:generator": "Ghost", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Computer and information sciences"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created": "2025-02-10T08:12:28.813373+00:00",
        "updated": "2025-06-30T16:00:16.024136+00:00", "links": {}, "revision_id":
        6, "slug": "computerandinformationsciences", "metadata": {"title": "Computer
        and information sciences", "description": "Computer and information sciences
        subject area.", "type": {"id": "subject"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "f5585376-cf4d-4ba8-b423-16834e1f708f", "created": "2024-10-08T16:22:44.009032+00:00",
        "updated": "2025-07-15T19:20:59.530029+00:00", "links": {}, "revision_id":
        8, "slug": "metadata", "metadata": {"title": "Metadata", "description": "Blog
        posts about metadata.", "type": {"id": "topic"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.53731/jn1h8-m3m07", "provider": "crossref", "client":
        "crossref"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.53731/r79s4nh-97aq74v-ag4t1",
        "provider": "crossref", "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:ddhjk-a8f36",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Fenner, Martin",
        "given_name": "Martin", "family_name": "Fenner", "identifiers": [{"identifier":
        "0000-0003-1419-2405", "scheme": "orcid"}]}, "affiliations": [{"id": "04wxnsj81",
        "name": "DataCite", "identifiers": [{"identifier": "04wxnsj81", "scheme":
        "ror"}]}]}], "title": "Tracking the Growth of the PID Graph", "publisher":
        "Front Matter", "publication_date": "2019-07-01", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Metadata"}], "dates": [{"date": "2019-07-01T02:00:00", "type": {"id": "issued",
        "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-01-10T00:49:29", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "e58dc9c8-b870-4db2-8896-238b3246c551",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.53731/r79s4nh-97aq74v-ag4t1",
        "scheme": "guid"}, {"identifier": "https://blog.front-matter.io/posts/tracking-the-growth-of-the-pid-graph/",
        "scheme": "url"}], "related_identifiers": [{"identifier": "10.5438/bv9z-dc66",
        "scheme": "doi", "relation_type": {"id": "isidenticalto", "title": {"de":
        "Ist identisch mit", "en": "Is identical to", "sv": "\u00c4r identisk med"}}}],
        "version": "v1", "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "The connections between scholarly resources
        generated by persistent identifiers (PIDs) and associated metadata form a
        graph: the PID Graph [Fenner &amp; Aryani (2019)]. We developed this PID Graph
        concept in the EC-funded FREYA project, and have identified important use
        cases and technical requirements. In May, DataCite introduced a GraphQL API
        to standardize and simplify how users can contribute to and consume the PID
        Graph [Fenner (2019b)].", "funding": [{"funder": {"id": "00k4n6c32", "name":
        "European Commission"}, "award": {"number": "777523", "identifiers": [{"identifier":
        "10.3030/777523", "scheme": "doi"}]}}], "references": [{"identifier": "10.14454/3bpw-w381",
        "scheme": "doi", "reference": "Fenner, M. (2019). <i>Jupyter Notebook FREYA
        PID Graph Key Performance Indicators (KPIs)</i> (1.1.0). DataCite."}, {"identifier":
        "10.53731/r79sa71-97aq74v-ag4vc", "scheme": "doi", "reference": "Fenner, M.
        (2019). The DataCite GraphQL API is now open for (pre-release) business. In
        <i>Front Matter</i>. Crossref."}, {"identifier": "10.5438/jwvf-8a66", "scheme":
        "doi", "reference": "Fenner, M., &amp; Aryani, A. (2019). <i>Introducing the
        PID Graph</i>."}]}, "custom_fields": {"journal:journal": {"title": "Front
        Matter", "issn": "2749-9952"}, "rs:content_html": "<p>The connections between
        scholarly resources generated by persistent identifiers (PIDs) and associated
        metadata form a graph: the PID Graph [Fenner &amp; Aryani (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/jwvf-8a66\">2019</a>)].
        We developed this PID Graph concept in the EC-funded <a href=\"https://www.project-freya.eu/en\">FREYA
        project</a>, and have identified important use cases and technical requirements.
        In May, DataCite introduced a GraphQL API to standardize and simplify how
        users can contribute to and consume the PID Graph [Fenner (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/qab1-n315\">2019b</a>)].
        Today we are announcing another important milestone: we added the required
        functionality to the DataCite GraphQL API that allows us to keep track of
        the growth of the PID Graph in terms of nodes (resources) and edges (connections).
        As before, we are using a Jupyter notebook to analyze and visualize the data.</p><p>The
        graph visualizes the main resources currently available via the DataCite GraphQL
        API, and their connections. The required data are fetched via a single GraphQL
        API call:</p><pre><code>{\n  publications {\n    totalCount\n    publicationConnectionCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  datasets
        {\n    totalCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  softwares
        {\n    totalCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  researchers
        [...]
