interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/sjrdz-3cm71
  response:
    body:
      string: '{"abstract":"In exploring one-electron carbon-carbon bonds, I had noted
        previously that both hexafluoroethane and ethane itself could each lose an
        electron to produce such species. A discussion developed in which a molecule
        isoelectronic with ethane radical cation, namely the methyl-\u03bb1-borane
        radical (H3B-CH3) was proposed by Jacob.","archive_url":"https://wayback.archive-it.org/22120/2025-05-01T17:20:19Z/https://www.ch.ic.ac.uk/rzepa/blog/?p=27944","authors":[{"affiliation":[{"id":"https://ror.org/041kmwe10","name":"Imperial
        College London"}],"contributor_roles":[],"family":"Rzepa","given":"Henry","url":"https://orcid.org/0000-0002-8635-8390"}],"blog":{"archive_collection":22120,"archive_host":null,"archive_prefix":null,"archive_timestamps":[20231101171932,20240501175652,20241101171933,20250501172019],"authors":[{"name":"Henry
        Rzepa","url":"https://orcid.org/0000-0002-8635-8390"}],"canonical_url":true,"category":"chemicalSciences","community_id":"8fb94c86-e95f-41cf-aac2-a2877ffc1b5f","created_at":1693094400,"current_feed_url":null,"description":"Chemistry
        with a twist","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/8fb94c86-e95f-41cf-aac2-a2877ffc1b5f/logo","feed_format":"application/atom+xml","feed_url":"https://www.ch.ic.ac.uk/rzepa/blog/?feed=atom","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.7.1","home_page_url":"https://www.ch.ic.ac.uk/rzepa/blog/","id":"c9448a63-f49d-4a20-9e85-ecb1dab2c450","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1728999859,"relative_url":null,"ror":null,"secure":true,"slug":"rzepa","status":"active","subfield":"1606","subfield_validated":null,"title":"Henry
        Rzepa''s Blog","updated_at":1768040649,"use_api":true,"use_mastodon":false,"user_id":"d876eef7-660b-4934-ab47-fa52cca7ad5a"},"blog_name":"Henry
        Rzepa''s Blog","blog_slug":"rzepa","citations":null,"content_html":"<div class=\"kcite-section\"
        kcite-section-id=\"27944\">\n<p>In exploring one-electron carbon-carbon bonds,
        I had noted previously<span id=\"cite_ITEM-27944-0\" name=\"citation\"><a
        href=\"#ITEM-27944-0\">[1]</a></span> that both hexafluoroethane and ethane
        itself could each lose an electron to produce such species. A discussion developed
        in which a molecule isoelectronic with ethane radical cation, namely the methyl-\u03bb1-borane
        radical (H<sub>3</sub>B-CH<sub>3</sub>) was <a href=\"https://www.ch.ic.ac.uk/rzepa/blog/?p=27870&amp;cpage=1#comment-813906\"
        target=\"_blank\" rel=\"noopener\">proposed by Jacob</a>. The optimised structure
        at the \u03c9B97XD/6-31G(d) level exhibited a B-C bond length of 1.57\u00c5,
        with two of the B-H hydrogens forming a a 3c-3e bond with boron and so a one-electron
        B-C bond was discounted. Here I take a closer look at this system.</p>\n<p>At
        the \u03c9B97XD/Def2-TZVPP level, I located an alternative structure with
        a longer B-C bond of 1.737\u00c5<span id=\"cite_ITEM-27944-1\" name=\"citation\"><a
        href=\"#ITEM-27944-1\">[2]</a></span> and an &#8220;agostic&#8221; like interaction
        between C and one B-H bond.</p>\n<p><img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27947\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3BCH3.jpg\"
        alt=\"\" width=\"500\" /></p>\n<p>The electron density difference maps between
        methyl-\u03bb1-borane and its mono cation is shown below and following it
        the density difference map between the corresponding anion and methyl-\u03bb1-borane
        radical. These are very similar to the maps obtained previously for hexafluoroethand
        and ethane \u00a0and support the hypothesis that the differences between the
        two-electron/zero-electron species and the one-electron radical originates
        at least in part in the B-C bond.</p>\n<p><img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27948\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_sub.cub_.jpg\"
        alt=\"\" width=\"500\" /><br />\n<img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27949\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_anion-sub.jpg\"
        alt=\"\" width=\"500\" /></p>\n<p>A contour map of the negative region of
        the electron density Laplacian (-0.04 au) again shows that it lies along the
        B-C bond, suggesting covalency. Note the -ve Laplacian in the region of the
        agostic interaction! The NCI (non-covalent-interaction) plot is featureless.</p>\n<p><img
        decoding=\"async\" class=\"aligncenter size-full wp-image-27950\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_lap.cub_.jpg\"
        alt=\"\" width=\"500&quot;\" /></p>\n<p>The computed methyl-\u03bb1-borane
        radical has a B-C stretching vibration corresponding to 494 cm<sup>-1</sup>,
        a Wiberg bond order of 0.660 and Wiberg bond index totals of 3.51 for carbon
        and 3.28 for boron. These can all be reasonably interpreted as a one-electron
        &#8220;half&#8221; bond between C and B. With a computed bond length of 1.737\u00c5,
        it represents the shortest &#8220;one electron&#8221; bond thus far identified,
        and hence extends the length range of such bonds to around 1.16\u00c5.</p>\n<hr
        />\n<p><b>Postscript 1</b><br />\nI also l[...]
