interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://upstream.force11.org/deep-dive-into-ethics-of-contributor-roles
  response:
    content: ''
    headers:
      Location:
      - /deep-dive-into-ethics-of-contributor-roles/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://upstream.force11.org/deep-dive-into-ethics-of-contributor-roles/
  response:
    content: "<!doctype html>\n<html lang='en' class=' is-darkModeAdminSetting-enabled
      '>\n\n  <head>\n  <meta charset='utf-8'>\n  <title>Deep dive into ethics of
      Contributor Roles: report of a FORCE11 workshop</title>\n  <meta name='viewport'
      content='width=device-width, initial-scale=1.0'>\n\n  <link rel='preconnect'
      href='https://fonts.gstatic.com'>\n<link rel='preconnect' href='https://fonts.gstatic.com'
      crossorigin>\n\n<link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'>\n<link
      rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
      media='print' onload=\"this.media='all'\">\n\n<link rel='preload' as='style'
      href='https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap'>\n<link
      rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap'
      media='print' onload=\"this.media='all'\">  <style>\n@charset \"UTF-8\";:root{--color-headerCard-light:#FFF;--color-headerCard-dark:#000;--color-text-headerCardStyleLight:var(--color-headerCard-dark);--color-background-headerCardStyleLight:var(--color-headerCard-light);--color-text-button-headerCardStyleLight:var(--color-headerCard-light);--color-background-button-headerCardStyleLight:var(--color-headerCard-dark);--color-text-button-hover-headerCardStyleLight:var(--color-headerCard-light);--color-background-button-hover-headerCardStyleLight:var([...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.54900
  response:
    content: "[\n  {\n    \"DOI\": \"10.54900\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.54900/rf84ag3-98f00rt-0phta
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Upstream"}],"indexed":{"date-parts":[[2024,3,2]],"date-time":"2024-03-02T11:40:19Z","timestamp":1709379619790},"posted":{"date-parts":[[2022,1,20]]},"group-title":"Humanities","reference-count":0,"publisher":"Front
      Matter","license":[{"start":{"date-parts":[[2022,1,20]],"date-time":"2022-01-20T00:00:00Z","timestamp":1642636800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2022,1,20]],"date-time":"2022-01-20T00:00:00Z","timestamp":1642636800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>The
      FORCE11 attribution working group held a workshop during the 2021 FORCE conference
      to explore some ethical aspects of using Contributor Roles (CRs). This workshop
      provided an overview of various CRs and their practical values in terms of providing
      a better recognition of the wide range of scholarly contributions.<\/p>","DOI":"10.54900\/rf84ag3-98f00rt-0phta","type":"posted-content","created":{"date-parts":[[2022,1,20]],"date-time":"2022-01-20T09:18:58Z","timestamp":1642670338000},"source":"Crossref","is-referenced-by-count":0,"title":["Deep
      dive into ethics of Contributor Roles: report of a FORCE11 workshop"],"prefix":"10.59350","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-2385-985X","authenticated-orcid":false,"given":"Mohammad","family":"Hosseini","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-2588-3084","authenticated-orcid":false,"given":"Violeta","family":"Ilik","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-5208-3432","authenticated-orcid":false,"given":"Nicole","family":"Vasilevsky","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-8420-5254","authenticated-orcid":false,"given":"Kristi","family":"Holmes","sequence":"additional","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/upstream.force11.org\/deep-dive-into-ethics-of-contributor-roles","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rf84ag3-98f00rt-0phta.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rf84ag3-98f00rt-0phta.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rf84ag3-98f00rt-0phta.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rf84ag3-98f00rt-0phta.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,3,2]],"date-time":"2024-03-02T11:25:30Z","timestamp":1709378730000},"score":1,"resource":{"primary":{"URL":"https:\/\/upstream.force11.org\/deep-dive-into-ethics-of-contributor-roles"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2022,1,20]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.54900\/rf84ag3-98f00rt-0phta","relation":{},"published":{"date-parts":[[2022,1,20]]},"subtype":"other"}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
