interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/954f8138-0ecd-4090-87c5-cef1297f1470
  response:
    body:
      string: '{"abstract":"Research software is a key part of most research today.","archive_url":"https://wayback.archive-it.org/22124/2025-05-05T10:39:18Z/https://upstream.force11.org/the-research-software-alliance-resa/","authors":[{"affiliation":[{"id":"https://ror.org/047426m28","name":"University
        of Illinois Urbana-Champaign"}],"contributor_roles":[],"family":"Katz","given":"Daniel
        S.","url":"https://orcid.org/0000-0001-5934-7525"},{"contributor_roles":[],"family":"Barker","given":"Michelle"}],"blog":{"archive_collection":22124,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","archive_timestamps":[20231105103706,20240505132151,20241105103657,20250505103918],"authors":null,"canonical_url":null,"category":"humanities","community_id":"aeaafcbb-94b5-477a-a89f-8fba5925e926","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","prefix":"10.54900","registered_at":1729244339,"relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated_at":1761638979,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","content_html":"<p>Research
        software is a key part of most research today. As University of Manchester
        Professor Carole Goble has said, \"software is the ubiquitous instrument of
        science.\" Creating and maintaining research software is a human effort, and
        as Yanina Bellina, rOpenSci Community Manager, has said, \"the work of the
        people who develop and maintain research software is often hidden and needs
        to be recognized.\"</p><p>Studies of researchers at leading UK universities
        [<a href=\"https://www.software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers?bw\">1</a>]&nbsp;and
        of postdoctoral researchers in the US [<a href=\"https://doi.org/10.6084/m9.figshare.5328442\">2</a>]
        have found that over 90% use research software, over 65% see research software
        as fundamental to their research, and 25-55% develop software as part of the
        research.</p><p>Research software, being ubiquitous, is difficult to concisely
        define. One recent attempt [<a href=\"https://doi.org/10.54900/9akm9y5-5ject5y\">3</a>]
        says that research software:</p><figure class=\"kg-card kg-image-card kg-card-hascaption\"><img
        src=\"https://upstream.force11.org/content/images/2023/04/rob-v2-table-6.jpg\"
        class=\"kg-image\" alt=\"\" loading=\"lazy\" width=\"1080\" height=\"608\"
        srcset=\"https://upstream.force11.org/content/images/size/w600/2023/04/rob-v2-table-6.jpg
        600w, https://upstream.force11.org/content/images/size/w1000/2023/04/rob-v2-table-6.jpg
        1000w, https://upstream.force11.org/content/images/2023/04/rob-v2-table-6.jpg
        1080w\" sizes=\"(min-width: 720px) 720px\"><figcaption><span style=\"white-space:
        pre-wrap;\">Figure from </span><a href=\"https://doi.org/10.54900/9akm9y5-5ject5y\"><span
        style=\"white-space: pre-wrap;\">https://doi.org/10.54900/9akm9y5-5ject5y</span></a></figcaption></figure><p>Once
        research software is developed, however, users can find bugs, users can want
        new features, and the underlying hardware and software on which the software
        is built (e.g., libraries, OS) can change. The research software needs to
        be manually maintained in response to these issues. In other words, research
        software is not a one-time investment, but requires ongoing maintenance.</p><p>Research
        software sustainability can be defined as occurring when the resources (people,
        funding, etc.) to enable maintenance are gathered and applied. </p><p>This
        is different from challenges for publications and datasets because while research
        software can similarly be a research result and research product, it has properties
        that differ from papers and datasets, and needs different policies and funding
        models.</p><h2 id=\"research-software-alliance-resa\">Research Software Alliance
        (ReSA)</h2><p>In response to these facts, the <a href=\"http://www.researchsoft.org/\">Research
        Software Alliance (ReSA)</a> was founded in 2019 by the <a href=\"https://ardc.edu.au/\">Australia
        Research Data Commons (ARDC)</a>, the <a href=\"https://alliancecan.ca/en\">Digital
        Research Alliance of Canada</a>, the <a href=\"https://www.ncsa.illinois.edu/\">National
        Center for Supercomputing [...]
