interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/s8m95-ap410
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Bellini","given":"Alejandra"},{"contributor_roles":[],"family":"Black","given":"Chris"},{"contributor_roles":[],"family":"LeBauer","given":"David"},{"contributor_roles":[],"family":"Scott","given":"Eric","url":"https://orcid.org/0000-0002-7430-7879"},{"contributor_roles":[],"family":"Casalla","given":"Lucio"},{"contributor_roles":[],"family":"Dietze","given":"Michael"},{"contributor_roles":[],"family":"Kooper","given":"Rob"},{"contributor_roles":[],"family":"LaZerte","given":"Steffi","url":"https://orcid.org/0000-0002-7690-8360"},{"contributor_roles":[],"family":"Bellini
        Saibene","given":"Yanina","url":"https://orcid.org/0000-0002-4522-7466"}],"blog":{"authors":[{"name":"The
        rOpenSci Team"}],"community_id":"19c501a7-647b-4a11-9f5e-cf400817cce3","created":1780876800,"current_feed_url":null,"description":"Open
        Tools and R Packages for Open Science","favicon":"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo","feed_format":"application/feed+json","feed_url":"https://ropensci.org/blog/index.json","filter":null,"generator":"Other","home_page_url":"https://ropensci.org/blog","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"ropensci","status":"active","subfield":"1710","title":"rOpenSci
        - open tools for open science","updated":1782746318,"use_api":null},"blog_name":"rOpenSci
        - open tools for open science","blog_slug":"ropensci","content_html":"<p>A
        new post of our interview series <a href=\"https://ropensci.org/tags/r-universe-stars/\">\"Meeting
        the stars of the R-universe\"</a>. We aim to introduce the teams and people
        behind the development of software and packages many of us use and which are
        available through the R-Universe. We want to highlight and explore different
        teams and projects around the world, the work they do, their processes and
        users. Our third stop is the <strong>United States</strong> to talk with members
        of the PEcAn project. Be sure to watch the video at the end with excerpts
        from the interview.</p><h4 id=\"climate-change-and-research-in-this-area-have-diverse-and-complex-data-that-demand-increasingly-complex-analysis-models-the-pecan-project-works-to-develop-this-ability\"><a
        class=\"anchor d-print-none\" href=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en//#climate-change-and-research-in-this-area-have-diverse-and-complex-data-that-demand-increasingly-complex-analysis-models-the-pecan-project-works-to-develop-this-ability\">
        <small>\ud83d\udd17</small></a>Climate change and research in this area have
        diverse and complex data that demand increasingly complex analysis models.
        The PEcAn project works to develop this ability.</h4><p>In this next interview,
        we will go into the science of climate change, and explore where data analysis
        and ecosystem modeling tools are developed. That is the main objective of
        the <a href=\"https://pecanproject.github.io/\">PEcAn project</a>, where they
        collaboratively seek new ways to collect and synthesize data and develop accessible
        tools to perform these tasks in a reproducible way.</p><p>Our discussion was
        attended by Rob Kooper, Chris Black, Eric Scott, Michael C. Dietze, and David
        LeBauer. All members of the PEcAn project with the same goal: to find more
        and better ways to integrate the enormous amount of existing data on climate
        change.</p><figure><img alt=\"Profile photos of David LeBauer, Michael C.
        Dietze, Rob Kooper, Eric Scott, and Chris Black\" src=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en/team.jpg\"/><figcaption>
        <p><center><strong>David LeBauer, Michael C. Dietze, Rob Kooper, Eric Scott,
        and Chris Black</strong></center></p> </figcaption></figure><p>According to
        Michael C. Dietze''s own account, the project <em>\"is like a kind of computerized
        data modeling system. It''s a set of tools that facilitate the combination
        of process and data models, with a special focus on ecological models.\"</em></p><p>In
        the project description, the concept of community quickly comes up. They have
        a large network of people distributed geographically and strategically, allowing
        them to reach more students involved in different parts of the process and
        in different projects. Thus, they can share work with many people simultaneously,
        have a significant number of collaborators and disseminate knowledge beyond
        academic boundaries because, as Rob explains, those students will continue
        their developments in other places where they are likely to bring their tools
        and data packages. In these connections and collaborative work lies much of
        the strength of the PEcAn Project.</p><p>An example of this practice is the
        project they are developing with Brooklyn National Laboratory, where they
        are working on NASA carbon monitoring that uses a data simulation system.
        In this case, there are both PhD students and Post Doctoral Researchers working
        on the project.</p><h2 id=\"a-tree-that-keeps-growing\"><a class=\"anchor
        d-print-none\" href=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en//#a-tree-that-keeps-growing\">
        <small>\ud83d\udd17</small></a>A tree that keeps growing</h2><p>In this work
        structure, one of the main objectives is to become a kind of \"Hacker\" that
        solves problems in a more general sense that can then be applied in other
        contexts and in other areas. According to Rob, knowledge can be susta[...]
