interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/editorial-by-more-than-200-call-for-emergency-action-to-limit-global-temperature-increases-restore-biodiversity-and-protect-health
  response:
    content: ''
    headers:
      Ghost-Age:
      - '0'
      Ghost-Cache:
      - MISS
      Ghost-Fastly:
      - 'true'
      Status:
      - 301 Moved Permanently
      location:
      - /posts/editorial-by-more-than-200-call-for-emergency-action-to-limit-global-temperature-increases-restore-biodiversity-and-protect-health/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/editorial-by-more-than-200-call-for-emergency-action-to-limit-global-temperature-increases-restore-biodiversity-and-protect-health/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n
      \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
      \   <title>Editorial by more than 200 health journals: Call for emergency action
      to limit global temperature increases, restore biodiversity, and protect health</title>\n
      \   <link rel=\"stylesheet\" href=\"https://blog.front-matter.io/assets/built/screen.css?v=adfb4b14fb\">\n\n
      \   <meta name=\"citation_doi\" content=\"https://doi.org/10.53731/r9nqx6h-97aq74v-ag7bw\">\n
      \   <meta name=\"citation_title\" content=\"Editorial by more than 200 health
      journals: Call for emergency action to limit global temperature increases, restore
      biodiversity, and protect health\">\n    <meta name=\"citation_abstract\" content=\"More
      than 200 health journals today published an editorial calling for urgent action
      to keep average global temperature increases below 1.5\xB0C, halt the destruction
      of nature, and protect health. The editorial can be read for example here (published
      under a CC-BY Open Access license), and the full list\">\n  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    content: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
