interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/510pg-zzf58
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Salmon","given":"Ma\u00eblle","url":"https://orcid.org/0000-0002-2815-0399"},{"contributor_roles":[],"family":"Bellini
        Saibene","given":"Yanina","url":"https://orcid.org/0000-0002-4522-7466"}],"blog":{"authors":[{"name":"The
        rOpenSci Team"}],"community_id":"19c501a7-647b-4a11-9f5e-cf400817cce3","created":1780876800,"current_feed_url":null,"description":"Open
        Tools and R Packages for Open Science","favicon":"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo","feed_format":"application/feed+json","feed_url":"https://ropensci.org/blog/index.json","filter":null,"generator":"Other","home_page_url":"https://ropensci.org/blog","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"ropensci","status":"active","subfield":"1710","title":"rOpenSci
        - open tools for open science","updated":1783514872,"use_api":null},"blog_name":"rOpenSci
        - open tools for open science","blog_slug":"ropensci","content_html":"<p>Our
        own dev guide <a href=\"https://devguide.ropensci.org/maintenance_collaboration.html#attributions\">states</a></p><blockquote><p>Be
        generous with attributions</p></blockquote><p>Recognizing the diverse forms
        of <a href=\"https://contributing.ropensci.org/\">contributions</a> to our
        mission is very important to us:we like thanking <a href=\"https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/\">package
        reviewers</a> and more generally <a href=\"https://ropensci.org/blog/2024/11/26/allcontributors/\">all
        package contributors</a>, <a href=\"https://ropensci.org/blog/2025/05/09/ror/\">organizations
        as well as individuals</a>.</p><p>We have recently extended our efforts to
        acknowledging the different roles there are when publishing a blog post.</p><h2
        id=\"new-blog-roles-editors-translators-interviewees\"><a class=\"anchor d-print-none\"
        href=\"https://ropensci.org/blog/2025/10/14/blog-roles//#new-blog-roles-editors-translators-interviewees\">
        <small>\ud83d\udd17</small></a>New blog roles: editors, translators, interviewees</h2><p>The
        metadata of our blog posts now feature:</p><ul><li>who edited the blog post<ul><li>for
        example, <a href=\"https://ropensci.org/blog/2025/09/18/markdown-programmatic-parsing/\">Steffi
        LaZerte edited a recent post</a>.</li></ul></li><li>who translated the blog
        post<ul><li>for example, <a href=\"https://ropensci.org/es/blog/2025/06/23/edicion-multilingue-preguntas-frecuentes/\">Yanina
        Bellini Saibene translated a post into Spanish</a>, and <a href=\"https://ropensci.org/blog/2025/10/14/blog-roles//fr/blog/2025/06/23/publication-multilingue-faq/\">Ma\u00eblle
        Salmon translated it into French</a>.</li></ul></li><li>who was <em>interviewed</em>
        for a blog post<ul><li>for example, <a href=\"https://ropensci.org/blog/2023/03/30/r-universe-stars-3-en/\">Athanasia
        Mo Mowinckel was interviewed in the Stars of the R-Universe series</a>.</li></ul></li></ul><p>The
        \"author page\" of contributors list their various contributions to the content
        in the current language (authorships listed first, followed by other roles):</p><ul><li><a
        href=\"https://ropensci.org/author/steffi-lazerte\">Stef[...]
