interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1371
  response:
    content: "[\n  {\n    \"DOI\": \"10.1371\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1371/journal.pone.0000030
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,11,2]],"date-time":"2023-11-02T14:33:38Z","timestamp":1698935618103},"reference-count":73,"publisher":"Public
      Library of Science (PLoS)","issue":"1","license":[{"start":{"date-parts":[[2006,12,20]],"date-time":"2006-12-20T00:00:00Z","timestamp":1166572800000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
      ONE"],"DOI":"10.1371\/journal.pone.0000030","type":"journal-article","created":{"date-parts":[[2006,12,20]],"date-time":"2006-12-20T19:38:57Z","timestamp":1166643537000},"page":"e30","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":64,"title":["Triose
      Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not Catalytic
      Inactivity\u2013of the Mutant Enzymes"],"prefix":"10.1371","volume":"1","author":[{"given":"Markus","family":"Ralser","sequence":"first","affiliation":[]},{"given":"Gino","family":"Heeren","sequence":"additional","affiliation":[]},{"given":"Michael","family":"Breitenbach","sequence":"additional","affiliation":[]},{"given":"Hans","family":"Lehrach","sequence":"additional","affiliation":[]},{"given":"Sylvia","family":"Krobitsch","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2006,12,20]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"229","DOI":"10.1056\/NEJM196502042720503","article-title":"Hereditary
      Hemolytic Anemia with Triosephosphate Isomerase Deficiency.","volume":"272","author":"AS
      Schneider","year":"1965","journal-title":"N Engl J Med"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"119","DOI":"10.1053\/beha.2000.0061","article-title":"Triosephosphate
      isomerase deficiency: historical perspectives and molecular aspects.","volume":"13","author":"AS
      Schneider","year":"2000","journal-title":"Baillieres Best Pract Res Clin Haematol"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"82","DOI":"10.1006\/bcmd.1996.0011","article-title":"Hematologically
      important mutations: triosephosp[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/340
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521520969,"primary-name":"Public
      Library of Science (PLoS)","counts":{"current-dois":42329,"backfile-dois":310955,"total-dois":353284},"breakdowns":{"dois-by-issued-year":[[2013,36496],[2014,35458],[2015,33566],[2012,27111],[2016,26725],[2017,24569],[2018,22183],[2021,20842],[2022,20632],[2020,20426],[2023,19682],[2019,19633],[2011,16685],[2010,9366],[2009,6717],[2008,4608],[2007,2671],[2024,2015],[2005,1643],[2006,1613],[2004,540],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.2566737952436848,"licenses-backfile":0.9884484893312537,"funders-current":0.6799593659193461,"affiliations-backfile":6.78554774806644E-4,"resource-links-backfile":0.0,"orcids-backfile":0.3262015404158158,"update-policies-current":1.0,"ror-ids-backfile":0.0,"orcids-current":0.957759455692315,"similarity-checking-backfile":0.9178369860590762,"references-backfile":0.9249537714460292,"descriptions-backfile":0.0,"award-numbers-backfile":0.2221961377048126,"update-policies-backfile":0.9948159701564535,"licenses-current":0.9999763755345035,"award-numbers-current":0.5779252994401002,"abstracts-backfile":0.07576015822225081,"resource-links-current":0.0,"abstracts-current":0.953625174230433,"references-current":0.999740130879539},"prefix":[{"name":"Public
      Library of Science (PLoS)","value":"10.24196"},{"name":"Public Library of Science","value":"10.1371"}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal-article":353284,"journal":1,"component":3723315,"dataset":7},"backfile":{"journal-article":310955},"current":{"journal-article":42329}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1707521520969,"affiliations":5.972532013903828E-4,"abstracts":0.1809422447662504,"orcids":0.401872148186728,"licenses":0.9898297120730064,"references":0.9339143578537381,"funders":0.3073900884274408,"similarity-checking":0.9276814121216925,"award-numbers":0.2648181066790458,"ror-ids":0.0,"update-policies":0.9954370987647332,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1707521520969,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"component":{"last-status-check-time":1707521520969,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1371
  response:
    content: "[\n  {\n    \"DOI\": \"10.1371\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
