interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/faeph-x4x84
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/04ers2y35","name":"University
        of Bremen"}],"contributor_roles":[],"family":"Stocker","given":"Markus","url":"https://orcid.org/0000-0001-5492-3212"}],"blog":{"authors":null,"community_id":"9e52146d-52b4-4733-9b05-1b23091c3835","created":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","favicon":"https://rogue-scholar.org/api/communities/9e52146d-52b4-4733-9b05-1b23091c3835/logo","feed_format":"application/feed+json","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"generator":"Other","home_page_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"thor","status":"archived","subfield":"1802","title":"Project
        THOR","updated":null,"use_api":true},"blog_name":"Project THOR","blog_slug":"thor","doi":"https://doi.org/10.59350/faeph-x4x84","funding_references":[{"awardNumber":"654039","awardTitle":"Technical
        and Human Infrastructure for Open Research","funderIdentifier":"https://ror.org/00k4n6c32","funderIdentifierType":"ROR","funderName":"European
        Commission"}],"guid":"http://project-thor.eu/?p=664","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","published_at":1470787200,"rid":"ewn0f-f5a52","summary":"This
        is the first in a series of posts\u00a0describing how THOR partners have recently
        integrated ORCID in their disciplinary data repositories. This post describes
        ORCID integration in PANGAEA, the Data Publisher for Earth &amp; Environmental
        Science. PANGAEA is rolling out a new version of its website. Developers and
        designers are currently ironing out a few remaining open issues. The release
        is expected for autumn 2016.","title":"ORCID Integration Series: PANGAEA","updated_at":1741474768,"url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
