interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://donnywinston.com/posts/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services
  response:
    content: "\x1F\b\0\0\0\0\0\0\x03Vn6\x10~\x15N?\x0E,\u0675\x1D\u06C8i\x05K \x1FI\x10b#\x1Ayv\x01\x10{=\u024E\x12Y7d[c\x06,H\x1D\uFEFB4\x029\x04to?Yr\x06:,\x1C-\0{\x19
      g\"\x01\n\\f-ACP]XP,)0a4Yp|4\x03H`\v\x1A]k\u030D\u014Dx$&3\t+% >:J+T<\r\x03\x16f\x1CC\t\b\x02\u045B\x10R\x13a\r\x14<^2L}wp|NB\u044Ec\x17X&zx<\a\x16\u0542\vtkzt\x18\x0E\u078Dj#NX#<O\x1E[o>8>\x05\x15;\f2\u03C3iQD\x02\x19\x1AN
      \x05\\OyajS\u068AN\uFB51,O\x0E2/016^~z\x148\x05K\x18h\u01CF\\e%T\x1Acn\x02Ld\x05,\x15Gn~v\x16r\"z7'Q\x1F\0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://donnywinston.com/posts/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services/
  response:
    content: "<!doctype html><html lang=en-us><head><meta charset=utf-8><meta http-equiv=x-ua-compatible
      content=\"IE=edge,chrome=1\"><meta name=viewport content=\"width=device-width,initial-scale=1\"><meta
      name=format-detection content=\"telephone=no\"><title>Implementing the FAIR
      Principles Through FAIR-Enabling Artifacts and Services | Donny Winston</title><script
      type=application/ld+json>{\"@context\":{\"@vocab\":\"https://schema.org/\",\"dcterms\":\"http://purl.org/dc/terms/\"},\"@type\":\"BlogPosting\",\"author\":[{\"@type\":\"Person\",\"name\":\"Donny
      Winston\",\"image\":{\"@type\":\"ImageObject\",\"url\":\"https://www.gravatar.com/avatar/7fd9c14251809462e5f9cee070cf881d?s=250&r=x&d=mp\",\"width\":250,\"height\":250},\"url\":\"https://donnywinston.com\",\"identifier\":\"https://orcid.org/0000-0002-8424-0604\",\"sameAs\":[\"https://twitter.com/donnywinston\",\"https://www.linkedin.com/in/donnywinston/\"]}],\"publisher\":{\"@type\":\"Organization\",\"name\":\"Polyneme
      LLC\",\"url\":\"https://www.polyneme.xyz\",\"logo\":{\"@type\":\"ImageObject\",\"url\":\"https://polyneme.xyz/icons/icon-96x96.png\",\"width\":60,\"height\":60}},\"headline\":\"Implementing
      the FAIR Principles Through FAIR-Enabling Artifacts and Services\",\"url\":\"https:\\/\\/donnywinston.com\\/posts\\/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services\\/\",\"datePublished\":\"2022-10-21
      13:24:46 -0400 -0400\",\"dateModified\":\"2022-10-21 13:24:46 -0400 -0400\",\"keywords\":[],\"@id\":\"https://doi.org/10.57099/11h5yt3819\",\"name\":\"Implementing
      the FAIR Principles Through FAIR-Enabling Artifacts and Services\",\"educationalLevel\":\"Beginner\",\"description\":\"How
      does a Research Software Engineer (RSE) \u2014 often responsible for developing
      infrastructure to manage and share digital research objects (data, models, code,
      notebooks, workflows, etc.\",\"competencyRequired\":[],\"teaches\":[],\"abstract\":\"How
      does a Research Software Engineer (RSE) \u2014 often responsible for developing
      infrastructure to manage and share digital research objects (data, models, code,
      notebooks, workflows, etc.\",\"about\":[{\"@type\":\"DefinedTerm\",\"@id\":\"http://edamontology.org/data_3669\",\"inDefinedTermSet\":\"http://edamontology.org\",\"termCode\":\"data_3670\",\"name\":\"Training
      material\",\"url\":\"http://edamontology.org/data_3669\"},{\"@type\":\"DefinedTerm\",\"@id\":\"http://edamontology.org/topic_0605\",\"inDefinedTermSet\":\"http://edamontology.org\",\"termCode\":\"topic_0605\",\"name\":\"Informatics\",\"alternate_name\":[\"Information
      science\",\"Knowledge management\",\"Information management\"],\"description\":\"The
      study and practice of information processing and use of computer information
      systems.\",\"url\":\"http://edamontology.org/data_3669\"}],\"audience\":{\"@type\":\"Audience\",\"audienceType\":\"People
      interested in publishing their research output\"},\"identifier\":\"https://n2t.net/ark:57802/dw0/blog/\\/posts\\/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services\\/\",\"inLanguage\":[\"en-US\"],\"learningResourceType\":[\"blogpost\"],\"license\":[\"https://creativecommons.org/licenses/by/4.0/\"],\"timeRequired\":\"PT10M\",\"creativeWorkStatus\":\"Active\",\"dateCreated\":\"2022-10-21
      13:24:46 -0400 -0400\",\"version\":\"1\"}</script><link rel=apple-touch-icon
      sizes=180x180 href=https://files.polyneme.xyz/polyneme-logo-sq-AdH548JPkxW0qf3M5NVTVLt5qdVKFN28AKKvS35A2ndmDMQ0baH90H5APJvIITO2UkFht8rLzZGQTxob8DCqG3KqnsEOczShPKoT.png><link
      rel=icon type=image/png sizes=32x32 href=https://files.polyneme.xyz/polyneme-logo-sq-AdH548JPkxW0qf3M5NVTVLt5qdVKFN28AKKvS35A2ndmDMQ0baH90H5APJvIITO2UkFht8rLzZGQTxob8DCqG3KqnsEOczShPKoT.png><link
      rel=icon type=image/png sizes=16x16 href=https://files.polyneme.xyz/polyneme-logo-sq-AdH548JPkxW0qf3M5NVTVLt5qdVKFN28AKKvS35A2ndmDMQ0baH90H5APJvIITO2UkFht8rLzZGQTxob8DCqG3KqnsEOczShPKoT.png><link
      rel=manifest href=/manifest.json><link rel=mask-icon href=/safari-pinned-tab.svg
      color=#ff3db4><meta name=theme-color content=\"#ffffff\"><link rel=me href=https://fairpoints.social/@donny><link
      rel=stylesheet href=https://donnywinston.com/css/main.min.b9c692d7b890e6a24e0280548d2a8519d6f71fa047a6c9fac701d2de45896323.css><link
      rel=stylesheet href=https://donnywinston.com/css/custom.min.817b30e0146652a7e9e48e1ca44f82117b0e69dca0b10ac258150d1c6f325fcd.css></head><body><nav><header><div
      class=site-title><a href=/>Donny Winston</a></div></header><div class=nav-menu><a
      class=\"color-link nav-link\" href=/about/>About</a>\n<a class=\"color-link
      nav-link\" href=/consulting/>Consulting</a>\n<a class=\"color-link nav-link\"
      href=/archives/>Archives</a>\n<a class=\"color-link nav-link\" href=/feed.xml>Feed</a></div><footer
      class=footer><div class=social-icons><a class=social-icon href=https://orcid.org/0000-0002-8424-0604
      target=_blank rel=noopener title=Orcid><svg width=\"28\" height=\"28\" viewBox=\"0
      0 28 28\" fill=\"#ababab\" xmlns=\"https://www.w3.org/2000/svg\" xmlns:xlink=\"https://www.w3.org/1999/xlink\"><path
      d=\"M27 14c0 7.1804687-5.8195313 13-13 13C6.81953125 27 1 21.1804687 1 14 1
      6.81953125 6.81953125 1 14 1c7.1804687.0 13 5.81953125 13 13zM9.76484375 19.9109375V13.9492188
      9.03359375H8.20078125V19.9109375h1.5640625zM12.0601563 9.03359375V19.9210938h4.2453125c3.5851562.0
      5.76875-2.6507813 5.76875-5.4437501.0-2.5695[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.57099
  response:
    content: "[\n  {\n    \"DOI\": \"10.57099\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.57099/11h5yt3819
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Polyneme
      LLC"}],"indexed":{"date-parts":[[2022,11,4]],"date-time":"2022-11-04T04:40:34Z","timestamp":1667536834423},"posted":{"date-parts":[[2022,10,21]]},"reference-count":0,"publisher":"Front
      Matter","license":[{"start":{"date-parts":[[2022,10,21]],"date-time":"2022-10-21T00:00:00Z","timestamp":1666310400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2022,10,21]],"date-time":"2022-10-21T00:00:00Z","timestamp":1666310400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>How
      does a Research Software Engineer (RSE) ??? often responsible for developing
      infrastructure to manage and share digital research objects (data, models, code,
      notebooks, workflows, etc.<\/p>","DOI":"10.57099\/11h5yt3819","type":"posted-content","created":{"date-parts":[[2022,11,3]],"date-time":"2022-11-03T22:21:45Z","timestamp":1667514105000},"source":"Crossref","is-referenced-by-count":0,"title":["Implementing
      the FAIR Principles Through FAIR-Enabling Artifacts and Services"],"prefix":"10.57099","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-8424-0604","authenticated-orcid":false,"given":"Donny","family":"Winston","sequence":"first","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/donnywinston.com\/posts\/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2022,11,3]],"date-time":"2022-11-03T22:21:46Z","timestamp":1667514106000},"score":1,"resource":{"primary":{"URL":"https:\/\/donnywinston.com\/posts\/implementing-the-fair-principles-through-fair-enabling-artifacts-and-services"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2022,10,21]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.57099\/11h5yt3819","relation":{},"published":{"date-parts":[[2022,10,21]]},"subtype":"other"}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
