interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/records/ddhjk-a8f36
  response:
    body:
      string: "\n\n\n<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n  \n
        \   \n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n\n    \n    \n    <meta name=\"generator\" content=\"InvenioRDM
        13.0\"/>\n\n    \n    \n    \n  \n    <meta name=\"description\" content=\"The
        connections between scholarly resources generated by persistent identifiers
        (PIDs) and associated metadata form a graph: the PID Graph [Fenner &amp; Aryani
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA4vmUlCoBmIFBSUXf08lKwUlQwM9U2NzY0MlHYhwkCNI1Lkov7i4KDVNCShYyxUL
        APmc72o3AAAA
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/r79s4nh-97aq74v-ag4t1
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAA/9VXa2/bNhT9K4Q+DAkmypItW7ZXFAiStnAfaxZkGLY4H2iJtllLpEpSdtwg/333
        UnJsJ3EzrCjWBXFi8XF57uOcS916xjJbGW/oqYXnewU3hs04teuSw9hK6d3RJddGKAkTURAG4XbG
        G956QhorbGXdgqtbT7ICTbzWSlrygVnLtXd37cO6jN/wDLdkzHJaMm3h/Kurdtju+n0/uoZFbsYK
        ZwHHadinYXQZDYZxOAx7f8HROAvgi9IbRkk3DpOkHfYG3b7vbWF2gjgK2t6d75XK[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/ddhjk-a8f36
  response:
    body:
      string: '{"id": "ddhjk-a8f36", "created": "2024-10-13T22:40:41.789375+00:00",
        "updated": "2025-08-01T12:57:21.724347+00:00", "links": {"self": "https://rogue-scholar.org/api/records/ddhjk-a8f36",
        "self_html": "https://rogue-scholar.org/records/ddhjk-a8f36", "preview_html":
        "https://rogue-scholar.org/records/ddhjk-a8f36?preview=1", "doi": "https://handle.stage.datacite.org/10.53731/r79s4nh-97aq74v-ag4t1",
        "self_doi": "https://handle.stage.datacite.org/10.53731/r79s4nh-97aq74v-ag4t1",
        "self_doi_html": "https://rogue-scholar.org/doi/10.53731/r79s4nh-97aq74v-ag4t1",
        "reserve_doi": "https://rogue-scholar.org/api/records/ddhjk-a8f36/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/jn1h8-m3m07", "parent_html":
        "https://rogue-scholar.org/records/jn1h8-m3m07", "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:ddhjk-a8f36/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:ddhjk-a8f36/sequence/default",
        "files": "https://rogue-scholar.org/api/records/ddhjk-a8f36/files", "media_files":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/media-files", "archive":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/ddhjk-a8f36/latest", "versions": "https://rogue-scholar.org/api/records/ddhjk-a8f36/versions",
        "draft": "https://rogue-scholar.org/api/records/ddhjk-a8f36/draft", "access_links":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access/request", "access":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/access", "communities":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/ddhjk-a8f36/communities-suggestions",
        "requests": "https://rogue-scholar.org/api/records/ddhjk-a8f36/requests"},
        "revision_id": 69, "parent": {"id": "jn1h8-m3m07", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["15a362ea-8138-42b8-917f-1840a92addf8", "d79fe364-6d96-40b6-b437-b93ca3493106",
        "f5585376-cf4d-4ba8-b423-16834e1f708f"], "default": "15a362ea-8138-42b8-917f-1840a92addf8",
        "entries": [{"id": "15a362ea-8138-42b8-917f-1840a92addf8", "created": "2024-08-30T15:03:16.250133+00:00",
        "updated": "2025-08-13T07:38:56.813110+00:00", "links": {}, "revision_id":
        676, "slug": "front_matter", "metadata": {"title": "Front Matter", "description":
        "The Front Matter Blog covers the intersection of science and technology since
        2007.", "type": {"id": "blog"}, "website": "https://blog.front-matter.io"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:issn": "2749-9952", "rs:feed_url": "https://blog.front-matter.io/atom",
        "rs:prefix": "10.53731", "rs:joined": "January 1, 2023", "rs:feed_format":
        "application/atom+xml", "rs:generator": "Ghost", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Computer and information sciences"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created": "2025-02-10T08:12:28.813373+00:00",
        "updated": "2025-06-30T16:00:16.024136+00:00", "links": {}, "revision_id":
        6, "slug": "computerandinformationsciences", "metadata": {"title": "Computer
        and information sciences", "description": "Computer and information sciences
        subject area.", "type": {"id": "subject"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "f5585376-cf4d-4ba8-b423-16834e1f708f", "created": "2024-10-08T16:22:44.009032+00:00",
        "updated": "2025-07-15T19:20:59.530029+00:00", "links": {}, "revision_id":
        8, "slug": "metadata", "metadata": {"title": "Metadata", "description": "Blog
        posts about metadata.", "type": {"id": "topic"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"doi": {"identifier": "10.53731/r79s4nh-97aq74v-ag4t1", "provider":
        "external"}, "oai": {"identifier": "oai:invenio-rdm:ddhjk-a8f36", "provider":
        "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost", "title":
        {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Fenner, Martin", "given_name":
        "Martin", "family_name": "Fenner", "identifiers": [{"identifier": "0000-0003-1419-2405",
        "scheme": "orcid"}]}, "affiliations": [{"id": "04wxnsj81", "name": "DataCite",
        "identifiers": [{"identifier": "04wxnsj81", "scheme": "ror"}]}]}], "title":
        "Tracking the Growth of the PID Graph", "publisher": "Front Matter", "publication_date":
        "2019-07-01", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Metadata"}], "dates": [{"date": "2019-07-01T02:00:00", "type": {"id": "issued",
        "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-01-10T00:49:29", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "e58dc9c8-b870-4db2-8896-238b3246c551",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.53731/r79s4nh-97aq74v-ag4t1",
        "scheme": "guid"}, {"identifier": "https://blog.front-matter.io/posts/tracking-the-growth-of-the-pid-graph/",
        "scheme": "url"}], "related_identifiers": [{"identifier": "10.5438/bv9z-dc66",
        "scheme": "doi", "relation_type": {"id": "isidenticalto", "title": {"de":
        "Ist identisch mit", "en": "Is identical to", "sv": "\u00c4r identisk med"}}}],
        "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative Commons Attribution
        4.0 International"}, "description": {"en": "The Creative Commons Attribution
        license allows re-distribution and re-use of a licensed work on the condition
        that the creator is appropriately credited."}, "icon": "cc-by-icon", "props":
        {"url": "https://creativecommons.org/licenses/by/4.0/", "scheme": "spdx"}}],
        "description": "The connections between scholarly resources generated by persistent
        identifiers (PIDs) and associated metadata form a graph: the PID Graph [Fenner
        &amp; Aryani (2019)]. We developed this PID Graph concept in the EC-funded
        FREYA project, and have identified important use cases and technical requirements.
        In May, DataCite introduced a GraphQL API to standardize and simplify how
        users can contribute to and consume the PID Graph [Fenner (2019b)].", "funding":
        [{"funder": {"id": "00k4n6c32", "name": "European Commission"}, "award": {"number":
        "777523", "identifiers": [{"identifier": "10.3030/777523", "scheme": "doi"}]}}],
        "references": [{"identifier": "10.14454/3bpw-w381", "scheme": "doi", "reference":
        "Fenner, M. (2019). <i>Jupyter Notebook FREYA PID Graph Key Performance Indicators
        (KPIs)</i> (1.1.0). DataCite."}, {"identifier": "10.53731/r79sa71-97aq74v-ag4vc",
        "scheme": "doi", "reference": "Fenner, M. (2019, May 15). The DataCite GraphQL
        API is now open for (pre-release) business. <i>Front Matter</i>."}, {"identifier":
        "10.5438/jwvf-8a66", "scheme": "doi", "reference": "Fenner, M., &amp; Aryani,
        A. (2019). <i>Introducing the PID Graph</i>."}]}, "custom_fields": {"journal:journal":
        {"title": "Front Matter", "issn": "2749-9952"}, "rs:content_html": "<p>The
        connections between scholarly resources generated by persistent identifiers
        (PIDs) and associated metadata form a graph: the PID Graph [Fenner &amp; Aryani
        (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/jwvf-8a66\">2019</a>)].
        We developed this PID Graph concept in the EC-funded <a href=\"https://www.project-freya.eu/en\">FREYA
        project</a>, and have identified important use cases and technical requirements.
        In May, DataCite introduced a GraphQL API to standardize and simplify how
        users can contribute to and consume the PID Graph [Fenner (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/qab1-n315\">2019b</a>)].
        Today we are announcing another important milestone: we added the required
        functionality to the DataCite GraphQL API that allows us to keep track of
        the growth of the PID Graph in terms of nodes (resources) and edges (connections).
        As before, we are using a Jupyter notebook to analyze and visualize the data.</p><p>The
        graph visualizes the main resources currently available via the DataCite GraphQL
        API, and their connections. The required data are fetched via a single GraphQL
        API call:</p><pre><code>{\n  publications {\n    totalCount\n    publicationConnectionCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  datasets
        {\n    totalCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  softwares
        {\n    totalCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  researchers
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-content.xsd\"/>\n   <xs:include schemaLocation=\"mathml3-presentation.xsd\"/>\n
        \  <xs:include schemaLocation=\"mathml3-common.xsd\"/>\n</xs:schema>"
    headers:
      Content-Type:
      - application/xml
      etag:
      - W/"1b3-477e54b286fc0-gzip"
      last-modified:
      - Mon, 09 Nov 2009 00:29:59 GMT
      x-backend:
      - www-mirrors
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-strict-content.xsd\"/>\n   <xs:complexType name=\"cn.content\"
        mixed=\"true\">\n      <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\n
        \        <xs:element ref=\"m:mglyph\"/>\n         <xs:element ref=\"m:sep\"/>\n
        \        <xs:element ref=\"m:PresentationExpression\"/>\n      </xs:choice>\n
        \  </xs:complexType>\n   <xs:attributeGroup name=\"cn.attributes\">\n      <xs:attributeGroup
        ref=\"m:CommonAtt\"/>\n      <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute
        name=\"type\"/>\n      <xs:attribute name=\"base\"/>\n   </xs:attributeGroup>\n
        \  <xs:attributeGroup name=\"ci.attributes\">\n      <xs:attributeGroup ref=\"m:CommonAtt\"/>\n
        \     <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute name=\"type\"/>\n
        \  </xs:attributeGroup>\n   <xs:attributeGroup name=\"ci.type\">\n      <xs:attribute
        name=\"type\" use=\"required\"/>\n   </xs:attributeGroup>\n   <xs:complexType
        name=\"ci.content\" mixed=\"true\">\n      <xs:choice minOccurs=\"0\" m[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-strict-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:group
        name=\"ContExp\">\n      <xs:choice>\n<!--Ambiguous content model altered
        (ContExp)-->\n         <xs:element ref=\"m:apply\"/>\n         <xs:element
        ref=\"m:bind\"/>\n         <xs:element ref=\"m:ci\"/>\n         <xs:element
        ref=\"m:cn\"/>\n         <xs:element ref=\"m:csymbol\"/>\n         <xs:element
        ref=\"m:cbytes\"/>\n         <xs:element ref=\"m:cerror\"/>\n         <xs:element
        ref=\"m:cs\"/>\n         <xs:element ref=\"m:share\"/>\n         <xs:element
        ref=\"m:piecewise\"/>\n         <xs:element ref=\"m:DeprecatedContExp\"/>\n
        \        <xs:element ref=\"m:interval.class\"/>\n         <xs:element ref=\"m:unary-functional.class\"/>\n
        \        <xs:element ref=\"m:lambda.class\"/>\n         <xs:element ref=\"m:nary-functional.class\"/>\n
        \        <xs:group ref=\"m:binary-arith.class\"/>\n         <xs:group ref=\"m:unary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-minmax.class\"/>\n         <xs:element ref=\"m:nary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-logical.class\"/>\n         <xs:element
        ref=\"m:unary-logical.class\"/>\n         <xs:element ref=\"m:binary-logical.class\"/>\n
        \        <xs:element ref=\"m:quantifier.class\"/>\n         <xs:element ref=\"m:nary-reln.class\"/>\n
        \       [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-presentation.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:complexType
        name=\"ImpliedMrow\">\n      <xs:group minOccurs=\"0\" maxOccurs=\"unbounded\"
        ref=\"m:MathExpression\"/>\n   </xs:complexType>\n   <xs:element name=\"TableRowExpression\"
        abstract=\"true\"/>\n   <xs:element name=\"TableCellExpression\" abstract=\"true\">\n
        \     <xs:complexType>\n         <xs:complexContent>\n            <xs:extension
        base=\"m:ImpliedMrow\">\n               <xs:attributeGroup ref=\"m:mtd.attributes\"/>\n
        \           </xs:extension>\n         </xs:complexContent>\n      </xs:complexType>\n
        \  </xs:element>\n   <xs:group name=\"MstackExpression\">\n      <xs:choice>\n
        \        <xs:group ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:mscarries\"/>\n
        \        <xs:element ref=\"m:msline\"/>\n         <xs:element ref=\"m:msrow\"/>\n
        \        <xs:element ref=\"m:msgroup\"/>\n      </xs:choice>\n   </xs:group>\n
        \  <xs:group name=\"MsrowExpression\">\n      <xs:choice>\n         <xs:group
        ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:none\"/>\n      </xs:choice>\n
        \  </xs:group>\n   <xs:group name=\"MultiScriptExpression\">\n      <xs:sequence>\n
        \        <xs:choice>\n            <xs:group ref=\"m:MathExpression\"/>\n            <xs:element
        ref=\"m:none\"/>\n         </xs:choice>\n         <xs:choice>\n            <xs:group
        ref=\"m:MathExpression\"/>\n            <xs:element ref=\"m:none\"/>\n         </xs:choice>\n
        \     </xs:sequence>\n   </xs:group>\n   <xs:simpleType name=\"mpadded-length\">\n
        \     <xs:restriction base=\"xs:string\">\n         <xs:pattern value=\"\\s*([\\+\\-]?[0-9]*([0-9]\\.?|\\.[0-9])[0-9]*\\s*((%?\\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\\s*\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"linestyle\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"none\"/>\n
        \        <xs:enumeration value=\"solid\"/>\n         <xs:enumeration value=\"dashed\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"verticalalign\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"top\"/>\n
        \        <xs:enumeration value=\"bottom\"/>\n         <xs:enumeration value=\"center\"/>\n
        \        <xs:enumeration value=\"baseline\"/>\n         <xs:enumeration value=\"axis\[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-common.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:element
        name=\"math\">\n      <x[...]
