interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/nmdtw-dbr94
  response:
    body:
      string: '{"id": "nmdtw-dbr94", "created": "2025-09-25T08:13:17.310517+00:00",
        "updated": "2025-10-18T20:40:12.774347+00:00", "links": {"self": "https://rogue-scholar.org/api/records/nmdtw-dbr94",
        "self_html": "https://rogue-scholar.org/records/nmdtw-dbr94", "preview_html":
        "https://rogue-scholar.org/records/nmdtw-dbr94?preview=1", "doi": "https://doi.org/10.59350/wnkxe-b8330",
        "self_doi": "https://doi.org/10.59350/wnkxe-b8330", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/wnkxe-b8330",
        "reserve_doi": "https://rogue-scholar.org/api/records/nmdtw-dbr94/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/ad9pb-kwm66", "parent_html":
        "https://rogue-scholar.org/records/ad9pb-kwm66", "parent_doi": "https://doi.org/10.59350/ad9pb-kwm66",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/ad9pb-kwm66", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:nmdtw-dbr94/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:nmdtw-dbr94/sequence/default",
        "files": "https://rogue-scholar.org/api/records/nmdtw-dbr94/files", "media_files":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/media-files", "archive":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/nmdtw-dbr94/latest", "versions": "https://rogue-scholar.org/api/records/nmdtw-dbr94/versions",
        "draft": "https://rogue-scholar.org/api/records/nmdtw-dbr94/draft", "access_links":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access/request", "access":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/access", "communities":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/nmdtw-dbr94/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/nmdtw-dbr94/request-deletion",
        "requests": "https://rogue-scholar.org/api/records/nmdtw-dbr94/requests"},
        "revision_id": 11, "parent": {"id": "ad9pb-kwm66", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["0e13541f-417e-46c0-a859-65927249df72", "346efb91-f134-4f0b-bd6a-30e2094d2c40",
        "ce85b38a-7acb-4a36-a274-4e026646af48"], "default": "0e13541f-417e-46c0-a859-65927249df72",
        "entries": [{"id": "0e13541f-417e-46c0-a859-65927249df72", "created": "2024-10-05T08:57:03.365247+00:00",
        "updated": "2025-12-01T07:41:52.312575+00:00", "links": {}, "revision_id":
        422, "slug": "svpow", "metadata": {"title": "Sauropod Vertebra Picture of
        the Week", "description": "SV-POW!  ...  All sauropod vertebrae, except when
        we''re talking about Open Access. ISSN 3033-3695", "type": {"id": "blog"},
        "website": "https://svpow.com"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"rs:issn": "3033-3695", "rs:feed_url": "https://svpow.com/feed/atom/",
        "rs:prefix": "10.59350", "rs:joined": "February 1, 2023", "rs:feed_format":
        "application/atom+xml", "rs:generator": "WordPress.com", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Earth and related environmental
        sciences"}, "deletion_status": {"is_deleted": false, "status": "P"}, "children":
        {"allow": false}}, {"id": "346efb91-f134-4f0b-bd6a-30e2094d2c40", "created":
        "2024-10-02T19:02:40.195535+00:00", "updated": "2025-07-15T19:21:07.796032+00:00",
        "links": {}, "revision_id": 13, "slug": "openaccess", "metadata": {"title":
        "Open Access", "description": "Blog posts about Open Access.", "type": {"id":
        "topic"}}, "access": {"visibility": "public", "members_visibility": "public",
        "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {}, "deletion_status": {"is_deleted": false, "status":
        "P"}, "children": {"allow": false}}, {"id": "ce85b38a-7acb-4a36-a274-4e026646af48",
        "created": "2025-02-10T08:10:20.634480+00:00", "updated": "2025-06-30T16:00:16.467890+00:00",
        "links": {}, "revision_id": 6, "slug": "earthandrelatedenvironmentalsciences",
        "metadata": {"title": "Earth and related environmental sciences", "description":
        "Earth and related environmental sciences subject area.", "type": {"id": "subject"}},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/ad9pb-kwm66", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/wnkxe-b8330", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:nmdtw-dbr94", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Taylor, Mike", "given_name": "Mike", "family_name":
        "Taylor", "identifiers": [{"identifier": "0000-0002-1003-5675", "scheme":
        "orcid"}]}, "affiliations": [{"id": "0524sp257", "name": "University of Bristol",
        "identifiers": [{"identifier": "0524sp257", "scheme": "ror"}]}]}], "title":
        "Want to help fund the free publication of sauropod science? Now''s your chance!",
        "publisher": "Front Matter", "publication_date": "2025-09-25", "subjects":
        [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.5", "subject": "Earth
        and related environmental sciences", "scheme": "FOS"}, {"subject": "Diplodocids"},
        {"subject": "Gold Open Access"}, {"subject": "Help SV-POW!"}, {"subject":
        "Open Access"}], "dates": [{"date": "2025-09-25T08:02:15", "type": {"id":
        "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-10-18T20:38:47", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "c211b98f-e821-49b3-83ec-bfb929b32c16",
        "scheme": "uuid"}, {"identifier": "https://svpow.com/?p=24258", "scheme":
        "guid"}, {"identifier": "https://svpow.com/2025/09/25/want-to-help-fund-the-free-publication-of-sauropod-science-nows-your-chance/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Anyone who''s been reading this blog
        for a while knows that Matt and I are both all in on open access. What is
        the point of \"publishing\" something that not everyone can read?"}, "custom_fields":
        {"journal:journal": {"title": "Sauropod Vertebra Picture of the Week", "issn":
        "3033-3695"}, "rs:content_html": "<p>Anyone who&#8217;s been reading this
        blog for a while knows that Matt and I are both <a href=\"https://svpow.com/the-digital-future/\">all
        in on open access</a>. What is the point of &#8220;publishing&#8221; something
        that not everyone can read? We always want our work to be available to the
        widest possible audience, so it&#8217;s a no-brainer that we won&#8217;t let
        it moulder behind a paywall.</p>\n<p>But the process of scholarly publication
        does cost money. Nowhere near as much as commercial publishers charge, sure,
        but there <em>is</em> an irreducible cost which has to be paid somehow.</p>\n<p>And
        now, here comes <em>Diplodocoidea (Dinosauria, Sauropoda): Systematics, Phylogeny,
        Biogeography</em>!</p>\n<p><a href=\"https://svpow.wordpress.com/wp-content/uploads/2025/09/crowdfunder.jpg\"><img
        loading=\"lazy\" data-attachment-id=\"24261\" data-permalink=\"http://svpow.com/2025/09/25/want-to-help-fund-the-free-publication-of-sauropod-science-nows-your-chance/crowdfunder/\"
        data-orig-file=\"h[...]
