interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,11,21]],"date-time":"2025-11-21T07:01:58Z","timestamp":1763708518882,"version":"3.45.0"},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1371\/journal.pmed.0030277.g001","type":"component","created":{"date-parts":[[2015,10,20]],"date-time":"2015-10-20T16:01:19Z","timestamp":1445356879000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1371","member":"340","container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T17:13:42Z","timestamp":1539969222000},"score":1,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pmed.0030277.g001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1371\/journal.pmed.0030277.g001","relation":{},"subject":[]}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
