interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/525a7d13-fe07-4cab-ac54-75d7b7005647
  response:
    content: '{"abstract":"A preprint claims that \u201cideas from theoretical linguistics
      have played no role in [NLP]\u201d. Outside the confines of Chomskyan linguistics
      folks have long been working on  incorporating storage, retrieval, gating and
      attention in theories of language, with direct relevance to computational models.
      The only way to give any content to the claim is by giving the notion \u201ctheoretical
      linguistics\u201d the narrowest conceivable reading.","archive_url":null,"authors":[{"name":"Mark
      Dingemanse"}],"blog":{"api":false,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"languagesAndLiterature","created_at":1706627953,"current_feed_url":null,"description":"Sounding
      out ideas on language, interaction, and iconicity","favicon":"https://ideophone.org/files/cropped-android-chrome-512x512-1-32x32.png","feed_format":"application/atom+xml","feed_url":"https://ideophone.org/feed/atom/","filter":"category:98","funding":null,"generator":"WordPress","generator_raw":"WordPress
      6.4.3","home_page_url":"https://ideophone.org/","id":"191184bc-efcf-4f0f-a1ee-09436542d408","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scholar.social/@dingemansemark","plan":"Starter","prefix":"10.59350","relative_url":null,"ror":null,"secure":true,"slug":"ideophone","status":"active","title":"The
      Ideophone","updated_at":1707385988,"use_api":true,"use_mastodon":false,"user_id":"e1f022f2-7d98-4b1e-81cc-81d8e8416403","version":"https://jsonfeed.org/version/1.1"},"blog_name":"The
      Ideophone","blog_slug":"ideophone","content_text":"This [Lingbuzz preprint by\nBaroni](https://ling.auf.net/lingbuzz/006031){rel=\"noreferrer
      noopener\"\ntarget=\"_blank\"} is a nice read if you''re interested in linguistically\noriented
      deep net analysis. I did feel it''s a bit hampered by the\nnear-exclusive equation
      of linguistic theory with generative/Chomskyan\naps. (I know it makes a point
      of claiming a \"very broad notion of\ntheoretical linguistics\", but it doesn''t
      really demonstrate this, and\nthroughout the implicit notion of theory is near-exclusively
      aligned\nwith GG and its associated concerns of competence, poverty of the\nstimulus,
      et cetera).\n\n<figure class=\"wp-block-image\">\n<img src=\"https://pbs.twimg.com/media/E4FDxONXwAMFvCh.png\"\ndecoding=\"async\"
      />\n</figure>\n\nFor instance, it notes (citing Lappin) that theoretical linguistics\n\"played
      no role\" in deep learning for NLP, but while this may hold for\ngenerative
      grammar (GG), linguistic theorizing was much broader than\nthat right at the
      start of connectionism and RNNs, e.g. in [Elman\n1991](http://doi.org/10.1023/A:1022699029236){target=\"_blank\"\nrel=\"noreferrer
      noopener\"}.\n\[...]
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://ling.auf.net/lingbuzz/006031
  response:
    content: ''
    headers:
      Content-Type:
      - text/plain
    status_code: 501
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.1038/s41562-017-0163
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.1038%2Fs41562-017-0163/transform">https://api.crossref.org/v1/works/10.1038%2Fs41562-017-0163/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1038%2Fs41562-017-0163/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.1023/a:1022699029236
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.1023%2Fa%3A1022699029236/transform">https://api.crossref.org/v1/works/10.1023%2Fa%3A1022699029236/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1023%2Fa%3A1022699029236/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.1037/0033-295x.109.1.35
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.1037%2F0033-295x.109.1.35/transform">https://api.crossref.org/v1/works/10.1037%2F0033-295x.109.1.35/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1037%2F0033-295x.109.1.35/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://scholar.social/@dingemansemark
  response:
    content: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"902e769429893619932a69e9faa9c796"
      Link:
      - </packs/js/locale/en-json-f5510c22fd7d55be6ad5.chunk.js>; rel=preload; as=script;
        type=text/javascript; integrity=sha256-SplOegOXiFZpzYhklmglSpSNDKjU9dqJdQ2hIA2uWks=
    status_code: 200
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://twitter.com/dingemansemark
  response:
    content: ''
    headers:
      perf:
      - '7469935968'
      x-connection-hash:
      - eb3eeff37a77cd0d5bbf0053bac9c953264805744ab4685f7a4a9a718e09f08d
      x-response-time:
      - '105'
      x-transaction-id:
      - e4b03ac4835d3074
    status_code: 403
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://twitter.com/dingemansemark/status/1405488247057391616
  response:
    content: ''
    headers:
      perf:
      - '7469935968'
      x-connection-hash:
      - ccdfae2c64a0895496c4f30e505b3c4f840ff22ae4571130a7124b43a3d1b566
      x-response-time:
      - '106'
      x-transaction-id:
      - 8f35172d02ad24a1
    status_code: 403
version: 1
