interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1017/9781108348843
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,11,20]],"date-time":"2025-11-20T12:44:05Z","timestamp":1763642645972},"edition-number":"1","reference-count":273,"publisher":"Cambridge
        University Press","isbn-type":[{"value":"9781108348843","type":"electronic"},{"value":"9781108425728","type":"print"},{"value":"9781108443241","type":"print"}],"license":[{"start":{"date-parts":[[2019,7,1]],"date-time":"2019-07-01T00:00:00Z","timestamp":1561939200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2019,7,18]]},"DOI":"10.1017\/9781108348843","type":"monograph","created":{"date-parts":[[2019,7,1]],"date-time":"2019-07-01T04:08:07Z","timestamp":1561954087000},"source":"Crossref","is-referenced-by-count":7,"title":["The
        Politics of the Past in Early China"],"prefix":"10.1017","author":[{"given":"Vincent
        S.","family":"Leung","sequence":"first","affiliation":[]}],"member":"56","published-online":{"date-parts":[[2019,7,1]]},"reference":[{"key":"9781108348843#EMT-rl-1_BIBe-r-273","first-page":"67","article-title":"Lu
        Jia de lishi yishi ji qi wenhua yiyi","volume":"5","author":"Qiusheng","year":"1997","journal-title":"Qilu
        xuekan"},{"key":"9781108348843#EMT-rl-1_BIBe-r-271","volume-title":"Han Fei
        sixiang de lishi yanjiu","author":"Zhang","year":"1986"},{"key":"9781108348843#EMT-rl-1_BIBe-r-270","volume-title":"Qin
        Han bei shu","author":"Yuan","year":"1990"},{"key":"9781108348843#EMT-rl-1_BIBe-r-269","volume-title":"Zhongguo
        gudai shenhua","author":"Yuan","year":"1960"},{"key":"9781108348843#EMT-rl-1_BIBe-r-266","doi-asserted-by":"publisher","DOI":"10.1093\/acprof:oso\/9780199367344.001.0001"},{"key":"9781108348843#EMT-rl-1_BIBe-r-264","volume-title":"Shuihudi
        Qin jian yanjiu","author":"Fuchang","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-261","volume-title":"Sima
        Qian jing ji si xiang yan jiu","author":"Wei","year":"1995"},{"key":"9781108348843#EMT-rl-1_BIBe-r-259","volume-title":"Records
        of the Grand Historian: Qin Dynasty","author":"Watson","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-258","volume-title":"Records
        of the Grand Historian: Han Dynasty","author":"Watson","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-257","volume-title":"Han
        Feizi: Basic Writings","author":"Watson","year":"2003"},{"key":"9781108348843#EMT-rl-1_BIBe-r-256","volume-title":"The
        Analects of Confucius","author":"Watson","year":"2007"},{"key":"9781108348843#EMT-rl-1_BIBe-r-255","volume-title":"Kodai
        Ch\u016bgoku shis\u014d no kenky\u016b: K\u014dshi den no keisei to Ju Boku
        sh\u016bdan no shis\u014d to k\u014dd\u014d","author":"Takashi","year":"1973"},{"key":"9781108348843#EMT-rl-1_BIBe-r-253","volume-title":"Zhongguo
        shixue shi [...]
