interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.14469/ch/191581
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.14469%2Fch%2F191581">https://data.crosscite.org/10.14469%2Fch%2F191581</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.14469%2Fch%2F191581
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.14469/ch/191621
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.14469%2Fch%2F191621">https://data.crosscite.org/10.14469%2Fch%2F191621</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.14469%2Fch%2F191621
    status_code: 302
version: 1
