interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/ssrar-vhq35
  response:
    body:
      string: '{"id": "ssrar-vhq35", "created": "2024-10-13T18:10:17.874594+00:00",
        "updated": "2026-08-20T07:01:12.854716+00:00", "links": {"self": "https://rogue-scholar.org/api/records/ssrar-vhq35",
        "self_html": "https://rogue-scholar.org/records/ssrar-vhq35", "preview_html":
        "https://rogue-scholar.org/records/ssrar-vhq35?preview=1", "doi": "https://doi.org/10.59350/s8m95-ap410",
        "self_doi": "https://doi.org/10.59350/s8m95-ap410", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/s8m95-ap410",
        "reserve_doi": "https://rogue-scholar.org/api/records/ssrar-vhq35/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/g62yr-gxy87", "parent_html":
        "https://rogue-scholar.org/records/g62yr-gxy87", "parent_doi": "https://doi.org/10.59350/g62yr-gxy87",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/g62yr-gxy87", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:ssrar-vhq35/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:ssrar-vhq35/sequence/default",
        "files": "https://rogue-scholar.org/api/records/ssrar-vhq35/files", "media_files":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/media-files", "archive":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/ssrar-vhq35/latest", "versions": "https://rogue-scholar.org/api/records/ssrar-vhq35/versions",
        "draft": "https://rogue-scholar.org/api/records/ssrar-vhq35/draft", "access_links":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access/request", "access":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/access", "communities":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/ssrar-vhq35/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/ssrar-vhq35/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/ssrar-vhq35/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/ssrar-vhq35/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/ssrar-vhq35/requests"},
        "revision_id": 57, "parent": {"id": "g62yr-gxy87", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["19c501a7-647b-4a11-9f5e-cf400817cce3", "35d9d673-8f7e-49e3-a39c-b0cea0694d22",
        "b722ba65-cd93-422f-820e-8d66bdb80a69", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "19c501a7-647b-4a11-9f5e-cf400817cce3", "entries": [{"id": "19c501a7-647b-4a11-9f5e-cf400817cce3",
        "created": "2024-10-05T18:45:09.152768+00:00", "updated": "2026-08-22T09:04:58.342095+00:00",
        "links": {}, "revision_id": 3832, "slug": "ropensci", "metadata": {"title":
        "rOpenSci - open tools for open science", "description": "Open Tools and R
        Packages for Open Science", "type": {"id": "blog"}, "website": "https://ropensci.org/blog"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://ropensci.org/blog/index.json", "feed:created":
        "2026-06-08", "feed:updated": "2026-08-13T11:29:29+00:00", "feed:feed_format":
        {"id": "jsonfeed"}, "feed:generator": {"id": "Other"}, "feed:status": {"id":
        "active"}, "feed:authors": [{"name": "The rOpenSci Team"}], "feed:secure":
        true, "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/ropensci",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1710"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "35d9d673-8f7e-49e3-a39c-b0cea0694d22",
        "created": "2024-10-08T13:01:00.657342+00:00", "updated": "2026-01-25T20:38:14.886046+00:00",
        "links": {}, "revision_id": 14, "slug": "interviews", "metadata": {"title":
        "Interviews", "description": "Blog posts with interviews.", "type": {"id":
        "topic"}}, "access": {"visibility": "public", "members_visibility": "public",
        "member_policy": "open", "record_submission_policy": "open", "review_policy":
   [...]
