interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/blogs/front_matter
  response:
    body:
      string: '{"authors":[{"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"community_id":"15a362ea-8138-42b8-917f-1840a92addf8","created_at":1672531200,"current_feed_url":null,"description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","home_page_url":"https://blog.front-matter.de/","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","posts":[{"doi":"https://doi.org/10.53731/204cn-q6m42","guid":"https://doi.org/10.53731/204cn-q6m42","published_at":1781481600,"summary":"The
        science blogging archive Rogue Scholar launched a new feature this week: author
        profile pages. This feature is similar to functionality common to blogging
        platforms, but integrates all blog posts by a given author that were archived
        in Rogue Scholar.","title":"Rogue Scholar launched author profiles this week","updated_at":1781522785,"url":"https://blog.front-matter.de/posts/rogue-scholar-launched-author-profiles-this-week/"},{"doi":"https://doi.org/10.53731/sp36e-a2s46","guid":"https://doi.org/10.53731/sp36e-a2s46","published_at":1780531200,"summary":"This
        is the May 2026 issue of the monthly newsletter from the Rogue Scholar\u00a0science
        blog archive. The newsletter reports on new blogs that have joined the platform,
        important technical updates in Rogue Scholar infrastructure, community u[...]
