interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1145/3448016.3452841
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,1]],"date-time":"2025-10-01T15:29:35Z","timestamp":1759332575345,"version":"3.41.0"},"publisher-location":"New
        York, NY, USA","reference-count":56,"publisher":"ACM","license":[{"start":{"date-parts":[[2021,6,9]],"date-time":"2021-06-09T00:00:00Z","timestamp":1623196800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"NSF
        (National Science Foundation)","doi-asserted-by":"publisher","award":["CCF
        805476, CCF 822388, CCF 1724745,CCF 1715777, CCF 1637458, IIS 1541613, CRII
        1947789, CNS 1408695, CNS 1755615, CCF 1439084, CCF 1725543, CSR 1763680,
        CCF 1716252, CCF 1617618, CNS 1938709, IIS 1247726, CNS-1938709,CCF-1750472,CCF-1452904,CNS-1763680"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000015","name":"DOE
        U.S. Department of Energy","doi-asserted-by":"publisher","award":["DE-AC02-05CH11231,17-SC-20-SC"],"id":[{"id":"10.13039\/100000015","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["dl.acm.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2021,6,9]]},"DOI":"10.1145\/3448016.3452841","type":"proceedings-article","created":{"date-parts":[[2021,6,18]],"date-time":"2021-06-18T17:22:39Z","timestamp":1624036959000},"page":"1386-1399","update-policy":"https:\/\/doi.org\/10.1145\/crossmark-policy","source":"Crossref","is-referenced-by-count":34,"title":["Vector
        Quotient Filters"],"prefix":"10.1145","author":[{"given":"Prashant","family":"Pandey","sequence":"first","affiliation":[{"name":"Lawrence
        Berkeley National Lab &amp; University of California, Berkeley, Berkeley,
        CA, USA"}]},{"given":"Alex","family":"Conway","sequence":"additional","affiliation":[{"name":"VMware
        Research, Palo Alto, CA, USA"}]},{"given":"Joe","family":"Durie","sequence":"additional","affiliation":[{"name":"Rutgers
        University, New Brunswick, NJ, USA"}]},{"given":"Michael A.","family":"Bender","sequence":"additional","affiliation":[{"name":"Stony
        Brook University, Stony Brook, NY, USA"}]},{"given":"Martin","family":"Farach-Colton","sequence":"additional","affiliation":[{"name":"Rutgers
        University, New Brunswick, NJ, USA"}]},{"given":"Rob","family":"Johnson","sequence":"additional","affiliation":[{"name":"VMware
        Research, Palo Alto, CA, USA"}]}],"member":"320","published-online":{"date-parts":[[2021,6,18]]},"reference":[{"key":"e_1_3_2_2_1_1","doi-asserted-by":"publisher","DOI":"10.5555\/1224252.1224501"},{"key":"e_1_3_2_2_2_1","doi-asserted-by":"publisher","DOI":"10.1007\/978-3-030-17083-7_1"},{"key":"e_1_3_2_2_3_1","doi-asserted-by":"publisher","DOI":"10.1089\/cmb.2019.0322"},{"key":"e_1_3_2_2_4_1","doi-asserted-by":"publisher","DOI":"10.14778\/2732951.2732958"},{"key":"e_1_3_2_2_5_1","doi-asserted-by":"publisher","DOI":"10.1145\/2254756.2254766"},{"key":"e_1_3_2_2_6_1","doi-asserted-by":"publisher","DOI":"10.1137\/S0097539795288490"},{"key":"e_1_3_2_2_7_1","doi-asserted-by":"publisher","DOI":"10.14778\/2350229.2350275"},{"key":"e_1_3_2_2_8_1","doi-asserted-by":"publisher","DOI":"10.1137\/S009753970444435X"},{"key":"e_1_3_2_2_9_1","doi-asserted-by":"publisher","DOI":"10.1145\/362686.362692"},{"key":"e_1_3_2_2_10_1","doi-asserted-by":"publisher","DOI":"10.1007\/11841036_61"},{"key":"e_1_3_2_2_11_1","volume-title":"Eduardo
        PC Rocha, Gil McVean, and Zamin Iqbal.","author":"Bradley Phelim","year":"2019","unstructured":"Phelim
        Bradley , Henk C Den Bakker , Eduardo PC Rocha, Gil McVean, and Zamin Iqbal.
        2019 . Ultrafast search of all deposited bacterial and viral genomic data.
        Nature biotechnology 37, 2 (2019), 152--159. Phelim Bradley, Henk C Den Bakker,
        Eduardo PC Rocha, Gil McVean, and Zamin Iqbal. 2019. Ultrafast search of all
        deposited bacterial and viral genomic data. Nature biotechnology 37, 2 (2019),
        152--159."},{"key":"e_1_3_2_2_12_1","volume-title":"Mort[...]
