interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/r294649-6f79289-8cwav
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/00f2yqf98","name":"Hannover
        Medical School"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"community_id":"15a362ea-8138-42b8-917f-1840a92addf8","created":1672531200,"current_feed_url":null,"description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi":"https://doi.org/10.53731/front_matter","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","home_page_url":"https://blog.front-matter.de/","issn":"2749-9952","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.53731","relative_url":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated":1784105018,"use_api":true},"blog_name":"Front Matter","blog_slug":"front_matter","content_html":"<p>One
        of the opening lectures this Saturday of the <a href=\"https://web.archive.org/web/20120611091608/http://www.geneticsberlin2008.com/\">International
        Congress of Genetics</a> was held by <a href=\"https://web.archive.org/web/20120611091608/http://capecchi.genetics.utah.edu/\">Mario
        Capecchi</a>. His talked was entitled <em>Modeling human disease in the mouse:
        from cancer to neuropsychiatric disorders</em>. In the first half he described
        his mouse model of synovial sarcoma. Synovial sarcoma is an aggressive and
        often fatal soft tissue tumor. The pathogenesis of the disease is poorly understood,
        but synovial sarcoma is characterized by a t(X;18) translocation that creates
        a fusion of the SYT and SSX (SSX1, SX2 or SSX4) genes.</p><p>Early and ubiquitous
        expression of a [...]
