interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1007/978-3-662-46370-3_13
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,3,26]],"date-time":"2025-03-26T01:25:44Z","timestamp":1742952344271,"version":"3.40.3"},"publisher-location":"Berlin,
        Heidelberg","reference-count":22,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"type":"print","value":"9783662463697"},{"type":"electronic","value":"9783662463703"}],"license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2015]]},"DOI":"10.1007\/978-3-662-46370-3_13","type":"book-chapter","created":{"date-parts":[[2015,4,14]],"date-time":"2015-04-14T02:31:00Z","timestamp":1428978660000},"page":"155-158","source":"Crossref","is-referenced-by-count":1,"title":["Clinical
        Symptoms and Physical Examinations"],"prefix":"10.1007","author":[{"given":"Ronald
        L.","family":"Diercks","sequence":"first","affiliation":[]},{"given":"Tom
        Clement","family":"Ludvigsen","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"issue":"10","key":"13_CR1","doi-asserted-by":"publisher","first-page":"1301","DOI":"10.1007\/s00256-012-1391-8","volume":"41","author":"KS
        Ahn","year":"2012","unstructured":"Ahn KS, Kang CH, Oh YW, Jeong WK. Correlation
        between magnetic resonance imaging and clinical impairment in patients with
        adhesive capsulitis. Skeletal Radiol. 2012;41(10):1301\u20138.","journal-title":"Skeletal
        Radiol"},{"issue":"3","key":"13_CR2","doi-asserted-by":"publisher","first-page":"333","DOI":"10.1016\/j.arthro.2004.11.003","volume":"21","author":"JR
        Andrews","year":"2005","unstructured":"Andrews JR. Diagnosis and treatment
        of chronic painful shoulder: review of nonsurgical interventions. Arthroscopy.
        2005;21(3):333\u201347.","journal-title":"Arthroscopy"},{"key":"13_CR3","first-page":"1773","volume":"39","author":"HA
        Anton","year":"1993","unstructured":"Anton HA. Frozen shoulder. Can Fam Physician.
        1993;39:1773\u20138.","journal-title":"Can Fam Physician"},{"issue":"5","key":"13_CR4","doi-asserted-by":"publisher","first-page":"321","DOI":"10.3109\/03009749009096786","volume":"19","author":"B
        Baslund","year":"1990","unstructured":"Baslund B, Thomsen BS, Jensen EM. Frozen
        shoulder: current concepts. Scand J Rheumatol. 1990;19(5):321\u20135.","journal-title":"Scand
        J Rheumatol"},{"issue":"8","key":"13_CR5","doi-asserted-by":"publisher","first-page":"1048","DOI":"10.1007\/s00167-007-0291-2","volume":"15","author":"S
        Brue","year":"2007","unstructured":"Brue S, Valentin A, Forssblad M, Werner
        S, Mikkelsen C, Cerulli G. Idiopathic adhesive capsulitis of the shoulder:
        a review. Knee Surg Sports Traumatol Arthrosc. 2007;15(8):1048\u201354.","journ[...]
