interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/r79s4nh-97aq74v-ag4t1
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/04wxnsj81","name":"DataCite"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"community_id":"15a362ea-8138-42b8-917f-1840a92addf8","created":1672531200,"current_feed_url":null,"description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","home_page_url":"https://blog.front-matter.de/","issn":"2749-9952","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.53731","relative_url":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated":1781522561,"use_api":true},"blog_name":"Front Matter","blog_slug":"front_matter","content_html":"<p>The
        connections between scholarly resources generated by persistent identifiers
        (PIDs) and associated metadata form a graph: the PID Graph [Fenner &amp; Aryani
        (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/jwvf-8a66\">2019</a>)].
        We developed this PID Graph concept in the EC-funded <a href=\"https://www.project-freya.eu/en\">FREYA
        project</a>, and have identified important use cases and technical requirements.
        In May, DataCite introduced a GraphQL API to standardize and simplify how
        users can contribute to and consume the PID Graph [Fenner (<a href=\"https://blog.datacite.org/tracking-the-growth-of-the-pid-graph/#ref-https://doi.org/10.5438/qab1-n315\">2019b</a>)].
        Today we are announcing another important milestone: we added the required
        functionality to the DataCite GraphQL API that allows us to keep track of
        the growth of the PID Graph in terms of nodes (resources) and edges (connections).
        As before, we are using a Jupyter notebook to analyze and visualize the data.</p><p>The
        graph visualizes the main resources currently available via the DataCite GraphQL
        API, and their connections. The required data are fetched via a single GraphQL
        API call:</p><pre><code>{\n  publications {\n    totalCount\n    publicationConnectionCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  datasets
        {\n    totalCount\n    datasetConnectionCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  softwares
        {\n    totalCount\n    softwareConnectionCount\n    researcherConnectionCount\n    funderConnectionCount\n  }\n  researchers
        [...]
