interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/pywwn-1kp92
  response:
    body:
      string: '{"id": "pywwn-1kp92", "created": "2024-10-13T14:40:44.805506+00:00",
        "updated": "2025-09-30T08:03:41.957222+00:00", "links": {"self": "https://rogue-scholar.org/api/records/pywwn-1kp92",
        "self_html": "https://rogue-scholar.org/records/pywwn-1kp92", "preview_html":
        "https://rogue-scholar.org/records/pywwn-1kp92?preview=1", "doi": "https://doi.org/10.59350/kz04m-s8z58",
        "self_doi": "https://doi.org/10.59350/kz04m-s8z58", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/kz04m-s8z58",
        "reserve_doi": "https://rogue-scholar.org/api/records/pywwn-1kp92/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/yqtsj-vr862", "parent_html":
        "https://rogue-scholar.org/records/yqtsj-vr862", "parent_doi": "https://doi.org/10.59350/yqtsj-vr862",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/yqtsj-vr862", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:pywwn-1kp92/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:pywwn-1kp92/sequence/default",
        "files": "https://rogue-scholar.org/api/records/pywwn-1kp92/files", "media_files":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/media-files", "archive":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/pywwn-1kp92/latest", "versions": "https://rogue-scholar.org/api/records/pywwn-1kp92/versions",
        "draft": "https://rogue-scholar.org/api/records/pywwn-1kp92/draft", "access_links":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access/request", "access":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/access", "communities":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/pywwn-1kp92/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/pywwn-1kp92/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/pywwn-1kp92/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/pywwn-1kp92/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/pywwn-1kp92/requests"},
        "revision_id": 17, "parent": {"id": "yqtsj-vr862", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["2010c4da-31b7-4cd7-97cf-c75892ae6902", "346efb91-f134-4f0b-bd6a-30e2094d2c40",
        "e31421de-c2b6-4ed8-8105-f749e28dc0c0"], "default": "2010c4da-31b7-4cd7-97cf-c75892ae6902",
        "entries": [{"id": "2010c4da-31b7-4cd7-97cf-c75892ae6902", "created": "2024-10-05T10:40:12.314653+00:00",
        "updated": "2026-08-22T09:06:43.176409+00:00", "links": {}, "revision_id":
        3524, "slug": "wisspub", "metadata": {"title": "wisspub.net", "description":
        "Gemeinschaftsblog zu wissenschaftlicher Kommunikation im Netz.", "type":
        {"id": "blog"}, "website": "https://wisspub.net"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://wisspub.net/feed/atom/",
        "feed:created": "2023-01-16", "feed:updated": "2026-07-04T13:40:30+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress.com"},
        "feed:status": {"id": "active"}, "feed:secure": true, "feed:use_api": true,
        "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/wisspub",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "deu"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1802"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "346efb91-f134-4f0b-bd6a-30e2094d2c40",
        "created": "2024-10-02T19:02:40.195535+00:00", "updated": "2026-01-25T12:33:52.081167+00:00",
        "links": {}, "revision_id": 23, "slug": "openaccess", "metadata": {"title":
        "Open Access", "type": {"id": "topic"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "e31421de-c2b6-4ed8-8105-f749e28dc0c0", "created": "2025-02-11T21:59:21.242481+00:00",
        "updated": "2025-12-02T20:56:14.199659+00:00", "links": {}, "revision_id":
        11, "slug": "1207", "metadata": {"title": "History and Philosophy of Science",
        "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1207"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/yqtsj-vr862", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/kz04m-s8z58", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:pywwn-1kp92", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Pampel, Heinz", "given_name": "Heinz", "family_name":
        "Pampel", "identifiers": [{"identifier": "0000-0003-3334-2771", "scheme":
        "orcid"}]}, "affiliations": [{"id": "01hcx6992", "name": "Humboldt-Universit\u00e4t
        zu Berlin", "identifiers": [{"identifier": "01hcx6992", "scheme": "ror"}]}]}],
        "title": "EU-Mitgliedstaaten betonen die Rolle von wissenschaftsgeleiteten
        Open-Access-Modellen jenseits von APCs", "publisher": "Front Matter", "publication_date":
        "2023-05-23", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?5",
        "subject": "Social science", "scheme": "FOS"}, {"subject": "Open Access"},
        {"subject": "Open Access Transformation"}, {"subject": "Open Science"}], "dates":
        [{"date": "2023-05-23T11:16:53", "type": {"id": "issued", "title": {"de":
        "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date":
        "2023-05-23T11:16:53", "type": {"id": "updated", "title": {"de": "Aktualisiert",
        "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id": "deu", "title":
        {"en": "German"}}], "identifiers": [{"identifier": "1c578558-1324-4493-b8af-84c49eabc52f",
        "scheme": "uuid"}, {"identifier": "https://wisspub.net/?p=20455", "scheme":
        "guid"}, {"identifier": "https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Die EU-Wissenschaftsministerien haben
        sich auf ihrer heutigen Sitzung in Br\u00fcssel unter dem Titel \"Council
        conclusions on high-quality, transparent, open, trustworthy and equitable
        scholarly publishing\" (PDF der englischen Version, PDF der deutschen Version)\u00a0mit
        den aktuellen Herausforderungen des wissenschaftlichen Publikationswesens
        befasst."}, "custo[...]
