interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/1c578558-1324-4493-b8af-84c49eabc52f
  response:
    body:
      string: '{"abstract":"Die EU-Wissenschaftsministerien haben sich auf ihrer heutigen
        Sitzung in Br\u00fcssel unter dem Titel \u201cCouncil conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing\u201d (PDF
        der englischen Version, PDF der deutschen Version)\u00a0mit den aktuellen
        Herausforderungen des wissenschaftlichen Publikationswesens befasst.","archive_url":"https://wayback.archive-it.org/22104/2025-05-01T17:22:25Z/https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs/","authors":[{"affiliation":[{"id":"https://ror.org/01hcx6992","name":"Humboldt-Universit\u00e4t
        zu Berlin"}],"family":"Pampel","given":"Heinz","url":"https://orcid.org/0000-0003-3334-2771"}],"blog":{"archive_collection":22104,"archive_host":null,"archive_prefix":null,"archive_timestamps":[20231101172339,20240501180214,20241101172209,20250501172225],"authors":null,"canonical_url":null,"category":"socialScience","community_id":"2010c4da-31b7-4cd7-97cf-c75892ae6902","created_at":1673827200,"current_feed_url":null,"description":"Gemeinschaftsblog
        zu wissenschaftlicher Kommunikation im Netz.","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://wisspub.net/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://wisspub.net","id":"9cb1a7b3-1791-42e5-9f2d-153038fe34e3","indexed":false,"issn":null,"language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729679186,"relative_url":null,"ror":null,"secure":true,"slug":"wisspub","status":"active","subfield":"1802","title":"wisspub.net","updated_at":1744048668,"use_api":true,"use_mastodon":false,"user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d"},"blog_name":"wisspub.net","blog_slug":"wisspub","content_html":"\n<p>Die
        EU-Wissenschaftsministerien haben sich auf ihrer <a href=\"https://www.consilium.europa.eu/en/press/press-releases/2023/05/23/council-calls-for-transparent-equitable-and-open-access-to-scholarly-publications/\">heutigen
        Sitzung</a> in Br\u00fcssel unter dem Titel \u201cCouncil conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing\u201d (<a
        href=\"https://data.consilium.europa.eu/doc/document/ST-8827-2023-INIT/en/p[...]
