interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/92zc8-f0b76
  response:
    body:
      string: '{"id": "92zc8-f0b76", "created": "2024-10-13T23:18:16.456698+00:00",
        "updated": "2026-08-20T15:13:08.400116+00:00", "links": {"self": "https://rogue-scholar.org/api/records/92zc8-f0b76",
        "self_html": "https://rogue-scholar.org/records/92zc8-f0b76", "preview_html":
        "https://rogue-scholar.org/records/92zc8-f0b76?preview=1", "doi": "https://doi.org/10.53731/r294649-6f79289-8cwav",
        "self_doi": "https://doi.org/10.53731/r294649-6f79289-8cwav", "self_doi_html":
        "https://rogue-scholar.org/doi/10.53731/r294649-6f79289-8cwav", "reserve_doi":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/draft/pids/doi", "parent":
        "https://rogue-scholar.org/api/records/c8m3b-4t710", "parent_html": "https://rogue-scholar.org/records/c8m3b-4t710",
        "parent_doi": "https://doi.org/10.53731/c8m3b-4t710", "parent_doi_html": "https://rogue-scholar.org/doi/10.53731/c8m3b-4t710",
        "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:92zc8-f0b76/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:92zc8-f0b76/sequence/default",
        "files": "https://rogue-scholar.org/api/records/92zc8-f0b76/files", "media_files":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/media-files", "archive":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/92zc8-f0b76/latest", "versions": "https://rogue-scholar.org/api/records/92zc8-f0b76/versions",
        "draft": "https://rogue-scholar.org/api/records/92zc8-f0b76/draft", "access_links":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access/request", "access":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/access", "communities":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/92zc8-f0b76/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/92zc8-f0b76/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/92zc8-f0b76/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/92zc8-f0b76/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/92zc8-f0b76/requests"},
        "revision_id": 77, "parent": {"id": "c8m3b-4t710", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["15a362ea-8138-42b8-917f-1840a92addf8", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "15a362ea-8138-42b8-917f-1840a92addf8", "entries": [{"id": "15a362ea-8138-42b8-917f-1840a92addf8",
        "created": "2024-08-30T15:03:16.250133+00:00", "updated": "2026-08-22T09:02:28.595812+00:00",
        "links": {}, "revision_id": 4007, "slug": "front_matter", "metadata": {"title":
        "Front Matter", "description": "The Front Matter Blog covers the intersection
        of science and technology since 2007.", "type": {"id": "blog"}, "website":
        "https://blog.front-matter.de/"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"feed:feed_url": "https://blog.front-matter.de/atom",
        "feed:created": "2023-01-01", "feed:updated": "2026-08-20T09:30:26+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "Ghost"}, "feed:status":
        {"id": "active"}, "feed:authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
        "feed:secure": true, "feed:use_api": true, "rs:issn": "2749-9952", "rs:prefix":
        {"id": "10.53731"}, "rs:doi": "https://doi.org/10.53731/front_matter", "rs:license":
        {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield": [{"id":
        "https://openalex.org/subfields/1710"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106",
        "created": "2025-02-10T08:12:28.813373+00:00", "updated": "2025-12-02T20:56:15.845048+00:00",
        "links": {}, "revision_id": 11, "slug": "1710", "metadata": {"title": "Information
        Systems", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1710"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.53731/c8m3b-4t710", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.53731/r294649-6f79289-8cwav", "provider": "crossref", "client": "crossref"},
        "oai": {"identifier": "oai:invenio-rdm:92zc8-f0b76", "provider": "oai"}},
        "metadata": {"resource_type": {"id": "publication-blogpost", "title": {"de":
        "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Fenner, Martin", "given_name":
        "Martin", "family_name": "Fenner", "identifiers": [{"identifier": "0000-0003-1419-2405",
        "scheme": "orcid"}]}, "affiliations": [{"id": "00f2yqf98", "name": "Medizinische
        Hochschule Hannover", "identifiers": [{"identifier": "00f2yqf98", "scheme":
        "ror"}]}]}], "title": "Mouse models of human cancer and the need for more
        translational research", "publisher": "Front Matter", "publication_date":
        "2008-07-14", "subjects": [{"id": "https://openalex.org/subfields/1710", "subject":
        "Information Systems", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Meeting Report"}], "dates": [{"date": "2008-07-14T00:00:00Z", "type": {"id":
        "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-08-16T12:03:44Z", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "https://doi.org/10.53731/r294649-6f79289-8cwav",
        "scheme": "guid"}, {"identifier": "https://blog.front-matter.de/posts/mouse-models-of-human-cancer-and-the-need-for-more-translational-research/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "One of the opening lectures this Saturday
        of the International Congress of Genetics was held by Mario Capecchi. His
        talked was entitled Modeling human disease in the mouse: from cancer to neuropsychiatric
        disorders. In the first half he described his mouse model of synovial sarcoma.
        Synovial sarcoma is an aggressive and often fatal soft tissue tumor.", "references":
        [{"identifier": "10.1016/j.ccr.2007.01.016", "scheme": "doi", "reference":
        "Haldar, M., Hancock, J. D., Coffin, C. M., Lessnick, S. L., &amp; Capecchi,
        M. R. (2007). A Conditional Mouse Model of Synovial Sarcoma: Insights into
        a Myogenic Origin. <i>Cancer Cell</i>, <i>11</i>(4), 375\u2013388."}, {"identifier":
        "10.1038/453823a", "scheme": "doi", "reference": "To thwart disease, apply
        now. (2008). Nature, 453(7197), 823\u2013823."}]}, "custom_fields": {"journal:journal":
        {"title": "Front Matter", "issn": "2749-9952"}, "rs:content_html": "<p>One
        of the opening lectures this Saturday of the <a href=\"https://web.archive.org/web/20120611091608/http://www.geneticsberlin2008.com/\">International
        Congress of Genetics</a> was held by <a href=\"https://web.archive.org/web/20120611091608/http://capecchi.genetics.utah.edu/\">Mario
        Capecchi</a>. His talked was entitled <em>Modeling human disease in the mouse:
        from cancer to neuropsychiatric disorders</em>. In the first half he described
        his mouse model of synovial sarcoma. Synovial sarcoma is an aggressive and
        often fatal soft tissue tumor. The pathogenesis of the disease is poorly understood,
        but synovial sarcoma is characterized by a t(X;18) translocation that creates
        a fusion of the SYT and SSX (SSX1, SX2 or SSX4) genes.</p><p>Early and ubiquitous
        expression of a [...]
