interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.rogue-scholar.org/api/records/baq1p-0py32
  response:
    body:
      string: '{"status": 404, "message": "The persistent identifier does not exist."}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1764609557'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/dj4cp-2b786
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="/api/records/a9awy-52h48">/api/records/a9awy-52h48</a>.
        If not, click the link.

        '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/records/a9awy-52h48
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1770648601'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/a9awy-52h48
  response:
    body:
      string: '{"id": "a9awy-52h48", "created": "2025-06-27T16:11:25.068847+00:00",
        "updated": "2026-02-07T22:56:00.978669+00:00", "links": {"self": "https://rogue-scholar.org/api/records/a9awy-52h48",
        "self_html": "https://rogue-scholar.org/records/a9awy-52h48", "preview_html":
        "https://rogue-scholar.org/records/a9awy-52h48?preview=1", "doi": "https://doi.org/10.53731/m7gng-jmm19",
        "self_doi": "https://doi.org/10.53731/m7gng-jmm19", "self_doi_html": "https://rogue-scholar.org/doi/10.53731/m7gng-jmm19",
        "reserve_doi": "https://rogue-scholar.org/api/records/a9awy-52h48/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/dj4cp-2b786", "parent_html":
        "https://rogue-scholar.org/records/dj4cp-2b786", "parent_doi": "https://doi.org/10.53731/dj4cp-2b786",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.53731/dj4cp-2b786", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:a9awy-52h48/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:a9awy-52h48/sequence/default",
        "files": "https://rogue-scholar.org/api/records/a9awy-52h48/files", "media_files":
        "https://rogue-scholar.org/api/records/a9awy-52h48/media-files", "archive":
        "https://rogue-scholar.org/api/records/a9awy-52h48/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/a9awy-52h48/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/a9awy-52h48/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/a9awy-52h48/latest", "versions": "https://rogue-scholar.org/api/records/a9awy-52h48/versions",
        "draft": "https://rogue-scholar.org/api/records/a9awy-52h48/draft", "access_links":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access/request", "access":
        "https://rogue-scholar.org/api/records/a9awy-52h48/access", "communities":
        "https://rogue-scholar.org/api/records/a9awy-52h48/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/a9awy-52h48/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/a9awy-52h48/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/a9awy-52h48/file-modification",
        "requests": "https://rogue-scholar.org/api/records/a9awy-52h48/requests"},
        "revision_id": 207, "parent": {"id": "dj4cp-2b786", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["15a362ea-8138-42b8-917f-1840a92addf8", "40d93f0d-7c6b-44ee-83e1-971b099c2f54",
        "5e9a020e-21d4-4515-8a70-bb942b08a59d", "d79fe364-6d96-40b6-b437-b93ca3493106",
        "fbc3bd5a-137e-4366-94ae-92a6e9d744e3"], "default": "15a362ea-8138-42b8-917f-1840a92addf8",
        "entries": [{"id": "15a362ea-8138-42b8-917f-1840a92addf8", "created": "2024-08-30T15:03:16.250133+00:00",
        "updated": "2026-01-28T07:42:11.199989+00:00", "links": {}, "revision_id":
        854, "slug": "front_matter", "metadata": {"title": "Front Matter", "description":
        "The Front Matter Blog covers the intersection of science and technology since
        2007.", "type": {"id": "blog"}, "website": "https://blog.front-matter.de"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:issn": "2749-9952", "rs:feed_url": "https://blog.front-matter.de/atom",
        "rs:prefix": "10.53731", "rs:joined": "January 1, 2023", "rs:feed_format":
        "application/atom+xml", "rs:generator": "Ghost", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Information Systems"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "40d93f0d-7c6b-44ee-83e1-971b099c2f54", "created": "2024-10-08T13:08:59.074690+00:00",
        "updated": "2026-01-25T12:37:39.092298+00:00", "links": {}, "revision_id":
        39, "slug": "roguescholar", "metadata": {"title": "Rogue Scholar", "description":
        "Blog posts about Rogue Scholar.", "type": {"id": "topic"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "r[...]
