interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/4927605
  response:
    body:
      string: '{"created": "2021-06-11T17:20:39.953862+00:00", "modified": "2025-06-23T14:50:22.124424+00:00",
        "id": 4927605, "conceptrecid": "4927604", "doi": "10.5281/zenodo.4927605",
        "conceptdoi": "10.5281/zenodo.4927604", "doi_url": "https://doi.org/10.5281/zenodo.4927605",
        "metadata": {"title": "SPACE to evolve academic assessment: A rubric for analyzing
        institutional conditions and progress indicators", "doi": "10.5281/zenodo.4927605",
        "publication_date": "2021-06-11", "description": "<p>A rubric and supporting
        information for analyzing institutional conditions and progress indicators
        for academic assessment reform.</p>", "access_right": "open", "creators":
        [{"name": "Anna Hatch", "affiliation": "Declaration on Research Assessment
        (DORA)", "orcid": "0000-0002-2111-3237"}, {"name": "Ruth Schmidt", "affiliation":
        "Institute of Design of the Illinois Institute of Technology", "orcid": "0000-0002-9390-8469"}],
        "keywords": ["Research Assessment", "Evaluation"], "related_identifiers":
        [{"identifier": "10.5281/zenodo.15389378", "relation": "isSupplementedBy",
        "resource_type": "lesson", "scheme": "doi"}], "language": "eng", "resource_type":
        {"title": "Poster", "type": "poster"}, "license": {"id": "cc-by-4.0"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "4927604"}}]}}, "title": "SPACE to evolve academic assessment:
        A rubric for analyzing institutional conditions and progress indicators",
        "links": {"self": "https://zenodo.org/api/records/4927605", "self_html": "https://zenodo.org/records/4927605",
        "preview_html": "https://zenodo.org/records/4927605?preview=1", "doi": "https://doi.org/10.5281/zenodo.4927605",
        "self_doi": "https://doi.org/10.5281/zenodo.4927605", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.4927605",
        "reserve_doi": "https://zenodo.org/api/records/4927605/draft/pids/doi", "parent":
        "https://zenodo.org/api/records/4927604", "parent_html": "https://zenodo.org/records/4927604",
        "parent_doi": "https://doi.org/10.5281/zenodo.4927604", "parent_doi_html":
        "https://zenodo.org/doi/10.5281/zenodo.4927604", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:4927605/manifest",
        "self_iiif_sequence": "https://zenodo.org/api/iiif/record:4927605/sequence/default",
        "files": "https://zenodo.org/api/records/4927605/files", "media_files": "https://zenodo.org/api/records/4927605/media-files",
        "thumbnails": {"10": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E10,/0/default.jpg",
        "50": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E50,/0/default.jpg",
        "100": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E100,/0/default.jpg",
        "250": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E250,/0/default.jpg",
        "750": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://zenodo.org/api/iiif/record:4927605:21%200608%20SPACE%20rubric_Final.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://zenodo.org/api/records/4927605/files-archive", "archive_media":
        "https://zenodo.org/api/records/4927605/media-files-archive", "latest": "https://zenodo.org/api/records/4927605/versions/latest",
        "latest_html": "https://zenodo.org/records/4927605/latest", "versions": "https://zenodo.org/api/records/4927605/versions",
        "draft": "https://zenodo.org/api/records/4927605/draft", "access_links": "https://zenodo.org/api/records/4927605/access/links",
        "access_grants": "https://zenodo.org/api/records/4927605/access/grants", "access_users":
        "https://zenodo.org/api/records/4927605/access/users", "access_request": "https://zenodo.org/api/records/4927605/access/request",
        "access": "https://zenodo.org/api/records/4927605/access", "communities":
        "https://zenodo.org/api/records/4927605/communities", "communities-suggestions":
        "https://zenodo.org/api/records/4927605/communities-suggestions", "request_deletion":
        "https://zenodo.org/api/records/4927605/request-deletion", "file_modification":
        "https://zenodo.org/api/records/4927605/file-modification", "quota_increase":
        "https://zenodo.org/api/records/4927605/quota-increase", "requests": "https://zenodo.org/api/records/4927605/requests"},
        "updated": "2025-06-23T14:50:22.124424+00:00", "recid": "4927605", "revision":
        7, "files": [{"id": "5c1fd560-35bb-44e5-820e-639f2ab19a6d", "key": "21 0608
        SPACE rubric_Final.pdf", "size": 231392, "checksum": "md5:673ab5bbfb15af035c7f5aa6b49c42ef",
        "links": {"self": "https://zenodo.org/api/records/4927605/files/21%200608%20SPACE%20rubric_Final.pdf/content"}}],
        "swh": {}, "owners": [{"id": "232748"}], "status": "published", "stats": {"downloads":
        5063, "unique_downloads": 4302, "views": 5399, "unique_views": 5040, "version_downloads":
        5041, "version_unique_downloads": 4281, "version_unique_views": 5014, "version_views":
        5373}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"7"
      link:
      - <https://zenodo.org/api/records/4927605> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1784091199'
      x-source:
      - api
    status:
      code: 200
      message: OK
version: 1
