interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/ewn0f-f5a52
  response:
    body:
      string: '{"id": "ewn0f-f5a52", "created": "2024-10-16T09:31:15.785544+00:00",
        "updated": "2025-03-08T22:59:28.509071+00:00", "links": {"self": "https://rogue-scholar.org/api/records/ewn0f-f5a52",
        "self_html": "https://rogue-scholar.org/records/ewn0f-f5a52", "preview_html":
        "https://rogue-scholar.org/records/ewn0f-f5a52?preview=1", "doi": "https://doi.org/10.59350/faeph-x4x84",
        "self_doi": "https://doi.org/10.59350/faeph-x4x84", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/faeph-x4x84",
        "reserve_doi": "https://rogue-scholar.org/api/records/ewn0f-f5a52/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/nn8ym-pj313", "parent_html":
        "https://rogue-scholar.org/records/nn8ym-pj313", "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:ewn0f-f5a52/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:ewn0f-f5a52/sequence/default",
        "files": "https://rogue-scholar.org/api/records/ewn0f-f5a52/files", "media_files":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/media-files", "archive":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/ewn0f-f5a52/latest", "versions": "https://rogue-scholar.org/api/records/ewn0f-f5a52/versions",
        "draft": "https://rogue-scholar.org/api/records/ewn0f-f5a52/draft", "access_links":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access/request", "access":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/access", "communities":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/ewn0f-f5a52/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/ewn0f-f5a52/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/ewn0f-f5a52/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/ewn0f-f5a52/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/ewn0f-f5a52/requests"},
        "revision_id": 21, "parent": {"id": "nn8ym-pj313", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["9e52146d-52b4-4733-9b05-1b23091c3835", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "9e52146d-52b4-4733-9b05-1b23091c3835", "entries": [{"id": "9e52146d-52b4-4733-9b05-1b23091c3835",
        "created": "2024-10-10T20:26:43.804699+00:00", "updated": "2026-06-08T18:54:44.545766+00:00",
        "links": {}, "revision_id": 852, "slug": "thor", "metadata": {"title": "Project
        THOR", "description": "Technical and Human infrastructure for Open Research.",
        "type": {"id": "blog"}, "website": "https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/",
        "funding": [{"funder": {"id": "00k4n6c32"}, "award": {"id": "654039"}}]},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://project-thor.eu/feed/atom/", "feed:created": "2023-09-21",
        "feed:feed_format": {"id": "jsonfeed"}, "feed:generator": {"id": "Other"},
        "feed:status": {"id": "archived"}, "feed:secure": true, "feed:use_api": true,
        "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/thor",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1802"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106",
        "created": "2025-02-10T08:12:28.813373+00:00", "updated": "2025-12-02T20:56:15.845048+00:00",
        "links": {}, "revision_id": 11, "slug": "1710", "metadata": {"title": "Information
        Systems", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1710"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.59350/faeph-x4x84",
        "provider": "external"}, "oai": {"identifier": "oai:invenio-rdm:ewn0f-f5a52",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Stocker, Markus",
        "given_name": "Markus", "family_name": "Stocker", "identifiers": [{"identifier":
        "0000-0001-5492-3212", "scheme": "orcid"}]}, "affiliations": [{"id": "04ers2y35",
        "name": "University of Bremen", "identifiers": [{"identifier": "04ers2y35",
        "scheme": "ror"}]}]}], "title": "ORCID Integration Series: PANGAEA", "publisher":
        "Front Matter", "publication_date": "2016-08-10", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}], "dates":
        [{"date": "2016-08-10T09:00:39Z", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}, {"date": "2016-08-10T09:00:39Z",
        "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued",
        "sv": "Utf\u00e4rdad"}}}], "languages": [{"id": "eng", "title": {"en": "English"}}],
        "identifiers": [{"identifier": "570c8129-e867-49e6-8517-bd783627e76e", "scheme":
        "uuid"}, {"identifier": "http://project-thor.eu/?p=664", "scheme": "guid"},
        {"identifier": "https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea",
        "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "This is the first in a series of posts\u00a0describing
        how THOR partners have recently integrated ORCID in their disciplinary data
        repositories. This post describes ORCID integration in PANGAEA, the Data Publisher
        for Earth &amp; Environmental Science. PANGAEA is rolling out a new version
        of its website. Developers and designers are currently ironing out a few remaining
        open issues. The release is expected for autumn 2016.", "funding": [{"funder":
        {"id": "00k4n6c32", "name": "European Commission"}, "award": {"number": "654039",
        "title": {"en": "Technical and Human Infrastructure for Open Research"}}}]},
        "custom_fields": {"journal:journal": {"title": "Project THOR"}, "rs:generator":
        {"id": "WordPress.com", "title": {"en": "WordPress.com"}}, "rs:featured":
        false}, "access": {"record": "public", "files": "public", "embargo": {"active":
        false, "reason": null}, "status": "metadata-only"}, "files": {"enabled": false,
        "order": [], "count": 0, "total_bytes": 0, "entries": {}}, "media_files":
        {"enabled": false, "order": [], "count": 0, "total_bytes": 0, "entries": {}},
        "status": "published", "deletion_status": {"is_deleted": false, "status":
        "P"}, "stats": {"this_version": {"views": 0, "unique_views": 0, "downloads":
        0, "unique_downloads": 0, "data_volume": 0.0}, "all_versions": {"views": 0,
        "unique_views": 0, "downloads": 0, "unique_downloads": 0, "data_volume": 0.0}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"21"'
      Link:
      - <https://rogue-scholar.org/api/records/ewn0f-f5a52> ; rel="linkset" ; type="application/linkset+json"
      Retry-After:
      - '52'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '475'
      X-Ratelimit-Reset:
      - '1787470248'
    status:
      code: 200
      message: OK
version: 1
