interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/dryad-interview-jen-gibson
  response:
    body:
      string: Redirecting to https://blog.front-matter.de/posts/dryad-interview-jen-gibson
    headers:
      Cache-Status:
      - '"Netlify Edge"; fwd=miss'
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://blog.front-matter.de/posts/dryad-interview-jen-gibson
      X-Nf-Request-Id:
      - 01KBDEQBJ5STHXHZMJZWXA6269
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://blog.front-matter.de/posts/dryad-interview-jen-gibson
  response:
    body:
      string: ''
    headers:
      Ghost-Fastly:
      - true;production
      location:
      - /posts/dryad-interview-jen-gibson/
      status:
      - 301 Moved Permanently
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://blog.front-matter.de/posts/dryad-interview-jen-gibson/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <title>Dryad:
        Interview with Jen Gibson</title>\r\n\r\n\r\n    <meta charset=\"utf-8\" />\r\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\r\n\r\n<meta name=\"HandheldFriendly\"
        content=\"True\" />\r\n<meta name=\"MobileOptimized\" content=\"320\" />\r\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\r\n\r\n<link
        rel=\"shortcut icon\" href=\"https://blog.front-matter.de/content/images/size/w256h256/2023/04/front-matter.png\">\r\n\r\n\r\n<style>:root{--epcl-font-family:\"DM
        Sans\",sans-serif;--epcl-title-font-family:\"Urbanist\",sans-serif;--epcl-font-size:16px;--epcl-line-height:1.9;--epcl-font-size-editor:17px;--epcl-line-height-editor:1.9;--epcl-main-color:var(--ghost-accent-color);--epcl-secondary-color:#FF2AAC;--epcl-titles-color:#282424;--epcl-black:#282424;--epcl-meta-color:#4D6385;--epcl-background-color:#FAF8FF;--epcl-boxes-background-color:#fff;--epcl-boxes-border-color:#E9E8FF;--epcl-border-color:#E9E8FF;--epcl-boxes[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/rceh7pn-tzg61kj-7zv63
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
        Matter"}],"indexed":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:42:09Z","timestamp":1764250929733,"version":"3.46.0"},"posted":{"date-parts":[[2021,11,15]]},"group-title":"Front
        Matter","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2021,11,15]],"date-time":"2021-11-15T00:00:00Z","timestamp":1636934400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2021,11,15]],"date-time":"2021-11-15T00:00:00Z","timestamp":1636934400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>In
        October Jen Gibson started as the new Executive Director for the Dryad Data
        Repository. I used the opportunity to ask Jen a few questions about Dryad,
        challenges with data sharing, and ideas about moving Dryad forward. I was
        particularly interested in the interview as I served on the Dryad Board of
        Directors from 2013 to 2016.<\/jats:p>","DOI":"10.53731\/rceh7pn-tzg61kj-7zv63","type":"posted-content","created":{"date-parts":[[2021,11,15]],"date-time":"2021-11-15T07:11:15Z","timestamp":1636960275000},"source":"Crossref","is-referenced-by-count":0,"title":["Dryad:
        Interview with Jen Gibson"],"prefix":"10.59350","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.de\/posts\/dryad-interview-jen-gibson\/","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/rceh7pn-tzg61kj-7zv63.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/rceh7pn-tzg61kj-7zv63.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/rceh7pn-tzg61kj-7zv63.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/rceh7pn-tzg61kj-7zv63.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/rceh7pn-tzg61kj-7zv63.md","content-type":"text\/markdown","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:39:14Z","timestamp":1764250754000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.de\/posts\/dryad-interview-jen-gibson\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2021,11,15]]},"references-count":0,"version":{"version":"v1"},"URL":"https:\/\/doi.org\/10.53731\/rceh7pn-tzg61kj-7zv63","relation":{},"subject":[],"published":{"date-parts":[[2021,11,15]]},"subtype":"other"}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
