interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/e2ecec16-405d-42da-8b4d-c746840398fa
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/027bh9e22","name":"Leiden
        University"}],"family":"van Eck","given":"Nees Jan","url":"https://orcid.org/0000-0001-8448-4521"},{"affiliation":[{"id":"https://ror.org/027bh9e22","name":"Leiden
        University"}],"family":"Waltman","given":"Ludo","url":"https://orcid.org/0000-0001-8249-1752"}],"blog":{"archive_collection":24082,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":[{"name":"Leiden
        Madtrics","url":null}],"canonical_url":null,"category":"socialScience","community_id":"d8304840-75c2-4164-bc37-ec879c4f065b","created_at":1682899200,"current_feed_url":null,"description":"Leiden
        Madtrics","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://www.leidenmadtrics.nl/atom/","filter":null,"funding":null,"generator":"Other","generator_raw":"Other","home_page_url":"https://www.leidenmadtrics.nl/","id":"a0920819-e194-4514-bca4-5f0837e10c51","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1728549179,"relative_url":null,"ror":"https://ror.org/027bh9e22","secure":true,"slug":"leidenmadtrics","status":"active","subfield":"1804","title":"Leiden
        Madtrics","updated_at":1764570580,"use_api":null,"use_mastodon":false,"user_id":"ae88df6b-e1cf-4743-86a8-c032659cf5d2"},"blog_name":"Leiden
        Madtrics","blog_slug":"leidenmadtrics","citations":[{"citation":"https://doi.org/10.1002/asi.24950","published_at":"2024-08-30","unstructured":"Fang,
        Z., Ho, C., Han, Z., &amp; Wu, P. (2024). How fast do scholarly papers get
        read by various user groups? A longitudinal and cross\u2010disciplinary analysis
        of the evolution of Mendeley readership. <i>Journal of the Association for
        Information Science and Technology</i>. https://doi.org/10.1002/asi.24950","updated_at":"2025-02-02T19:19:53.825326+00:00","validated":true},{"citation":"https://doi.org/10.1002/asi.25010","published_at":"2025-04-30","unstructured":"Lepori,
        B., Bornmann, L., &amp; Gay, M. (2025). Finding \u201csimilar\u201d universities
        using ChatGPT for institutional benchmarking: A large\u2010scale comparison
        of European universities. <i>Journal of the Association for Information Science
        and Technology</i>. https://doi.org/10.1002/asi.25010","updated_at":"2025-08-02T16:42:14.364337+00:00","validated":true},{"citation":"https://doi.org/10.1002/asi.70002","published_at":"2025-06-20","unstructured":"Zhang,
        Y., &amp; Fang, Z. (2025). The Tower of Babel in science communication on
        social media: An analysis of linguistic diversity in Twitter mentions of scientific
        publications. <i>Journal of the Association for Information Science and Technology</i>.
        https://doi.org/10.1002/asi.70002","updated_at":"2025-08-02T16:42:23.735048+00:00","validated":true},{"citation":"https://doi.org/10.1007/s11192-024-05039-7","published_at":"2024-04-29","unstructured":"Bornmann,
        L., &amp; Lepori, B. (2024). The use of ChatGPT to find similar institutions
        for institutional benchmarking. <i>Scientometrics</i>, <i>129</i>(6), 3593\u20133598.
        https://doi.org/10.1007/s11192-024-05039-7","updated_at":"2025-02-02T19:18:49.552406+00:00","validated":tru[...]
