interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/dryad-interview-jen-gibson
  response:
    content: ''
    headers:
      Ghost-Age:
      - '0'
      Ghost-Cache:
      - MISS
      Ghost-Fastly:
      - 'true'
      Status:
      - 301 Moved Permanently
      location:
      - /posts/dryad-interview-jen-gibson/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/dryad-interview-jen-gibson/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n
      \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
      \   <title>Dryad: Interview with Jen Gibson</title>\n    <link rel=\"stylesheet\"
      href=\"https://blog.front-matter.io/assets/built/screen.css?v=7078de6b54\">\n\n
      \   <meta name=\"citation_doi\" content=\"https://doi.org/10.53731/rceh7pn-tzg61kj-7zv63\">\n
      \   <meta name=\"citation_title\" content=\"Dryad: Interview with Jen Gibson\">\n
      \   <meta name=\"citation_abstract\" content=\"In October Jen Gibson started
      as the new Executive Director for the Dryad Data Repository. I used the opportunity
      to ask Jen a few questions a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    content: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
