interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1101
  response:
    content: "[\n  {\n    \"DOI\": \"10.1101\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1101/2020.12.01.406702
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2024,2,7]],"date-time":"2024-02-07T05:28:25Z","timestamp":1707283705560},"posted":{"date-parts":[[2020,12,1]]},"group-title":"Microbiology","reference-count":61,"publisher":"Cold
      Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2022,1,5]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Bacterial
      membrane lipids are critical for membrane bilayer formation, cell division,
      protein localization, stress responses, and pathogenesis. Despite their critical
      roles, membrane lipids have not been fully elucidated for many pathogens. Here,
      we report the discovery of a novel cationic glycolipid, Lysyl-Glucosyl-Diacylglycerol
      (Lys-Glc-DAG) that is synthesized in high abundance by the bacterium <jats:italic>Streptococcus
      agalactiae<\/jats:italic> (Group B <jats:italic>Streptococcus<\/jats:italic>,
      GBS). To our knowledge, Lys-Glc-DAG is more positively charged than any other
      known lipids. Lys-Glc-DAG carries two positive net charges per molecule, distinct
      from the widely described lysylated phospholipid Lysyl-phosphatidylglycerol
      (Lys-PG) which carries one positive net charge due to the presence of a negatively
      charged phosphate moiety. We use normal phase liquid [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/246
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521447042,"primary-name":"Cold
      Spring Harbor Laboratory","counts":{"current-dois":103267,"backfile-dois":210693,"total-dois":313960},"breakdowns":{"dois-by-issued-year":[[2020,53638],[2023,50980],[2021,50445],[2022,46951],[2019,31261],[2018,22041],[2017,12746],[2016,6114],[2024,5336],[2006,3608],[2015,3299],[2014,2295],[2009,1926],[2007,1796],[2010,1754],[2008,1646],[2013,1453],[2011,1419],[2012,1356],[2004,951],[2003,872],[2005,861],[2001,801],[2002,781],[2000,774],[1999,714],[1998,707],[1997,515],[1996,504],[1995,448],[1994,441],[1993,389],[1992,364],[1991,336],[1990,304],[1989,304],[1988,283],[1974,235],[1983,228],[1987,227],[1979,154],[1980,143],[1986,129],[1978,122],[1981,117],[1985,107],[1970,101],[1977,98],[1968,97],[1984,95],[1982,95],[1969,94],[1966,94],[1973,84],[1963,79],[1972,74],[1967,72],[1950,63],[1976,62],[1965,60],[1960,53],[1964,50],[1962,49],[1961,48],[1937,43],[1953,42],[1957,39],[1958,38],[1951,37],[1938,37],[1935,37],[1936,36],[1955,34],[1941,34],[1939,34],[1934,32],[1956,31],[1954,29],[1946,29],[1933,29],[1959,28],[1952,28],[1940,28],[1948,27],[1947,27],[1942,18]]},"prefixes":["10.1261","10.1110","10.1101","10.14224"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.01877138775374597,"licenses-backfile":5.220866379044392E-5,"funders-current":0.007010952191890924,"affiliations-backfile":4.746242162767629E-6,"resource-links-backfile":4.746242162767629E-6,"orcids-backfile":0.5705078004489945,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.8080412910223014,"similarity-checking-backfile":0.9923110876963164,"references-backfile":0.8988528332692591,"descriptions-backfile":0.0,"award-numbers-backfile":0.01720512784003265,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.006546137681931304,"abstracts-backfile":0.9154741733232713,"resource-links-current":0.0,"abstracts-current":0.9949064076616925,"references-current":0.9849806811469298},"prefix":[{"name":"Cold
      Spring Harbor Laboratory","value":"10.1261"},{"name":"","value":"10.1110"},{"name":"Cold
      Spring Harbor Laboratory","value":"10.1101"},{"name":"Cold Spring Harbor Laboratory
      - CSHL Library & Archives","value":"10.14224"}],"id":246,"tokens":["cold","spring","harbor","laboratory"],"counts-type":{"all":{"report":20,"journal-article":40228,"journal":8,"posted-content":273710,"journal-issue":2},"backfile":{"report":20,"journal-article":38602,"posted-content":172069,"journal-issue":2},"current":{"journal-article":1626,"posted-content":101641}},"coverage-type":{"all":{"report":{"last-status-check-time":1707521447042,"affiliations":0.0,"abstracts":0.0,"orcids":0.35,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.1,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1707521447042,"affiliations":2.485830764641543E-5,"abstracts":0.549666898677538,"orcids":0.06771403002883564,"licenses":2.734413841105698E-4,"references":0.6153425474793676,"funders":0.1163120214775778,"similarity-checking":0.9602267077657353,"award-numbers":0.1069155811872328,"ror-ids":0.0,"update-policies":0.0,"resource-links":2.485830764641543E-5,"descriptions":0.0},"journal":{"last-status-check-time":1707521447042,"affiliations":0.0,"abstracts[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1101
  response:
    content: "[\n  {\n    \"DOI\": \"10.1101\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
