interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/de2ng-zbq88
  response:
    body:
      string: '{"id": "de2ng-zbq88", "created": "2024-10-14T10:02:44.873092+00:00",
        "updated": "2026-07-24T11:31:00.752489+00:00", "links": {"self": "https://rogue-scholar.org/api/records/de2ng-zbq88",
        "self_html": "https://rogue-scholar.org/records/de2ng-zbq88", "preview_html":
        "https://rogue-scholar.org/records/de2ng-zbq88?preview=1", "doi": "https://doi.org/10.54900/zwm7q-vet94",
        "self_doi": "https://doi.org/10.54900/zwm7q-vet94", "self_doi_html": "https://rogue-scholar.org/doi/10.54900/zwm7q-vet94",
        "reserve_doi": "https://rogue-scholar.org/api/records/de2ng-zbq88/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/kktve-tdr43", "parent_html":
        "https://rogue-scholar.org/records/kktve-tdr43", "parent_doi": "https://doi.org/10.54900/kktve-tdr43",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.54900/kktve-tdr43", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:de2ng-zbq88/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:de2ng-zbq88/sequence/default",
        "files": "https://rogue-scholar.org/api/records/de2ng-zbq88/files", "media_files":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/media-files", "archive":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/de2ng-zbq88/latest", "versions": "https://rogue-scholar.org/api/records/de2ng-zbq88/versions",
        "draft": "https://rogue-scholar.org/api/records/de2ng-zbq88/draft", "access_links":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access/request", "access":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/access", "communities":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/de2ng-zbq88/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/de2ng-zbq88/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/de2ng-zbq88/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/de2ng-zbq88/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/de2ng-zbq88/requests"},
        "revision_id": 67, "parent": {"id": "kktve-tdr43", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b", "fbc3bd5a-137e-4366-94ae-92a6e9d744e3"],
        "default": "b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b", "entries": [{"id": "b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b",
        "created": "2024-10-05T11:02:14.834230+00:00", "updated": "2026-08-22T09:06:37.914260+00:00",
        "links": {}, "revision_id": 3856, "slug": "upstream", "metadata": {"title":
        "Upstream", "description": "The community blog for all things Open Research.",
        "type": {"id": "blog"}, "website": "https://upstream.force11.org"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://upstream.force11.org/atom-complete/", "feed:current_feed_url":
        "https://upstream.force11.org/atom/", "feed:created": "2023-01-13", "feed:updated":
        "2026-08-04T12:36:38+00:00", "feed:feed_format": {"id": "atom"}, "feed:generator":
        {"id": "Ghost"}, "feed:status": {"id": "active"}, "feed:secure": true, "feed:use_api":
        true, "rs:prefix": {"id": "10.54900"}, "rs:doi": "https://doi.org/10.54900/upstream",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1802"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "fbc3bd5a-137e-4366-94ae-92a6e9d744e3",
        "created": "2025-02-11T17:20:32.633964+00:00", "updated": "2025-12-02T20:56:11.605253+00:00",
        "links": {}, "revision_id": 11, "slug": "1802", "metadata": {"title": "Information
        Systems and Management", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1802"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.54900/kktve-tdr43", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.54900/zwm7q-vet94", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:de2ng-zbq88", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Katz, Daniel S.", "given_name": "Daniel S.",
        "family_name": "Katz", "identifiers": [{"identifier": "0000-0001-5934-7525",
        "scheme": "orcid"}]}, "affiliations": [{"id": "047426m28", "name": "University
        of Illinois Urbana-Champaign", "identifiers": [{"identifier": "047426m28",
        "scheme": "ror"}]}]}, {"person_or_org": {"type": "personal", "name": "Barker,
        Michelle", "given_name": "Michelle", "family_name": "Barker"}}], "title":
        "The Research Software Alliance (ReSA)", "publisher": "Front Matter", "publication_date":
        "2023-04-18", "subjects": [{"id": "https://openalex.org/subfields/1802", "subject":
        "Information Systems and Management", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?5.2",
        "subject": "Economics and business", "scheme": "FOS"}, {"id": "https://openalex.org/T11986",
        "subject": "Scientific Computing and Data Management", "scheme": "Topics"},
        {"subject": "News"}], "dates": [{"date": "2023-04-18T12:36:52", "type": {"id":
        "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-01-24T18:35:19", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "https://doi.org/10.54900/zwm7q-vet94",
        "scheme": "guid"}, {"identifier": "https://upstream.force11.org/the-research-software-alliance-resa/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Research software is a key part of most
        research today.", "references": [{"identifier": "https://www.software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers",
        "scheme": "url", "reference": "It''s impossible to conduct research without
        software, say 7 out of 10 UK researchers. Accessed April 13, 2023."}, {"identifier":
        "10.6084/m9.figshare.5328442.v3", "scheme": "doi", "reference": "Nangia, U.,
        &amp; Katz, D. S. (2017). <i>Track 1 Paper: Surveying the U.S. National Postdoctoral
        Association Regarding Software Use and Training in Research</i>. figshare."},
        {"identifier": "10.54900/9akm9y5-5ject5y", "scheme": "doi", "reference": "van
        Ni[...]
