interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/ztadp-fzw85
  response:
    body:
      string: '{"id": "ztadp-fzw85", "created": "2024-10-13T15:52:11.388624+00:00",
        "updated": "2026-08-20T07:02:40.409976+00:00", "links": {"self": "https://rogue-scholar.org/api/records/ztadp-fzw85",
        "self_html": "https://rogue-scholar.org/records/ztadp-fzw85", "preview_html":
        "https://rogue-scholar.org/records/ztadp-fzw85?preview=1", "doi": "https://doi.org/10.59350/qc0px-76778",
        "self_doi": "https://doi.org/10.59350/qc0px-76778", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/qc0px-76778",
        "reserve_doi": "https://rogue-scholar.org/api/records/ztadp-fzw85/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/gygeh-nv475", "parent_html":
        "https://rogue-scholar.org/records/gygeh-nv475", "parent_doi": "https://doi.org/10.59350/gygeh-nv475",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/gygeh-nv475", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:ztadp-fzw85/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:ztadp-fzw85/sequence/default",
        "files": "https://rogue-scholar.org/api/records/ztadp-fzw85/files", "media_files":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/media-files", "archive":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/ztadp-fzw85/latest", "versions": "https://rogue-scholar.org/api/records/ztadp-fzw85/versions",
        "draft": "https://rogue-scholar.org/api/records/ztadp-fzw85/draft", "access_links":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access/request", "access":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/access", "communities":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/ztadp-fzw85/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/ztadp-fzw85/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/ztadp-fzw85/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/ztadp-fzw85/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/ztadp-fzw85/requests"},
        "revision_id": 101, "parent": {"id": "gygeh-nv475", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["71182a6b-1cda-4f6e-b793-5b4fa36942b5", "d8304840-75c2-4164-bc37-ec879c4f065b"],
        "default": "d8304840-75c2-4164-bc37-ec879c4f065b", "entries": [{"id": "71182a6b-1cda-4f6e-b793-5b4fa36942b5",
        "created": "2025-12-02T20:36:11.735038+00:00", "updated": "2025-12-02T20:55:30.964343+00:00",
        "links": {}, "revision_id": 3, "slug": "1804", "metadata": {"title": "Statistics,
        Probability and Uncertainty", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1804"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d8304840-75c2-4164-bc37-ec879c4f065b", "created": "2024-10-05T08:13:02.376916+00:00",
        "updated": "2026-08-22T09:03:29.730820+00:00", "links": {}, "revision_id":
        3557, "slug": "leidenmadtrics", "metadata": {"title": "Leiden Madtrics", "description":
        "Leiden Madtrics", "type": {"id": "blog"}, "website": "https://www.leidenmadtrics.nl/"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://www.leidenmadtrics.nl/atom/", "feed:created": "2026-06-08",
        "feed:updated": "2026-07-16T09:23:27+00:00", "feed:feed_format": {"id": "atom"},
        "feed:generator": {"id": "Other"}, "feed:status": {"id": "active"}, "feed:authors":
        [{"name": "Leiden Madtrics"}], "rs:prefix": {"id": "10.59350"}, "rs:doi":
        "https://doi.org/10.59350/leidenmadtrics", "rs:license": {"id": "cc-by-4.0"},
        "rs:language": {"id": "eng"}, "rs:subfield": [{"id": "https://openalex.org/subfields/1804"}]},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        true}}]}, "pids": {"doi": {"identifier": "10.59350/gygeh-nv475", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/qc0px-76778", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:ztadp-fzw85", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "van Eck, Nees Jan", "given_name": "Nees Jan",
        "family_name": "van Eck", "identifiers": [{"identifier": "0000-0001-8448-4521",
        "scheme": "orcid"}]}, "affiliations": [{"id": "027bh9e22", "name": "Leiden
        University", "identifiers": [{"identifier": "027bh9e22", "scheme": "ror"}]}]},
        {"person_or_org": {"type": "personal", "name": "Waltman, Ludo", "given_name":
        "Ludo", "family_name": "Waltman", "identifiers": [{"identifier": "0000-0001-8249-1752",
        "scheme": "orcid"}]}, "affiliations": [{"id": "027bh9e22", "name": "Leiden
        University", "identifiers": [{"identifier": "027bh9e22", "scheme": "ror"}]}]}],
        "title": "An open approach for classifying research publications", "publisher":
        "Front Matter", "publication_date": "2024-01-24", "subjects": [{"id": "https://openalex.org/subfields/1804",
        "subject": "Statistics, Probability and Uncertainty", "scheme": "Subfields"}],
        "dates": [{"date": "2024-01-24T15:00:00", "type": {"id": "issued", "title":
        {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date":
        "2025-09-28T11:39:58", "type": {"id": "updated", "title": {"de": "Aktualisiert",
        "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title":
        {"en": "English"}}], "identifiers": [{"identifier": "e2ecec16-405d-42da-8b4d-c746840398fa",
        "scheme": "uuid"}, {"identifier": "https://www.leidenmadtrics.nl/articles/an-open-approach-for-classifying-research-publications",
        "scheme": "guid"}, {"identifier": "https://www.leidenmadtrics.nl/articles/an-open-approach-for-classifying-research-publications",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Classifying research publications into
        research topics or research areas is crucial for many bibliometric analyses.
        While there are lots of approaches for classifying publications, most of these
        approaches lack transparency."}, "custom_fields": {"journal:journal": {"title":
        "Leiden Madtrics"}, "rs:content_html": "<p dir=\"ltr\">Classifying research
        publications in[...]
