interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/49yb9-h8k11
  response:
    body:
      string: '{"id": "49yb9-h8k11", "created": "2025-08-12T16:46:38.675189+00:00",
        "updated": "2025-08-13T08:56:32.607757+00:00", "links": {"self": "https://rogue-scholar.org/api/records/49yb9-h8k11",
        "self_html": "https://rogue-scholar.org/records/49yb9-h8k11", "preview_html":
        "https://rogue-scholar.org/records/49yb9-h8k11?preview=1", "doi": "https://handle.stage.datacite.org/10.64000/wd6rx-vpq73",
        "self_doi": "https://handle.stage.datacite.org/10.64000/wd6rx-vpq73", "self_doi_html":
        "https://rogue-scholar.org/doi/10.64000/wd6rx-vpq73", "reserve_doi": "https://rogue-scholar.org/api/records/49yb9-h8k11/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/2vyah-dc583", "parent_html":
        "https://rogue-scholar.org/records/2vyah-dc583", "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:49yb9-h8k11/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:49yb9-h8k11/sequence/default",
        "files": "https://rogue-scholar.org/api/records/49yb9-h8k11/files", "media_files":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/media-files", "archive":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/49yb9-h8k11/latest", "versions": "https://rogue-scholar.org/api/records/49yb9-h8k11/versions",
        "draft": "https://rogue-scholar.org/api/records/49yb9-h8k11/draft", "access_links":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/request", "access":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access", "communities":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/communities-suggestions",
        "requests": "https://rogue-scholar.org/api/records/49yb9-h8k11/requests"},
        "revision_id": 5, "parent": {"id": "2vyah-dc583", "access": {"owned_by": {"user":
        "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["093ada45-3a02-4007-b8b6-be28f221e01d", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "093ada45-3a02-4007-b8b6-be28f221e01d", "entries": [{"id": "093ada45-3a02-4007-b8b6-be28f221e01d",
        "created": "2025-03-19T18:43:14.713108+00:00", "updated": "2025-08-13T07:38:29.762149+00:00",
        "links": {}, "revision_id": 154, "slug": "crossref", "metadata": {"title":
        "Crossref Blog", "description": "Recent content in Blog on Crossref", "type":
        {"id": "blog"}, "website": "https://www.crossref.org/blog/"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"rs:feed_url": "https://www.crossref.org/blog/feed.xml",
        "rs:prefix": "10.64000", "rs:joined": "November 7, 2024", "rs:feed_format":
        "application/atom+xml", "rs:generator": "Hugo", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Computer and information sciences"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created": "2025-02-10T08:12:28.813373+00:00",
        "updated": "2025-06-30T16:00:16.024136+00:00", "links": {}, "revision_id":
        6, "slug": "computerandinformationsciences", "metadata": {"title": "Computer
        and information sciences", "description": "Computer and information sciences
        subject area.", "type": {"id": "subject"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"doi": {"identifier": "10.64000/wd6rx-vpq73", "provider":
        "external"}, "oai": {"identifier": "oai:invenio-rdm:49yb9-h8k11", "provider":
        "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost", "title":
        {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Bowman, Sara", "given_name":
        "Sara", "family_name": "Bowman"}}], "title": "We''ve migrated to the cloud;
        we hope you didn''t notice (but maybe you did)", "publisher": "Front Matter",
        "publication_date": "2025-08-12", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Cloud"}, {"subject": "Crossref"}, {"subject": "Data Centre"}, {"subject":
        "Infrastructure"}], "dates": [{"date": "2025-08-12T02:00:00", "type": {"id":
        "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-08-12T02:00:00", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "137b87a8-b485-4901-b9de-6398ecf90d8e",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.64000/wd6rx-vpq73",
        "scheme": "guid"}, {"identifier": "https://www.crossref.org/blog/weve-migrated-to-the-cloud-we-hope-you-didnt-notice-but-maybe-you-did/",
        "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "TLDR: We''ve successfully moved the main
        Crossref systems to the cloud! We''ve more to do, with several bugs identified
        and fixed, and a few still ongoing. However, it''s a step in the right direction
        and a significant milestone, as, whilst it is a much larger financial investment,
        it addresses several risks and limitations and shores up the Crossref infrastructure
        for the future.", "references": [{"identifier": "https://en.wikipedia.org/wiki/Infrastructure_as_code",
        "scheme": "url", "reference": "projects, C. to W. (2016). <i>Infrastructure
        as code</i>. Wikimedia Foundation, Inc."}, {"identifier": "10.64000/4s2ee-wkr84",
        "scheme": "doi", "reference": "Bowman, S., Cousijn, H., Rittman, M., &amp;
        Stoll, L. (2025). The programs approach: our experiences during the first
        quarter of 2025. In <i>Crossref Blog</i>. Crossref."}]}, "custom_fields":
        {"journal:journal": {"title": "Crossref Blog"}, "rs:content_html": "<p>TLDR:
        We''ve successfully moved the main Crossref systems to the cloud! We''ve more
        to do, with several bugs identified and fixed, and a few still ongoing. However,
        it''s a step in the right direction and a significant milestone, as, whilst
        it is a much larger financial investment, it addresses several risks and limitations
        and shores up the Crossref infrastructure for the future.</p>\n<h3 id=\"some-background\">Some
        background</h3>\n<p>We have been doing a lot of thinking, planning, and working
        on paying down our technical debt and modernising our systems. It''s not fun
        and flashy work, but it is vital for sustaining our infrastructure, meeting
        the demand on existing services, and developing new services.</p>\n<p>Just
        about a year ago, we completed phase one, migrating our main database from
        Oracle to PostgreSQL, an open-source data[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-content.xsd\"/>\n   <xs:include schemaLocation=\"mathml3-presentation.xsd\"/>\n
        \  <xs:include schemaLocation=\"mathml3-common.xsd\"/>\n</xs:schema>"
    headers:
      Content-Type:
      - application/xml
      etag:
      - W/"1b3-477e54b286fc0-gzip"
      last-modified:
      - Mon, 09 Nov 2009 00:29:59 GMT
      x-backend:
      - www-mirrors
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-strict-content.xsd\"/>\n   <xs:complexType name=\"cn.content\"
        mixed=\"true\">\n      <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\n
        \        <xs:element ref=\"m:mglyph\"/>\n         <xs:element ref=\"m:sep\"/>\n
        \        <xs:element ref=\"m:PresentationExpression\"/>\n      </xs:choice>\n
        \  </xs:complexType>\n   <xs:attributeGroup name=\"cn.attributes\">\n      <xs:attributeGroup
        ref=\"m:CommonAtt\"/>\n      <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute
        name=\"type\"/>\n      <xs:attribute name=\"base\"/>\n   </xs:attributeGroup>\n
        \  <xs:attributeGroup name=\"ci.attributes\">\n      <xs:attributeGroup ref=\"m:CommonAtt\"/>\n
        \     <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute name=\"type\"/>\n
        \  </xs:attributeGroup>\n   <xs:attributeGroup name=\"ci.type\">\n      <xs:attribute
        name=\"type\" use=\"required\"/>\n   </xs:attributeGroup>\n   <xs:complexType
        name=\"ci.content\" mixed=\"true\">\n      <xs:choice minOccurs=\"0\" m[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-strict-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:group
        name=\"ContExp\">\n      <xs:choice>\n<!--Ambiguous content model altered
        (ContExp)-->\n         <xs:element ref=\"m:apply\"/>\n         <xs:element
        ref=\"m:bind\"/>\n         <xs:element ref=\"m:ci\"/>\n         <xs:element
        ref=\"m:cn\"/>\n         <xs:element ref=\"m:csymbol\"/>\n         <xs:element
        ref=\"m:cbytes\"/>\n         <xs:element ref=\"m:cerror\"/>\n         <xs:element
        ref=\"m:cs\"/>\n         <xs:element ref=\"m:share\"/>\n         <xs:element
        ref=\"m:piecewise\"/>\n         <xs:element ref=\"m:DeprecatedContExp\"/>\n
        \        <xs:element ref=\"m:interval.class\"/>\n         <xs:element ref=\"m:unary-functional.class\"/>\n
        \        <xs:element ref=\"m:lambda.class\"/>\n         <xs:element ref=\"m:nary-functional.class\"/>\n
        \        <xs:group ref=\"m:binary-arith.class\"/>\n         <xs:group ref=\"m:unary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-minmax.class\"/>\n         <xs:element ref=\"m:nary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-logical.class\"/>\n         <xs:element
        ref=\"m:unary-logical.class\"/>\n         <xs:element ref=\"m:binary-logical.class\"/>\n
        \        <xs:element ref=\"m:quantifier.class\"/>\n         <xs:element ref=\"m:nary-reln.class\"/>\n
        \       [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-presentation.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:complexType
        name=\"ImpliedMrow\">\n      <xs:group minOccurs=\"0\" maxOccurs=\"unbounded\"
        ref=\"m:MathExpression\"/>\n   </xs:complexType>\n   <xs:element name=\"TableRowExpression\"
        abstract=\"true\"/>\n   <xs:element name=\"TableCellExpression\" abstract=\"true\">\n
        \     <xs:complexType>\n         <xs:complexContent>\n            <xs:extension
        base=\"m:ImpliedMrow\">\n               <xs:attributeGroup ref=\"m:mtd.attributes\"/>\n
        \           </xs:extension>\n         </xs:complexContent>\n      </xs:complexType>\n
        \  </xs:element>\n   <xs:group name=\"MstackExpression\">\n      <xs:choice>\n
        \        <xs:group ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:mscarries\"/>\n
        \        <xs:element ref=\"m:msline\"/>\n         <xs:element ref=\"m:msrow\"/>\n
        \        <xs:element ref=\"m:msgroup\"/>\n      </xs:choice>\n   </xs:group>\n
        \  <xs:group name=\"MsrowExpression\">\n      <xs:choice>\n         <xs:group
        ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:none\"/>\n      </xs:choice>\n
        \  </xs:group>\n   <xs:group name=\"MultiScriptExpression\">\n      <xs:sequence>\n
        \        <xs:choice>\n            <xs:group ref=\"m:MathExpression\"/>\n            <xs:element
        ref=\"m:none\"/>\n         </xs:choice>\n         <xs:choice>\n            <xs:group
        ref=\"m:MathExpression\"/>\n            <xs:element ref=\"m:none\"/>\n         </xs:choice>\n
        \     </xs:sequence>\n   </xs:group>\n   <xs:simpleType name=\"mpadded-length\">\n
        \     <xs:restriction base=\"xs:string\">\n         <xs:pattern value=\"\\s*([\\+\\-]?[0-9]*([0-9]\\.?|\\.[0-9])[0-9]*\\s*((%?\\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\\s*\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"linestyle\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"none\"/>\n
        \        <xs:enumeration value=\"solid\"/>\n         <xs:enumeration value=\"dashed\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"verticalalign\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"top\"/>\n
        \        <xs:enumeration value=\"bottom\"/>\n         <xs:enumeration value=\"center\"/>\n
        \        <xs:enumeration value=\"baseline\"/>\n         <xs:enumeration value=\"axis\[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-common.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:element
        name=\"math\">\n      <x[...]
