interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/nz4pe-q7x23
  response:
    body:
      string: '{"id": "nz4pe-q7x23", "created": "2024-10-09T15:44:49.878512+00:00",
        "updated": "2026-03-16T23:37:09.202486+00:00", "links": {"self": "https://rogue-scholar.org/api/records/nz4pe-q7x23",
        "self_html": "https://rogue-scholar.org/records/nz4pe-q7x23", "preview_html":
        "https://rogue-scholar.org/records/nz4pe-q7x23?preview=1", "doi": "https://doi.org/10.59350/sjrdz-3cm71",
        "self_doi": "https://doi.org/10.59350/sjrdz-3cm71", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/sjrdz-3cm71",
        "reserve_doi": "https://rogue-scholar.org/api/records/nz4pe-q7x23/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/zhjk9-4bd81", "parent_html":
        "https://rogue-scholar.org/records/zhjk9-4bd81", "parent_doi": "https://doi.org/10.59350/zhjk9-4bd81",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/zhjk9-4bd81", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:nz4pe-q7x23/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:nz4pe-q7x23/sequence/default",
        "files": "https://rogue-scholar.org/api/records/nz4pe-q7x23/files", "media_files":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/media-files", "archive":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/nz4pe-q7x23/latest", "versions": "https://rogue-scholar.org/api/records/nz4pe-q7x23/versions",
        "draft": "https://rogue-scholar.org/api/records/nz4pe-q7x23/draft", "access_links":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access/request", "access":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/access", "communities":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/nz4pe-q7x23/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/nz4pe-q7x23/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/nz4pe-q7x23/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/nz4pe-q7x23/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/nz4pe-q7x23/requests"},
        "revision_id": 100, "parent": {"id": "zhjk9-4bd81", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["8fb94c86-e95f-41cf-aac2-a2877ffc1b5f", "f186660c-c392-4849-8b1e-736e32d711a4"],
        "default": "8fb94c86-e95f-41cf-aac2-a2877ffc1b5f", "entries": [{"id": "8fb94c86-e95f-41cf-aac2-a2877ffc1b5f",
        "created": "2024-08-30T15:08:35.232588+00:00", "updated": "2026-08-22T09:05:59.809307+00:00",
        "links": {}, "revision_id": 3848, "slug": "rzepa", "metadata": {"title": "Henry
        Rzepa''s Blog", "description": "Chemistry with a twist", "type": {"id": "blog"},
        "website": "https://www.ch.ic.ac.uk/rzepa/blog"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://www.ch.ic.ac.uk/rzepa/blog/?feed=atom",
        "feed:created": "2023-08-27", "feed:updated": "2026-08-21T06:25:27+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress"},
        "feed:status": {"id": "active"}, "feed:authors": [{"name": "Henry Rzepa",
        "url": "https://orcid.org/0000-0002-8635-8390"}], "feed:secure": true, "feed:use_api":
        true, "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/rzepa",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1606"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "f186660c-c392-4849-8b1e-736e32d711a4",
        "created": "2024-10-02T18:13:16.798296+00:00", "updated": "2025-12-02T20:55:49.612431+00:00",
        "links": {}, "revision_id": 28, "slug": "1606", "metadata": {"title": "Physical
        and Theoretical Chemistry", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1606"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/zhjk9-4bd81", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/sjrdz-3cm71", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:nz4pe-q7x23", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Rzepa, Henry", "given_name": "Henry", "family_name":
        "Rzepa", "identifiers": [{"identifier": "0000-0002-8635-8390", "scheme": "orcid"}]},
        "affiliations": [{"id": "041kmwe10", "name": "Imperial College London", "identifiers":
        [{"identifier": "041kmwe10", "scheme": "ror"}]}]}], "title": "A one-electron
        bond in methyl-\u03bb1-borane.", "publisher": "Front Matter", "publication_date":
        "2024-10-09", "subjects": [{"id": "https://openalex.org/subfields/1606", "subject":
        "Physical and Theoretical Chemistry", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?1.4",
        "subject": "Chemical sciences", "scheme": "FOS"}, {"subject": "Interesting
        Chemistry"}], "dates": [{"date": "2024-10-09T15:19:23", "type": {"id": "issued",
        "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2026-03-05T07:59:19", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "51ad634e-3e89-4367-a419-7732c93291c5",
        "scheme": "uuid"}, {"identifier": "https://www.ch.ic.ac.uk/rzepa/blog/?p=27944",
        "scheme": "guid"}, {"identifier": "https://www.ch.ic.ac.uk/rzepa/blog/?p=27944",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "In exploring one-electron carbon-carbon
        bonds, I had noted previously that both hexafluoroethane and ethane itself
        could each lose an electron to produce such species. A discussion developed
        in which a molecule isoelectronic with ethane radical cation, namely the methyl-\u03bb1-borane
        radical (H3B-CH3) was proposed by Jacob.", "references": [{"reference": "H.
        Rzepa, \"A one-electron bond in methyl-\u03bb1-borane.\", 2024."}]}, "custom_fields":
        {"journal:journal": {"title": "Henry Rzepa''s Blog"}, "rs:content_html": "<div
        class=\"kcite-section\" kcite-section-id=\"27944\">\n<p>In exploring one-electron
        carbon-carbon bonds, I had noted previously<span id=\"cite_ITEM-27944-0\"
        name=\"citation\"><a href=\"#ITEM-27944-0\">[1]</a></span> that both hexafluoroethane
        and ethane itself could each lose an electron to produce such species. A discussion
        developed in which a molecule isoelectronic with ethane radical cation, namely
        the methyl-\u03bb1-borane radical (H<sub>3</sub>B-CH<sub>3</sub>) was <a href=\"https://www.ch.ic.ac.uk/rzepa/blog/?p=27870&amp;cpage=1#comment-813906\"
        target=\"_blank\" rel=\"noopener\">proposed by Jacob</a>. The optimised structure
        at the \u03c9B97XD/6-31G(d) level exhibited a B-C bond length of 1.57\u00c5,
        with two of the B-H hydrogens forming a a 3c-3e bond with boron and so a one-electron
        B-C bond was discounted. Here I take a closer look at this system.</p>\n<p><!--more--></p>\n<p>At
        the \u03c9B97XD/Def2-TZVPP level, I located an alternative structure with
        a longer B-C bond of 1.737\u00c5<span id=\"cite_ITEM-27944-1\" name=\"citation\"><a
        href=\"#ITEM-27944-1\">[2]</a></span> and an &#8220;agostic&#8221; like interaction
        between C and one B-H bond.</p>\n<p><img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27947\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3BCH3.jpg\"
        alt=\"\" width=\"500\" /></p>\n<p>The electron density difference maps between
        methyl-\u03bb1-borane and its mono cation is shown below and following it
        the density difference map between the corresponding anion and methyl-\u03bb1-borane
        radical. These are very similar to the maps obtained previously for hexafluoroethand
        and ethane \u00a0and support the hypothesis that the differences between the
        two-electron/zero-electron species and the one-electron radical originates
        at least in part in the B-C bond.</p>\n<p><img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27948\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_sub.cub_.jpg\"
        alt=\"\" width=\"500\" /><br />\n<img decoding=\"async\" class=\"aligncenter
        size-full wp-image-27949\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_anion-sub.jpg\"
        alt=\"\" width=\"500\" /></p>\n<p>A contour map of the negative region of
        the electron density Laplacian (-0.04 au) again shows that it lies along the
        B-C bond, suggesting covalency. Note the -ve Laplacian in the region of the
        agostic interaction! The NCI (non-covalent-interaction) plot is featureless.</p>\n<p><img
        decoding=\"async\" class=\"aligncenter size-full wp-image-27950\" src=\"https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2024/10/H3CBH3_lap.png\"
        alt=\"\" width=\"500\" /></p>\n<p>The computed methyl-\u03bb1-borane radical
        has a B-C stretching vibration corresponding to 494 cm<sup>-1</sup>, a Wiberg
        bond order of 0.660 and Wiberg bond index totals of 3.51 for carbon and 3.28
        for boron. These can all be reasonably interpreted as a one-electron &#8220;half&#8221;
        bond between C and B. With a computed bond length of 1.737\u00c5, it represents
        the shortest &#8220;one electron&#8221; bond thus far identified, and hence
        extends the length range of such bonds to around 1.16\u00c5.</p>\n<hr />\n<p><b>Postscript
        1</b><br />\nI also looked at the radical anion of H<sub>3</sub>B-BH<sub>3</sub><sup>&#8211;</sup>
        which is isoelectronic to methyl-\u03bb1-borane, revealing r<sub>B-B</sub>
        2.124\u00c5 and has a classic &#8220;ethane&#8221; D<sub>3d</sub> like structure.
        The electron density difference map between H<sub>3</sub>B-BH<sub>3</sub><sup>&#8211;</sup>
        and the neutral H<sub>3</sub>B-BH<sub>3</sub> is shown below, revealing in
        a consid[...]
