interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.rogue-scholar.org/api/records/baq1p-0py32
  response:
    body:
      string: '{"id": "baq1p-0py32", "created": "2025-09-24T16:11:42.565843+00:00",
        "updated": "2025-09-25T08:33:04.524823+00:00", "links": {"self": "https://staging.rogue-scholar.org/api/records/baq1p-0py32",
        "self_html": "https://staging.rogue-scholar.org/records/baq1p-0py32", "preview_html":
        "https://staging.rogue-scholar.org/records/baq1p-0py32?preview=1", "doi":
        "https://doi.org/10.53731/taha2-fvd76", "self_doi": "https://doi.org/10.53731/taha2-fvd76",
        "self_doi_html": "https://staging.rogue-scholar.org/doi/10.53731/taha2-fvd76",
        "reserve_doi": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/draft/pids/doi",
        "parent": "https://staging.rogue-scholar.org/api/records/t3d89-8jj38", "parent_html":
        "https://staging.rogue-scholar.org/records/t3d89-8jj38", "parent_doi": "https://doi.org/10.59350/t3d89-8jj38",
        "parent_doi_html": "https://staging.rogue-scholar.org/doi/10.59350/t3d89-8jj38",
        "self_iiif_manifest": "https://staging.rogue-scholar.org/api/iiif/record:baq1p-0py32/manifest",
        "self_iiif_sequence": "https://staging.rogue-scholar.org/api/iiif/record:baq1p-0py32/sequence/default",
        "files": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/files",
        "media_files": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/media-files",
        "archive": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/files-archive",
        "archive_media": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/media-files-archive",
        "latest": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/versions/latest",
        "latest_html": "https://staging.rogue-scholar.org/records/baq1p-0py32/latest",
        "versions": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/versions",
        "draft": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/draft",
        "access_links": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access/links",
        "access_grants": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access/grants",
        "access_users": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access/users",
        "access_groups": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access/groups",
        "access_request": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access/request",
        "access": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/access",
        "communities": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/communities",
        "communities-suggestions": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/communities-suggestions",
        "requests": "https://staging.rogue-scholar.org/api/records/baq1p-0py32/requests"},
        "revision_id": 25, "parent": {"id": "t3d89-8jj38", "access": {"owned_by":
        {"user": "1"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["9f88ce7e-fea3-4b79-b38b-b0d4c016fcae", "ddd86572-254d-4d8b-bec4-7afbaa668295"],
        "default": "9f88ce7e-fea3-4b79-b38b-b0d4c016fcae", "entries": [{"id": "9f88ce7e-fea3-4b79-b38b-b0d4c016fcae",
        "created": "2025-07-28T13:57:44.254946+00:00", "updated": "2025-07-28T13:57:44.290739+00:00",
        "links": {}, "revision_id": 2, "slug": "computerandinformationsciences", "metadata":
        {"title": "Computer and information sciences", "description": "Computer and
        information sciences subject area.", "type": {"id": "subject"}}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "ddd86572-254d-4d8b-bec4-7afbaa668295", "created": "2025-07-29T20:01:52.389455+00:00",
        "updated": "2025-07-29T20:01:52.706821+00:00", "links": {}, "revision_id":
        3, "slug": "roguescholar", "metadata": {"title": "Rogue Scholar", "description":
        "Blog posts about Rogue Scholar.", "type": {"id": "topic"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.59350/t3d89-8jj38", "provider": "crossref", "client":
        "crossref"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.53731/taha2-fvd76",
        "provider": "crossref", "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:baq1p-0py32",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Fenner, Martin",
        "given_name": "Martin", "family_name": "Fenner", "identifiers": [{"identifier":
        "0000-0003-1419-2405", "scheme": "orcid"}]}}], "title": "Report Rogue Scholar
        Advisory Board Meeting April 16, 2025", "publisher": "Front Matter", "publication_date":
        "2025-09-24", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Rogue Scholar"}], "dates": [{"date": "2025-09-24T10:32:00", "type": {"id":
        "issued", "title": {"cs": "Vyd\u00e1no", "de": "Ver\u00f6ffentlicht", "en":
        "Issued", "sv": "Utf\u00e4rdad"}}}, {"date": "2025-09-24T10:32:00", "type":
        {"id": "updated", "title": {"cs": "Aktualizov\u00e1no", "de": "Aktualisiert",
        "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title":
        {"en": "English"}}], "identifiers": [{"identifier": "1f739c27-65c1-4498-8200-906cfcbfc80f",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.53731/taha2-fvd76",
        "scheme": "guid"}, {"identifier": "https://blog.front-matter.io/posts/report-rogue-scholar-advisory-board-meeting-ap-16-2024/",
        "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "On April 16, 2025, the Rogue Scholar
        Advisory Board met for the third time since it started in January 2024. Since
        the last Advisory Board Meeting on October 24, Rogue Scholar has achieved
        several important milestones."}, "custom_fields": {"journal:journal": {"title":
        "Front Matter", "issn": "2749-9952"}, "rs:content_html": "<p>On April 16,
        2025, the Rogue Scholar Advisory Board met for the third time since it <a
        href=\"https://doi.org/10.53731/9yf86-p8541\"><u>started in January 202</u></a>4.
        Since the last Advisory Board Meeting on October 24, Rogue Scholar has achieved
        several important milestones.</p><p>In February, the Rogue Scholar Statistics
        page was relaunched as <a href=\"https://docs.rogue-scholar.org/dashboard.html\"><u>Rogue
        Scholar Dashboard</u></a>, displaying key indicators such as the number of
        participating blogs and archived blog posts, as well as the percentage of
        posts with ORCID and ROR identifiers, references, or funding. </p><figure
        class=\"kg-card kg-image-card\"><img src=\"https://blog.front-matter.io/content/images/2025/09/data-src-image-5130cdf2-4865-484f-90f0-1b9033ece85d.png\"
        class=\"kg-image\" alt=\"\" loading=\"lazy\" width=\"1600\" height=\"336\"
        srcset=\"https://blog.front-matter.io/content/images/size/w600/2025/09/data-src-image-5130cdf2-4865-484f-90f0-1b9033ece85d.png
        600w, https://blog.front-matter.io/content/images/size/w1000/2025/09/data-src-image-5130cdf2-4865-484f-90f0-1b9033ece85d.png
        1000w, https://blog.front[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-content.xsd\"/>\n   <xs:include schemaLocation=\"mathml3-presentation.xsd\"/>\n
        \  <xs:include schemaLocation=\"mathml3-common.xsd\"/>\n</xs:schema>"
    headers:
      Content-Type:
      - application/xml
      etag:
      - W/"1b3-477e54b286fc0-gzip"
      last-modified:
      - Mon, 09 Nov 2009 00:29:59 GMT
      x-backend:
      - www-mirrors
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:include
        schemaLocation=\"mathml3-strict-content.xsd\"/>\n   <xs:complexType name=\"cn.content\"
        mixed=\"true\">\n      <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\n
        \        <xs:element ref=\"m:mglyph\"/>\n         <xs:element ref=\"m:sep\"/>\n
        \        <xs:element ref=\"m:PresentationExpression\"/>\n      </xs:choice>\n
        \  </xs:complexType>\n   <xs:attributeGroup name=\"cn.attributes\">\n      <xs:attributeGroup
        ref=\"m:CommonAtt\"/>\n      <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute
        name=\"type\"/>\n      <xs:attribute name=\"base\"/>\n   </xs:attributeGroup>\n
        \  <xs:attributeGroup name=\"ci.attributes\">\n      <xs:attributeGroup ref=\"m:CommonAtt\"/>\n
        \     <xs:attributeGroup ref=\"m:DefEncAtt\"/>\n      <xs:attribute name=\"type\"/>\n
        \  </xs:attributeGroup>\n   <xs:attributeGroup name=\"ci.type\">\n      <xs:attribute
        name=\"type\" use=\"required\"/>\n   </xs:attributeGroup>\n   <xs:complexType
        name=\"ci.content\" mixed=\"true\">\n      <xs:choice minOccurs=\"0\" m[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-strict-content.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:group
        name=\"ContExp\">\n      <xs:choice>\n<!--Ambiguous content model altered
        (ContExp)-->\n         <xs:element ref=\"m:apply\"/>\n         <xs:element
        ref=\"m:bind\"/>\n         <xs:element ref=\"m:ci\"/>\n         <xs:element
        ref=\"m:cn\"/>\n         <xs:element ref=\"m:csymbol\"/>\n         <xs:element
        ref=\"m:cbytes\"/>\n         <xs:element ref=\"m:cerror\"/>\n         <xs:element
        ref=\"m:cs\"/>\n         <xs:element ref=\"m:share\"/>\n         <xs:element
        ref=\"m:piecewise\"/>\n         <xs:element ref=\"m:DeprecatedContExp\"/>\n
        \        <xs:element ref=\"m:interval.class\"/>\n         <xs:element ref=\"m:unary-functional.class\"/>\n
        \        <xs:element ref=\"m:lambda.class\"/>\n         <xs:element ref=\"m:nary-functional.class\"/>\n
        \        <xs:group ref=\"m:binary-arith.class\"/>\n         <xs:group ref=\"m:unary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-minmax.class\"/>\n         <xs:element ref=\"m:nary-arith.class\"/>\n
        \        <xs:element ref=\"m:nary-logical.class\"/>\n         <xs:element
        ref=\"m:unary-logical.class\"/>\n         <xs:element ref=\"m:binary-logical.class\"/>\n
        \        <xs:element ref=\"m:quantifier.class\"/>\n         <xs:element ref=\"m:nary-reln.class\"/>\n
        \       [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-presentation.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:complexType
        name=\"ImpliedMrow\">\n      <xs:group minOccurs=\"0\" maxOccurs=\"unbounded\"
        ref=\"m:MathExpression\"/>\n   </xs:complexType>\n   <xs:element name=\"TableRowExpression\"
        abstract=\"true\"/>\n   <xs:element name=\"TableCellExpression\" abstract=\"true\">\n
        \     <xs:complexType>\n         <xs:complexContent>\n            <xs:extension
        base=\"m:ImpliedMrow\">\n               <xs:attributeGroup ref=\"m:mtd.attributes\"/>\n
        \           </xs:extension>\n         </xs:complexContent>\n      </xs:complexType>\n
        \  </xs:element>\n   <xs:group name=\"MstackExpression\">\n      <xs:choice>\n
        \        <xs:group ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:mscarries\"/>\n
        \        <xs:element ref=\"m:msline\"/>\n         <xs:element ref=\"m:msrow\"/>\n
        \        <xs:element ref=\"m:msgroup\"/>\n      </xs:choice>\n   </xs:group>\n
        \  <xs:group name=\"MsrowExpression\">\n      <xs:choice>\n         <xs:group
        ref=\"m:MathExpression\"/>\n         <xs:element ref=\"m:none\"/>\n      </xs:choice>\n
        \  </xs:group>\n   <xs:group name=\"MultiScriptExpression\">\n      <xs:sequence>\n
        \        <xs:choice>\n            <xs:group ref=\"m:MathExpression\"/>\n            <xs:element
        ref=\"m:none\"/>\n         </xs:choice>\n         <xs:choice>\n            <xs:group
        ref=\"m:MathExpression\"/>\n            <xs:element ref=\"m:none\"/>\n         </xs:choice>\n
        \     </xs:sequence>\n   </xs:group>\n   <xs:simpleType name=\"mpadded-length\">\n
        \     <xs:restriction base=\"xs:string\">\n         <xs:pattern value=\"\\s*([\\+\\-]?[0-9]*([0-9]\\.?|\\.[0-9])[0-9]*\\s*((%?\\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\\s*\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"linestyle\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"none\"/>\n
        \        <xs:enumeration value=\"solid\"/>\n         <xs:enumeration value=\"dashed\"/>\n
        \     </xs:restriction>\n   </xs:simpleType>\n   <xs:simpleType name=\"verticalalign\">\n
        \     <xs:restriction base=\"xs:token\">\n         <xs:enumeration value=\"top\"/>\n
        \        <xs:enumeration value=\"bottom\"/>\n         <xs:enumeration value=\"center\"/>\n
        \        <xs:enumeration value=\"baseline\"/>\n         <xs:enumeration value=\"axis\[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/Math/XMLSchema/mathml3/mathml3-common.xsd
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n
        \          xmlns:m=\"http://www.w3.org/1998/Math/MathML\"\n           elementFormDefault=\"qualified\"\n
        \          targetNamespace=\"http://www.w3.org/1998/Math/MathML\">\n   <xs:element
        name=\"math\">\n      <x[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/nmdtw-dbr94
  response:
    body:
      string: '{"id": "nmdtw-dbr94", "created": "2025-09-25T08:13:17.310517+00:00",
        "updated": "2025-09-25T08:13:17.389855+00:00", "links": {"self": "https://rogue-scholar.org/api/records/nmdtw-dbr94",
        "self_html": "https://rogue-scholar.org/records/nmdtw-dbr94", "preview_html":
        "https://rogue-scholar.org/records/nmdtw-dbr94?preview=1", "[...]
