interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/swnyg-ger25
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22126/2025-05-05T11:07:23Z/https://ropensci.org/blog/2023/12/05/divide_and_you_will_win_from_polar_to_the_polarverse/","authors":[{"contributor_roles":["Author"],"family":"Nicolini","given":"Juan
        Pablo Ruiz","url":"https://orcid.org/0000-0002-3138-6343"},{"contributor_roles":["Translator"],"family":"Bellini
        Saibene","given":"Yanina","url":"https://orcid.org/0000-0002-4522-7466"}],"blog":{"archive_collection":22126,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22126/20231105110646/","archive_timestamps":[20231105110646,20240505190836,20241105110650,20250505110723],"authors":[{"name":"The
        rOpenSci Team"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"1e70f18f-d85d-4b86-af0c-0dc375b091bc","created_at":1693440000,"current_feed_url":null,"description":"Open
        Tools and R Packages for Open Science","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo","feed_format":"application/feed+json","feed_url":"https://ropensci.org/blog/index.json","filter":null,"funding":null,"generator":"Hugo","generator_raw":"Hugo
        -- gohugo.io","home_page_url":"https://ropensci.org/blog","id":"ba402233-14af-48e4-b8b1-6fd22ac75a0c","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729793201,"relative_url":null,"ror":null,"secure":true,"slug":"ropensci","status":"active","subfield":"1702","title":"rOpenSci
        - open tools for open science","updated_at":1764326598,"use_api":null,"use_mastodon":false,"user_id":"3ea9676b-41b6-4e57-aeda-44a7d7fe1dba"},"blog_name":"rOpenSci
        - open tools for open science","blog_slug":"ropensci","content_html":"<blockquote><p><em>\u201cI\u2019m
        just a political scientist, standing in front of the R console  asking it
        to help me finish my thesis.\u201d</em></p></blockquote><p>It was 2015, a
        Political Science master\u2019s student had to process data to hand in his
        thesis and decided to take the opportunity to learn how to use R. To the long
        and winding road of the academic requirement was added an extra degree of
        difficulty: incorporating programming software from scratch, with a somewhat
        steep learning curve.</p><p>Years later, <a href=\"https://github.com/TuQmano/evoteSALTA_UTDT\">as
        I review scripts from the thesis code</a>, I smile to see long lines of code
        to recode variables with a structure like this:</p><div class=\"highlight\"><pre
        class=\"chroma\" tabindex=\"0\"><code class=\"language-r\" data-lang=\"r\"><span
        class=\"line\"><span class=\"cl\"></span></span><span class=\"line\"><span
        class=\"cl\"><span class=\"c1\">#PARTY LABELS A GOBERNADOR</span></span></span><span
        class=\"line\"><span class=\"cl\"><span class=\"c1\"># 0 VOTOS EN BLANCO</span></span></span><span
        class=\"line\"><span class=\"cl\"><span class=\"c1\"># 1 WAYAR GOBERNADOR  (WALTER
        WAYAR)</span></span></span><span class=\"line\"><span class=\"cl\"><span class=\"c1\">#
        2 COALICION CIVICA (ARI) (ALBERTO ROLANDO TONDA)</s[...]
