interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/570c8129-e867-49e6-8517-bd783627e76e
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22143/2023-11-03T19:24:18Z/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea","authors":[{"affiliation":[{"id":"https://ror.org/04ers2y35","name":"University
        of Bremen"}],"name":"Markus Stocker","url":"https://orcid.org/0000-0001-5492-3212"}],"blog":{"archive_collection":22143,"archive_host":"project-thor.eu","archive_prefix":"https://wayback.archive-it.org/22143/20231103191454/","archive_timestamps":[20231103192418],"authors":null,"canonical_url":null,"category":"computerAndInformationSciences","community_id":"9e52146d-52b4-4733-9b05-1b23091c3835","created_at":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/9e52146d-52b4-4733-9b05-1b23091c3835/logo","feed_format":"application/feed+json","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"funding":{"awardNumber":"654039","awardTitle":"THOR
        \u2013 Technical and Human Infrastructure for Open Research","awardUri":"https://doi.org/10.3030/654039","funderIdentifier":"https://ror.org/019w4f821","funderName":"European
        Union"},"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/","id":"2a309edc-7a90-4735-807c-a81a7e5eb890","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1511522178,"relative_url":null,"ror":null,"secure":true,"slug":"thor","status":"archived","subfield":"1802","title":"Project
        THOR","updated_at":1511522178,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Project
        THOR","blog_slug":"thor","content_html":"<p><span style=\"font-weight:400;\">This
        is the first in a <a\nhref=\"http://wp.me/p5O69U-aF\">series of posts</a></span><span\nstyle=\"font-weight:400;\">\u00a0describing
        how THOR partners have recently\nintegrated <a href=\"http://orcid.org/\">ORCID</a>
        in their disciplinary\ndata repositories. This post describes ORCID integration
        in <a\nhref=\"https://www.pangaea.de/\">PANGAEA</a>, the Data Publisher for
        Earth\n&amp; Environmental Science.</span></p>\n<p><span style=\"font-weight:400;\">PANGAEA
        is rolling out a new version\nof its website. Developers and designers are
        currently ironing out a few\nremaining open issues. The release is expected
        for autumn 2016. Among\nmajor improvements in search, design, and usability,
        a key new feature\nis the integration of ORCID.</span></p>\n<p><span style=\"font-weight:400;\">The
        new feature enables existing\nPANGAEA users to connect their PANGAEA profile
        with their ORCID iD, as\ndemonstrated in the video below.\u00a0</span></p>\n<p><span
        class=\"embed-youtube\"\nstyle=\"text-align:center; display: block;\"></span></p>\n<p><span
        style=\"font-weight:400;\">With this connection, PANGAEA obtains\nthe </span><em><span
        style=\"font-weight:400;\">validated</span></em><span\nstyle=\"font-weight:400;\">
        ORCID iD of its users from ORCID. By\nconnecting their ORCID iD, users can
        also choose to sign in to PANGAEA\nusing ORCID, as an alternative to signing
        in using PANGAEA user\ncredentials. This can be handy when a user is already
        signed in to\nORCID, or it is quicker to recall ORCID credentials.</span></p>\n<p><span
        style=\"font-weight:400;\">Obtaining the valid[...]
