interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/s8m95-ap410
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22126/2025-05-05T11:07:23Z/https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en/","authors":[{"contributor_roles":["Author"],"family":"Bellini","given":"Alejandra"},{"contributor_roles":["Interviewee"],"family":"Black","given":"Chris"},{"contributor_roles":["Interviewee"],"family":"LeBauer","given":"David"},{"contributor_roles":["Interviewee"],"family":"Scott","given":"Eric","url":"https://orcid.org/0000-0002-7430-7879"},{"contributor_roles":["Author"],"family":"Casalla","given":"Lucio"},{"contributor_roles":["Interviewee"],"family":"Dietze","given":"Michael"},{"contributor_roles":["Interviewee"],"family":"Kooper","given":"Rob"},{"contributor_roles":["Editor"],"family":"LaZerte","given":"Steffi","url":"https://orcid.org/0000-0002-7690-8360"},{"contributor_roles":["Author"],"family":"Bellini
        Saibene","given":"Yanina","url":"https://orcid.org/0000-0002-4522-7466"}],"blog":{"archive_collection":22126,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22126/20231105110646/","archive_timestamps":[20231105110646,20240505190836,20241105110650,20250505110723],"authors":[{"name":"The
        rOpenSci Team"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"1e70f18f-d85d-4b86-af0c-0dc375b091bc","created_at":1693440000,"current_feed_url":null,"description":"Open
        Tools and R Packages for Open Science","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo","feed_format":"application/feed+json","feed_url":"https://ropensci.org/blog/index.json","filter":null,"funding":null,"generator":"Hugo","generator_raw":"Hugo
        -- gohugo.io","home_page_url":"https://ropensci.org/blog","id":"ba402233-14af-48e4-b8b1-6fd22ac75a0c","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729793201,"relative_url":null,"ror":null,"secure":true,"slug":"ropensci","status":"active","subfield":"1702","title":"rOpenSci
        - open tools for open science","updated_at":1764326598,"use_api":null,"use_mastodon":false,"user_id":"3ea9676b-41b6-4e57-aeda-44a7d7fe1dba"},"blog_name":"rOpenSci
        - open tools for open science","blog_slug":"ropensci","content_html":"<p>A
        new post of our interview series <a href=\"https://ropensci.org/tags/r-universe-stars/\">\u201cMeeting
        the stars of the R-universe\u201d</a>. We aim to introduce the teams and people
        behind the development of software and packages many of us use and which are
        available through the R-Universe. We want to highlight and explore different
        teams and projects around the world, the work they do, their processes and
        users. Our third stop is the <strong>United States</strong> to talk with members
        of the PEcAn project. Be sure to watch the video at the end with excerpts
        from the interview.</p><h4 id=\"climate-change-and-research-in-this-area-have-diverse-and-complex-data-that-demand-increasingly-complex-analysis-models-the-pecan-project-works-to-develop-this-ability\"><a
        class=\"anchor d-print-none\" href=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en//#climate-change-and-research-in-this-area-have-diverse-and-complex-data-that-demand-increasingly-complex-analysis-models-the-pecan-project-works-to-develop-this-ability\">
        <small>\ud83d\udd17</small></a>Climate change and research in this area have
        diverse and complex data that demand increasingly complex analysis models.
        The PEcAn project works to develop this ability.</h4><p>In this next interview,
        we will go into the science of climate change, and explore where data analysis
        and ecosystem modeling tools are developed. That is the main objective of
        the <a href=\"https://pecanproject.github.io/\">PEcAn project</a>, where they
        collaboratively seek new ways to collect and synthesize data and develop accessible
        tools to perform these tasks in a reproducible way.</p><p>Our discussion was
        attended by Rob Kooper, Chris Black, Eric Scott, Michael C. Dietze, and David
        LeBauer. All members of the PEcAn project with the same goal: to find more
        and better ways to integrate the enormous amount of existing data on climate
        change.</p><figure><img alt=\"Profile photos of David LeBauer, Michael C.
        Dietze, Rob Kooper, Eric Scott, and Chris Black\" src=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en/team.jpg\"/><figcaption>
        <p><center><strong>David LeBauer, Michael C. Dietze, Rob Kooper, Eric Scott,
        and Chris Black</strong></center></p> </figcaption></figure><p>According to
        Michael C. Dietze\u2019s own account, the project <em>\u201cis like a kind
        of computerized data modeling system. It\u2019s a set of tools that facilitate
        the combination of process and data models, with a special focus on ecological
        models.\u201d</em></p><p>In the project description, the concept of community
        quickly comes up. They have a large network of people distributed geographically
        and strategically, allowing them to reach more students involved in different
        parts of the process and in different projects. Thus, they can share work
        with many people simultaneously, have a significant number of collaborators
        and disseminate knowledge beyond academic boundaries because, as Rob explains,
        those students will continue their developments in other places where they
        are likely to bring their tools and data packages. In these connections and
        collaborative work lies much of the strength of the PEcAn Project.</p><p>An
        example of this practice is the project they are developing with Brooklyn
        National Laboratory, where they are working on NASA carbon monitoring that
        uses a data simulation system. In this case, there are both PhD students and
        Post Doctoral Researchers working on the project.</p><h2 id=\"a-tree-that-keeps-growing\"><a
        class=\"anchor d-print-none\" href=\"https://ropensci.org/blog/2023/06/06/r-universe-stars-4-en//#a-tree-that-keeps-growing\">
        <small>\ud83d\udd17</small></a>A tree that keeps growing</h2><p>In this work
        structure, one of the main objectives is to become a kind of \u201cHacker\u201d
        that solves problems in a more general sense that can then be applied in other
        contexts and in other areas. According to Rob, knowledge can [...]
