interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.5694/j.1326-5377.1943.tb44329.x
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:42:46Z","timestamp":1648950166251},"reference-count":23,"publisher":"AMPCo","issue":"13","license":[{"start":{"date-parts":[[1943,3,1]],"date-time":"1943-03-01T00:00:00Z","timestamp":-846979200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"},{"start":{"date-parts":[[1943,3,1]],"date-time":"1943-03-01T00:00:00Z","timestamp":-846979200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Medical
        Journal of Australia"],"published-print":{"date-parts":[[1943,3]]},"DOI":"10.5694\/j.1326-5377.1943.tb44329.x","type":"journal-article","created":{"date-parts":[[2019,9,24]],"date-time":"2019-09-24T14:44:02Z","timestamp":1569336242000},"page":"267-279","source":"Crossref","is-referenced-by-count":1,"title":["THE
        INVESTIGATION OF RENAL FUNCTION WITH A NEW NOMOGRAPHIC METHOD FOR THE DETERMINATION
        OF UREA CLEARANCE"],"prefix":"10.5694","volume":"1","author":[{"given":"Morris
        C.","family":"Davis","sequence":"first","affiliation":[{"name":"Alfred HospitalMelbourne"}]}],"member":"3677","published-online":{"date-parts":[[1943,3]]},"reference":[{"key":"e_1_2_1_2_1","doi-asserted-by":"crossref","first-page":"559","DOI":"10.1001\/archinte.1922.00110110030004","article-title":"Test
        of the Capacity of the Kidney to Produce a Urine of High Specific Gravity","author":"Addis
        T.","year":"1922","journal-title":"Archives of Internal Medicine"},{"key":"e_1_2_1_3_1","first-page":"411","author":"Ambard
        L.","year":"1910","journal-title":"Rapports entre le taux de l''ur\u00e9e
        dans le sang et l''\u00e9limination de l''ur\u00e9e dans l''urine\u201d, Comptes\u2010rendus
        de la Soci\u00e9t\u00e9 de biologie"},{"key":"e_1_2_1_4_1","unstructured":"L.AmbardandA.Weill:
        \u201cLes lois num\u00e9riques de la s\u00e9cr\u00e9tion r\u00e9nale de l''ur\u00e9e
        et du chlorure de sodium\u201d Journal de physiologie et de pathologie g\u00e9n\u00e9rale
        Volume 1912 page753."},{"key":"e_1_2_1_5_1","first-page":"249","article-title":"Rate
        of Urea Excretion. II. Rate of Excretion of Administered Urea in Young Healthy
        Adults on a Constant Diet","author":"Addis T.","year":"1916","journal-title":"The
        Journal of[...]
