interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/49yb9-h8k11
  response:
    body:
      string: '{"id": "49yb9-h8k11", "created": "2025-08-12T16:46:38.675189+00:00",
        "updated": "2025-11-23T21:49:16.733087+00:00", "links": {"self": "https://rogue-scholar.org/api/records/49yb9-h8k11",
        "self_html": "https://rogue-scholar.org/records/49yb9-h8k11", "preview_html":
        "https://rogue-scholar.org/records/49yb9-h8k11?preview=1", "doi": "https://doi.org/10.64000/wd6rx-vpq73",
        "self_doi": "https://doi.org/10.64000/wd6rx-vpq73", "self_doi_html": "https://rogue-scholar.org/doi/10.64000/wd6rx-vpq73",
        "reserve_doi": "https://rogue-scholar.org/api/records/49yb9-h8k11/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/2vyah-dc583", "parent_html":
        "https://rogue-scholar.org/records/2vyah-dc583", "parent_doi": "https://doi.org/10.64000/2vyah-dc583",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.64000/2vyah-dc583", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:49yb9-h8k11/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:49yb9-h8k11/sequence/default",
        "files": "https://rogue-scholar.org/api/records/49yb9-h8k11/files", "media_files":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/media-files", "archive":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/49yb9-h8k11/latest", "versions": "https://rogue-scholar.org/api/records/49yb9-h8k11/versions",
        "draft": "https://rogue-scholar.org/api/records/49yb9-h8k11/draft", "access_links":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access/request", "access":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/access", "communities":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/49yb9-h8k11/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/49yb9-h8k11/request-deletion",
        "requests": "https://rogue-scholar.org/api/records/49yb9-h8k11/requests"},
        "revision_id": 23, "parent": {"id": "2vyah-dc583", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["093ada45-3a02-4007-b8b6-be28f221e01d", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "093ada45-3a02-4007-b8b6-be28f221e01d", "entries": [{"id": "093ada45-3a02-4007-b8b6-be28f221e01d",
        "created": "2025-03-19T18:43:14.713108+00:00", "updated": "2025-12-01T07:39:03.309996+00:00",
        "links": {}, "revision_id": 267, "slug": "crossref", "metadata": {"title":
        "Crossref Blog", "description": "Recent content in Blog on Crossref", "type":
        {"id": "blog"}, "website": "https://www.crossref.org/blog/"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"rs:feed_url": "https://www.crossref.org/blog/feed.xml",
        "rs:prefix": "10.64000", "rs:joined": "November 7, 2024", "rs:feed_format":
        "application/atom+xml", "rs:generator": "Hugo", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Computer and information sciences"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created": "2025-02-10T08:12:28.813373+00:00",
        "updated": "2025-06-30T16:00:16.024136+00:00", "links": {}, "revision_id":
        6, "slug": "computerandinformationsciences", "metadata": {"title": "Computer
        and information sciences", "description": "Computer and information sciences
        subject area.", "type": {"id": "subject"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.64000/2vyah-dc583", "provider": "crossref", "client":
        "crossref"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.64000/wd6rx-vpq73",
        "provider": "crossref", "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:49yb9-h8k11",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Bowman, Sara",
        "given_name": "Sara", "family_name": "Bowman"}}], "title": "We''ve migrated
        to the cloud; we hope you didn''t notice (but maybe you did)", "publisher":
        "Front Matter", "publication_date": "2025-08-12", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Cloud"}, {"subject": "Crossref"}, {"subject": "Data Centre"}, {"subject":
        "Infrastructure"}], "dates": [{"date": "2025-08-12T02:00:00", "type": {"id":
        "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}},
        {"date": "2025-08-12T02:00:00", "type": {"id": "updated", "title": {"de":
        "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id":
        "eng", "title": {"en": "English"}}], "identifiers": [{"identifier": "137b87a8-b485-4901-b9de-6398ecf90d8e",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.64000/wd6rx-vpq73",
        "scheme": "guid"}, {"identifier": "https://www.crossref.org/blog/weve-migrated-to-the-cloud-we-hope-you-didnt-notice-but-maybe-you-did/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "TLDR: We''ve successfully moved the main
        Crossref systems to the cloud! We''ve more to do, with several bugs identified
        and fixed, and a few still ongoing.", "references": [{"identifier": "https://en.wikipedia.org/wiki/Infrastructure_as_code",
        "scheme": "url", "reference": "''Infrastructure as code'' (2025) Wikipedia,
        12 August. Available at:  (Accessed: 12 August 2025)."}, {"identifier": "10.64000/4s2ee-wkr84",
        "scheme": "doi", "reference": "Bowman, S., Cousijn, H., Rittman, M., &amp;
        Stoll, L. (2025, April 8). The programs approach: our experiences during the
        first quarter of 2025. <i>Crossref Blog</i>."}]}, "custom_fields": {"journal:journal":
        {"title": "Crossref Blog"}, "rs:content_html": "<p>TLDR: We''ve successfully
        moved the main Crossref systems to the cloud! We''ve more to do, with several
        bugs identified and fixed, and a few still ongoing. However, it''s a step
        in the right direction and a significant milestone, as, whilst it is a much
        larger financial investment, it addresses several risks and limitations and
        shores up the Crossref infrastructure for the future.</p>\n<h3 id=\"some-background\">Some
        background</h3>\n<p>We have been doing a lot of thinking, planning, and working
        on paying down our technical debt and modernising our systems. It''s not fun
        and flashy work, but it is vital for sustaining our infrastructure, meeting
        the demand on existing services, and developing new services.</p>\n<p>Just
        about a year ago, we completed phase one, migrating our main database from
        Oracle to PostgreSQL, an open-source data[...]
