interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.7554
  response:
    content: "[\n  {\n    \"DOI\": \"10.7554\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.7554/elife.01567
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,2,7]],"date-time":"2024-02-07T03:23:52Z","timestamp":1707276232803},"reference-count":27,"publisher":"eLife
      Sciences Publications, Ltd","license":[{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"name":"SystemsX"},{"name":"EMBO
      longterm post-doctoral fellowships"},{"name":"Marie Heim-Voegtlin"},{"DOI":"10.13039\/501100006390","name":"University
      of Lausanne","doi-asserted-by":"crossref"},{"name":"SystemsX"},{"DOI":"10.13039\/501100003043","name":"EMBO","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100001711","name":"Swiss
      National Science Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100006390","name":"University
      of Lausanne","doi-asserted-by":"crossref"}],"content-domain":{"domain":["www.elifesciences.org"],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Among
      various advantages, their small size makes model organisms preferred subjects
      of investigation. Yet, even in model systems detailed analysis of numerous developmental
      processes at cellular level is severely hampered by their scale. For instance,
      secondary growth of Arabidopsis hypocotyls creates a radial pattern of highly
      specialized tissues that comprises several thousand cells starting from a few
      dozen. This dynamic process is difficult to follow because of its scale and
      because it can only be investigated invasively, precluding comprehensive understanding
      of the cell proliferation, differentiation, and patterning events involved.
      To overcome such limitation, we established an automated quantitative histology
      approach. We acquired hypocotyl cross-sections from tiled high-resolution images
      and extracted their information content using custom high-throughput image processing
      and segmentation. Coupled with automated cell type recognition through machine
      learning, we could establish a cellular resolution atlas that reveals vascular
      morphodynamics during secondary growth, for example equidistant phloem pole
      formation.<\/jats:p>","DOI":"10.7554\/elife.01567","type":"journal-article","created":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T16:29:04Z","timestamp":1392136144000},"source":"Crossref","is-referenced-by-count":31,"title":["Automated
      quantitative histology reveals vascular morphodynamics during Arabidopsis hypocotyl
      secondary growth"],"prefix":"10.7554","volume":"3","author":[{"given":"Martial","family":"Sankar","sequence":"first","affiliation":[{"name":"Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Kaisa","family":"Nieminen","sequence":"additional","affiliation":[{"name":"Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Laura","family":"Ragni","sequence":"additional","affiliation":[{"name":"Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Ioannis","family":"Xenarios","sequence":"additional","affiliation":[{"name":"Vital-IT,
      Swiss Institute of Bioinformatics, Lausanne, Switzerland"}]},{"given":"Christian
      S","family":"Hardtke","sequence":"additional","affiliation":[{"name":"Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]}],"member":"4374","published-online":{"date-parts":[[2014,2,11]]},"reference":[{"key":"bib1","doi-asserted-by":"publisher","first-page":"181","DOI":"10.1038\/nature02100","article-title":"APL
      regulates vascular tissue identity in Arabidopsis","volume":"426","author":"Bonke","year":"2003","journal-title":"Nature"},{"key":"bib2","doi-asserted-by":"publisher","first-page":"413","DOI":"10.1534\/genetics.109.104976","article-title":"In
      the beginning was the worm","volume":"182","author":"Brenner","year":"2009","journal-title":"Genetics"},{"key":"bib3","doi-asserted-by":"publisher","first-page":"594","DOI":"10.1034\/j.1399-3054.2002.1140413.x","article-title":"Secondary
      xylem development in Arabidopsis: a model for wood formation","volume":"114","author":"Chaffey","year":"2002","journal-t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/4374
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707522299459,"primary-name":"eLife
      Sciences Publications, Ltd","counts":{"current-dois":23313,"backfile-dois":35573,"total-dois":58886},"breakdowns":{"dois-by-issued-year":[[2023,13154],[2022,7431],[2021,7267],[2020,6188],[2019,4848],[2017,4118],[2018,4058],[2016,3512],[2015,2808],[2024,2728],[2014,1804],[2013,811],[2012,159]]},"prefixes":["10.7554"],"coverage":{"affiliations-current":0.6588169690730494,"similarity-checking-current":0.211512889803972,"descriptions-current":0.0,"ror-ids-current":0.4895551838030284,"funders-backfile":0.2981474713968459,"licenses-backfile":0.9999718887920614,"funders-current":0.1644147042422683,"affiliations-backfile":0.9904984117167515,"resource-links-backfile":0.3367722711044894,"orcids-backfile":0.8700418856998285,"update-policies-current":0.1797280487281774,"ror-ids-backfile":0.04211058949203047,"orcids-current":0.5906146785055548,"similarity-checking-backfile":0.3368566047283052,"references-backfile":0.3290135777134343,"descriptions-backfile":0.0,"award-numbers-backfile":0.2818710820003936,"update-policies-backfile":0.1168864026087201,"licenses-current":0.9995281602539356,"award-numbers-current":0.1584523656329087,"abstracts-backfile":0.330250470862733,"resource-links-current":0.1797280487281774,"abstracts-current":0.3035645348089049,"references-current":0.1745807060438382},"prefix":[{"name":"eLife
      Sciences Publications, Ltd.","value":"10.7554"}],"id":4374,"tokens":["elife","sciences","publications","ltd"],"counts-type":{"all":{"peer-review":39753,"journal-article":16172,"journal":1,"component":143804,"posted-content":2961},"backfile":{"peer-review":23585,"journal-article":11982,"posted-content":6},"current":{"peer-review":16168,"journal-article":4190,"posted-content":2955}},"coverage-type":{"all":{"peer-review":{"last-status-check-time":1707522299459,"affiliations":0.799763539858627,"abstracts":0.0,"orcids":0.700726989158051,"licenses":0.9998239126606797,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.2259955223505144,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1707522299459,"affiliations":0.9798417017066535,"abstracts":0.9809547365817461,"orcids":0.8883873361365323,"licenses":0.9999381647291615,"references":0.9753895622062825,"funders":0.8928394756369032,"similarity-checking":0.9992579767499382,"award-numbers":0.8484417511748701,"ror-ids":0.2428271085827356,"update-policies":0.5162008409596834,"resource-links":0.999876329458323,"descriptions":0.0},"journal":{"last-status-check-time":1707522299459,"affil[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.7554
  response:
    content: "[\n  {\n    \"DOI\": \"10.7554\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
