interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.7554/elife.01567
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,11,23]],"date-time":"2025-11-23T16:36:42Z","timestamp":1763915802317,"version":"3.45.0"},"reference-count":27,"publisher":"eLife
        Sciences Publications, Ltd","license":[{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"name":"SystemsX"},{"name":"EMBO
        longterm post-doctoral fellowships"},{"name":"Marie Heim-Voegtlin"},{"DOI":"10.13039\/501100006390","name":"University
        of Lausanne","doi-asserted-by":"crossref","id":[{"id":"10.13039\/501100006390","id-type":"DOI","asserted-by":"crossref"}]},{"name":"SystemsX"},{"DOI":"10.13039\/501100003043","name":"EMBO","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100003043","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001711","name":"Swiss
        National Science Foundation","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100001711","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100006390","name":"University
        of Lausanne","doi-asserted-by":"crossref","id":[{"id":"10.13039\/501100006390","id-type":"DOI","asserted-by":"crossref"}]}],"content-domain":{"domain":["www.elifesciences.org"],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Among
        various advantages, their small size makes model organisms preferred subjects
        of investigation. Yet, even in model systems detailed analysis of numerous
        developmental processes at cellular level is severely hampered by their scale.
        For instance, secondary growth of Arabidopsis hypocotyls creates a radial
        pattern of highly specialized tissues that comprises several thousand cells
        starting from a few dozen. This dynamic process is difficult to follow because
        of its scale and because it can only be investigated invasively, precluding
        comprehensive understanding of the cell proliferation, differentiation, and
        patterning events involved. To overcome such limitation, we established an
        automated quantitative histology approach. We acquired hypocotyl cross-sections
        from tiled high-resolution images and extracted their information content
        using custom high-throughput image processing and segmentation. Coupled with
        automated cell type recognition through machine learning, we could establish
        a cellular resolution atlas that reveals vascular morphodynamics during secondary
        growth, for example equidistant phloem pole formation.<\/jats:p>","DOI":"10.7554\/elife.01567","type":"journal-article","created":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T11:29:04Z","timestamp":1392118144000},"source":"Crossref","is-referenced-by-count":36,"title":["Automated
        quantitative histology reveals vascular morphodynamics during Arabidopsis
        hypocotyl secondary growth"],"prefix":"10.7554","volume":"3","author":[{"given":"Martial","family":"Sankar","sequence":"first","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Kaisa","family":"Nieminen","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Laura","family":"Ragni","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Ioannis","family":"Xenarios","sequence":"additional","affiliation":[{"name":"Vital-IT,
        Swiss Institute of Bioinformatics, Lausanne, Switzerland"}]},{"given":"Christian
        S","family":"Hardtke","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]}],"member":"4374","published-online":{"date-parts":[[2014,2,11]]},"reference":[{"key":"bib1","doi-asserted-by":"publisher","first-page":"181","DOI":"10.1038\/nature02100","article-title":"APL
        regulates vascular tissue identity in Arabidopsis","volume":"426","author":"Bonke","year":"2003","journal-title":"Nature"},{"key":"bib2","doi-asserted-by":"publisher","first-page":"413","DOI":"10.1534\/genetics.109.104976","article-title":"In
        the beginning was the worm","volume":"182","author":"Brenner","year":"2009","journal-title":"Genetics"},{"key":"bib3","doi-asserted-by":"publisher","first-page":"594","DOI":"10.1034\/j.1399-3054.2002.1140413.x","article-title":"Secondary
        xylem development in Arabidopsis: a model for wood formation","volume":"114","author":"Chaffey","year":"2002","journ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1017/9781108348843
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,11,20]],"date-time":"2025-11-20T12:44:05Z","timestamp":1763642645972},"edition-number":"1","reference-count":273,"publisher":"Cambridge
        University Press","isbn-type":[{"value":"9781108348843","type":"electronic"},{"value":"9781108425728","type":"print"},{"value":"9781108443241","type":"print"}],"license":[{"start":{"date-parts":[[2019,7,1]],"date-time":"2019-07-01T00:00:00Z","timestamp":1561939200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2019,7,18]]},"DOI":"10.1017\/9781108348843","type":"monograph","created":{"date-parts":[[2019,7,1]],"date-time":"2019-07-01T04:08:07Z","timestamp":1561954087000},"source":"Crossref","is-referenced-by-count":7,"title":["The
        Politics of the Past in Early China"],"prefix":"10.1017","author":[{"given":"Vincent
        S.","family":"Leung","sequence":"first","affiliation":[]}],"member":"56","published-online":{"date-parts":[[2019,7,1]]},"reference":[{"key":"9781108348843#EMT-rl-1_BIBe-r-273","first-page":"67","article-title":"Lu
        Jia de lishi yishi ji qi wenhua yiyi","volume":"5","author":"Qiusheng","year":"1997","journal-title":"Qilu
        xuekan"},{"key":"9781108348843#EMT-rl-1_BIBe-r-271","volume-title":"Han Fei
        sixiang de lishi yanjiu","author":"Zhang","year":"1986"},{"key":"9781108348843#EMT-rl-1_BIBe-r-270","volume-title":"Qin
        Han bei shu","author":"Yuan","year":"1990"},{"key":"9781108348843#EMT-rl-1_BIBe-r-269","volume-title":"Zhongguo
        gudai shenhua","author":"Yuan","year":"1960"},{"key":"9781108348843#EMT-rl-1_BIBe-r-266","doi-asserted-by":"publisher","DOI":"10.1093\/acprof:oso\/9780199367344.001.0001"},{"key":"9781108348843#EMT-rl-1_BIBe-r-264","volume-title":"Shuihudi
        Qin jian yanjiu","author":"Fuchang","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-261","volume-title":"Sima
        Qian jing ji si xiang yan jiu","author":"Wei","year":"1995"},{"key":"9781108348843#EMT-rl-1_BIBe-r-259","volume-title":"Records
        of the Grand Historian: Qin Dynasty","author":"Watson","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-258","volume-title":"Records
        of the Grand Historian: Han Dynasty","author":"Watson","year":"1993"},{"key":"9781108348843#EMT-rl-1_BIBe-r-257","volume-title":"Han
        Feizi: Basic Writings","author":"Watson","year":"2003"},{"key":"9781108348843#EMT-rl-1_BIBe-r-256","volume-title":"The
        Analects of Confucius","author":"Watson","year":"2007"},{"key":"9781108348843#EMT-rl-1_BIBe-r-255","volume-title":"Kodai
        Ch\u016bgoku shis\u014d no kenky\u016b: K\u014dshi den no keisei to Ju Boku
        sh\u016bdan no shis\u014d to k\u014dd\u014d","author":"Takashi","year":"1973"},{"key":"9781108348843#EMT-rl-1_BIBe-r-253","volume-title":"Zhongguo
        shixue shi [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1145/3448016.3452841
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,1]],"date-time":"2025-10-01T15:29:35Z","timestamp":1759332575345,"version":"3.41.0"},"publisher-location":"New
        York, NY, USA","reference-count":56,"publisher":"ACM","license":[{"start":{"date-parts":[[2021,6,9]],"date-time":"2021-06-09T00:00:00Z","timestamp":1623196800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"NSF
        (National Science Foundation)","doi-asserted-by":"publisher","award":["CCF
        805476, CCF 822388, CCF 1724745,CCF 1715777, CCF 1637458, IIS 1541613, CRII
        1947789, CNS 1408695, CNS 1755615, CCF 1439084, CCF 1725543, CSR 1763680,
        CCF 1716252, CCF 1617618, CNS 1938709, IIS 1247726, CNS-1938709,CCF-1750472,CCF-1452904,CNS-1763680"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000015","name":"DOE
        U.S. Department of Energy","doi-asserted-by":"publisher","award":["DE-AC02-05CH11231,17-SC-20-SC"],"id":[{"id":"10.13039\/100000015","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["dl.acm.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2021,6,9]]},"DOI":"10.1145\/3448016.3452841","type":"proceedings-article","created":{"date-parts":[[2021,6,18]],"date-time":"2021-06-18T17:22:39Z","timestamp":1624036959000},"page":"1386-1399","update-policy":"https:\/\/doi.org\/10.1145\/crossmark-policy","source":"Crossref","is-referenced-by-count":34,"title":["Vector
        Quotient Filters"],"prefix":"10.1145","author":[{"given":"Prashant","family":"Pandey","sequence":"first","affiliation":[{"name":"Lawrence
        Berkeley National Lab &amp; University of California, Berkeley, Berkeley,
        CA, USA"}]},{"given":"Alex","family":"Conway","sequence":"additional","affiliation":[{"name":"VMware
        Research, Palo Alto, CA, USA"}]},{"given":"[...]
