interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 habanero/1.2.2
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=thing
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        clojure.lang.ExceptionInfo","description":"clojure.lang.ExceptionInfo: Response
        Exception qbits.spandex.Response@eac37d5f","message":"Response Exception","stack":["clojure.core$ex_info.invokeStatic(core.clj:4617)","clojure.core$ex_info.invoke(core.clj:4617)","qbits.spandex$response_ex__GT_ex_info.invokeStatic(spandex.clj:218)","qbits.spandex$response_ex__GT_ex_info.invoke(spandex.clj:215)","qbits.spandex$eval12776$fn__12777.invoke(spandex.clj:227)","qbits.spandex$eval12759$fn__12760$G__12750__12765.invoke(spandex.clj:222)","qbits.spandex$response_listener$reify__12785.onFailure(spandex.clj:251)","org.elasticsearch.client.RestClient$FailureTrackingRespons[...]
[...]
