[tool.poetry]
name="commonmeta-py"
version="0.8.1"
description="Library for conversions to/from the Commonmeta scholarly metadata format"
authors=["Martin Fenner <martin@front-matter.io>"]
readme = "README.md"
packages = [{include = "commonmeta"}]

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0.0"
docutils = "^0.19"
sphinxcontrib-issuetracker = "^0.11"
sphinx-autodoc-typehints = "^1.19"
tqdm = "^4.64"
requests = "^2.28"
types-requests = "^2.28"
dateparser = "^1.1.7"
types-dateparser = "^1.1"
PyYAML = "^6.0"
types-PyYAML = "^6.0"
pydash = "^6.0"
beautifulsoup4 = "^4.11"
types-beautifulsoup4 = "^4.11"
bleach = "^6.0"
types-bleach = "^6.0"
simplejson = "^3.18"
bibtexparser = "^1.4"
citeproc-py-styles = ">0.1"
citeproc-py = "^0.6"
fastjsonschema = "^2.18.0"
base32_lib = "^1.0"
mkdocs = "^1.4"
mkdocs-material = "^8.0"
mkdocs-material-extensions = "^1.1"
mkdocs-jupyter = "^0.22"
nbstripout = "^0.6"
datacite = "^1.1"
xmltodict = "^0.13"
types-xmltodict = "^0.13"
nameparser = "^1.1.2"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
ruff = "^0.0.47"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
pytest-recording = "^0.12.2"
vcrpy = "^4.2.1"
codecov = "^2.1.12"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 88
select = [
    "F401",
    "F403",
]

[tool.tox]
legacy_tox_ini = """
    [tox]
    min_version = 4.0
    env_list =
        py39
        py310
        py311

    [testenv]
    deps = 
        pytest
        pytest-cov
    commands = pytest --cov=commonmeta --cov-report=xml

    [coverage:run]
    relative_files = True
    branch = True
"""
