[tool.poetry]
name="talbot"
version="0.5.1"
description="Library for conversions of scholarly metadata"
authors=["Martin Fenner <martin@front-matter.io>"]
readme = "README.md"
packages = [{include = "talbot"}]

[tool.poetry.dependencies]
python = "^3.7.1"
docutils = "^0.19"
sphinxcontrib-issuetracker = "^0.11"
sphinx-autodoc-typehints = "^1.19"
tqdm = "^4.64"
requests = "^2.28"
types-requests = "^2.28"
pytest = "^7.2"
pytest-cov = "^4.0"
pytest-recording = "^0.12"
dateparser = "^1.1.7"
types-dateparser = "^1.1"
codecov = "^2.1"
vcrpy = "^4.2"
PyYAML = "^6.0"
pydash = "^6.0"
beautifulsoup4 = "^4.11"
types-beautifulsoup4 = "^4.11"
bleach = "^6.0"
types-bleach = "^6.0"
simplejson = "^3.18"
bibtexparser = "^1.4"
citeproc-py-styles = ">0.1"
citeproc-py = "^0.6"
jsonschema = "^4.17"
mkdocs = "^1.4"
mkdocs-material = "^8.0"
mkdocs-material-extensions = "^1.1"
mkdocs-jupyter = "^0.22"
datacite = "^1.1"
lxml = "^4.9"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.tox]
legacy_tox_ini = """
    [tox]
    min_version = 4.0
    env_list =
        py39
        py310

    [testenv]
    deps = 
        pytest
        pytest-cov
    commands = pytest --cov=talbot --cov-report=xml

    [coverage:run]
    relative_files = True
    branch = True
"""
