interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0
    method: GET
    uri: https://api.crossref.org/members/2984/works?rows=0&facet=issn%3A%2A
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"issn":{"value-count":7,"values":{"http:\/\/id.crossref.org\/issn\/1091-3297":270,"http:\/\/id.crossref.org\/issn\/2193-5505":86,"http:\/\/id.crossref.org\/issn\/2191-7442":86,"http:\/\/id.crossref.org\/issn\/1360-466X":33,"http:\/\/id.crossref.org\/issn\/1354-3628":20,"http:\/\/id.crossref.org\/issn\/0849-6757":7,"http:\/\/id.crossref.org\/issn\/2048-2604":2}}},"total-results":340046,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/members/2984/works?rows=0&facet=issn%3A%2A
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"issn":{"value-count":7,"values":{"http:\/\/id.crossref.org\/issn\/1091-3297":270,"http:\/\/id.crossref.org\/issn\/2193-5505":86,"http:\/\/id.crossref.org\/issn\/2191-7442":86,"http:\/\/id.crossref.org\/issn\/1360-466X":33,"http:\/\/id.crossref.org\/issn\/1354-3628":20,"http:\/\/id.crossref.org\/issn\/0849-6757":7,"http:\/\/id.crossref.org\/issn\/2048-2604":2}}},"total-results":340046,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
