interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/ewrv712-2k7rx6d
  response:
    content: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/introducing-the-pid-graph","authors":[{"affiliation":[{"id":"https://ror.org/04wxnsj81","name":"DataCite"}],"name":"Martin
      Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","authors":[{"name":"Martin
      Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","created_at":1672561153,"current_feed_url":"https://blog.front-matter.io/atom/","description":"The
      Front Matter Blog covers the intersection of science and technology since 2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
      5.52","home_page_url":"https://blog.front-matter.io","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://mozilla.social/@martin","plan":"Personal","prefix":"10.53731","relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","title":"Front
      Matter","updated_at":1709633714,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
      Matter","blog_slug":"front_matter","content_text":"Persistent identifiers (PIDs)
      are not only important to uniquely\nidentify a publication, dataset, or person,
      but the metadata for these\npersistent identifiers can provide unambiguous linking
      between\npersistent identifiers of the same type, e.g. journal articles citing\nother
      journal articles, or of different types, e.g. linking a researcher\nand the
      datasets they produced.\n\nWork is needed to connect existing persistent identifiers
      to each other\nin stand[...]
