interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/e2ecec16-405d-42da-8b4d-c746840398fa
  response:
    content: '{"abstract":null,"archive_url":null,"authors":[{"name":"Nees Jan van
      Eck"},{"name":"Ludo Waltman"}],"blog":{"api":false,"archive_prefix":null,"authors":[{"name":"Leiden
      Madtrics","url":null}],"backlog":134,"canonical_url":null,"category":"socialSciences","created_at":1682899200,"current_feed_url":null,"description":"Leiden
      Madtrics","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://www.leidenmadtrics.nl/atom/","filter":null,"funding":null,"generator":"Other","generator_raw":"Other","home_page_url":"https://www.leidenmadtrics.nl/","id":"a0920819-e194-4514-bca4-5f0837e10c51","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"plan":"Starter","prefix":"10.59350","relative_url":null,"ror":"https://ror.org/027bh9e22","secure":true,"slug":"leidenmadtrics","status":"active","title":"Leiden
      Madtrics","updated_at":1707513717,"use_api":null,"use_mastodon":false,"user_id":"ae88df6b-e1cf-4743-86a8-c032659cf5d2","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Leiden
      Madtrics","blog_slug":"leidenmadtrics","content_text":"Classifying research
      publications into research topics or research areas\nis crucial for many bibliometric
      analyses. While there are lots of\napproaches for classifying publications,
      most of these approaches lack\ntransparency. Although there are exceptions (see\n[here](https://doi.org/10.1038/s41597-020-00749-y){target=\"_blank\"}
      and\n[here](https://www.leidenmadtrics.nl/articles/make-maps-of-research-interactive-detailed-and-open){target=\"_blank\"}),\nthese
      app[...]
