interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/44690ae5-2ece-403d-8e34-a05668277a29
  response:
    content: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/new-datacite-orcid-integration-tool","authors":[{"affiliation":[{"id":"https://ror.org/008zgvp64","name":"Public
      Library of Science"}],"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","authors":[{"name":"Martin
      Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","created_at":1672561153,"current_feed_url":"https://blog.front-matter.io/atom/","description":"The
      Front Matter Blog covers the intersection of science and technology since 2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
      5.52","home_page_url":"https://blog.front-matter.io","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://mozilla.social/@martin","plan":"Personal","prefix":"10.53731","relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","title":"Front
      Matter","updated_at":1709633714,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
      Matter","blog_slug":"front_matter","content_text":"A [new\nservice](https://web.archive.org/web/20171029102032/http://datacite.labs.orcid-eu.org/)\nallows
      researchers to add research datasets -- and other content with\nDataCite DOIs,
      including all\n[figshare](https://web.archive.org/web/20171029102032/http://figshare.com/)\ncontent
      -- to their\n[ORCID](https://web.archive.org/web/20171029102032/http://about.orcid.org/)\nprofile
      by integrating with the [DataCite Metadata\nStore](https://search.datacite.org).
      The too[...]
