interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/updated
  response:
    content: '[{"abstract":null,"archive_url":"https://wayback.archive-it.org/22135/20231101173016/https://irights.info/artikel/kunstwissenschaftler-fordern-in-zuercher-erklaerung-die-foerderung-und-anerkennung-von-open-access/23690","authors":[{"name":"Henry
      Steinhau"}],"blog":{"category":"law","description":"Urheberrecht und kreatives
      Schaffen in der digitalen Welt","feed_url":"https://irights.info/feed/atom","generator":"WordPress","home_page_url":"https://irights.info/","language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","slug":"irights","status":"active","title":"iRights.info","updated_at":1707292625},"blog_name":"iRights.info","blog_slug":"irights","doi":"https://doi.org/10.59350/3peev-bxj24","guid":"https://irights.info/?post_type=custom_artikel&p=23690","id":"4e392758-67a9-4c6f-817e-c65838887d4b","image":null,"indexed":true,"indexed_at":1,"language":"de","published_at":1405678744,"reference":[],"relationships":[],"summary":"Kunstwissenschaftler
      aus mehreren L\u00e4ndern\u00a0legten als Ergebnis einer zweit\u00e4gigen Konferenz
      in Z\u00fcrich\u00a0eine \u201eErkl\u00e4rung zur digitalen Kunstgeschichte\u201c
      vor. Sie enth\u00e4lt acht Anliegen der kunstwissenschaftlichen Community \u2013
      gerichtet an die Entscheidungstr\u00e4ger in Politik und Forschungsf\u00f6rderung.\n","tags":["Gesellschaft
      + Kunst","Politik + Recht","Urheberrecht","Wissen + Open Access","Wissenschaft"],"title":"Kunstwissenschaftler
      fordern in \u201eZ\u00fcrcher Erkl\u00e4rung\u201c die F\u00f6rderung und Anerkennung
      von Open Access","updated_at":1474297831,"url":"https://irights.info/artikel/kunstwissenschaftler-fordern-in-zuercher-erklaerung-die-foerderung-und-anerkennung-von-open-access/23690"},{"abstract":null,"archive_url":"https://wayback.archive-it.org/22135/20231101173016/https://irights.info/artikel/oer-urheberrecht-finanzierung-qualitaetssicherung/23916","authors":[{"name":"Till
      Kreutzer"}],"blog":{"category":"law","description":"Urheberrecht und kreatives
      Schaffen in der digitalen Welt","feed_url":"https://irights.info/feed/atom","[...]
