interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/4e4bf150-751f-4245-b4ca-fe69e3c3bb24
  response:
    content: '{"abstract":"Brian Curtice and Colin Boisvert are presenting our talk
      on this project at 2:00 pm MDT this afternoon, at the 14th Symposium on Mesozoic
      Terrestrial Ecosystems and Biota (MTE14) in Salt Lake City, and the related
      paper is in the MTE14 volume in The Anatomical Record.","archive_url":"https://wayback.archive-it.org/22153/20231105213934/https://svpow.com/2023/06/09/new-paper-curtice-et-al-2023-on-the-first-haplocanthosaurus-from-dry-mesa","authors":[{"name":"Matt
      Wedel"}],"blog":{"archive_prefix":"https://wayback.archive-it.org/22153/20231105213934/","authors":null,"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","created_at":1675209600,"current_feed_url":null,"description":"SV-POW!  ...  All
      sauropod vertebrae, except when we''re talking about Open Access. ISSN 3033-3695","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://svpow.com","id":"c6cbbd2e-4675-4680-8a3f-784388009821","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"plan":"Team","prefix":"10.59350","relative_url":null,"ror":null,"secure":true,"slug":"svpow","status":"active","title":"Sauropod
      Vertebra Picture of the Week","updated_at":1709128628,"use_api":true,"use_mastodon":false,"user_id":"04d03585-c8bb-40f2-9619-5076a5e0aed2"},"blog_name":"Sauropod
      Vertebra Picture of the Week","blog_slug":"svpow","content_text":"::: {#attachment_21038
      .wp-caption .aligncenter shortcode=\"caption\" style=\"width: 1034px\"}\n[![](https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=480){.wp-image-21038\n.size-large
      aria-describedby=\"caption-attachment-21038\" loading=\"lazy\"\nattachment-id=\"21038\"\npermalink=\"http://svpow.com/2023/06/09/new-paper-curtice-et-al-2023-on-the-first-haplocanthosaurus-from-dry-mesa/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1/\"\norig-file=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg\"\norig-size=\"1822,757\"
      comments-opened=\"1\"\nimage-meta=\"{\\\"aperture\\\":\\\"0\\\",\\\"credit\\\":\\\"\\\",\\\"camera\\\":\\\"\\\",\\\"caption\\\":\\\"\\\",\\\"created_timestamp\\\":\\\"0\\\",\\\"copyright\\\":\\\"\\\",\\\"focal_length\\\":\\\"0\\\",\\\"iso\\\":\\\"0\\\",\\\"shutter_speed\\\":\\\"0\\\",\\\"title\\\":\\\"\\\",\\\"orientation\\\":\\\"0\\\"}\"\nimage-title=\"Haplocanthosaurus
      from across the Morrison \u2013 Curtice et al 2023 fig 1\"\nimage-description=\"\"
      image-caption=\"\"\nmedium-file=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=300\"\nlarge-file=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=1024\"\nwidth=\"480\"
      height=\"199\"\nsrcset=\"https://svpow.files.[...]
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf
  response:
    content: ''
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Mar 2015 08:57:22 GMT
      X-Orig-Src:
      - 01_mogdir
      X-nc:
      - MISS ams 27 np
    status_code: 200
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf
  response:
    content: ''
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Sep 2013 07:34:33 GMT
      X-Orig-Src:
      - 01_mogdir
      X-nc:
      - MISS ams 27 np
    status_code: 200
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf
  response:
    content: ''
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Tue, 29 Mar 2022 07:37:54 GMT
      X-Orig-Src:
      - 01_mogdir
      X-nc:
      - MISS ams 17 np
    status_code: 200
version: 1
