interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/c314bfea-2151-4ccc-8fa8-dd0d1000dfbe
  response:
    content: '{"abstract":"In diesem abschlie\u00dfenden dritten Teil werde ich die
      dritte These des Beitrags begr\u00fcnden: Die Verfassungstreuepflicht engt das
      politische Antragsermessen f\u00fcr solche Antr\u00e4ge umso st\u00e4rker ein,
      je klarer ihre Voraussetzungen erf\u00fcllt sind.","archive_url":null,"authors":[{"name":"Mathias
      Hong"}],"blog":{"api":false,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"law","created_at":1707424153,"current_feed_url":null,"description":"On
      Matters Constitutional","favicon":"https://verfassungsblog.de/wp-content/uploads/2015/12/cropped-VB-icon-32x32.gif","feed_format":"application/atom+xml","feed_url":"https://verfassungsblog.de/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
      6.4.3","home_page_url":"https://verfassungsblog.de/","id":"3ae66672-bf3d-4972-98e1-af7ba856dc21","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"","plan":"Starter","prefix":null,"relative_url":null,"ror":null,"secure":true,"slug":"verfassungsblog","status":"pending","title":"Verfassungsblog","updated_at":1707424936,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Verfassungsblog","blog_slug":"verfassungsblog","content_text":"[Das
      demokratische Haus in Deutschland brennt. Es ist h\u00f6chste Zeit, die\nInstrumente
      der streitbaren Demokratie gegen Landesverb\u00e4nde der AfD\neinzusetzen, die
      mit hoher Wahrscheinlichkeit verfassungswidrig sind,\nwie die in Th\u00fcringen,
      Sachsen und Sachsen-Anhalt. Warum die\nVoraussetzungen f\u00fcr Grundrechtsverwirkung
      und Parteiverbot dort\nvorliegen, und die Verfassungstreue es auch verlangt,
      sie zu beantragen,\nsoll dieser dreiteilige Beitra[...]
