interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/24251b1a-c09c-4341-a65c-30cf92a47d73
  response:
    content: '{"abstract":"The idea that DataCite exists only to provide DOIs is deeply
      embedded in repository thought processes and this idea needs to evolve. The
      research community needs to think about DataCite (and other elements of the
      global research infrastructure) as powerful resources for describing and connecting
      the myriad of resources that make up the modern research world.","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/05bp8ka05","name":"Metadata
      Game Changers"}],"name":"Ted Habermann","url":"https://orcid.org/0000-0003-3585-6733"}],"blog":{"archive_prefix":null,"authors":null,"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","created_at":1709154984,"current_feed_url":null,"description":"<p>Exploring
      metadata, communities, and new ideas. </p>","favicon":null,"feed_format":"application/rss+xml","feed_url":"https://metadatagamechangers.com/blog?format=rss","filter":null,"funding":null,"generator":"Squarespace","generator_raw":"Squarespace
      6.0.0","home_page_url":"https://metadatagamechangers.com/blog","id":"6ac6b508-37c9-4dca-9f49-c36bbe19458a","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"","plan":"Starter","prefix":"10.59350","relative_url":null,"ror":null,"secure":true,"slug":"metadatagamechangers","status":"active","title":"Blog
      - Metadata Game Changers","updated_at":1707852638,"use_api":null,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Blog
      - Metadata Game Changers","blog_slug":"metadatagamechangers","content_text":":::
      {#item-62268c301674dc074d971710 .sqs-layout .sqs-grid-12 .columns-12 layout-label=\"Post
      Body\" data-type=\"item\" updated-on=\"1646694120644\"}\n::: {.row .sqs-row}\n:::
      {.col .sqs-col-12 .span-12}\n::: {#block-32d1112510c14182c2b5 .sqs-block .html-block
      .sqs-block-html block-type=\"2\" border-radii=\"{\\\"topLeft\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"topRight\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"bottomLeft\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"bottomRight\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0}}\"}\n:::
      {.sqs-block-content}\n::: {.sqs-html-content}\nThis work could not have been
      done without Lisa Johnson, the Director of\nthe Data Repository for the University
      of Minnesota (DRUM). Thanks Lisa!\n\n## Introduction {#introduction style=\"white-space:pre-wrap;\"}\n\nDuring
      the early days, repositories had metadata collections in one\ndialect that served,
      to some degree, all needs: discovery,\nidentification, access, [...]
