interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/5adbb6d4-1fe2-4da2-8cf4-c897f88a02d9
  response:
    content: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22124/20231105103706/https://upstream.force11.org/informate-where-are-the-data","authors":[{"affiliation":[{"id":"https://ror.org/05bp8ka05","name":"Metadata
      Game Changers"}],"name":"Ted Habermann","url":"https://orcid.org/0000-0003-3585-6733"},{"name":"Jamaica
      Jones","url":"https://orcid.org/0000-0002-1969-2508"},{"name":"Howard Ratner","url":"http://orcid.org/0000-0002-2123-6317"},{"name":"Tara
      Packer"}],"blog":{"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","authors":null,"canonical_url":null,"category":"humanities","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
      community blog for all things Open Research.","favicon":"https://upstream.force11.org/favicon.png","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
      5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","plan":"Team","prefix":"10.54900","relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","title":"Upstream","updated_at":1709377720,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","content_text":"##
      Introduction\n\nA recent [blog\npost](https://metadatagamechangers.com/blog/2023/9/20/informate-metadata-game-changers-and-chorus-collaborate-to-make-the-invisible-visible)\ndescribed
      a new partnership between Metadata Game Changers and\n[CHORUS](https://www.chorusaccess.org/)
      aimed at understanding how\nCHORUS data can help federal agencies, other funders,
      and other users\naccess and use information from the global research infrastructure
      to\nmeasure this infra[...]
