interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 habanero/1.2.2
    method: GET
    uri: https://api.crossref.org/types/journal-article
  response:
    body:
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"journal-article","label":"Journal
        Article"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 habanero/1.2.2
    method: GET
    uri: https://api.crossref.org/types/tape
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0
    method: GET
    uri: https://api.crossref.org/types/tape
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
version: 1
