interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0
    method: GET
    uri: https://api.crossref.org/types/journal
  response:
    body:
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"journal","label":"Journal"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/types/journal
  response:
    body:
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"journal","label":"Journal"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
