interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.5281
  response:
    content: "[\n  {\n    \"DOI\": \"10.5281\",\n    \"RA\": \"DataCite\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.datacite.org/dois/10.5281/zenodo.48440?include=media,client
  response:
    content: '{"data":{"id":"10.5281/zenodo.48440","type":"dois","attributes":{"doi":"10.5281/zenodo.48440","prefix":"10.5281","suffix":"zenodo.48440","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"Garza,
      Kristian","nameType":"Personal","givenName":"Kristian","familyName":"Garza","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"Analysis
      Tools for Crossover Experiment of UI using Choice Architecture"}],"publisher":"Zenodo","container":{},"publicationYear":2016,"subjects":[{"subject":"choice
      architecture"},{"subject":"crossover experiment"},{"subject":"hci"}],"contributors":[],"dates":[{"date":"2016-03-27","dateType":"Issued"}],"language":null,"types":{"ris":"COMP","bibtex":"misc","citeproc":"article","schemaOrg":"SoftwareSourceCode","resourceTypeGeneral":"Software"},"relatedIdentifiers":[{"relationType":"IsSupplementTo","relatedIdentifier":"https://github.com/kjgarza/frame_experiment_analysis/tree/v1.0","relatedIdentifierType":"URL"}],"relatedItems":[],"sizes":[],"formats":[],"version":"v1.0","rightsList":[{"rights":"Creative
      Commons Attribution Non Commercial Share Alike 4.0 International","rightsUri":"https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode","schemeUri":"https://spdx.org/licenses/","rightsIdentifier":"cc-by-nc-sa-4.0","rightsIdentifierScheme":"SPDX"},{"rights":"Open
      Access","rightsUri":"info:eu-repo/semantics/openAccess"}],"descriptions":[{"description":"This
      tools are used to analyse the data produced by the Crosssover Experiment I designed
      to test Choice Architecture techniques as UI interventions in a SEEk4Science
      data catalogue. It contains: - Data structures for the experimental data.<br>
      - Visualisation functions<br> - Analysis functions ## Installation - R<br> -
      python<br> - ipython 4 Clone and use. ## Usage <br> ```python<br> source(''parallel_plot.r'')<br>
      with(z, parallelset(trt,response, freq=count, alpha=0.2))<br> ``` <br> ## Contributing
      1. Fork it!<br> 2. Create your feature branch: `git checkout -b my-new-feature`<br>
      3. Commit your changes: `git commit -am ''Add some feature''`<br> 4. Push to
      the branch: `git push origin my-new-feature`<br> 5. Submit a pull request :D
      <br> ## License This work supports my PhD Thesis at University of Manchester.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC41MjgxL1pFTk9ETy40ODQ0MDwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1[...]
[...]
