interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/vwd81-p8z85
  response:
    body:
      string: '{"abstract":"Mike Taylor wrote up a post about the various things a
        journal article is doing, the first being a scientific report. We put a lot
        of money in establishing a scientific track record. In the past 30 years how
        we publish our research and how we archive it has changed significantly. If
        you read my blog more often, you know I have been critical of the performance
        of many publishers.","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/02jz4aj89","name":"Maastricht
        University"}],"family":"Willighagen","given":"Egon","url":"https://orcid.org/0000-0001-7542-0286"}],"blog":{"archive_collection":24077,"archive_host":null,"archive_prefix":null,"archive_timestamps":[20250309095102],"authors":[{"name":"Egon
        Willighagen"}],"canonical_url":null,"category":"chemicalSciences","community_id":"7f57028e-9d03-489c-b3b4-3d60de06bc9e","created_at":1710339716,"current_feed_url":"https://chem-bla-ics.linkedchemistry.info/feed.json","description":"Chemblaics
        (pronounced chem-bla-ics) is the science that uses open science and computers
        to solve problems in chemistry, biochemistry and related fields.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/7f57028e-9d03-489c-b3b4-3d60de06bc9e/logo","feed_format":"application/feed+json","feed_url":"https://chem-bla-ics.linkedchemistry.info/archive.json","filter":null,"funding":null,"generator":"Jekyll","generator_raw":"Jekyll
        4.3.4","home_page_url":"https://chem-bla-ics.linkedchemistry.info","id":"0bf0d06a-a707-417d-81eb-65b6c060d7e4","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729769435,"relative_url":null,"ror":null,"secure":true,"slug":"chem_bla_ics","status":"active","subfield":"1606","title":"chem-bla-ics","updated_at":1761436800,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"chem-bla-ics","blog_slug":"chem_bla_ics","content_html":"<p><a
        href=\"https://sauropods.win/@mike\">Mike Taylor</a> wrote up <a href=\"https://doi.org/10.59350/svpow.24000\">a
        post</a> about the various things a journal article is doing,\nthe first being
        <em>a scientific report</em>. We put a lot of money in establishing a scientific
        track record. In the past 30 years\nhow we publish our research and how we
        archive it has changed significantly. If you read my blog more often, you
        know I have\nbeen critical of the performance of many publishers. Springer
        Nature was so disappointing that after 5 years I\n<a href=\"https://chem-bla-ics.linkedchemistry.info/2021/06/11/conflict-of-interest-or-why-i-am.html\">stepped
        down</a>\nas Editor-in-Chief (of two) of the <a href=\"https://en.wikipedia.org/wiki/Journal_of_Cheminformatics\">Journal
        of Cheminformatics</a>.\nThere is so much that must be <a href=\"https://chem-bla-ics.linkedchemistry.info/2024/09/16/publishing.html\">done
        better</a>.</p>\n<p>But in the most recent iteration, triggered by some work
        for <a href=\"https://www.wikipathways.org/\">WikiPathways</a>, I was using\n<a
        href=\"https://europepmc.org/\">Europe PMC</a> to find articles that\nmention
        <em>WikiPathways</em> and then search in the full text for the string <code
        class=\"language-plaintext highlighter-rouge\">WP</code>, as a trigger for
        the possible mention of\nWikiPathways pathway identifiers, which look like
        <code class=\"language-plaintext highlighter-rouge\">WP4846</code>. The use
        of <em>compact (resource) identifiers</em>\n(see doi:<a href=\"https://doi.org/10.1038/sdata.2018.29\">10.1038/sdata.2018.29</a>)
        is minimal, but at least some articles use identifiers.</p>\n<p>That allows
        me to extend our WikiPathways knowledge graph of <a href=\"https://www.wikipathways.org/browse/citedin\">articles
        citing specific pathways</a>.\nAt the time of writing, we collected 2509 citations
        from 440 different articles to 883 different pathways. Now,\nI want to blog
        about that more, but it\u2019s related to an observation.</p>\n<h2 id=\"information-loss\">Information
        loss</h2>\n<p>Now, back in the late ninities I learned about GNU/Linux and
        after playing with Red Hat and Suse, I settled for Debian.\nOne of the things
        I learned is that, generally, information corruption (like data loss) is an
        absolute red flag, a no-go,\na total showstopper.</p>\n<p>And then we have
        this in publishing, the one area where data corruption must also be a no-go:</p>\n<p><img
        alt=\"\" src=\"https://chem-bla-ics.linkedchemistry.info/assets/images/imageResolutionLoss.png\"/></p>\n<p>In
        this image, the left side shows a screenshot of the publisher version of the
        article and on the right side\nthe version in <a href=\"https://pmc.ncbi.nlm.nih.gov/\">Pubmed
        Central</a> (PMC). PMC has been an important project to archive full text
        versions of articles:</p>\n<blockquote>\n<p>11.2 million articles are archived
        in PMC.</p>\n</blockquote>\n<p>So, this is <strong>really bad</strong>! The
        archived version is not really useful. As a human I already struggle to read
        the\ndegraded image, let alone an algorithm.</p>\n<p>Does that matter? Yes,
        projects like the awesome\n<a href=\"https://pfocr.wikipathways.org/\">Pathway
        Figure OCR</a> (see doi:<a href=\"https://doi.org/10.1186/s13059-020-02181-2\">10.1186/s13059-020-02181-2</a>)\ndepend
        on images to be FAIR enough to extract information. (Side note: yes, these
        images should be vector\ngraphics, but commercial publishers decided about
        twenty years ago that they could not care enough.)</p>\n<p>At this moment,
        I do not know where the information is lost. Maybe PubMed Central is storing
        the images in a low\nresolution. Maybe the publisher provides PMC with a low
        resolution image. But to me, this must be solved as soon\nas possible. This
        is utterly unacceptable.</p>\n<p>I wonder what the authors of the article
        (doi:<a href=\"https://doi.org/10.1186/s13287-025-04166-z\">10.1186/s13287-025-04166-z</a>)\nI
        took as example think of this.</p>","doi":"https://doi.org/10.59350/vwd81-p8z85","funding_references":null,"guid":"https://doi.org/10.59350/vwd81-p8z85","id":"e69262cd-6c5f-476e-8cca-0213f6eab980","image":null,"indexed_at":1760250831,"language":"en","parent_doi":null,"published_at":1754438400,"reference":[{"cito":["cito:citesAsRecommendedReading"],"id":"https://doi.org/10.59350/svpow.24000","type":"BlogPost","unstructured":"Taylor,
        M. (2025, August 1). Journal articles are trying to do six things at once
        \u2014 no wonder they''re unreadable. <i>Sauropod Vertebra Picture of the
        Week</i>. https://doi.org/10.59350/svpow.24000 <b>[cito:citesAsRecommendedReading]</b>"},{"cito":["cito:citesAsRecommendedReading"],"id":"https://doi.org/10.1186/s13059-020-02181-2","type":"JournalArticle","unstructured":"Hanspers,
        K., Riutta, A., Summer-Kutmon, M., &amp; Pico, A. R. (2020). Pathway information
        extracted from 25 years of pathway figures. <i>Genome Biology</i>, <i>21</i>(1).
        https://doi.org/10.1186/s13059-020-02181-2 <b>[cito:citesAsRecommendedReading]</b>"},{"cito":["cito:describes"],"id":"https://doi.org/10.1186/s13287-025-04166-z","type":"JournalArticle","unstructured":"Yuan,
        F., Liu, J., Zhong, L., Liu, P., Li, T., Yang, K., Gao, W., Zhang, G., Sun,
        J., &amp; Zou, X. (2025). Enhanced therapeutic effects of hypoxia-preconditioned
        mesenchymal stromal cell-derived extracellular vesicles in renal ischemic
        injury. <i>Stem Cell Research & Therapy</i>, <i>16</i>(1). https://doi.org/10.1186/s13287-025-04166-z
        <b>[cito:describes]</b>"},{"cito":["cito:obtainsBackgroundFrom"],"id":"https://doi.org/10.1038/sdata.2018.29","type":"JournalArticle","unstructured":"Wimalaratne,
        S. M., Juty, N., Kunze, J., Jan\u00e9e, G., McMurry, J. A., Beard, N., Jimenez,
        R., Grethe, J. S., Hermjakob, H., Martone, M. E., &amp; Clark, T. (2018).
        Uniform resolution of compact identifiers for biomedical data. <i>Scientific
        Data</i>, <i>5</i>(1). https://doi.org/10.1038/sdata.2018.29 <b>[cito:obtainsBackgroundFrom]</b>"}],"registered_at":0,"relationships":[],"rid":"xtmqd-gwg60","subfield":null,"summary":"Mike
        Taylor wrote up a post about the various things a journal article is doing,
        the first being\n<em>\n a scientific report\n</em>\n. We put a lot of money
        in establishing a scientific track record. In the past 30 years how we publish
        our research and how we archive it has changed significantly. If you read
        my blog more often, you know I have been critical of the performance of many
        publishers.","tags":["Publishing"],"title":"Archiving, but not really","topic":null,"topic_score":0,"updated_at":1754438400,"url":"https://chem-bla-ics.linkedchemistry.info/2025/08/06/archiving-but-not-really.html","version":"v1"}

        '
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01KBDES5NXADND1GGE9MAH4JGP-ams
      ratelimit-limit:
      - '15'
      ratelimit-remaining:
      - '7'
      ratelimit-reset:
      - '28'
    status:
      code: 200
      message: ''
version: 1
