interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.54900/zg929-e9595
  response:
    body:
      string: '{"abstract":"The New York Times ushered in the New Year with a lawsuit
        against OpenAI and Microsoft. The paper covered the suit, fittingly, as a
        major business story.","archive_url":"https://wayback.archive-it.org/22124/2025-05-05T10:39:18Z/https://upstream.force11.org/large-language-publishing/","authors":[{"contributor_roles":[],"family":"Pooley","given":"Jeff","url":"https://orcid.org/0000-0002-3674-1930"}],"blog":{"archive_collection":22124,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","archive_timestamps":[20231105103706,20240505132151,20241105103657,20250505103918],"authors":null,"canonical_url":null,"category":"humanities","community_id":"aeaafcbb-94b5-477a-a89f-8fba5925e926","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","prefix":"10.54900","registered_at":1729244339,"relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","subfield_validated":null,"title":"Upstream","updated_at":1764663321,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","citations":[{"citation":"https://doi.org/10.1016/j.compcom.2024.102892","published_at":"2025-03","unstructured":"Pandey,
        H. L., Bhusal, P. C., &amp; Niraula, S. (2025). Large language models and
        digital multimodal composition in the first-year composition classrooms: An
        encroachment and/or enhancement dilemma. <i>Computers and Composition</i>,
        <i>75</i>, 102892. https://doi.org/10.1016/j.compcom.2024.102892","updated_at":"2025-02-02T19:19:34.824105+00:00","validated":true},{"citation":"https://doi.org/10.1515/bfp-2024-0008","published_at":"2024-05-16","unstructured":"Siems,
        R. (2024). Subprime Impact Crisis. Bibliotheken, Politik und digitale Souver\u00e4nit\u00e4t.
        <i>Bibliothek Forschung Und Praxis</i>, <i>48</i>(2), 311\u2013321. https://doi.org/10.1515/bfp-2024-0008","updated_at":"2025-02-02T19:19:54.360906+00:00","validated":true},{"citation":"https://doi.org/10.1515/bfp-2025-0002","published_at":"2025-06-28","unstructured":"Lahrsow,
        M. (2025). KI-Tools f\u00fcr die wissenschaftliche Literaturrecherche: Potenziale,
        Problematiken, Didaktik und Zukunftsperspektiven. <i>Bibliothek Forschung
        Und Praxis</i>, <i>49</i>(2), 230\u2013253. https://doi.org/10.1515/bfp-2025-0002","updated_at":"2025-08-02T16:42:09.197026+00:00","validated":true},{"citation":"https://doi.org/10.53731/2ych7-jqc35","published_at":"2024-10-07","unstructured":"Fenner,
        M. (2024, October 7). Rogue Scholar learns about communities. <i>Front Matter</i>.
        https://doi.org/10.53731/2ych7-jqc35","updated_at":"2025-10-22T08:23:27.906816+00:00","validated":true},{"citation":"https://doi.org/10.53731/dv8z6-a6s33","published_at":"2024-10-07","unstructured":"Fenner,
        M. (2024, October 7). Rogue Scholar learns about communities. <i>Front Matter</i>.
        https://doi.org/10.53731/dv8z6-a6s33","updated_at":"2025-02-02T19:18:46.946136+00:00","validated":true},{"citation":"https://doi.org/10.54900/sdgvx-tty28","published_at":"2024-01-16","unstructured":"Bhosale,
        U., Phadke, G., &amp; Kapadia, A. (2024, January 16). Need for Consistent
        and Uniform Guidelines Regarding the Use and Disclosure of AI-generated Scholarly
        Content. <i>Upstream</i>. https://doi.org/10.54900/sdgvx-tty28","updated_at":"2025-02-02T19:18:45.845526+00:00","validated":true},{"citation":"https://doi.org/10.54900/z39at-we393","published_at":"2024-01-16","unstructured":"Bhosale,
        U., Phadke, G., &amp; Kapadia, A. (2024, January 16). Need for Consistent
        and Uniform Guidelines Regarding the Use and Disclosure of AI-generated Scholarly
        Content. <i>Upstream</i>. https://doi.org/10.54900/z39at-we393","updated_at":"2025-10-22T08:33:36.767181+00:00","validated":true}],"content_html":"<p><em>The
        New York Times</em> ushered in the New Year with a <a href=\"https://nytco-assets.nytimes.com/2023/12/NYT_Complaint_Dec2023.pdf\">lawsuit</a>
        against OpenAI and Microsoft. The paper <a href=\"https://www.nytimes.com/2023/12/27/business/media/new-york-times-open-ai-microsoft-lawsuit.html\">covered
        the suit</a>, fittingly, as a major business story. OpenAI and its Microsoft
        patron had, according to the filing, stolen \u201c<em>millions</em> of The
        Times\[...]
