interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/k9zxj-pek64
  response:
    body:
      string: '{"abstract":"I was lucky enough to have Phil Mannion as one of the
        peer-reviewers for\u00a0my recent paper\u00a0(Taylor 2018) showing that Xenoposeidon
        is a rebbachisaurid.\u00a0During that process, we got into a collegial disagreement
        about one of the autapomorphies that I proposed in the revised diagnosis:
        \u201cNeural arch slopes anteriorly 30\u00b0\u201335\u00b0 relative to the
        vertical\u201d. (This same character [\u2026]","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/0524sp257","name":"University
        of Bristol"}],"family":"Taylor","given":"Mike","url":"https://orcid.org/0000-0002-1003-5675"}],"blog":{"archive_collection":22153,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22153/20231105213934/","archive_timestamps":null,"authors":[{"name":"Mike
        Taylor"}],"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","community_id":"0e13541f-417e-46c0-a859-65927249df72","created_at":1675209600,"current_feed_url":null,"description":"SV-POW!  ...  All
        sauropod vertebrae, except when we''re talking about Open Access. ISSN 3033-3695","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://svpow.com","id":"c6cbbd2e-4675-4680-8a3f-784388009821","indexed":false,"issn":"3033-3695","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729882329,"relative_url":null,"ror":null,"secure":true,"slug":"svpow","status":"active","subfield":"1911","title":"Sauropod
        Vertebra Picture of the Week","updated_at":1764496226,"use_api":true,"use_mastodon":false,"user_id":"04d03585-c8bb-40f2-9619-5076a5e0aed2"},"blog_name":"Sauropod
        Vertebra Picture of the Week","blog_slug":"svpow","content_html":"<p>I was
        lucky enough to have Phil Mannion as one of the peer-reviewers for\u00a0<a
        href=\"http://svpow.com/papers-by-sv-powsketeers/taylor-2018-on-xenoposeidon-as-a-rebbachisaurid/\">my
        recent paper</a>\u00a0(Taylor 2018) showing that <a href=\"http://svpow.com/2015/07/14/is-xenoposeidon-a-rebbachisaur/\"><em>Xenoposeidon</em>
        is a rebbachisaurid.</a>\u00a0During that process, we got into a collegial
        disagreement about one of the autapomorphies that I proposed in the revised
        diagnosis: &#8220;Neural arch slopes anteriorly 30\u00b0\u201335\u00b0 relative
        to the vertical&#8221;. (This same character was also in <a href=\"http://svpow.com/papers-by-sv-powsketeers/xenoposeidon-week/\">the
        original <em>Xenoposeidon</em> paper</a>\u00a0(Taylor and Naish 2007), in
        the slightly more assertive form &#8220;neural arch slopes anteriorly 35 degrees
        relative to the vertical&#8221;: the softening to &#8220;30\u00b0\u201335\u00b0&#8221;
        in the newer paper was one of the outcomes of the peer-review.)</p>\n<p>The
        reason this is interesting is because the slope of the neural arch is measured
        relative to the vertical, which of course is 90\u02da from the horizontal
        &#8212; but Phil&#8217;s comments\u00a0(Mannion 2018) pushed me to ask myself
        for the first time: what actually is &#8220;horizontal&#8221;? We all assume
        we know horizontality when we see it, but what precisely do we mean by it?</p>\n<h1>Three
        notions of &#8220;horizontal&#8221;</h1>\n<div data-shortcode=\"caption\"
        id=\"attachment_15268\" style=\"width: 490px\" class=\"wp-caption alignnone\"><a
        href=\"https://svpow.wordpress.com/wp-content/uploads/2018/08/figure-a-different-kinds-of-horizontal.jpeg\"><img
        aria-describedby=\"caption-attachment-15268\" loading=\"lazy\" data-attachment-id=\"15268\"
        data-permalink=\"http://svpow.com/2018/08/28/what-does-it-mean-for-a-vertebra-to-be-horizontal/figure-a-different-kinds-of-horizontal/\"
        data-orig-[...]
