interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/hnegw-6rx17
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22143/2023-11-03T19:24:18Z/https://project-thor.eu/2017/10/12/thor-final-event-programme-is-out","authors":[{"affiliation":[{"id":"https://ror.org/04fa4r544","name":"ORCID"}],"family":"Duine","given":"Maaike","url":"https://orcid.org/0000-0003-3412-7192"}],"blog":{"archive_collection":22143,"archive_host":"project-thor.eu","archive_prefix":"https://wayback.archive-it.org/22143/20231103191454/","archive_timestamps":[20231103192418],"authors":null,"canonical_url":null,"category":"computerAndInformationSciences","community_id":"9e52146d-52b4-4733-9b05-1b23091c3835","created_at":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/9e52146d-52b4-4733-9b05-1b23091c3835/logo","feed_format":"application/feed+json","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"funding":{"awardNumber":"654039","awardTitle":"THOR
        \u2013 Technical and Human Infrastructure for Open Research","awardUri":"https://doi.org/10.3030/654039","funderIdentifier":"https://ror.org/019w4f821","funderName":"European
        Union"},"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/","id":"2a309edc-7a90-4735-807c-a81a7e5eb890","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1511522178,"relative_url":null,"ror":null,"secure":true,"slug":"thor","status":"archived","subfield":"1802","subfield_validated":null,"title":"Project
        THOR","updated_at":1511522178,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Project
        THOR","blog_slug":"thor","citations":[{"citation":"https://doi.org/10.53731/27w59-wrs22","published_at":"2024-10-23","unstructured":"Fenner,
        M. (2024, October 23). My contribution to Open Access Week 2024. <i>Front
        Matter</i>. https://doi.org/10.53731/27w59-wrs22","updated_at":"2025-02-02T19:19:50.739194+00:00","validated":true},{"citation":"https://doi.org/10.59350/my6tk-bvk62","published_at":"2024-10-23","unstructured":"Fenner,
        M. (2024, October 23). My contribution to Open Access Week 2024. <i>Front
        Matter</i>. https://doi.org/10.59350/my6tk-bvk62","updated_at":"2025-10-22T08:24:25.478669+00:00","validated":true},{"citation":"https://doi.org/10.59350/n2tya-6c468","published_at":"2024-10-23","unstructured":"Fenner,
        M. (2024, October 23). My contribution to Open Access Week 2024. <i>Front
        Matter</i>. https://doi.org/10.59350/n2tya-6c468","updated_at":"2025-10-22T08:30:32.844897+00:00","validated":true}],"content_html":"<p>Come
        and join us at the Universit\u00e0 degli Studi di Roma \u201cLa Sapienza\u201d\nin
        Rome, Italy, on November 15th 2017 to learn about how we have\nadvanced the
        state of the art in persistent identifiers. You will find\nout about how THOR
        partners have developed new tools to connect\nidentifiers across systems,
        to link people, datasets, samples, reactions\nand more.</p>\n<p>Keynote speeches
        by Fiona Murphy and Herbert van de Sompel will show\nthe importance of persistent
        identifiers in the broader scholarly comms\ninfrastructure. A mix of demos,
        expert talks and discussion panels will\nhighlight THOR\u2019s achievements,
        PID integrations and services.</p>\n<p>Join us in Rome and register <a\nhref=\"https://thorfinalevent.eventbrite.com/\">here</a>!</p>\n<h4
        id=\"thor-final-conference-agenda\"><strong>THOR Final Conference\nAgenda:</strong></h4>\n<table>\n<colgroup>\n<col
        style=\"width: 33%\" />\n<col style=\"width: 33%\" />\n<col style=\"width:
        33%\" />\n</colgroup>\n<tbody>\n<tr class=\"odd\">\n<td><strong>Time</strong></td>\n<td><strong>What</strong></td>\n<td><strong>Who</strong></td>\n</tr>\n<tr
        class=\"even\">\n<td><span style=\"font-weight:400;\">8.30-9.30</span></td>\n<td><span
        style=\"font-weight:400;\">Registration </span></td>\n<td></td>\n</tr>\n<tr
        class=\"odd\">\n<td><span style=\"font-weight:400;\">9.30-9.45</span></td>\n<td><span
        style=\"font-weight:400;\">Welcome</span></td>\n<td><span style=\"font-weight:400;\">Cineca
        and La Sapienza\nUniversity</span></td>\n</tr>\n<tr class=\"even\">\n<td><span
        style=\"font-weight:400;\">9.45-10.15</span></td>\n<td><span style=[...]
