interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/1xr7q-9fp18
  response:
    body:
      string: '{"id": "1xr7q-9fp18", "created": "2024-10-07T11:56:14.758027+00:00",
        "updated": "2026-03-16T23:33:02.687788+00:00", "links": {"self": "https://rogue-scholar.org/api/records/1xr7q-9fp18",
        "self_html": "https://rogue-scholar.org/records/1xr7q-9fp18", "preview_html":
        "https://rogue-scholar.org/records/1xr7q-9fp18?preview=1", "doi": "https://doi.org/10.53731/dv8z6-a6s33",
        "self_doi": "https://doi.org/10.53731/dv8z6-a6s33", "self_doi_html": "https://rogue-scholar.org/doi/10.53731/dv8z6-a6s33",
        "reserve_doi": "https://rogue-scholar.org/api/records/1xr7q-9fp18/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/2ych7-jqc35", "parent_html":
        "https://rogue-scholar.org/records/2ych7-jqc35", "parent_doi": "https://doi.org/10.53731/2ych7-jqc35",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.53731/2ych7-jqc35", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:1xr7q-9fp18/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:1xr7q-9fp18/sequence/default",
        "files": "https://rogue-scholar.org/api/records/1xr7q-9fp18/files", "media_files":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/media-files", "archive":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/1xr7q-9fp18/latest", "versions": "https://rogue-scholar.org/api/records/1xr7q-9fp18/versions",
        "draft": "https://rogue-scholar.org/api/records/1xr7q-9fp18/draft", "access_links":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access/request", "access":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/access", "communities":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/1xr7q-9fp18/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/1xr7q-9fp18/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/1xr7q-9fp18/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/1xr7q-9fp18/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/1xr7q-9fp18/requests"},
        "revision_id": 212, "parent": {"id": "2ych7-jqc35", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["15a362ea-8138-42b8-917f-1840a92addf8", "40d93f0d-7c6b-44ee-83e1-971b099c2f54",
        "5e9a020e-21d4-4515-8a70-bb942b08a59d", "d79fe364-6d96-40b6-b437-b93ca3493106"],
        "default": "15a362ea-8138-42b8-917f-1840a92addf8", "entries": [{"id": "15a362ea-8138-42b8-917f-1840a92addf8",
        "created": "2024-08-30T15:03:16.250133+00:00", "updated": "2026-08-22T09:02:28.595812+00:00",
        "links": {}, "revision_id": 4007, "slug": "front_matter", "metadata": {"title":
        "Front Matter", "description": "The Front Matter Blog covers the intersection
        of science and technology since 2007.", "type": {"id": "blog"}, "website":
        "https://blog.front-matter.de/"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"feed:feed_url": "https://blog.front-matter.de/atom",
        "feed:created": "2023-01-01", "feed:updated": "2026-08-20T09:30:26+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "Ghost"}, "feed:status":
        {"id": "active"}, "feed:authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
        "feed:secure": true, "feed:use_api": true, "rs:issn": "2749-9952", "rs:prefix":
        {"id": "10.53731"}, "rs:doi": "https://doi.org/10.53731/front_matter", "rs:license":
        {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield": [{"id":
        "https://openalex.org/subfields/1710"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "40d93f0d-7c6b-44ee-83e1-971b099c2f54",
        "created": "2024-10-08T13:08:59.074690+00:00", "updated": "2026-01-25T12:37:39.092298+00:00",
        "links": {}, "revision_id": 39, "slug": "roguescholar", "metadata": {"title":
        "Rogue Scholar", "description": "Blog posts about Rogue Scholar.", "type":
        {"id": "topic"}}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_pol[...]
