interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/v7a82-05b98
  response:
    body:
      string: '{"id": "v7a82-05b98", "created": "2024-10-13T13:12:54.717010+00:00",
        "updated": "2026-01-25T05:36:25.009378+00:00", "links": {"self": "https://rogue-scholar.org/api/records/v7a82-05b98",
        "self_html": "https://rogue-scholar.org/records/v7a82-05b98", "preview_html":
        "https://rogue-scholar.org/records/v7a82-05b98?preview=1", "doi": "https://doi.org/10.59350/mg09a-5ma64",
        "self_doi": "https://doi.org/10.59350/mg09a-5ma64", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/mg09a-5ma64",
        "reserve_doi": "https://rogue-scholar.org/api/records/v7a82-05b98/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/4cxvh-vzs80", "parent_html":
        "https://rogue-scholar.org/records/4cxvh-vzs80", "parent_doi": "https://doi.org/10.59350/4cxvh-vzs80",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/4cxvh-vzs80", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:v7a82-05b98/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:v7a82-05b98/sequence/default",
        "files": "https://rogue-scholar.org/api/records/v7a82-05b98/files", "media_files":
        "https://rogue-scholar.org/api/records/v7a82-05b98/media-files", "archive":
        "https://rogue-scholar.org/api/records/v7a82-05b98/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/v7a82-05b98/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/v7a82-05b98/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/v7a82-05b98/latest", "versions": "https://rogue-scholar.org/api/records/v7a82-05b98/versions",
        "draft": "https://rogue-scholar.org/api/records/v7a82-05b98/draft", "access_links":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access/request", "access":
        "https://rogue-scholar.org/api/records/v7a82-05b98/access", "communities":
        "https://rogue-scholar.org/api/records/v7a82-05b98/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/v7a82-05b98/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/v7a82-05b98/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/v7a82-05b98/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/v7a82-05b98/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/v7a82-05b98/requests"},
        "revision_id": 47, "parent": {"id": "4cxvh-vzs80", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["1392af05-f8a9-47b4-a48b-3ffe75cf3e99", "53174590-b8d0-4c88-b121-4ca75f7de145",
        "eb763c22-a466-4cdf-9c29-df57f530345b", "f673842a-7751-41dc-9f53-9c89f9a8ef37"],
        "default": "53174590-b8d0-4c88-b121-4ca75f7de145", "entries": [{"id": "1392af05-f8a9-47b4-a48b-3ffe75cf3e99",
        "created": "2025-12-02T20:35:58.254513+00:00", "updated": "2025-12-02T20:56:03.936838+00:00",
        "links": {}, "revision_id": 3, "slug": "1404", "metadata": {"title": "Management
        Information Systems", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1404"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "53174590-b8d0-4c88-b121-4ca75f7de145", "created": "2024-09-30T16:38:29.316160+00:00",
        "updated": "2026-08-22T09:02:41.120396+00:00", "links": {}, "revision_id":
        3576, "slug": "infomgnt", "metadata": {"title": "Research Group Information
        Management @ Humboldt-Universit\u00e4t zu Berlin", "description": "Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin", "type":
        {"id": "blog"}, "website": "https://infomgnt.org/"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://infomgnt.org/index.xml",
        "feed:created": "2024-06-06", "feed:updated": "2026-07-15T22:00:00+00:00",
        "feed:feed_fo[...]
