interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/345qb-aan84
  response:
    body:
      string: '{"id": "345qb-aan84", "created": "2024-10-30T08:34:03.539461+00:00",
        "updated": "2026-07-20T06:43:35.201615+00:00", "links": {"self": "https://rogue-scholar.org/api/records/345qb-aan84",
        "self_html": "https://rogue-scholar.org/records/345qb-aan84", "preview_html":
        "https://rogue-scholar.org/records/345qb-aan84?preview=1", "doi": "https://doi.org/10.59350/27ewm-zn378",
        "self_doi": "https://doi.org/10.59350/27ewm-zn378", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/27ewm-zn378",
        "reserve_doi": "https://rogue-scholar.org/api/records/345qb-aan84/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/tdcc0-aw552", "parent_html":
        "https://rogue-scholar.org/records/tdcc0-aw552", "parent_doi": "https://doi.org/10.59350/tdcc0-aw552",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/tdcc0-aw552", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:345qb-aan84/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:345qb-aan84/sequence/default",
        "files": "https://rogue-scholar.org/api/records/345qb-aan84/files", "media_files":
        "https://rogue-scholar.org/api/records/345qb-aan84/media-files", "archive":
        "https://rogue-scholar.org/api/records/345qb-aan84/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/345qb-aan84/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/345qb-aan84/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/345qb-aan84/latest", "versions": "https://rogue-scholar.org/api/records/345qb-aan84/versions",
        "draft": "https://rogue-scholar.org/api/records/345qb-aan84/draft", "access_links":
        "https://rogue-scholar.org/api/records/345qb-aan84/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/345qb-aan84/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/345qb-aan84/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/345qb-aan84/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/345qb-aan84/access/request", "access":
        "https://rogue-scholar.org/api/records/345qb-aan84/access", "communities":
        "https://rogue-scholar.org/api/records/345qb-aan84/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/345qb-aan84/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/345qb-aan84/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/345qb-aan84/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/345qb-aan84/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/345qb-aan84/requests"},
        "revision_id": 45, "parent": {"id": "tdcc0-aw552", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["0e13541f-417e-46c0-a859-65927249df72", "52ef2b10-984d-40cb-ba75-d8b66e56ab02",
        "ce85b38a-7acb-4a36-a274-4e026646af48"], "default": "0e13541f-417e-46c0-a859-65927249df72",
        "entries": [{"id": "0e13541f-417e-46c0-a859-65927249df72", "created": "2024-10-05T08:57:03.365247+00:00",
        "updated": "2026-08-22T09:06:19.752893+00:00", "links": {}, "revision_id":
        3557, "slug": "svpow", "metadata": {"title": "Sauropod Vertebra Picture of
        the Week", "description": "SV-POW!  ...  All sauropod vertebrae, except when
        we''re talking about Open Access. ISSN 3033-3695", "type": {"id": "blog"},
        "website": "https://svpow.com"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"feed:feed_url": "https://svpow.com/feed/atom/",
        "feed:created": "2023-02-01", "feed:updated": "2026-08-19T10:30:34+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress.com"},
        "feed:status": {"id": "active"}, "feed:authors": [{"name": "Mike Taylor"}],
        "feed:secure": true, "feed:use_api": true, "rs:issn": "3033-3695", "rs:prefix":
        {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/svpow", "rs:license":
        {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield": [{"id":
        "https://openalex.org/subfields/1911"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "52ef2b10-984d-40cb-ba75-d8b66e56ab02",
        "created": "2025-12-02T14:42:36.706869+00:00", "updated": "2025-12-02T20:56:17.286715+00:00",
        "links": {}, "revision_id": 7, "slug": "1911", "metadata": {"title": "Paleontology",
        "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1911"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "ce85b38a-7acb-4a36-a274-4e026646af48", "created": "2025-02-10T08:10:20.634480+00:00",
        "updated": "2025-12-02T20:56:09.092241+00:00", "links": {}, "revision_id":
        11, "slug": "1908", "metadata": {"title": "Geophysics", "type": {"id": "subject"},
        "website": "https://openalex.org/subfields/1908"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.59350/tdcc0-aw552", "provider": "crossref", "client":
        "crossref"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.59350/27ewm-zn378",
        "provider": "crossref", "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:345qb-aan84",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Wedel, Matt",
        "given_name": "Matt", "family_name": "Wedel", "identifiers": [{"identifier":
        "0000-0001-6082-3103", "scheme": "orcid"}]}, "affiliations": [{"id": "05167c961",
        "name": "Western University of Health Sciences", "identifiers": [{"identifier":
        "05167c961", "scheme": "ror"}]}]}], "title": "To what extent is science a
        strong-link problem?", "publisher": "Front Matter", "publication_date": "2024-10-30",
        "subjects": [{"id": "https://openalex.org/subfields/1911", "subject": "Paleontology",
        "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?1.5",
        "subject": "Earth and related environmental sciences", "scheme": "FOS"}, {"subject":
        "Cervical"}, {"subject": "Diplodocids"}, {"subject": "Giant Oklahoma Apatosaurine"},
        {"subject": "Navel Blogging"}, {"subject": "Pneumaticity"}], "dates": [{"date":
        "2024-10-30T00:24:48Z", "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht",
        "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date": "2024-11-11T10:10:41Z",
        "type": {"id": "updated", "title": {"de": "Aktualisiert", "en": "Updated",
        "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title": {"en": "English"}}],
        "identifiers": [{"identifier": "https://svpow.com/?p=22854", "scheme": "guid"},
        {"identifier": "https://svpow.com/2024/10/30/to-what-extent-is-science-a-strong-link-problem/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Here''s a fascinating and worrying news
        story in Science: a top US researcher apparently falsified a lot of images
        (at least) in papers that helped get experimental drugs on the market \u2014
        papers that were published in top journals for years, and whose problems have
        only recently become apparent because of amateur sleuthing through PubPeer.",
        "references": [{"identifier": "10.1128/iai.05661-11", "scheme": "doi", "reference":
        "Fang, F. C., Casadevall, A.&amp; Morrison, R. P. (2011). Retracted Science
        and the Retraction Index. <i>Infection and Immunity</i>, <i>79</i>(10), 3855\u20133859."},
        {"identifier": "10.1080/02724634.2023.2259444", "scheme": "doi", "reference":
        "Fronimos, J. A. (2023). Patterns and function of pneumaticity in the vertebrae,
        ribs, and ilium of a titanosaur (Dinosauria, Sauropoda) from the Upper Cretaceous
        of Texas. <i>Journal of Vertebrate Paleonto[...]
