interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/dcw3y-7em87
  response:
    body:
      string: '{"abstract":"Egon Willighagen, at Uppsala University, has pioneered
        the use of object properties from CiTO, the Citation Typing Ontology, to characterize
        bibliographic citations in CiteULike, the free service for managing and discovering
        scholarly references.\u00a0 Indeed, it was his use case that persuaded me
        of the need to generalize CiTO to include indirect citations.","archive_url":"https://wayback.archive-it.org/22125/2025-05-05T11:03:02Z/https://opencitations.hypotheses.org/31","authors":[{"affiliation":[{"id":"https://ror.org/052gg0110","name":"University
        of Oxford"}],"family":"Shotton","given":"David M.","url":"https://orcid.org/0000-0001-5506-523X"}],"blog":{"archive_collection":22125,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22125/20231105110316/","archive_timestamps":[20231105110316,20240505181542,20241105110224,20250505110302],"authors":[{"name":"OpenCitations
        Team"}],"canonical_url":null,"category":"otherSocialSciences","community_id":"84fbaf60-5174-43f6-976e-5f0b6f1da9a1","created_at":1681862400,"current_feed_url":null,"description":"The
        blog of the OpenCitations Infrastructure","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/c8efeda5-cd52-472d-9537-6915b9c62e34/logo","feed_format":"application/atom+xml","feed_url":"https://opencitations.hypotheses.org/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.6.2","home_page_url":"https://opencitations.hypotheses.org","id":"1e1a0f67-e922-4977-b5b8-c5ec19c2f43a","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://@scicomm.xyz/@opencitations","prefix":"10.59350","registered_at":1727299025,"relative_url":null,"ror":"https://ror.org/00wb4mk85","secure":true,"slug":"opencitations","status":"active","subfield":"1802","subfield_validated":null,"title":"OpenCitations
        blog","updated_at":1761146315,"use_api":true,"use_mastodon":true,"user_id":"13119f55-bbed-46a9-9338-80103d8c6b05"},"blog_name":"OpenCitations
        blog","blog_slug":"opencitations","citations":[{"citation":"https://doi.org/10.1007/s11192-013-1108-3","published_at":"2013-08-10","unstructured":"Parinov,
        S., &amp; Kogalovsky, M. (2013). Semantic linkages in research information
        systems as a new data source for scientometric studies. <i>Scientometrics</i>,
        <i>98</i>(2), 927\u2013943. https://doi.org/10.1007/s11192-013-1108-3","updated_at":"2025-02-02T19:19:01.385995+00:00","validated":true},{"citation":"https://doi.org/10.1134/s0361768814060139","published_at":"2014-11","unstructured":"Kogalovsky,
        M. R., &amp; Parinov, S. I. (2014). Social network technologies for semantic
        linking of information objects in scientific digital library. <i>Programming
        and Computer Software</i>, <i>40</i>(6), 314\u2013322. https://doi.org/10.1134/s0361768814060139","updated_at":"2025-02-02T19:18:41.652975+00:00","validated":true}],"content_html":"<p>Egon
        Willighagen, at Uppsala University, has pioneered the use of object properties
        from CiTO, the Citation Typing Ontology, to characterize bibliographic citations
        in <a href=\"http://www.citeulike.org/\" target=\"_blank\" rel=\"noopener\">CiteULike</a>,
        the free service for managing and discovering scholarly references.\u00a0
        Indeed, it was his use case that persuaded me of the need to generalize CiTO
        to include indirect citations.</p>\n<p>For example, in documenting papers
        that use the Chemistry Development Kit (CDK), Egon records the following paper
        by Guha (2007)\u00a0(Egon&#8217;s CiteULike reference 7901082):\u00a0 <em><br
        />\n</em></p>\n<p><em><a href=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"><img
        loading=\"lazy\" decoding=\"async\" class=\"aligncenter size-full wp-image-37\"
        title=\"Guha 2007 reference 7901082\" src=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"
        alt=\"\" width=\"640\" height=\"394\" /></a></em></p>\n<p>He tags that Guha
        paper, using the CiTO tag <em>cito:usedMethodIn</em>,[...]
