interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/m99dx-x9g53
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"name":"re3data Team"}],"blog":{"archive_collection":22147,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22147/20231105110623/","archive_timestamps":[20231105110623,20240505185726,20241105110545,20250505110530],"authors":[{"name":"re3data
        Team"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"46622ea2-fb2c-4bca-a1d0-e78da393d61c","created_at":1696032000,"current_feed_url":null,"description":"COREF
        Blog","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/64af7724-6171-4e2c-8f09-ba23d5f324b6/logo","feed_format":"application/atom+xml","feed_url":"https://coref.project.re3data.org/blog.atom","filter":null,"funding":{"AwardTitle":"re3data
        \u2013 Offene und nutzerorientierte Referenz f\u00fcr Forschungsdatenrepositorien
        (re3data COREF)","awardNumber":"422587133","awardUri":"https://gepris.dfg.de/gepris/projekt/422587133","funderIdentifier":"https://ror.org/018mejw64","funderName":"Deutsche
        Forschungsgemeinschaft"},"generator":"Other","generator_raw":"Other","home_page_url":"https://coref.project.re3data.org","id":"49e78b39-206f-4145-9495-7d4465512073","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729607238,"relative_url":"post","ror":null,"secure":true,"slug":"coref","status":"active","subfield":"1710","title":"COREF
        Blog","updated_at":1729606260,"use_api":null,"use_mastodon":false,"user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d"},"blog_name":"COREF
        Blog","blog_slug":"coref","content_html":"<img alt=\"\" src=\"https://coref.project.re3data.org/images/7/b/6/1/b/7b61bcef98211c200b6c508c172e8833ae50caaa-working.jpg\"/>\n<p>Summer
        Meeting of the Editorial Board</p>\n<p>The re3data.org editorial board was
        able to get together in person over the summer, meeting for two days in June
        at the library of the Karlsruhe Institute of Technology (KIT). It was a great
        opportunity to on-board our new editors and to reconnect with colleagues to
        focus on updates and[...]
