interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.57689/dini-blog.20210712
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/05745n787","name":"G\u00f6ttingen
        State and University Library"}],"contributor_roles":[],"family":"Beucke","given":"Daniel","url":"https://orcid.org/0000-0003-4905-1936"}],"blog":{"authors":null,"community_id":"b57b2853-9ea4-48b5-ad88-d0ddb6f11a9d","created":1689897600,"current_feed_url":null,"description":"Forschungsinformationen
        & Systeme | Elektronisches Publizieren | Kompetenzzentrum Interoperable Metadaten","favicon":"https://rogue-scholar.org/api/communities/b57b2853-9ea4-48b5-ad88-d0ddb6f11a9d/logo","feed_format":"application/atom+xml","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","filter":null,"generator":"WordPress","home_page_url":"https://blog.dini.de/EPub_FIS","issn":"2940-1798","language":"deu","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":null,"relative_url":null,"secure":true,"slug":"epub_fis","status":"active","subfield":"1710","title":"Gemeinsamer
        Blog der DINI AGs","updated":1780988907,"use_api":true},"blog_name":"Gemeinsamer
        Blog der DINI AGs","blog_slug":"epub_fis","content_html":"<p>Bei der Einf\u00fchrung
        eines Forschungsinformationssystems (FIS) stellt die rechtliche Seite oftmals
        eine gro\u00dfe Herausforderungen dar. Wie ist es mit dem Datenschutz? F\u00fcr
        was muss das Einverst\u00e4ndnis der Forschenden eingeholt werden und auf
        welcher rechtlichen Grundlage? Wie sieht es aus mit der Beteiligung des Personals
        an diesen Prozessen?</p>\n<p>An der TIB \u2013 Leibniz-Informationszentrum
        Technik und Naturwissenschaften und Universit\u00e4tsbibliothek wurden diese
        Fragen gestellt und unter Beteiligung der Datenschutzbeauftragten und des
        von Beginn an eingebundenen Personalrats beantwortet. Das Ergebnis liegt nun
        in Form einer nachnutzbaren Musterdienstvereinbarung (<a href=\"https://projects.tib.eu/fileadmin/data/openresearchinformation/docs/Musterdienstvereinbarung_VIVO.pdf\">PDF-Datei</a>,
        <a href=\"https://projects.tib.eu/fileadmin/data/openresearchinformation/docs/Musterdienstvereinbarung_VIVO.docx\">Word-Datei</a>)
        vor.</p>\n<p>Beitrag im TIB-Blog: <a href=\"https://blogs.tib.eu/wp/tib/2021/07/08/eine-musterdienstvereinbarung-fuer-vivo/\">https://blogs.tib.eu/wp/tib/2021/07/08/eine-musterdienstvereinbarung-fuer-vivo/</a></p>\n<h1>Zitiervorschlag</h1>\n<p>Vierkant,
        Paul. \"Eine Musterdienstvereinbarung F\u00fcrs FIS \u2013 Ein Beispiel Der
        TIB.\" <em>Blog der DINI AGs FIS &amp; EPUB</em>, 2021. <a href=\"https://doi.org/10.57689/DINI-BLOG.20210712\">https://doi.org/10.57689/DINI-BLOG.20210712</a>.</p>\n<hr
        />\n<p><em><span dir=\"ltr\" role=\"presentation\">Diese</span>r Beitrag <span
        dir=\"ltr\" role=\"presentation\">\u2013</span> <span dir=\"ltr\" role=\"presentation\">ausgenommen</span>
        <span dir=\"ltr\" role=\"presentation\">Zitate</span> <span dir=\"ltr\" role=\"presentation\">und</span>
        <span dir=\"ltr\" role=\"presentation\">anderweitig </span><span dir=\"ltr\"
        role=\"presentation\">gekennzeichnete</span> <span dir=\"ltr\" role=\"presentation\">Teile</span>
        <span dir=\"ltr\" role=\"presentation\">\u2013</span> <span dir=\"ltr\" role=\"presentation\">ist</span>
        lizenziert <span dir=\"ltr\" role=\"presentation\">unter</span> <span dir=\"ltr\"
        role=\"presentation\">der</span> <a href=\"http://creativecommons.org/licenses/by/4.0/\"
        rel=\"license\">Creative Commons Namensnennung 4.0 International Lizenz</a>
        (<span dir=\"ltr\" role=\"presentation\">CC</span> <span dir=\"ltr\" role=\"presentation\">BY</span>
        <span dir=\"ltr\" role=\"presentation\">4.0</span>).</em><br />\n<a href=\"http://creativecommons.org/licenses/by/4.0/\"
        rel=\"license\"><img decoding=\"async\" src=\"https://i.creativecommons.org/l/by/4.0/88x31.png\"
        alt=\"Creative Commons Lizenzvertrag\" /></a></p>","doi":"https://doi.org/10.57689/dini-blog.20210712","guid":"https://blogs.tib.eu/wp/dini-ag-blog/?p=2547","image":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2021/07/DINI-Blog-FISE-Pub-16.png","images":[{"alt":"Creative
        Commons Lizenzvertrag","src":"https://i.creativecommons.org/l/by/4.0/88x31.png"}],"language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","published_at":1626048000,"rid":"9jsrb-jtc73","summary":"Bei
        der Einf\u00fchrung eines Forschungsinformationssystems (FIS) stellt die rechtliche
        Seite oftmals eine gro\u00dfe Herausforderungen dar. Wie ist es mit dem Datenschutz?
        F\u00fcr was muss das Einverst\u00e4ndnis der Forschenden eingeholt werden
        und auf welcher rechtlichen Grundlage? Wie sieht es aus mit der Beteiligung
        des Personals an diesen Prozessen?","tags":["Best Practice","Forschungsinformationen
        & Systeme","VIVO"],"title":"Eine Musterdienstvereinbarung f\u00fcrs FIS \u2013
        ein Beispiel der TIB","updated_at":1765034465,"url":"https://blog.dini.de/EPub_FIS/2021/07/12/eine-musterdienstvereinbarung-fuers-fis","version":"v1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
