interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/wg8rv-awm24
  response:
    body:
      string: '{"abstract":"Joshua Habgood-Coote reviews Philosophy, Bullshit, and
        Peer Review, by Neil Levy","archive_url":null,"authors":[{"name":"Joshua Habgood-Coote"}],"blog":{"archive_collection":null,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":null,"canonical_url":null,"category":"philosophyEthicsAndReligion","community_id":"989c0e4f-140c-47ca-8db1-8490fb2e89d1","created_at":1739378397.350746,"current_feed_url":null,"description":"British
        Society for the Philosophy of Science","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/989c0e4f-140c-47ca-8db1-8490fb2e89d1/logo","feed_format":"application/atom+xml","feed_url":"https://www.thebsps.org/feed/atom/","filter":"category:49","funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.7.2","home_page_url":"https://www.thebsps.org/reviewofbooks/","id":"c168e875-baad-461c-b0af-08e367c182e6","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":0,"relative_url":null,"ror":null,"secure":true,"slug":"thebsps","status":"active","subfield":"1207","subfield_validated":null,"title":"BJPS
        Review Of Books","updated_at":1764674504,"use_api":true,"use_mastodon":false,"user_id":null},"blog_name":"BJPS
        Review Of Books","blog_slug":"thebsps","content_html":"<p></div></div></div><!--
        close content main div --></div></div><div id=''av_section_16'' class=''avia-section
        main_color avia-section-no-padding avia-no-shadow avia-full-stretch av-section-color-overlay-active
        avia-bg-style-scroll   av-small-hide av-mini-hide av-minimum-height av-minimum-height-100
        container_wrap sidebar_right'' style = ''background-color: #ffffff; background-repeat:
        no-repeat; background-image: url(https://i0.wp.com/www.thebsps.org/wp-content/uploads/2024/07/Header-Habgood-Coote-on-Levy.png?fit=1695%2C900&ssl=1);
        background-attachment: scroll; background-position: center center; '' data-section-bg-repeat=''stretch''
        ><div class=''av-section-color-overlay-wrap''><div class=''av-section-color-overlay''
        style=''opacity: 0.5; background-color: #000000; ''></div><a href=''#next-section''
        title='''' class=''scroll-down-link ''  aria-hidden=''true'' data-av_icon=''\ue877''
        data-av_iconfont=''entypo-fontello''></a><div class=''container'' ><div class=''template-page
        content  av-content-small alpha units''><div class=''post-entry post-entry-type-page
        post-entry-12684''><div class=''entry-content-wrapper clearfix''>\n<div style=''height:300px''
        class=''hr hr-invisible  ''><span class=''hr-inner '' ><span class=''hr-inner-style''></span></span></div>\n<section
        class=\"av_textblock_section \"  itemscope=\"itemscope\" itemtype=\"https://schema.org/BlogPosting\"
        itemprop=\"blogPost\" ><div class=''avia_textblock  av_inherit_color ''  style=''color:#ffffff;
        ''  itemprop=\"text\" ><p><span style=\"font-size: 20px; font-family: Gill
        Sans;\">Neil Levy</span><br />\n<span style=\"font-size: 40px; font-family:
        Palatino;\"><strong>PHILOSOPHY, BULLSHIT, AND PEER REVIEW</strong></span></p>\n</div></section>\n<section
        class=\"av_textblock_section \"  itemscope=\"itemscope\" itemtype=\"https://schema.org/BlogPosting\"
        itemprop=\"blogPost\" ><div class=''avia_textblock  av_inherit_color ''  style=''color:#ffffff;
        ''  itemprop=\"text\" ><p><span style=\"font-size: 15px; font-family: Gill
        Sans;\">Reviewed by</span><span style=\"font-size: 20px; font-family: Gill
        Sans;\"> Joshua Habgood-Coote</span></p>\n</div></section>\n<div class=\"flex_column
        av_one_fourth  flex_column_div av-zero-column-padding first  \" style=''border-radius:0px;
        ''><div class=''av-social-sharing-box  av-social-sharing-box-minimal ''><div
        class=''av-share-box''><ul class=''av-share-box-list noLightbox''><li class=''av-share-link
        av-social-link-twitter'' ><a target=''_blank'' href=''https://twitter.com/share?text=Neil%20Levy%2C%20%20Philosophy%2C%20Bullshit%2C%20and%20Peer%20Review%20%2F%2F%20Reviewed%20by%20Joshua%20Habgood-Coote&url=https://wp.me/paiQQ4-2RH''
        aria-hidden=''true'' data-av_icon=''\ue8f1'' data-av_iconfont=''entypo-fontello''
        title='''' data-avia-related-tooltip=''Share on Twitter''><span class=''avia_hidden_link_text''>Share
        on Twitter</span></a></li>[...]
