interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/340de361-9628-481e-9204-527c679446b9
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"name":"James Azam"},{"name":"Hugo
        Gruson"},{"name":"Adam Kucharski"}],"blog":{"archive_collection":null,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":null,"canonical_url":null,"category":"otherMedicalSciences","community_id":"d52c2a61-9adc-4b9a-88ef-8c5f5092ad96","created_at":1718804394,"current_feed_url":null,"description":"A
        place for Epiverse-TRACE to share their reflections, learnings, and showcase
        available tools.","doi_as_guid":false,"favicon":null,"feed_format":"application/rss+xml","feed_url":"https://epiverse-trace.github.io/blog-doi.xml","filter":null,"funding":null,"generator":"Quarto","generator_raw":"Quarto
        1.7.2","home_page_url":"https://epiverse-trace.github.io/","id":"1785eb29-afdf-4241-adfa-5045eaacf230","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1727090118,"relative_url":null,"ror":null,"secure":true,"slug":"epiverse_trace","status":"active","subfield":"2611","title":"Epiverse-TRACE
        developer space","updated_at":1756080000,"use_api":null,"use_mastodon":false,"user_id":"b8b00f76-18b4-408d-97b9-9735605f0aa8"},"blog_name":"Epiverse-TRACE
        developer space","blog_slug":"epiverse_trace","content_html":"<p>There are
        ongoing outbreaks of mpox globally. The Democratic Republic of Congo (DRC)
        is so far the worst hit with a total of 7,851 cases and 384 deaths reported
        between January 1 and May 26, 2024 <sup>1</sup>. Before 2022, there were few
        reports of sustained mpox transmission globally. However, during the following
        year (Jan 1, 2022, and Jan 29, 2023), 110 countries in all six WHO Regions
        had reported a total of 85,473 confirmed cases and 89 deaths between them
        <span class=\"citation\" data-cites=\"laurenson2023description\">(Laurenson-Schafer
        et al. 2023)</span>.</p>\n<p>Mpox is transmitted through respiratory droplets
        and direct contact with infected persons. The disease is characterized by
        fever, cough, and a rash, with the mean incubation period estimated to be
        about 7.8 days <span class=\"citation\" data-cites=\"ward2022transmission\">(Ward
        et al. 2022)</span>. Infected individuals may experience severe symptoms l[...]
