interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/7tatc-wh557
  response:
    body:
      string: '{"id": "7tatc-wh557", "created": "2024-10-13T21:57:41.344766+00:00",
        "updated": "2026-02-15T07:37:27.338659+00:00", "links": {"self": "https://rogue-scholar.org/api/records/7tatc-wh557",
        "self_html": "https://rogue-scholar.org/records/7tatc-wh557", "preview_html":
        "https://rogue-scholar.org/records/7tatc-wh557?preview=1", "doi": "https://doi.org/10.59350/dn2mm-m9q51",
        "self_doi": "https://doi.org/10.59350/dn2mm-m9q51", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/dn2mm-m9q51",
        "reserve_doi": "https://rogue-scholar.org/api/records/7tatc-wh557/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/ne7qv-1j250", "parent_html":
        "https://rogue-scholar.org/records/ne7qv-1j250", "parent_doi": "https://doi.org/10.59350/ne7qv-1j250",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/ne7qv-1j250", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:7tatc-wh557/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:7tatc-wh557/sequence/default",
        "files": "https://rogue-scholar.org/api/records/7tatc-wh557/files", "media_files":
        "https://rogue-scholar.org/api/records/7tatc-wh557/media-files", "archive":
        "https://rogue-scholar.org/api/records/7tatc-wh557/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/7tatc-wh557/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/7tatc-wh557/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/7tatc-wh557/latest", "versions": "https://rogue-scholar.org/api/records/7tatc-wh557/versions",
        "draft": "https://rogue-scholar.org/api/records/7tatc-wh557/draft", "access_links":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access/request", "access":
        "https://rogue-scholar.org/api/records/7tatc-wh557/access", "communities":
        "https://rogue-scholar.org/api/records/7tatc-wh557/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/7tatc-wh557/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/7tatc-wh557/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/7tatc-wh557/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/7tatc-wh557/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/7tatc-wh557/requests"},
        "revision_id": 17, "parent": {"id": "ne7qv-1j250", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["09d7590b-fbea-4c8f-b7b8-82c353ff6909", "630b3478-0650-470a-97ac-cade0f621b4b",
        "ac7a6214-f166-416e-9500-caa8343d6285"], "default": "ac7a6214-f166-416e-9500-caa8343d6285",
        "entries": [{"id": "09d7590b-fbea-4c8f-b7b8-82c353ff6909", "created": "2025-02-09T18:20:41.660842+00:00",
        "updated": "2025-12-02T20:55:57.414303+00:00", "links": {}, "revision_id":
        13, "slug": "1208", "metadata": {"title": "Literature and Literary Theory",
        "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1208"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "630b3478-0650-470a-97ac-cade0f621b4b", "created": "2025-12-02T20:35:33.974994+00:00",
        "updated": "2025-12-02T20:55:51.838636+00:00", "links": {}, "revision_id":
        3, "slug": "1203", "metadata": {"title": "Language and Linguistics", "type":
        {"id": "subject"}, "website": "https://openalex.org/subfields/1203"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "ac7a6214-f166-416e-9500-caa8343d6285", "created": "2024-10-10T20:10:20.818995+00:00",
        "updated": "2026-08-22T09:02:40.712771+00:00", "links": {}, "revision_id":
        3848, "slug": "ideophone", "metadata": {"title": "The Ideophone", "description":
        "Sounding out ideas on language, interaction, and iconicity", "type": {"id":
        "blog"}, "website": "https://ideophone.org"}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://ideophone.org/feed/atom/",
        "feed:created": "2026-06-08", "feed:updated": "2026-07-07T09:16:27+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress"},
        "feed:status": {"id": "active"}, "feed:filter": "category:98", "feed:secure":
        true, "feed:use_api": true, "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/ideophone",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1203"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}]}, "pids": {"doi": {"identifier":
        "10.59350/ne7qv-1j250", "provider": "crossref", "client": "crossref"}}}, "versions":
        {"is_latest": true, "index": 1}, "is_published": true, "is_draft": false,
        "pids": {"doi": {"identifier": "10.59350/dn2mm-m9q51", "provider": "crossref",
        "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:7tatc-wh557",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Dingemanse, Mark",
        "given_name": "Mark", "family_name": "Dingemanse"}}], "title": "Linguistic
        roots of connectionism", "publisher": "Front Matter", "publication_date":
        "2021-07-22", "subjects": [{"id": "https://openalex.org/subfields/1203", "subject":
        "Language and Linguistics", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?6.2",
        "subject": "Languages and literature", "scheme": "FOS"}, {"subject": "Linguistics"},
        {"subject": "Threads"}], "dates": [{"date": "2021-07-22T08:39:07", "type":
        {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv":
        "Utf\u00e4rdad"}}}, {"date": "2024-02-04T21:05:36", "type": {"id": "updated",
        "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "525a7d13-fe07-4cab-ac54-75d7b7005647", "scheme": "uuid"}, {"identifier":
        "https://ideophone.org/?p=5639", "scheme": "guid"}, {"identifier": "https://ideophone.org/linguistic-roots-of-connectionism/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "This Lingbuzz preprint by Baroni is a
        nice read if you''re interested in linguistically oriented deep net analysis.
        I did feel it''s a bit hampered by the near-exclusive equation of linguistic
        theory with generative/Chomskyan aps.", "references": [{"identifier": "https://ling.auf.net/lingbuzz/006031",
        "scheme": "url", "reference": "Baroni, M. (2021, June). On the proper role
        of linguistically-oriented deep net analysis in linguistic theorizing. LingBuzz.
        Retrieved from"}, {"reference": "Bybee, J. L. (2010). Language, Usage, and
        Cognition. Cambridge: Cambridge University Press."}, {"identifier": "10.1038/s41562-017-0163",
        "scheme": "doi", "reference": "Christiansen, M. H., & Chater, N. (2017). Towards
        an integrated science of language. Nature Human Behaviour, 1, s41562-017-0163\u201[...]
