interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/1srmw-yb311
  response:
    body:
      string: '{"abstract":"We have a new paper out! This post is to explain what
        it\u2019s about. Cancer cells often have gene fusions. This happens because
        the DNA in cancer cells is really messed up. Sometimes, chromosomes can break
        and get reattached to a different one in a strange way.","archive_url":null,"authors":[{"contributor_roles":[],"family":"Royle","given":"Stephen","url":"https://orcid.org/0000-0001-8927-6967"}],"blog":{"archive_collection":22145,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22145/20231106080607/","archive_timestamps":null,"authors":[{"name":"Stephen
        Royle"}],"canonical_url":null,"category":"biologicalSciences","community_id":"141eca21-f9bb-44c7-aa0d-2ca0110390c6","created_at":1673740800,"current_feed_url":null,"description":"x
        == (s || z). You say it kwontized","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/d1d0a116-fe9c-4f5a-b8c5-c3b69edb8327/logo","feed_format":"application/atom+xml","feed_url":"https://quantixed.org/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.7.1","home_page_url":"https://quantixed.org","id":"39d9ccfd-5461-49f3-a061-efaf066c19b6","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://fosstodon.org/@quantixed","prefix":"10.59350","registered_at":1729318765,"relative_url":null,"ror":null,"secure":true,"slug":"quantixed","status":"active","subfield":"1307","subfield_validated":null,"title":"quantixed","updated_at":1769441219,"use_api":true,"use_mastodon":true,"user_id":"4731ee99-7f23-4817-a2cd-8ee71d8f4c64"},"blog_name":"quantixed","blog_slug":"quantixed","content_html":"<p>We
        have a <a href=\"http://dx.doi.org/10.1098/rsob.170080\">new paper out</a>!
        This post is to explain what it&#8217;s about.</p>\n<p>Cancer cells often
        have <em>gene fusions</em>. This happens because the DNA in cancer cells is
        really messed up. Sometimes, chromosomes can break and get reattached to a
        different one in a strange way. This means you get a fusion between one gene
        and another which makes a new gene, called a gene fusion. There are famous
        fusions that are known to cause cancer, such as the <em>Philadelphia chromosome</em>
        in chronic myelogenous leukaemia. This rearrangement of chromosomes 9 and
        22 result in a fusion called BCR-ABL. There are lots of different gene fusions
        and a\u00a0few years ago, a new fusion was discovered in bladder and brain
        cancers, called <a href=\"https://doi.org/10.1126/science.1220834\">FGFR3-TACC3</a>.</p>\n<p>Genes
        encode proteins and proteins do jobs in cells. So the question is: how are
        the proteins from gene fusions different to their normal versions, and how
        do they cause cancer? Many of the gene fusions that scientists have found
        result in a protein that continues to send a signal to the cell when it shouldn&#8217;t.
        It&#8217;s thought that this transforms the cell to divide uncontrollably.
        FGFR3-TACC3 is no different. FGFR3 can send signals and the TACC3 part probably
        makes it do this uncontrollably. But, what about the TACC3 part? Does that
        do anything, or is this all about FGFR3 going wrong?</p>\n<p><strong>What
        is TACC3?</strong></p>\n<p><figure id=\"attachment_1206\" aria-describedby=\"caption-attachment-1206\"
        style=\"width: 200px\" class=\"wp-caption alignright\"><a href=\"https://quantixed.org/2017/08/30/fusion-confusion-new-paper-on-fgfr3-tacc3-fusions-in-cancer/imagej1-51nunitinch/\"
        rel=\"attachment wp-att-1206\"><img loading=\"lazy\" decoding=\"async\" class=\"size-medium
        wp-image-1206\" src=\"https://quantixed.org/wp-content/uploads/2017/08/sarkar.jpg?w=200\"
        alt=\"\" width=\"200\" height=\"300\" srcset=\"https://quantixed.org/wp-content/uploads/2017/08/sarkar.jpg
        591w, https://quantixed.org/wp-content/uploads/2017/08/sarkar-200x300.jpg
        200w\" sizes=\"auto, (max-width: 200px) 100vw, 200px\" /></a><figcaption id=\"caption-attachment-1206\"
        class=\"wp-caption-text\">Chromosomes getting shared to the two daughter cells</figcaption></figure></p>\n<p>TACC3,
        or transforming acidic coiled-coil protein 3 to give it its full name, is
        a protein <a href=\"http://dx.doi.org/10.4161/bioa.1.3.16518\">important for
        cell division</a>. It helps to share the chromosomes to the two daughter cells
        when a cell divides. Chromosomes are shared out by a machine built inside
        t[...]
