interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/dn2mm-m9q51
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Dingemanse","given":"Mark"}],"blog":{"authors":null,"community_id":"ac7a6214-f166-416e-9500-caa8343d6285","created":1780876800,"current_feed_url":null,"description":"Sounding
        out ideas on language, interaction, and iconicity","favicon":"https://rogue-scholar.org/api/communities/ac7a6214-f166-416e-9500-caa8343d6285/logo","feed_format":"application/atom+xml","feed_url":"https://ideophone.org/feed/atom/","filter":"category:98","generator":"WordPress","home_page_url":"https://ideophone.org","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"ideophone","status":"active","subfield":"1203","title":"The
        Ideophone","updated":1781855844,"use_api":true},"blog_name":"The Ideophone","blog_slug":"ideophone","content_html":"<p>This
        <a rel=\"noreferrer noopener\" href=\"https://ling.auf.net/lingbuzz/006031\"
        target=\"_blank\">Lingbuzz preprint by Baroni</a> is a nice read if you&#8217;re
        interested in linguistically oriented deep net analysis. I did feel it&#8217;s
        a bit hampered by the near-exclusive equation of linguistic theory with generative/Chomskyan
        aps. (I know it makes a point of claiming a &#8220;very broad notion of theoretical
        linguistics&#8221;, but it doesn&#8217;t really demonstrate this, and throughout
        the implicit notion of theory is near-exclusively aligned with GG and its
        associated concerns of competence, poverty of the stimulus, et cetera).</p>\n\n\n\n<figure
        class=\"wp-block-image\"><img decoding=\"async\" src=\"https://pbs.twimg.com/media/E4FDxONXwAMFvCh.png\"
        alt=\"\"/></figure>\n\n\n\n<p>For instance, it notes (citing Lappin) that
        theoretical linguistics &#8220;played no role&#8221; in deep learning for
        NLP, but while this may hold for generative grammar (GG), linguistic theorizing
        was much broader than that right at the start of connectionism and RNNs, e.g.
        in <a href=\"http://doi.org/10.1023/A:1022699029236\" target=\"_blank\" rel=\"noreferrer
        noopener\">Elman 1991</a>.</p>\n\n\n\n<p>In fact, just look at the bibliography
        of Elman&#8217;s classic RNN work and tell us again how exactly theoretical
        linguistics &#8220;played no role&#8221; \u2014  Bates &amp; Macwhinney, Chomsky,
        Fillmore, Fodor, Givon, Hopper &amp; Thompson, Lakoff, Langacker, they&#8217;re
        all there. Elman&#8217;s bibliography is a virtual <em>Who is Who</em> of
        big tent linguistics at the start of the 1990s. The only way to give any content
        to Lappin&#8217;s claim (and by extension, Baroni&#8217;s generalization)
        is to give the notion of &#8220;theoretical linguistics&#8221; the narrowest
        conceivable reading.</p>\n\n\n\n<figure class=\"wp-block-gallery has-nested-images
        columns-default is-cropped wp-block-gallery-3 is-layout-flex wp-block-gallery-is-layout-flex\">\n<figure
        class=\"wp-block-image size-large\"><a href=\"https://ideophone.org/files/E4FEkLuWUAI6IwO.png\"><img
        loading=\"lazy\" decoding=\"async\" width=\"696\" height=\"1024\" data-id=\"5640\"
        src=\"https://ideophone.org/files/E4FEkLuWUAI6IwO-696x1024.png\" alt=\"\"
        class=\"wp-image-5640\" srcset=\"https://ideophone.org[...]
