interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/27ewm-zn378
  response:
    body:
      string: '{"abstract":"Here\u2019s a fascinating and worrying news story in Science:
        a top US researcher apparently falsified a lot of images (at least) in papers
        that helped get experimental drugs on the market \u2014 papers that were published
        in top journals for years, and whose problems have only recently become apparent
        because of amateur sleuthing through PubPeer.","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/05167c961","name":"Western
        University of Health Sciences"}],"contributor_roles":[],"family":"Wedel","given":"Matt","url":"https://orcid.org/0000-0001-6082-3103"}],"blog":{"archive_collection":22153,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22153/20231105213934/","archive_timestamps":null,"authors":[{"name":"Mike
        Taylor"}],"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","community_id":"0e13541f-417e-46c0-a859-65927249df72","created_at":1675209600,"current_feed_url":null,"description":"SV-POW!  ...  All
        sauropod vertebrae, except when we''re talking about Open Access. ISSN 3033-3695","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://svpow.com","id":"c6cbbd2e-4675-4680-8a3f-784388009821","indexed":false,"issn":"3033-3695","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729882329,"relative_url":null,"ror":null,"secure":true,"slug":"svpow","status":"active","subfield":"1911","subfield_validated":true,"title":"Sauropod
        Vertebra Picture of the Week","updated_at":1764721760,"use_api":true,"use_mastodon":false,"user_id":"04d03585-c8bb-40f2-9619-5076a5e0aed2"},"blog_name":"Sauropod
        Vertebra Picture of the Week","blog_slug":"svpow","content_html":"<p>Here&#8217;s
        a fascinating and worrying news story in Science: <a href=\"https://www.science.org/content/article/research-misconduct-finding-neuroscientist-eliezer-masliah-papers-under-suspicion\">a
        top US researcher apparently falsified a lot of images</a> (at least) in papers
        that helped get experimental drugs on the market &#8212; papers that were
        published in top journals for years, and whose problems have only recently
        become apparent because of amateur sleuthing through PubPeer.</p>\n<p>I&#8217;m
        going to wane philosophical for a minute. In general I&#8217;m very sympathetic
        to Adam Mastroianni&#8217;s line &#8220;don&#8217;t worry about the flood
        of crap that will result if we let everyone publish, publishing is already
        a flood of crap, but <a href=\"https://www.experimental-history.com/p/science-is-a-strong-link-problem\">science
        is a strong-link problem</a> so the good stuff rises to the top&#8221;. I
        certainly don&#8217;t think we need <em>stronger</em> pre-publication review
        or any more barrier guardians (although I have <a href=\"https://svpow.com/2021/02/04/a-funny-thing-happened-on-the-way-to-the-shiny-digital-future/\">reluctantly
        concluded that having some is useful</a>). But when fraudulent stuff like
        this does in fact rise to the top in what seems to be a strong-link network
        &#8212; lots of NIH-funded labs, papers in top journals (or, apparently, &#8220;top&#8221;
        journals) &#8212; then I despair a bit. Science has gotten so specialized
        that almost anyone could invent facts or data within their subfield that might
        pass muster even with close colleagues (even if those colleagues aren&#8217;t
        on the take, he said cynically &#8212; there is a mind-boggling amount of
        money floating around in the drug-development world).</p>\n<p>Immediate thought
        experiment: could Mike or I come up with material for a blog post or paper
        that would be false but good enough to fool the other? Given how often we
        find surprising or even <a href=\"https://svpow.com/2023/03/28/new-paper-out-today-aureliano-et-al-2023-on-pneumaticity-in-the-early-dinosaur-macrocollum/\">counterintuitive
        results</a>, I think possibly so. I&#8217;m not particularly motivated to
        run the experiment when we&#8217;re already digging out from a deep backlog
        of started-but-never-finished papers, but it remains a morbidly fascinating
        possibility.</p>\n<p><div data-shortcode=\"caption\" id=\"attachment_22908\"
        style=\"width: 490px\" class=\"wp-caption alignnone\"><a href=\"https://svpow.com/wp-content/uploads/2024/09/retraction-index-graph.jpeg\"><img
        aria-describedby=\"caption-attachment-22908\" loading=\"lazy\" data-attachment-id=\"22908\"
        data-permalink=\"http://svpow.com/2024/10/30/to-what-extent-is-science-a-strong-link-problem/retraction-index-graph/\"
        data-orig-file=\"https://svpow.wordpress.com/wp-content/upload[...]
