interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/m99dx-x9g53
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"name":"re3data Team"}],"blog":{"authors":[{"name":"re3data
        Team"}],"community_id":"64af7724-6171-4e2c-8f09-ba23d5f324b6","created":1780876800,"current_feed_url":null,"description":"COREF
        Blog","favicon":"https://rogue-scholar.org/api/communities/64af7724-6171-4e2c-8f09-ba23d5f324b6/logo","feed_format":"application/atom+xml","feed_url":"https://coref.project.re3data.org/blog.atom","filter":null,"generator":"Other","home_page_url":"https://coref.project.re3data.org/","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":null,"slug":"coref","status":"active","subfield":"1710","title":"COREF
        Blog","updated":1780988884,"use_api":null},"blog_name":"COREF Blog","blog_slug":"coref","content_html":"<img
        alt=\"\" src=\"https://coref.project.re3data.org/images/7/b/6/1/b/7b61bcef98211c200b6c508c172e8833ae50caaa-working.jpg\"/>\n<p>Summer
        Meeting of the Editorial Board</p>\n<p>The re3data.org editorial board was
        able to get together in person over the summer, meeting for two days in June
        at the library of the Karlsruhe Institute of Technology (KIT). It was a great
        opportunity to on-board our new editors and to reconnect with colleagues to
        focus [...]
