interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.54900/zg929-e9595
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Pooley","given":"Jeff","url":"https://orcid.org/0000-0002-3674-1930"}],"blog":{"authors":null,"community_id":"b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b","created":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"generator":"Ghost","home_page_url":"https://upstream.force11.org","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.54900","relative_url":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated":1783172415,"use_api":true},"blog_name":"Upstream","blog_slug":"upstream","content_html":"<p><em>The
        New York Times</em> ushered in the New Year with a <a href=\"https://nytco-assets.nytimes.com/2023/12/NYT_Complaint_Dec2023.pdf\">lawsuit</a>
        against OpenAI and Microsoft. The paper <a href=\"https://www.nytimes.com/2023/12/27/business/media/new-york-times-open-ai-microsoft-lawsuit.html\">covered
        the suit</a>, fittingly, as a major business story. OpenAI and its Microsoft
        patron had, according to the filing, stolen \"<em>millions</em> of The Times''
        co[...]
