interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/dv8z6-a6s33
  response:
    body:
      string: '{"abstract":"The Rogue Scholar infrastructure started migrating to
        InvenioRDM infrastructure a few weeks ago. This first phase of the migration
        will conclude on November 4 with the switch of the Rogue Scholar frontend
        (rogue-scholar.org) to InvenioRDM (to what is currently hosted at beta.rogue-scholar.org).
        InvenioRDM record For the most part and not by coincidence, InvenioRDM is
        a very good fit for Rogue Scholar.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/rogue-scholar-learns-about-communities/","authors":[{"affiliation":[{"name":"Front
        Matter"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","subfield_validated":null,"title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","citations":[{"citation":"https://doi.org/10.53731/27w59-wrs22","published_at":"2024-10-23","unstructured":"Fenner,
        M. (2024, October 23). My contribution to Open Access Week 2024. <i>Front
        Matter</i>. https://doi.org/10.53731/27w59-wrs22","updated_at":"2025-02-02T19:19:20.985905+00:00","validated":true},{"citation":"https://doi.org/10.53731/a7v8h-8px31","published_at":"2024-10-14","unstructured":"Fenner,
        M. (2024, October 14). The Rogue Scholar migration to InvenioRDM is taking
        shape. <i>Front Matter</i>. https://doi.org/10.53731/a7v8h-8px31","updated_at":"2025-02-15T12:30:44.415799+00:00","validated":true},{"citation":"https://doi.org/10.53731/jg09j-8ng60","published_at":"2024-11-04","unstructured":"Fenner,
        M. (2024, November 4). Rogue Scholar gets a facelift. <i>Front Matter</i>.
        https://doi.org/10.53731/jg09j-8ng60","updated_at":"2025-02-02T19:19:45.728065+00:00","validated":true},{"citation":"https://doi.org/10.53731/mshsw-mjc18","published_at":"2024-12-16","unstructured":"Fenner,
        M. (2024, December 16). Report Rogue Scholar Advisory Board Meeting October
        16, 2024. <i>Front Matter</i>. https://doi.org/10.53731/mshsw-mjc18","updated_at":"2025-02-02T19:18:42.114306+00:00","validated":true},{"citation":"https://doi.org/10.53731/r41bn-xwt83","published_at":"2024-[...]
