interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/mg09a-5ma64
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/05745n787","name":"G\u00f6ttingen
        State and University Library"}],"contributor_roles":[],"family":"Beucke","given":"Daniel","url":"https://orcid.org/0000-0003-4905-1936"},{"affiliation":[{"id":"https://ror.org/00pwcvj19","name":"Hamburg
        State and University Library"}],"contributor_roles":[],"family":"Meinecke","given":"Isabella","url":"https://orcid.org/0000-0001-8337-3619"},{"affiliation":[{"id":"https://ror.org/01hcx6992","name":"Humboldt-Universit\u00e4t
        zu Berlin"}],"contributor_roles":[],"family":"Pampel","given":"Heinz","url":"https://orcid.org/0000-0003-3334-2771"},{"affiliation":[{"id":"https://ror.org/01hcx6992","name":"Humboldt-Universit\u00e4t
        zu Berlin"}],"contributor_roles":[],"family":"Wrzesinski","given":"Marcel","url":"https://orcid.org/0000-0002-2343-7905"}],"blog":{"authors":null,"community_id":"53174590-b8d0-4c88-b121-4ca75f7de145","created":1717632000,"current_feed_url":null,"description":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","favicon":"https://rogue-scholar.org/api/communities/53174590-b8d0-4c88-b121-4ca75f7de145/logo","feed_format":"application/rss+xml","feed_url":"https://infomgnt.org/index.xml","filter":null,"generator":"Quarto","home_page_url":"https://infomgnt.org/","issn":"2944-6848","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"infomgnt","status":"active","subfield":"3309","title":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","updated":1782338400,"use_api":null},"blog_name":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","blog_slug":"infomgnt","content_html":"<p>In
        the beginning of June 2024, Nature reported on the Japanese\nMinistry of Education''s
        plan to invest 10 billion yen in expanding\ninstitutional Open Access Repositories
        <span class=\"citation\"\ndata-cites=\"singh_chawla_japans_2024\">(Singh Chawla
        2024)</span>. This\ninitiative provides a good opportunity to discuss the
        future of Open\nAccess Repositories at the <a\nhref=\"https://2024.bibliocon.de/\">https://2024.bibliocon.de/</a>.</p>\n<p>In
        collaboration with the project \"Professionalization of the Open\nAccess Repositories
        Infrastructure in Germany\" (<a\nhref=\"https://www.ibi.hu-berlin.de/de/forschung/infomanagement/projekte/pr[...]
