interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/510pg-zzf58
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"contributor_roles":["Author"],"family":"Salmon","given":"Ma\u00eblle","url":"https://orcid.org/0000-0002-2815-0399"},{"contributor_roles":["Editor"],"family":"LaZerte","given":"Steffi","url":"https://orcid.org/0000-0002-7690-8360"},{"contributor_roles":["Author"],"family":"Bellini
        Saibene","given":"Yanina","url":"https://orcid.org/0000-0002-4522-7466"}],"blog":{"archive_collection":22126,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22126/20231105110646/","archive_timestamps":[20231105110646,20240505190836,20241105110650,20250505110723],"authors":[{"name":"The
        rOpenSci Team"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"1e70f18f-d85d-4b86-af0c-0dc375b091bc","created_at":1693440000,"current_feed_url":null,"description":"Open
        Tools and R Packages for Open Science","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo","feed_format":"application/feed+json","feed_url":"https://ropensci.org/blog/index.json","filter":null,"funding":null,"generator":"Hugo","generator_raw":"Hugo
        -- gohugo.io","home_page_url":"https://ropensci.org/blog","id":"ba402233-14af-48e4-b8b1-6fd22ac75a0c","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729793201,"relative_url":null,"ror":null,"secure":true,"slug":"ropensci","status":"active","subfield":"1702","title":"rOpenSci
        - open tools for open science","updated_at":1764326598,"use_api":null,"use_mastodon":false,"user_id":"3ea9676b-41b6-4e57-aeda-44a7d7fe1dba"},"blog_name":"rOpenSci
        - open tools for open science","blog_slug":"ropensci","content_html":"<p>Our
        own dev guide <a href=\"https://devguide.ropensci.org/maintenance_collaboration.html#attributions\">states</a></p><blockquote><p>Be
        generous with attributions</p></blockquote><p>Recognizing the diverse forms
        of <a href=\"https://contributing.ropensci.org/\">contributions</a> to our
        mission is very important to us:we like thanking <a href=\"https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/\">package
        reviewers</a> and more generally <a href=\"https://ropensci.org/blog/2024/11/26/allcontributors/\">all
        package contributors</a>, <a href=\"https://ropensci.org/blog/2025/05/09/ror/\">organizations
        as well as individuals</a>.</p><p>We have recently extended our efforts to
        acknowledging the different roles there are when publishing a blog post.</p><h2
        id=\"new-blog-roles-editors-translators-interviewees\"><a class=\"anchor d-print-none\"
        href=\"https://ropensci.org/blog/2025/10/14/blog-roles//#new-blog-roles-editors-translators-interviewees\">
        <small>\ud83d\udd17</small></a>New blog roles: editors, translators, interviewees</h2><p>The
        metadata of our blog posts now feature:</p><ul><li>who edited the blog post<ul><li>for
        example, <a href=\"https://ropensci.org/blog/2025/09/18/markdown-programmatic-parsing/\">Steffi
        LaZerte edited a recent post</a>.</li></ul></li><li>who translated the blog
        post<ul><li>for example, <a href=\"https://ropensci.org/es/blog/2025/06/23/edicion-multilingue-preguntas-frecuentes/\">Yanina
        Bellini Saibene translated a post into Spanish</a>, and <a href=\"https://ropensci.org/blog/2025/10/14/blog-roles//fr/blog/2025/06/23/publication-multilingue-faq/\">Ma\u00eblle
        Salmon translated it into French</a>.</li></ul></li><li>who was <em>interviewed</em>
        for a blog post<ul><li>for example, <a href=\"https://ropensci.org/blog/2023/03/30/r-universe-stars-3-en/\">Athanasia
        Mo Mowinckel was interviewed in the Stars of the R-Universe series</a>.</li></ul></li></ul><p>The
        \u201cauthor page\u201d of contributors list their various contributions to
        the content in the current language (authorships listed first, followed by
        other roles):</p><ul><li><a href=\"https://ropensci.org/author/steffi-lazert[...]
