interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/dv8z6-a6s33
  response:
    body:
      string: '{"authors":[{"affiliation":[{"name":"Front Matter"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"community_id":"15a362ea-8138-42b8-917f-1840a92addf8","created":1672531200,"current_feed_url":null,"description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","home_page_url":"https://blog.front-matter.de/","issn":"2749-9952","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.53731","relative_url":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated":1781522561,"use_api":true},"blog_name":"Front Matter","blog_slug":"front_matter","content_html":"<p>The
        Rogue Scholar infrastructure <a href=\"https://doi.org/10.53731/sdazp-kzn55\"
        rel=\"noreferrer\">started migrating</a> to InvenioRDM infrastructure a few
        weeks ago. This first phase of the migration will conclude on November 4 with
        the switch of the Rogue Scholar frontend (<a href=\"https://rogue-scholar.org\"
        rel=\"noreferrer\">rogue-scholar.org</a>) to InvenioRDM (to what is currently
        hosted at <a href=\"https://beta.rogue-scholar.org\" rel=\"noreferrer\">beta.rogue-scholar.org</a>).</p><h3
        id=\"inveniordm-record\">InvenioRDM record</h3><p>For the most part and <a
        href=\"https://doi.org/10.53731/d6vdvbt-tffmezj\" rel=\"noreferrer\">not by
        coincidence</a>, InvenioRDM is a very good fit for Rogue Scholar. Showing
        the metadata and content of Rogue Scholar blog posts can use more or less
        the default InvenioRDM record view, which you can see for example in <a href=\"https://zenodo.org/records/5479442\"
        rel=\"noreferrer\">Zenodo</a>. We show optional metadata for the journal title
        (i.e. the blog name) and ISSN. We display previews of the markdown and PDF
        version of the blog post, automatically generated by the Rogue Scholar API.
        The Rogue Scholar DOI is displayed as <em>identifier</em>, and clicking the
        DOI link brings you to the original blog post hosted on the blog participating
        in Rogue Scholar (here <a href=\"https://cameronneylon.net/\" rel=\"noreferrer\">Science
        in the Open</a>).</p><figure class=\"kg-card kg-image-card\"><img src=\"https://blog.front-matter.de/content/images/2024/10/Bildschirmfoto-2024-10-07-um-08.17.41.png\"
        class=\"kg-image\" alt=\"\" loading=\"lazy\" width=\"1251\" height=\"1024\"
        srcset=\"https://blog.front-matter.de/content/images/size/w600/2024/10/Bildschirmfoto-2024-10-07-um-08.17.41.png
        600w, https://blog.front-matter.de/content/images/size/w1000/2024/10/Bildschirmfoto-2024-10-07-um-08.17.41.png
        1000w, https://blog.front-matter.de/content/images/2024/10/Bildsch[...]
