interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/dcw3y-7em87
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/052gg0110","name":"University
        of Oxford"}],"contributor_roles":[],"family":"Shotton","given":"David M.","url":"https://orcid.org/0000-0001-5506-523X"}],"blog":{"authors":[{"name":"OpenCitations
        Team"}],"community_id":"c8efeda5-cd52-472d-9537-6915b9c62e34","created":1681862400,"current_feed_url":null,"description":"The
        blog of the OpenCitations Infrastructure","favicon":"https://rogue-scholar.org/api/communities/c8efeda5-cd52-472d-9537-6915b9c62e34/logo","feed_format":"application/atom+xml","feed_url":"https://opencitations.hypotheses.org/feed/atom/","filter":null,"generator":"WordPress","home_page_url":"https://opencitations.hypotheses.org","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"opencitations","status":"active","subfield":"1802","title":"OpenCitations
        blog","updated":1783172067,"use_api":true},"blog_name":"OpenCitations blog","blog_slug":"opencitations","content_html":"<p>Egon
        Willighagen, at Uppsala University, has pioneered the use of object properties
        from CiTO, the Citation Typing Ontology, to characterize bibliographic citations
        in <a href=\"http://www.citeulike.org/\" target=\"_blank\" rel=\"noopener\">CiteULike</a>,
        the free service for managing and discovering scholarly references.\u00a0
        Indeed, it was his use case that persuaded me of the need to generalize CiTO
        to include indirect citations.</p>\n<p>For example, in documenting papers
        that use the Chemistry Development Kit (CDK), Egon records the following paper
        by Guha (2007)\u00a0(Egon&#8217;s CiteULike reference 7901082):\u00a0 <em><br
        />\n</em></p>\n<p><em><a href=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"><img
        loading=\"lazy\" decoding=\"async\" class=\"aligncenter size-full wp-image-37\"
        title=\"Guha 2007 reference 7901082\" src=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"
        alt=\"\" width=\"640\" height=\"394\" /></a></em></p>\n<p>He tags that Guha
        paper, using the CiTO tag <em>cito:usedMethodIn</em>,[...]
