interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/8vkjg-x6j96
  response:
    body:
      string: '{"id": "8vkjg-x6j96", "created": "2024-10-14T20:22:06.830750+00:00",
        "updated": "2026-07-20T07:47:23.020788+00:00", "links": {"self": "https://rogue-scholar.org/api/records/8vkjg-x6j96",
        "self_html": "https://rogue-scholar.org/records/8vkjg-x6j96", "preview_html":
        "https://rogue-scholar.org/records/8vkjg-x6j96?preview=1", "doi": "https://doi.org/10.59350/k9zxj-pek64",
        "self_doi": "https://doi.org/10.59350/k9zxj-pek64", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/k9zxj-pek64",
        "reserve_doi": "https://rogue-scholar.org/api/records/8vkjg-x6j96/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/n14hv-h0084", "parent_html":
        "https://rogue-scholar.org/records/n14hv-h0084", "parent_doi": "https://doi.org/10.59350/n14hv-h0084",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/n14hv-h0084", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:8vkjg-x6j96/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:8vkjg-x6j96/sequence/default",
        "files": "https://rogue-scholar.org/api/records/8vkjg-x6j96/files", "media_files":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/media-files", "archive":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/8vkjg-x6j96/latest", "versions": "https://rogue-scholar.org/api/records/8vkjg-x6j96/versions",
        "draft": "https://rogue-scholar.org/api/records/8vkjg-x6j96/draft", "access_links":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access/request", "access":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/access", "communities":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/8vkjg-x6j96/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/8vkjg-x6j96/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/8vkjg-x6j96/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/8vkjg-x6j96/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/8vkjg-x6j96/requests"},
        "revision_id": 21, "parent": {"id": "n14hv-h0084", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["0e13541f-417e-46c0-a859-65927249df72", "52ef2b10-984d-40cb-ba75-d8b66e56ab02",
        "ce85b38a-7acb-4a36-a274-4e026646af48", "fa3efbbb-7935-41cc-b139-6bb71fee814e"],
        "default": "0e13541f-417e-46c0-a859-65927249df72", "entries": [{"id": "0e13541f-417e-46c0-a859-65927249df72",
        "created": "2024-10-05T08:57:03.365247+00:00", "updated": "2026-08-22T09:06:19.752893+00:00",
        "links": {}, "revision_id": 3557, "slug": "svpow", "metadata": {"title": "Sauropod
        Vertebra Picture of the Week", "description": "SV-POW!  ...  All sauropod
        vertebrae, except when we''re talking about Open Access. ISSN 3033-3695",
        "type": {"id": "blog"}, "website": "https://svpow.com"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://svpow.com/feed/atom/",
        "feed:created": "2023-02-01", "feed:updated": "2026-08-19T10:30:34+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress.com"},
        "feed:status": {"id": "active"}, "feed:authors": [{"name": "Mike Taylor"}],
        "feed:secure": true, "feed:use_api": true, "rs:issn": "3033-3695", "rs:prefix":
        {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/svpow", "rs:license":
        {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield": [{"id":
        "https://openalex.org/subfields/1911"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "52ef2b10-984d-40cb-ba75-d8b66e56ab02",
        "created": "2025-12-02T14:42:36.706869+00:00", "updated": "2025-12-02T20:56:17.286715+00:00",
        "links": {}, "revision_id": 7, "slug": "1911", "metadata": {"title": "Paleontology",
        "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1911"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "o[...]
