interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/nnx9s-74a78
  response:
    body:
      string: '{"id": "nnx9s-74a78", "created": "2024-10-19T14:38:42.558874+00:00",
        "updated": "2026-01-28T08:13:14.126368+00:00", "links": {"self": "https://rogue-scholar.org/api/records/nnx9s-74a78",
        "self_html": "https://rogue-scholar.org/records/nnx9s-74a78", "preview_html":
        "https://rogue-scholar.org/records/nnx9s-74a78?preview=1", "doi": "https://doi.org/10.59350/1srmw-yb311",
        "self_doi": "https://doi.org/10.59350/1srmw-yb311", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/1srmw-yb311",
        "reserve_doi": "https://rogue-scholar.org/api/records/nnx9s-74a78/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/67884-2r587", "parent_html":
        "https://rogue-scholar.org/records/67884-2r587", "parent_doi": "https://doi.org/10.59350/67884-2r587",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/67884-2r587", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:nnx9s-74a78/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:nnx9s-74a78/sequence/default",
        "files": "https://rogue-scholar.org/api/records/nnx9s-74a78/files", "media_files":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/media-files", "archive":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/nnx9s-74a78/latest", "versions": "https://rogue-scholar.org/api/records/nnx9s-74a78/versions",
        "draft": "https://rogue-scholar.org/api/records/nnx9s-74a78/draft", "access_links":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access/request", "access":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/access", "communities":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/nnx9s-74a78/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/nnx9s-74a78/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/nnx9s-74a78/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/nnx9s-74a78/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/nnx9s-74a78/requests"},
        "revision_id": 13, "parent": {"id": "67884-2r587", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["9bdd4adb-ed45-4c1a-9ba6-9f3b83fad430", "c9951d9e-6c0a-4723-8890-4a8130a96623",
        "d1d0a116-fe9c-4f5a-b8c5-c3b69edb8327"], "default": "d1d0a116-fe9c-4f5a-b8c5-c3b69edb8327",
        "entries": [{"id": "9bdd4adb-ed45-4c1a-9ba6-9f3b83fad430", "created": "2025-12-02T15:40:27.274589+00:00",
        "updated": "2025-12-02T20:55:56.528457+00:00", "links": {}, "revision_id":
        5, "slug": "1312", "metadata": {"title": "Molecular Biology", "type": {"id":
        "subject"}, "website": "https://openalex.org/subfields/1312"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "c9951d9e-6c0a-4723-8890-4a8130a96623", "created": "2025-12-02T20:35:50.467947+00:00",
        "updated": "2025-12-02T20:55:31.193161+00:00", "links": {}, "revision_id":
        3, "slug": "1307", "metadata": {"title": "Cell Biology", "type": {"id": "subject"},
        "website": "https://openalex.org/subfields/1307"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "d1d0a116-fe9c-4f5a-b8c5-c3b69edb8327", "created": "2024-10-10T20:03:11.293616+00:00",
        "updated": "2026-08-22T09:04:43.344515+00:00", "links": {}, "revision_id":
        3830, "slug": "quantixed", "metadata": {"title": "quantixed", "description":
        "x == (s || z). You say it kwontized", "type": {"id": "blog"}, "website":
        "https://quantixed.org"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"feed:feed_url": "https://quantixed.org/feed/atom/",
        "feed:created": "2023-01-15", "feed:updated": "2026-08-04T07:20:47+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress"},
        "feed:status": {"id": "active"}, "feed:authors": [{"name": "Stephen Royle"}],
        "feed:secure": true, "feed:use_api": true, "rs:prefix": {"id": "10.59350"},
        "rs:doi": "https://doi.org/10.59350/quantixed", "rs:license": {"id": "cc-by-4.0"},
        "rs:language": {"id": "eng"}, "rs:subfield": [{"id": "https://openalex.org/subfields/1307"}]},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        true}}]}, "pids": {"doi": {"identifier": "10.59350/67884-2r587", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/1srmw-yb311", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:nnx9s-74a78", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Royle, Stephen", "given_name": "Stephen", "family_name":
        "Royle", "identifiers": [{"identifier": "0000-0001-8927-6967", "scheme": "orcid"}]}}],
        "title": "Fusion confusion: new paper on FGFR3-TACC3 fusions in cancer", "publisher":
        "Front Matter", "publication_date": "2017-08-30", "subjects": [{"id": "https://openalex.org/subfields/1307",
        "subject": "Cell Biology", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?1.6",
        "subject": "Biological sciences", "scheme": "FOS"}, {"id": "https://openalex.org/T12287",
        "subject": "Fibroblast Growth Factor Research", "scheme": "Topics"}, {"id":
        "https://openalex.org/subfields/1312", "subject": "Molecular Biology", "scheme":
        "Subfields"}, {"subject": "Publishing"}, {"subject": "Science"}, {"subject":
        "Cancer"}, {"subject": "Cell Biology"}, {"subject": "FGFR3"}], "dates": [{"date":
        "2017-08-30T11:27:41", "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht",
        "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date": "2017-08-30T11:27:41",
        "type": {"id": "updated", "title": {"de": "Aktualisiert", "en": "Updated",
        "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title": {"en": "English"}}],
        "identifiers": [{"identifier": "efec0a8c-6acf-4c8b-8d3a-4965e3ffded2", "scheme":
        "uuid"}, {"identifier": "https://quantixed.wordpress.com/?p=1194", "scheme":
        "guid"}, {"identifier": "https://quantixed.org/2017/08/30/fusion-confusion-new-paper-on-fgfr3-tacc3-fusions-in-cancer/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "We have a new paper out! This post is
        to explain what it''s about. Cancer cells often have gene fusions. This happens
        because the DNA in cancer cells is really messed up. Sometimes, chromosomes
        can break and get reattached to a different one in a strange way."}, "custom_fields":
        {"journal:journal": {"title": "quantixed"}, "rs:content_html": "<p>We have
        a <a href=\"http://dx.doi.org/10.1098/rsob.170080\">new paper out</a>! This
        post is to explain what it&#8217;s about.</p>\n<p>Cancer cells often have
        <em>gene fusions</em>. This happens because the DNA in cancer cells is really
        messed up. Sometimes, chromosomes can break and get reattached to a different
        one in a strange way. This means you get a fusion between one gene and another
        which makes a new gene, called a gene fusion. There are famous fusions that
        are known to cause cancer, such as the <em>Philadelphia chromosome</em> in
        chronic myelogenous leukaemia. This rearrangement of chromosomes 9 and 22
        result in a fusion called BCR-ABL. There are lots of different gene fusions
        and a\u00a0few years ago, a new fusion was discovered in bladder and brain
        cancers, called <a href=\"https://doi.org/10.1126/science.1220834\">FGFR3-TACC3</a>.</p>\n<p>Genes
        encode proteins and proteins do jobs in cells. So the question is: how are
        the proteins from gene fusions different to their normal versions, and how
        do they cause cancer? Many of the gene fusions that scientists have found
        result in a protein that continues to send a signal to the cell when it shouldn&#8217;t.
        It&#8217;s thought that this transforms the cell to divide uncontrollably.
        FGFR3-TACC3 is no different. FGFR3 can send signals and the TACC3 part probably
        makes it do this uncontrollably. But, what about the TACC3 part? Does that
        do anything, or is this all about FGFR3 going wrong?</p>\n<p><strong>What
        is TACC3?</strong></p>\n<figure id=\"attachment_1206\" aria-describedby=\"caption-attachment-1206\"
        style=\"width: 200px\" class=\"wp-caption alignright\"><a href=\"https://quantixed.org/2017/08/30/fusion-confusion-new-paper-on-fgfr3-tacc3-fusions-in-cancer/imagej1-51nunitinch/\"
        rel=\"attachment wp-att-1206\"><img loading=\"lazy\" decoding=\"async\" class=\"size-medium
        wp-image-1206\" src=\"https://quantixed.org/wp-content/uploads/2017/08/sarkar.jpg?w=200\"
        alt=\"\" width=\"200\" height=\"300\" srcset=\"https://quantixed.org/wp-content/uploads/2017/08/sarkar.jpg
        591w, https://quantixed.org/wp-content/uploads/2017/08/sarkar-200x300.jpg
        200w\" sizes=\"auto, (max-width: 200px) 100vw, 200px\" /></a><figcaption id=\"caption-attachment-1206\"
        class=\"wp-caption-text\">Chromosomes getting shared to the two daughter cells</figcaption></figure>\n<p>TACC3,
        or transforming acidic coiled-coil protein 3 to give it its full name, is
        a protein <a href=\"http://dx.doi.org/10.4161/bioa.1.3.16518\">important for
        cell division</a>. It helps to share the chromosomes to the two daughter cells
        when a cell divides. Chromosomes are shared out by a machine built inside
        the c[...]
