interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/r79v4e1-97aq74v-ag578
  response:
    body:
      string: '{"abstract":"One of the first tasks for DataCite in the European Commission-funded
        THOR project, which started in June, was to contribute to a comparison of
        the ORCID and DataCite metadata standards.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/differences-between-orcid-and-datacite-metadata/","authors":[{"affiliation":[{"id":"https://ror.org/04wxnsj81","name":"DataCite"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","subfield_validated":null,"title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","content_html":"<p>One of the first tasks
        for DataCite in the European Commission-funded <a href=\"http://project-thor.eu/\">THOR
        project</a>, which started in June, was to contribute to a comparison of the
        ORCID and DataCite metadata standards. Together with ORCID, CERN, the British
        Library and Dryad we looked at how contributors, organizations and artefacts
        - and the relations between them - are described in the respective metadata
        schemata, and how they are implemented in two example data repositories, <a
        href=\"http://archaeologydataservice.ac.uk/\">Archaeology Data Service</a>
        and <a href=\"https://www.datadryad.org/\">Dryad Digital Repository</a>.</p><p>The
        focus of our work was on identifying major gaps. Our report was finished and
        made publicly available last week (Fenner et al., <a href=\"https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/#ref-https://doi.org/10.5281/ZENODO.30799\">2015</a>).
        The key findings are summarized below:</p><ul><li>Common Approach to Personal
        Names</li><li>Standardized Contributor Roles</li><li>Standardized Relation
        Types</li><li>Metadata for Organisations</li><li>Persistent Identifiers for
        Projects</li><li>Harmonization of ORCID and DataCite Metadata</li></ul><h3
        id=\"common-approach-to-personal-names\">Common Approach to Personal Names</h3><p>While
        a single input field for contributor names is common, separate fields for
        given and family names are required for <a href=\"http://docs.citationstyles.org/en/stable/specification.html#names\">proper
        formatting of citations</a>. As long as citations to scholarly content rely
        on properly formatted text rather than persistent identifiers, services holding
        bibliographic information have to support these separate fields. Further work
        is needed to help with the transition to separate input fields for given and
        famliy names, and to handle contributors that are organizations or groups
        of people.</p><h3 id=\"standardized-contributor-roles\">Standardized Contributor
        Roles</h3><p>The currently existing vocabularies for <strong>contributor type</strong>
        (DataCite) and <strong>contributor role</strong> (ORCID) provide a high-level
        description, but fall short when trying to describe the author/creator contribution
        in more detail. <a href=\"http://docs.casrai.org/CRediT\">Project CRediT</a>
        is a multi-stakeholder initiative that has developed a common vocabulary with
        14 different contributor roles, and this vocabulary can be used to provide
        this detail, e.g. who provided res[...]
