interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/w2nqy-wxa44
  response:
    body:
      string: '{"id": "w2nqy-wxa44", "created": "2024-10-14T08:02:11.547986+00:00",
        "updated": "2025-10-24T06:45:16.565777+00:00", "links": {"self": "https://rogue-scholar.org/api/records/w2nqy-wxa44",
        "self_html": "https://rogue-scholar.org/records/w2nqy-wxa44", "preview_html":
        "https://rogue-scholar.org/records/w2nqy-wxa44?preview=1", "doi": "https://doi.org/10.59350/dcw3y-7em87",
        "self_doi": "https://doi.org/10.59350/dcw3y-7em87", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/dcw3y-7em87",
        "reserve_doi": "https://rogue-scholar.org/api/records/w2nqy-wxa44/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/h2rjg-smp56", "parent_html":
        "https://rogue-scholar.org/records/h2rjg-smp56", "parent_doi": "https://doi.org/10.59350/h2rjg-smp56",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/h2rjg-smp56", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:w2nqy-wxa44/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:w2nqy-wxa44/sequence/default",
        "files": "https://rogue-scholar.org/api/records/w2nqy-wxa44/files", "media_files":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/media-files", "archive":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/w2nqy-wxa44/latest", "versions": "https://rogue-scholar.org/api/records/w2nqy-wxa44/versions",
        "draft": "https://rogue-scholar.org/api/records/w2nqy-wxa44/draft", "access_links":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access/request", "access":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/access", "communities":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/w2nqy-wxa44/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/w2nqy-wxa44/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/w2nqy-wxa44/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/w2nqy-wxa44/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/w2nqy-wxa44/requests"},
        "revision_id": 27, "parent": {"id": "h2rjg-smp56", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["18f3ab6d-3fde-4bd3-b6dd-d5b1b0165592", "c8efeda5-cd52-472d-9537-6915b9c62e34",
        "fbc3bd5a-137e-4366-94ae-92a6e9d744e3"], "default": "c8efeda5-cd52-472d-9537-6915b9c62e34",
        "entries": [{"id": "18f3ab6d-3fde-4bd3-b6dd-d5b1b0165592", "created": "2025-02-08T14:06:33.889323+00:00",
        "updated": "2026-01-25T20:59:18.690188+00:00", "links": {}, "revision_id":
        9, "slug": "cito", "metadata": {"title": "CITO", "description": "Blog posts
        about CITO (the citation typing ontology).", "type": {"id": "topic"}}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "c8efeda5-cd52-472d-9537-6915b9c62e34", "created": "2024-10-05T18:54:07.448143+00:00",
        "updated": "2026-08-22T09:04:04.396615+00:00", "links": {}, "revision_id":
        3707, "slug": "opencitations", "metadata": {"title": "OpenCitations blog",
        "description": "The blog of the OpenCitations Infrastructure", "type": {"id":
        "blog"}, "website": "https://opencitations.hypotheses.org"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {"feed:feed_url": "https://opencitations.hypotheses.org/feed/atom/",
        "feed:created": "2023-04-19", "feed:updated": "2026-07-04T13:34:27+00:00",
        "feed:feed_format": {"id": "atom"}, "feed:generator": {"id": "WordPress"},
        "feed:status": {"id": "active"}, "feed:authors": [{"name": "OpenCitations
        Team"}], "feed:secure": true, "feed:use_api": true, "rs:prefix": {"id": "10.59350"},
        "rs:doi": "https://doi.org/10.59350/opencitations", "rs:license": {"id": "cc-by-4.0"},
        "rs:language": {"id": "eng"}, "rs:subfield": [{"id": "https://openalex.org/subfields/1802"}]},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        true}}, {"id": "fbc3bd5a-137e-4366-94ae-92a6e9d744e3", "created": "2025-02-11T17:20:32.633964+00:00",
        "updated": "2025-12-02T20:56:11.605253+00:00", "links": {}, "revision_id":
        11, "slug": "1802", "metadata": {"title": "Information Systems and Management",
        "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1802"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/h2rjg-smp56", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/dcw3y-7em87", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:w2nqy-wxa44", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Shotton, David M.", "given_name": "David M.",
        "family_name": "Shotton", "identifiers": [{"identifier": "0000-0001-5506-523X",
        "scheme": "orcid"}]}, "affiliations": [{"id": "052gg0110", "name": "University
        of Oxford", "identifiers": [{"identifier": "052gg0110", "scheme": "ror"}]}]}],
        "title": "Use of CiTO in CiteULike", "publisher": "Front Matter", "publication_date":
        "2010-10-21", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?5.9",
        "subject": "Other social sciences", "scheme": "FOS"}, {"subject": "JISC"},
        {"subject": "Ontologies"}, {"subject": "Open Citations"}, {"subject": "Semantic
        Publishing"}, {"subject": "Applications"}], "dates": [{"date": "2010-10-21T16:32:43",
        "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued",
        "sv": "Utf\u00e4rdad"}}}, {"date": "2022-08-04T15:52:06", "type": {"id": "updated",
        "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "6d0f1603-4081-4a4c-9bdf-1f0146558935", "scheme": "uuid"}, {"identifier":
        "http://opencitations.wordpress.com/?p=31", "scheme": "guid"}, {"identifier":
        "https://opencitations.hypotheses.org/31", "scheme": "url"}], "version": "v1",
        "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative Commons Attribution
        4.0 International"}, "description": {"en": "The Creative Commons Attribution
        license allows re-distribution and re-use of a licensed work on the condition
        that the creator is appropriately credited."}, "icon": "cc-by-icon", "props":
        {"url": "https://creativecommons.org/licenses/by/4.0/", "scheme": "spdx"}}],
        "description": "Egon Willighagen, at Uppsala University, has pioneered the
        use of object properties from CiTO, the Citation Typing Ontology, to characterize
        bibliographic citations in CiteULike, the free service for managing and discovering
        scholarly references.\u00a0 Indeed, it was his use case that persuaded me
        of the need to generalize CiTO to include indirect citations."}, "custom_fields":
        {"journal:journal": {"title": "OpenCitations blog"}, "rs:content_html": "<p>Egon
        Willighagen, at Uppsala University, has pioneered the use of object properties
        from CiTO, the Citation Typing Ontology, to characterize bibliographic citations
        in <a href=\"http://www.citeulike.org/\" target=\"_blank\" rel=\"noopener\">CiteULike</a>,
        the free service for managing and discovering scholarly references.\u00a0
        Indeed, it was his use case that persuaded me of the need to generalize CiTO
        to include indirect citations.</p>\n<p>For example, in documenting papers
        that use the Chemistry Development Kit (CDK), Egon records the following paper
        by Guha (2007)\u00a0(Egon&#8217;s CiteULike reference 7901082):\u00a0 <em><br
        />\n</em></p>\n<p><em><a href=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"><img
        loading=\"lazy\" decoding=\"async\" class=\"aligncenter size-full wp-image-37\"
        title=\"Guha 2007 reference 7901082\" src=\"http://opencitations.files.wordpress.com/2010/10/guha-2007-reference-7901082.png\"
        alt=\"\" width=\"640\" height=\"394\" /></a></em></p>\n<p>He tags that Guha
        paper, using the CiTO tag <em>cito:usedMethodIn</em>,[...]
