interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/jehpc-qpc91
  response:
    body:
      string: '{"id": "jehpc-qpc91", "created": "2024-10-21T23:09:37.715406+00:00",
        "updated": "2025-04-11T06:42:29.008571+00:00", "links": {"self": "https://rogue-scholar.org/api/records/jehpc-qpc91",
        "self_html": "https://rogue-scholar.org/records/jehpc-qpc91", "preview_html":
        "https://rogue-scholar.org/records/jehpc-qpc91?preview=1", "doi": "https://doi.org/10.59350/z78kb-qrz59",
        "self_doi": "https://doi.org/10.59350/z78kb-qrz59", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/z78kb-qrz59",
        "reserve_doi": "https://rogue-scholar.org/api/records/jehpc-qpc91/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/525mk-mt360", "parent_html":
        "https://rogue-scholar.org/records/525mk-mt360", "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:jehpc-qpc91/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:jehpc-qpc91/sequence/default",
        "files": "https://rogue-scholar.org/api/records/jehpc-qpc91/files", "media_files":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/media-files", "archive":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/jehpc-qpc91/latest", "versions": "https://rogue-scholar.org/api/records/jehpc-qpc91/versions",
        "draft": "https://rogue-scholar.org/api/records/jehpc-qpc91/draft", "access_links":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access/request", "access":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/access", "communities":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/jehpc-qpc91/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/jehpc-qpc91/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/jehpc-qpc91/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/jehpc-qpc91/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/jehpc-qpc91/requests"},
        "revision_id": 15, "parent": {"id": "525mk-mt360", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["00b600a1-0349-4115-aa7d-1212a40e1331", "d52c2a61-9adc-4b9a-88ef-8c5f5092ad96"],
        "default": "d52c2a61-9adc-4b9a-88ef-8c5f5092ad96", "entries": [{"id": "00b600a1-0349-4115-aa7d-1212a40e1331",
        "created": "2025-02-12T09:47:05.392425+00:00", "updated": "2025-12-02T20:55:32.323694+00:00",
        "links": {}, "revision_id": 12, "slug": "2611", "metadata": {"title": "Modeling
        and Simulation", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/2611"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d52c2a61-9adc-4b9a-88ef-8c5f5092ad96", "created": "2024-10-10T20:06:54.365300+00:00",
        "updated": "2026-08-22T09:02:15.597783+00:00", "links": {}, "revision_id":
        3562, "slug": "epiverse_trace", "metadata": {"title": "Epiverse-TRACE: tools
        for outbreak analytics", "description": "A place for Epiverse-TRACE to share
        their reflections, learnings, and showcase available tools.", "type": {"id":
        "blog"}, "website": "https://epiverse-trace.github.io/blog.html#category=DOI"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://epiverse-trace.github.io/blog-doi.xml", "feed:created":
        "2024-06-19", "feed:updated": "2026-07-04T13:32:21+00:00", "feed:feed_format":
        {"id": "rss"}, "feed:generator": {"id": "Quarto"}, "feed:status": {"id": "active"},
        "feed:secure": true, "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/epiverse_trace",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/2611"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}]}, "pids": {}}, "versions":
        {"is_latest": true, "index": 1}, "is_published": true, "is_draft": false,
        "pids": {"doi": {"identifier": "10.59350/z78kb-qrz59", "provider": "external"},
        "oai": {"identifier": "oai:invenio-rdm:jehpc-qpc91", "provider": "oai"}},
        "metadata": {"resource_type": {"id": "publication-blogpost", "title": {"de":
        "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Azam, James", "given_name":
        "James", "family_name": "Azam"}}, {"person_or_org": {"type": "personal", "name":
        "Gruson, Hugo", "given_name": "Hugo", "family_name": "Gruson"}}, {"person_or_org":
        {"type": "personal", "name": "Kucharski, Adam", "given_name": "Adam", "family_name":
        "Kucharski"}}], "title": "2024 mpox outbreak: common analytics tasks and available
        R tools", "publisher": "Front Matter", "publication_date": "2024-07-04", "subjects":
        [{"id": "http://www.oecd.org/science/inno/38235147.pdf?3.5", "subject": "Other
        medical sciences", "scheme": "FOS"}, {"subject": "Mpox"}, {"subject": "Outbreak"},
        {"subject": "Outbreak Analytics"}, {"subject": "DOI"}], "dates": [{"date":
        "2024-07-04T02:00:00", "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht",
        "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date": "2024-07-04T02:00:00",
        "type": {"id": "updated", "title": {"de": "Aktualisiert", "en": "Updated",
        "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title": {"en": "English"}}],
        "identifiers": [{"identifier": "340de361-9628-481e-9204-527c679446b9", "scheme":
        "uuid"}, {"identifier": "https://epiverse-trace.github.io/posts/mpox-preparedness/",
        "scheme": "guid"}, {"identifier": "https://epiverse-trace.github.io/posts/mpox-preparedness",
        "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "There are ongoing outbreaks of mpox globally.
        The Democratic Republic of Congo (DRC) is so far the worst hit with a total
        of 7,851 cases and 384 deaths reported between January 1 and May 26, 2024
        <sup> 1 </sup> . Before 2022, there were few reports of sustained mpox transmission
        globally.", "references": [{"identifier": "10.4269/ajtmh.23-0215", "scheme":
        "doi", "reference": "Charniga, K., McCollum, A. M., Hughes, C. M., Monroe,
        B., Kabamba, J., Lushima, R. S., Likafi, T., Nguete, B., Pukuta, E., Muyamuna,
        E., Muyembe Tamfum, J.-J., Karhemere, S., Kaba, D., &amp; Nakazawa, Y. (2024).
        Updating Reproduction Number Estimates for Mpox in the Democratic Republic
        of Congo Using Surveillance Data. <i>The American Journal of Tropical Medicine
        and Hygiene</i>, <i>110</i>(3), 561\u2013568."}, {"identifier": "10.48550/arxiv.2405.08841",[...]
