interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/mg09a-5ma64
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/05745n787","name":"G\u00f6ttingen
        State and University Library"}],"name":"Daniel Beucke","url":"https://orcid.org/0000-0003-4905-1936"},{"affiliation":[{"id":"https://ror.org/00pwcvj19","name":"Hamburg
        State and University Library"}],"name":"Isabella Meinecke","url":"https://orcid.org/0000-0001-8337-3619"},{"affiliation":[{"id":"https://ror.org/01hcx6992","name":"Humboldt-Universit\u00e4t
        zu Berlin"}],"name":"Heinz Pampel","url":"https://orcid.org/0000-0003-3334-2771"},{"affiliation":[{"id":"https://ror.org/01hcx6992","name":"Humboldt-Universit\u00e4t
        zu Berlin"}],"name":"Marcel Wrzesinski","url":"https://orcid.org/0000-0002-2343-7905"}],"blog":{"archive_collection":24081,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":null,"canonical_url":null,"category":"computerAndInformationSciences","community_id":"53174590-b8d0-4c88-b121-4ca75f7de145","created_at":1717668020,"current_feed_url":null,"description":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","doi_as_guid":false,"favicon":null,"feed_format":"application/rss+xml","feed_url":"https://infomgnt.org/index.xml","filter":null,"funding":null,"generator":"Quarto","generator_raw":"Quarto
        1.4.555","home_page_url":"https://infomgnt.org","id":"17927ce5-1239-43fb-a3c9-2acb8a679d11","indexed":true,"issn":"2944-6848","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729503399,"relative_url":null,"ror":null,"secure":true,"slug":"infomgnt","status":"active","subfield":"1710","subfield_validated":null,"title":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","updated_at":1764111600,"use_api":null,"use_mastodon":false,"user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d"},"blog_name":"Research
        Group Information Management @ Humboldt-Universit\u00e4t zu Berlin","blog_slug":"infomgnt","content_html":"<p>In
        the beginning of June 2024, Nature reported on the Japanese\nMinistry of Education\u2019s
        plan to invest 10 billion yen in expanding\ninstitutional Open Access Repositories
        <span class=\"citation\"\ndata-cites=\"singh_chawla_japans_2024\">(Singh Chawla
        2024)</span>. This\ninitiative provides a good opportunity to discuss the
        future of Open\nAccess Repositories at the <a\nhref=\"https://2024.bibliocon.de/\">https://2024.bibliocon.de/</a>.</p>\n<p>In
        collaboration with the project \u201cProfessionalization of the Open\nAccess
        Repositories Infrastructure in Germany\u201d (<a\nhref=\"https://www.ibi.hu-berlin.de/de/forschung/infomanagement/pro[...]
