interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 habanero/1.2.2
    method: GET
    uri: https://api.crossref.org/funders?rows=things
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        java.lang.NullPointerException","description":"java.lang.NullPointerException","message":null,"stack":[],"cause":null}}'
    headers:
      content-type:
      - application/json
      exception-name:
      - class java.lang.NullPointerException
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 500
      message: Server Error
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/funders?rows=things
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        java.lang.NullPointerException","description":"java.lang.NullPointerException","message":null,"stack":[],"cause":null}}'
    headers:
      content-type:
      - application/json
      exception-name:
      - class java.lang.NullPointerException
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 500
      message: Server Error
version: 1
