interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 habanero/1.2.2
    method: GET
    uri: https://api.crossref.org/funders?filter=has-assertion%3Atrue
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-assertion","message":"Filter
        has-assertion specified but there is no such filter for this route. Valid
        filters for this route are: location"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/funders?filter=has-assertion%3Atrue
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-assertion","message":"Filter
        has-assertion specified but there is no such filter for this route. Valid
        filters for this route are: location"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 400
      message: Bad Request
version: 1
