interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.caltech.edu/api/records/kfkqj-q6557
  response:
    body:
      string: '{"id": "kfkqj-q6557", "created": "2022-09-14T20:01:58.376092+00:00",
        "updated": "2022-11-23T23:35:33.725238+00:00", "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557",
        "self_html": "https://data.caltech.edu/records/kfkqj-q6557", "preview_html":
        "https://data.caltech.edu/records/kfkqj-q6557?preview=1", "doi": "https://doi.org/10.22002/D1.2103",
        "self_doi": "https://doi.org/10.22002/D1.2103", "self_doi_html": "https://data.caltech.edu/doi/10.22002/D1.2103",
        "reserve_doi": "https://data.caltech.edu/api/records/kfkqj-q6557/draft/pids/doi",
        "parent": "https://data.caltech.edu/api/records/84vah-vpc67", "parent_html":
        "https://data.caltech.edu/records/84vah-vpc67", "self_iiif_manifest": "https://data.caltech.edu/api/iiif/record:kfkqj-q6557/manifest",
        "self_iiif_sequence": "https://data.caltech.edu/api/iiif/record:kfkqj-q6557/sequence/default",
        "files": "https://data.caltech.edu/api/records/kfkqj-q6557/files", "media_files":
        "https://data.caltech.edu/api/records/kfkqj-q6557/media-files", "latest":
        "https://data.caltech.edu/api/records/kfkqj-q6557/versions/latest", "latest_html":
        "https://data.caltech.edu/records/kfkqj-q6557/latest", "versions": "https://data.caltech.edu/api/records/kfkqj-q6557/versions",
        "draft": "https://data.caltech.edu/api/records/kfkqj-q6557/draft", "access_links":
        "https://data.caltech.edu/api/records/kfkqj-q6557/access/links", "access_grants":
        "https://data.caltech.edu/api/records/kfkqj-q6557/access/grants", "access_users":
        "https://data.caltech.edu/api/records/kfkqj-q6557/access/users", "access_request":
        "https://data.caltech.edu/api/records/kfkqj-q6557/access/request", "access":
        "https://data.caltech.edu/api/records/kfkqj-q6557/access", "communities":
        "https://data.caltech.edu/api/records/kfkqj-q6557/communities", "communities-suggestions":
        "https://data.caltech.edu/api/records/kfkqj-q6557/communities-suggestions",
        "requests": "https://data.caltech.edu/api/records/kfkqj-q6557/requests"},
        "revision_id": 5, "parent": {"id": "84vah-vpc67", "access": {"owned_by": {"user":
        "407"}}, "communities": {}, "pids": {}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.22002/D1.2103", "provider": "datacite", "client": "datacite"}, "oai":
        {"identifier": "oai:data.caltech.edu:kfkqj-q6557", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "dataset", "title": {"en": "Dataset"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Peck, Ariana", "given_name":
        "Ariana", "family_name": "Peck", "identifiers": [{"identifier": "0000-0002-5940-3897",
        "scheme": "orcid"}]}, "affiliations": [{"id": "05dxps055", "name": "California
        Institute of Technology", "identifiers": [{"identifier": "05dxps055", "scheme":
        "ror"}]}]}, {"person_or_org": {"type": "personal", "name": "Carter, Stephen",
        "given_name": "Stephen", "family_name": "Carter", "identifiers": [{"identifier":
        "0000-0002-4237-4276", "scheme": "orcid"}]}, "affiliations": [{"id": "05dxps055",
        "name": "California Institute of Technology", "identifiers": [{"identifier":
        "05dxps055", "scheme": "ror"}]}]}, {"person_or_org": {"type": "personal",
        "name": "Chen, Songye", "given_name": "Songye", "family_name": "Chen"}, "affiliations":
        [{"id": "05dxps055", "name": "California Institute of Technology", "identifiers":
        [{"identifier": "05dxps055", "scheme": "ror"}]}]}, {"person_or_org": {"type":
        "personal", "name": "Jensen, Grant", "given_name": "Grant", "family_name":
        "Jensen", "identifiers": [{"identifier": "0000-0003-1556-4864", "scheme":
        "orcid"}]}, "affiliations": [{"id": "05dxps055", "name": "California Institute
        of Technology", "identifiers": [{"identifier": "05dxps055", "scheme": "ror"}]}]}],
        "title": "Montage cryo-ET of the thin edge of a HeLa cell, dataset 3", "publisher":
        "CaltechDATA", "publication_date": "2021-09-03", "subjects": [{"subject":
        "cryo-electron microscopy"}], "languages": [{"id": "eng", "title": {"en":
        "English"}}], "identifiers": [{"identifier": "2103", "scheme": "cdid"}], "formats":
        [".mrc, .txt"], "version": "1.0", "rights": [{"title": {"en": "cc-by-nc-4.0"}}],
        "description": "Montage tomography dataset collected from the thin edge of
        a HeLa cell. The file nomenclature for the images is: CG_{tilt_angle}_{tile_number}.mrc.
        The accompanying text file defines both the order of data collection and the
        relative tile positions, with format: tilt_angle_0 \\n x_0 y_0 z_0 \\n ....
        \\n x_n y_n z_n \\n ... \\n tilt_angle_m \\n x_0 y_0 z_0 \\n .... \\n x_n
        y_n z_n \\n where the subscript n indicates the nth tile collected at the
        corresponding tilt angle. The variables x_i and y_i correspond to positions
        in the plane of the detector, while z_i corresponds to the tile''s predicted
        height in the microscope. For this dataset, 37 tiles were collected per tilt-angle.
        Data were acquired using a grouped dose-symmetric tilt scheme ranging from
        +/-60 degrees with 2 degree increments between tilt angles."}, "custom_fields":
        {}, "access": {"record": "public", "files": "public", "embargo": {"active":
        false, "reason": null}, "status": "open"}, "files": {"enabled": true, "order":
        [], "count": 2258, "total_bytes": 106408538254, "entries": {"CG_-10_2.mrc":
        {"id": "55796274-824e-450a-8635-1f263fb96c51", "checksum": "md5:2c4c37ad0606e4b2c27f70dbbd78031a",
        "ext": "mrc", "size": 47145984, "mimetype": "application/marc", "storage_class":
        "L", "key": "CG_-10_2.mrc", "metadata": null, "access": {"hidden": false},
        "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_2.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_2.mrc/content"}},
        "CG_-10_19.mrc": {"id": "a7dad9e9-0b67-4139-a6b7-03aacd3bac77", "checksum":
        "md5:ed64af92f6e187f7a676ae63ec55a59b", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_19.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_19.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_19.mrc/content"}},
        "CG_-10_23.mrc": {"id": "41f498eb-0424-4a35-a6de-7c8e66eb8557", "checksum":
        "md5:c916d44f95a4ae6ddc0a33d3815a0ca5", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_23.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_23.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_23.mrc/content"}},
        "CG_-10_17.mrc": {"id": "b16febbf-ffc0-4010-8c5d-235e6996758f", "checksum":
        "md5:1bc9934cb2ccd9a34a1c35ecb5e8d1cf", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_17.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_17.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_17.mrc/content"}},
        "CG_-10_20.mrc": {"id": "d0c0b2b2-cb08-4300-8769-6d3c4fcd1907", "checksum":
        "md5:f6641e0dd91f9fdbdf03160981c2adf9", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_20.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_20.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_20.mrc/content"}},
        "CG_-10_21.mrc": {"id": "b3b3687f-483a-4cdb-b230-7f6e13162648", "checksum":
        "md5:07bab46e1c1163c04a044f5aa35d7ec9", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_21.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_21.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_21.mrc/content"}},
        "CG_-10_22.mrc": {"id": "577996de-45d4-4568-9cb1-c1026f868d03", "checksum":
        "md5:3155a41442c83688390e95f0587ab9c0", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_22.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_22.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_22.mrc/content"}},
        "CG_-10_25.mrc": {"id": "d8d31989-5f03-4043-a752-70a1ab82aab7", "checksum":
        "md5:a85e1b48ac7660ac6ceb86a27bc3335f", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_25.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_25.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_25.mrc/content"}},
        "CG_-10_13.mrc": {"id": "e4d03e3c-32c4-4447-90f0-c4019bd378b4", "checksum":
        "md5:2abcdf69216a7e7099680649fc9b3b56", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_13.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_13.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_13.mrc/content"}},
        "CG_-10_16.mrc": {"id": "1e2364e7-0bda-4649-9b5b-25e0cac52407", "checksum":
        "md5:a321cadc19dede1a130b17a37265f276", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_16.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_16.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_16.mrc/content"}},
        "CG_-10_18.mrc": {"id": "71c88c87-c9ce-48be-aed8-adccc0095250", "checksum":
        "md5:5b9922a077a0b1901f13bf0b72a572f2", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_18.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_18.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_18.mrc/content"}},
        "CG_-10_14.mrc": {"id": "d5e69489-b15b-4cbe-a33c-67c215c058dd", "checksum":
        "md5:254516a17b24a86bd5bcd3d90ffc4fca", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_14.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_14.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_14.mrc/content"}},
        "CG_-10_26.mrc": {"id": "c41e7179-65ac-466b-8488-eaf37e5a015d", "checksum":
        "md5:9dc0e1252cfd5352d1b9e57264609511", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_26.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_26.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_26.mrc/content"}},
        "CG_-10_24.mrc": {"id": "4aa4d360-d662-4bff-a172-fc07e4ac5333", "checksum":
        "md5:c3dfa8f85e5bd74dfd7bc5b50810b451", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_24.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_24.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_24.mrc/content"}},
        "CG_-12_11.mrc": {"id": "d41ad527-0552-4720-969f-ec901da41502", "checksum":
        "md5:a61fb6eee5a1073909cdd7ff13f1c1a4", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_11.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_11.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_11.mrc/content"}},
        "CG_-10_15.mrc": {"id": "a23b3737-f5c8-4205-b7f0-a7eed1cf8387", "checksum":
        "md5:eb09f8fb102b4fe2d51991fdc779a4be", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_15.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_15.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_15.mrc/content"}},
        "CG_-10_0.mrc": {"id": "b9603e04-bf60-42dc-b69f-76f818ebd46c", "checksum":
        "md5:c93bb03b7d4b4dea8fe771d6c3bce312", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_0.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_0.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_0.mrc/content"}},
        "CG_-10_1.mrc": {"id": "f3c6dd6a-d3b6-46aa-b300-4cfd0e8a68c9", "checksum":
        "md5:a77d1583ebe6e535bdbcfbdfad2b9f35", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_1.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_1.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_1.mrc/content"}},
        "CG_-10_10.mrc": {"id": "e857b28a-4de2-4de7-b57b-94f451ba2ea8", "checksum":
        "md5:0f353b5f6e97798727a599887f91686f", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_10.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_10.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_10.mrc/content"}},
        "CG_-10_11.mrc": {"id": "a8050451-13c5-4897-b5d4-de6e27cfaf3b", "checksum":
        "md5:29c65cf9d4dd5aa636a99747b1d534fc", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_11.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_11.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_11.mrc/content"}},
        "CG_-10_12.mrc": {"id": "90f80513-f265-46d5-860c-478e7edc8268", "checksum":
        "md5:1f7988acabe98e18a4c60234eaa3a36a", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_12.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_12.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_12.mrc/content"}},
        "CG_-10_5.mrc": {"id": "fd216ba7-0300-4e55-9045-1bcce9995820", "checksum":
        "md5:02a0849e97e0a0889a4cc315dbb41186", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_5.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_5.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_5.mrc/content"}},
        "CG_-10_27.mrc": {"id": "586e405a-4db8-4066-a52b-cef7d8785994", "checksum":
        "md5:cc87f0b0faca45e27918a799638a9f06", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_27.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_27.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_27.mrc/content"}},
        "CG_-10_4.mrc": {"id": "2194dba8-6374-46c0-aebd-555201bb8544", "checksum":
        "md5:2507cd776df84976274a87a011cb8639", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_4.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_4.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_4.mrc/content"}},
        "CG_-10_28.mrc": {"id": "7f0bf57f-01a3-4a0c-82b1-94c7ff914537", "checksum":
        "md5:df7b2f9735d50889d931679df8fff248", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_28.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_28.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_28.mrc/content"}},
        "CG_-12_12.mrc": {"id": "ff6d896b-4e0d-477b-a356-04a0aecd454b", "checksum":
        "md5:dad33592d33c0f9ed68120e2af8dd516", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_12.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_12.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_12.mrc/content"}},
        "CG_-10_29.mrc": {"id": "e9d196a6-9c80-42c8-bca4-9e636d4112fe", "checksum":
        "md5:e471ebada077beb60fa233ce8ffaab34", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_29.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_29.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_29.mrc/content"}},
        "CG_-10_6.mrc": {"id": "de1b27c6-4a25-4dd4-a12c-45ea22c33bfc", "checksum":
        "md5:e5d3fc66ea2c174d6eba5dc70d89470d", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_6.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_6.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_6.mrc/content"}},
        "CG_-12_2.mrc": {"id": "3d36b4a6-84b6-475c-a866-4c5eeca3634c", "checksum":
        "md5:031603b8b23d1cf80fd8f92909be6fbb", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_2.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_2.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_2.mrc/content"}},
        "CG_-10_31.mrc": {"id": "13c31595-606b-4f06-babd-aab5fc84cf69", "checksum":
        "md5:4a75548457b9a55b388bf7119dc965ea", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_31.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_31.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_31.mrc/content"}},
        "CG_-12_13.mrc": {"id": "2b807aaa-3ed1-4b90-99dd-b7a3b7200c42", "checksum":
        "md5:5eee377af94952b99cac1001fa480924", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_13.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_13.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_13.mrc/content"}},
        "CG_-10_30.mrc": {"id": "807519d5-82c6-4fe3-8b4c-a7b0fdd66d49", "checksum":
        "md5:ab4462d241ad71792ae935a2800c5b0e", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_30.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_30.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_30.mrc/content"}},
        "CG_-10_8.mrc": {"id": "93f3f873-43a8-4d18-b796-c698a75e1dc1", "checksum":
        "md5:7aebc4f3af41295d5cd6274cc0fdbe8f", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_8.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_8.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_8.mrc/content"}},
        "CG_-10_3.mrc": {"id": "b5ccf598-d437-4813-bc21-b1e17ec4925b", "checksum":
        "md5:3431b66aef8c24c99bc56db69a4eabfc", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_3.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_3.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_3.mrc/content"}},
        "CG_-10_7.mrc": {"id": "e854d1d2-1ef8-4b52-a2a7-888353348d9c", "checksum":
        "md5:e6ea87ec6d5d14db5fb59469d93a4d16", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_7.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_7.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_7.mrc/content"}},
        "CG_-12_20.mrc": {"id": "2b6ce86a-8d68-4645-ae2c-5ffa9e06cdc8", "checksum":
        "md5:3f6dd7d1871094230894727a36424bb0", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_20.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_20.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_20.mrc/content"}},
        "CG_-10_33.mrc": {"id": "257fae87-2262-4fa2-a0ea-f2f7ccb86146", "checksum":
        "md5:63d68b4b678644a0058477e76b9e4f69", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_33.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_33.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_33.mrc/content"}},
        "CG_-10_9.mrc": {"id": "497f272f-f007-48fe-bdf9-eea5f9fa13dc", "checksum":
        "md5:04e4748dd239af36b5e7296e5c47f3e0", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_9.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_9.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_9.mrc/content"}},
        "CG_-12_14.mrc": {"id": "f3bfdf69-1343-4d91-9b25-0ebad4337c6b", "checksum":
        "md5:159bf53a043fee47d45172e82e8141cc", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_14.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_14.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_14.mrc/content"}},
        "CG_-10_32.mrc": {"id": "5e97c761-57e4-4775-8255-c6bb59f30dd5", "checksum":
        "md5:74ae650bd867db2832e391f3aba631b1", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_32.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_32.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_32.mrc/content"}},
        "CG_-12_0.mrc": {"id": "6b51ff1a-aeed-4815-8263-37a0c0f7102c", "checksum":
        "md5:72df37b544ddbec9a3a390289b6a2041", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_0.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_0.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_0.mrc/content"}},
        "CG_-12_21.mrc": {"id": "ab940a8a-3e34-437d-b63a-a71517952fc9", "checksum":
        "md5:a3fc6029ed2321ee43f0ad85cbd29e7f", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_21.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_21.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_21.mrc/content"}},
        "CG_-10_36.mrc": {"id": "39e8d6bc-f59a-4fa6-9321-d55c0f3fd543", "checksum":
        "md5:9e95b02e126686828b4478e5b9a552bb", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_36.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_36.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_36.mrc/content"}},
        "CG_-12_25.mrc": {"id": "6eb34424-9caa-4fb1-bc05-9ea9045580b9", "checksum":
        "md5:2b7edc19c88717c5f9994056b31eba79", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_25.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_25.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_25.mrc/content"}},
        "CG_-12_35.mrc": {"id": "7c3cf83b-0c96-4cc1-a1bf-4a12c53e3118", "checksum":
        "md5:6da9c67f388d4744c49eb963356d486c", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_35.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_35.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_35.mrc/content"}},
        "CG_-12_26.mrc": {"id": "9ec42876-7771-4de5-be22-72f643a00f80", "checksum":
        "md5:7e64ab4a780209b844c22495993b3642", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_26.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_26.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_26.mrc/content"}},
        "CG_-10_34.mrc": {"id": "f46beb0b-2511-44f2-8935-eb6aa4b8dd0b", "checksum":
        "md5:6ee1232cf1650a10cf9a8d049575dd71", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_34.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_34.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_34.mrc/content"}},
        "CG_-12_10.mrc": {"id": "7c128c48-be52-4cf2-8a93-99c3de8c4a18", "checksum":
        "md5:d23131ef3372950b14862e1ee02bdf32", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-12_10.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_10.mrc",
        "content": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-12_10.mrc/content"}},
        "CG_-10_35.mrc": {"id": "e1006f39-45fb-410d-9f5b-9d638fea8984", "checksum":
        "md5:c050fa296008ab9b21b2cdc51cc8454c", "ext": "mrc", "size": 47145984, "mimetype":
        "application/marc", "storage_class": "L", "key": "CG_-10_35.mrc", "metadata":
        null, "access": {"hidden": false}, "links": {"self": "https://data.caltech.edu/api/records/kfkqj-q6557/files/CG_-10_35.mrc",
[...]
