interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/n5tg4-5h654
  response:
    body:
      string: '{"id": "n5tg4-5h654", "created": "2025-03-26T06:47:04.567993+00:00",
        "updated": "2025-08-15T17:45:05.087770+00:00", "links": {"self": "https://rogue-scholar.org/api/records/n5tg4-5h654",
        "self_html": "https://rogue-scholar.org/records/n5tg4-5h654", "preview_html":
        "https://rogue-scholar.org/records/n5tg4-5h654?preview=1", "doi": "https://doi.org/10.63485/mppz2-19243",
        "self_doi": "https://doi.org/10.63485/mppz2-19243", "self_doi_html": "https://rogue-scholar.org/doi/10.63485/mppz2-19243",
        "reserve_doi": "https://rogue-scholar.org/api/records/n5tg4-5h654/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/enjv5-xh191", "parent_html":
        "https://rogue-scholar.org/records/enjv5-xh191", "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/record:n5tg4-5h654/manifest",
        "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/record:n5tg4-5h654/sequence/default",
        "files": "https://rogue-scholar.org/api/records/n5tg4-5h654/files", "media_files":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/media-files", "archive":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/n5tg4-5h654/latest", "versions": "https://rogue-scholar.org/api/records/n5tg4-5h654/versions",
        "draft": "https://rogue-scholar.org/api/records/n5tg4-5h654/draft", "access_links":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access/request", "access":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/access", "communities":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/n5tg4-5h654/communities-suggestions",
        "requests": "https://rogue-scholar.org/api/records/n5tg4-5h654/requests"},
        "revision_id": 25, "parent": {"id": "enjv5-xh191", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ae846881-a440-41ae-9c19-da3ea2b0dd60", "e31421de-c2b6-4ed8-8105-f749e28dc0c0"],
        "default": "ae846881-a440-41ae-9c19-da3ea2b0dd60", "entries": [{"id": "ae846881-a440-41ae-9c19-da3ea2b0dd60",
        "created": "2025-03-17T15:09:11.805332+00:00", "updated": "2025-10-06T07:37:53.674294+00:00",
        "links": {}, "revision_id": 204, "slug": "oan", "metadata": {"title": "Open
        Access News", "description": "How the internet is transforming scholarly research
        and publication", "type": {"id": "blog"}, "website": "https://legacy.earlham.edu/~peters/fos/fosblog.html"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:feed_url": "https://www.blogger.com/feeds/3536726/posts/default", "rs:prefix":
        "10.63485", "rs:joined": "March 17, 2025", "rs:feed_format": "application/atom+xml",
        "rs:generator": "Blogger", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Social science"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "e31421de-c2b6-4ed8-8105-f749e28dc0c0", "created": "2025-02-11T21:59:21.242481+00:00",
        "updated": "2025-06-30T16:00:23.605285+00:00", "links": {}, "revision_id":
        6, "slug": "socialscience", "metadata": {"title": "Social science", "description":
        "Social science subject area.", "type": {"id": "subject"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"doi": {"identifier": "10.63485/mppz2-19243", "provider":
        "external"}, "oai": {"identifier": "oai:invenio-rdm:n5tg4-5h654", "provider":
        "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost", "title":
        {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Suber, Peter", "given_name":
        "Peter", "family_name": "Suber"}}], "title": "Carl Zimmer contrasts Wiley
        and PLoS", "publisher": "Front Matter", "publication_date": "2007-05-24",
        "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?5", "subject":
        "Social science", "scheme": "FOS"}], "dates": [{"date": "2007-05-24T16:09:00",
        "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued",
        "sv": "Utf\u00e4rdad"}}}, {"date": "2007-05-24T16:45:23", "type": {"id": "updated",
        "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "1bc27f6b-9a12-43f6-983d-ec790ca0a58c", "scheme": "uuid"}, {"identifier":
        "tag:blogger.com,1999:blog-3536726.post-6528603867120185583", "scheme": "guid"},
        {"identifier": "https://www.earlham.edu/~peters/fos/2007/05/carl-zimmer-contrasts-wiley-and-plos.html",
        "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Carl Zimmer, An Open Mouse, <em> The
        Loom </em> , May 24, 2007.&nbsp; Excerpt: PS:&nbsp; The Batts/Wiley story
        broke in late April when I was traveling.&nbsp; If I''d been at my desk, I''d
        have covered it or&nbsp;at least I''d have tried.&nbsp; But because the comments
        proliferated explosively, I wasn''t at my desk, and I had a full load of other
        work, I decided that I had to let it go.&nbsp; I''m glad to catch up a bit
        with this post."}, "custom_fields": {"journal:journal": {"title": "Open Access
        News"}, "rs:content_html": "<p>Carl Zimmer, <a href=\"http://scienceblogs.com/loom/2007/05/24/an_open_mouse.php\">An
        Open Mouse</a>, <em>The Loom</em>, May 24, 2007.&nbsp; Excerpt:</p> <blockquote>
        <p>[This] is also a chance to add my two cents to a discussion that''s been
        bubbling for a few weeks: the clash between bloggers and scientific journal
        publishers. Last month Shelley Batts at <a href=\"http://scienceblogs.com/retrospectacle\">Retrospectacle</a>
        wrote a post about a paper, and included a chart that appeared in it. She
        promptly got a letter from Wiley, the journal''s publisher, <a href=\"http://scienceblogs.com/retrospectacle/2007/04/when_f[...]
