interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://works.hcommons.org/api/records/zqk4g-vqe13
  response:
    body:
      string: '{"id": "zqk4g-vqe13", "created": "2024-04-17T08:33:35+00:00", "updated":
        "2025-10-13T23:54:30.900626+00:00", "links": {"self": "https://works.hcommons.org/api/records/zqk4g-vqe13",
        "self_html": "https://works.hcommons.org/records/zqk4g-vqe13", "self_doi":
        "https://works.hcommons.org/doi/10.17613/mj85-wt48", "doi": "https://doi.org/10.17613/mj85-wt48",
        "parent": "https://works.hcommons.org/api/records/pr2mp-r3k02", "parent_html":
        "https://works.hcommons.org/records/pr2mp-r3k02", "parent_doi": "https://works.hcommons.org/doi/10.17613/pr2mp-r3k02",
        "self_iiif_manifest": "https://works.hcommons.org/api/iiif/record:zqk4g-vqe13/manifest",
        "self_iiif_sequence": "https://works.hcommons.org/api/iiif/record:zqk4g-vqe13/sequence/default",
        "files": "https://works.hcommons.org/api/records/zqk4g-vqe13/files", "media_files":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/media-files", "archive":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/files-archive", "archive_media":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/media-files-archive",
        "latest": "https://works.hcommons.org/api/records/zqk4g-vqe13/versions/latest",
        "latest_html": "https://works.hcommons.org/records/zqk4g-vqe13/latest", "draft":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/draft", "versions": "https://works.hcommons.org/api/records/zqk4g-vqe13/versions",
        "access_links": "https://works.hcommons.org/api/records/zqk4g-vqe13/access/links",
        "access_grants": "https://works.hcommons.org/api/records/zqk4g-vqe13/access/grants",
        "access_users": "https://works.hcommons.org/api/records/zqk4g-vqe13/access/users",
        "access_groups": "https://works.hcommons.org/api/records/zqk4g-vqe13/access/groups",
        "access_request": "https://works.hcommons.org/api/records/zqk4g-vqe13/access/request",
        "access": "https://works.hcommons.org/api/records/zqk4g-vqe13/access", "reserve_doi":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/draft/pids/doi", "communities":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/communities", "communities-suggestions":
        "https://works.hcommons.org/api/records/zqk4g-vqe13/communities-suggestions",
        "requests": "https://works.hcommons.org/api/records/zqk4g-vqe13/requests"},
        "revision_id": 11, "parent": {"id": "pr2mp-r3k02", "access": {"owned_by":
        {"user": "2981"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["6bde785e-9aa1-47c1-bba4-5ea3e1a8eff6", "d6bab10e-a9e0-4ec4-be5e-c4e782645a3a"],
        "default": "d6bab10e-a9e0-4ec4-be5e-c4e782645a3a", "entries": [{"id": "6bde785e-9aa1-47c1-bba4-5ea3e1a8eff6",
        "created": "2023-10-31T00:00:00+00:00", "updated": "2025-12-09T22:43:51.951514+00:00",
        "links": {}, "revision_id": 13, "slug": "ignatian-international-journal-for-multidisciplinary-research",
        "metadata": {"title": "Ignatian International Journal for Multidisciplinary
        Research", "description": "A collection managed by Ignatian International
        Journal for Multidisciplinary Research, a Knowledge Commons group", "page":
        "This is a collection of works curated by Ignatian International Journal for
        Multidisciplinary Research, a Knowledge Commons group", "website": "http://www.icceph.com/research/",
        "organizations": [{"name": "Ignatian International Journal for Multidisciplinary
        Research"}, {"name": "Knowledge Commons"}]}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "closed", "record_policy":
        "closed", "review_policy": "closed"}, "custom_fields": {"stats:dashboard_enabled":
        true, "kcr:commons_instance": "knowledgeCommons", "kcr:commons_group_id":
        "1004282", "kcr:commons_group_name": "Ignatian International Journal for Multidisciplinary
        Research", "kcr:commons_group_description": "A group of authors and their
        studies published in Ignatian International Journal for Multidisciplinary
        Research", "kcr:commons_group_visibility": "public", "kcr:commons_search_recid":
        "-Fo-y5ABMnYJeQxDNrxs"}, "deletion_status": {"is_deleted": false, "status":
        "P"}, "children": {"allow": false}}, {"id": "d6bab10e-a9e0-4ec4-be5e-c4e782645a3a",
        "created": "2024-07-18T01:02:05.407959+00:00", "updated": "2025-12-09T22:43:50.501014+00:00",
        "links": {}, "revision_id": 17, "slug": "kcommons", "metadata": {"title":
        "Knowledge Commons", "description": "A collection representing Knowledge Commons",
        "curation_policy": "", "type": {"id": "commons"}, "website": "https://hcommons.org",
        "organizations": [{"name": "Knowledge Commons"}]}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "closed", "record_policy":
        "closed", "review_policy": "open"}, "custom_fields": {"stats:dashboard_enabled":
        true, "kcr:commons_search_recid": "paFcw5ABkh27HjOZUN98"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.17613/pr2mp-r3k02", "provider": "datacite", "client":
        "datacite"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.17613/mj85-wt48",
        "provider": "datacite", "client": "datacite"}, "oai": {"identifier": "oai:invenio-dev.hcommons-staging.org:zqk4g-vqe13",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "textDocument-journalArticle",
        "title": {"de": "Zeitschriftenartikel", "en": "Journal article"}}, "creators":
        [{"person_or_org": {"type": "personal", "name": "Acebes, Rey J.", "given_name":
        "Rey J.", "family_name": "Acebes"}, "role": {"id": "author", "title": {"en":
        "Author"}}}, {"person_or_org": {"type": "personal", "name": "Luzung, Marc
        Adrian C.", "given_name": "Marc Adrian C.", "family_name": "Luzung"}, "role":
        {"id": "author", "title": {"en": "Author"}}}, {"person_or_org": {"type": "personal",
        "name": "Marcaida, John Louise M.", "given_name": "John Louise M.", "family_name":
        "Marcaida"}, "role": {"id": "author", "title": {"en": "Author"}}}, {"person_or_org":
        {"type": "personal", "name": "Miranda, Allan Ronald Y.", "given_name": "Allan
        Ronald Y.", "family_name": "Miranda"}, "role": {"id": "author", "title": {"en":
        "Author"}}}, {"person_or_org": {"type": "personal", "name": "Pabustan, Kazee
        V.", "given_name": "Kazee V.", "family_name": "Pabustan"}, "role": {"id":
        "author", "title": {"en": "Author"}}}, {"person_or_org": {"type": "personal",
        "name": "Pingul, Chynna T.", "given_name": "Chynna T.", "family_name": "Pingul"},
        "role": {"id": "author", "title": {"en": "Author"}}}, {"person_or_org": {"type":
        "personal", "name": "Sunga, Shyrenz Joy P.", "given_name": "Shyrenz Joy P.",
        "family_name": "Sunga"}, "role": {"id": "author", "title": {"en": "Author"}}}],
        "title": "HUMSS AS THE CHOSEN STRAND AND ITS INFLUENCE ON THE STUDENTS'' COMMUNICATION
        SKILLS", "publisher": "ICCE", "publication_date": "2024", "dates": [{"date":
        "2024-04", "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht",
        "en": "Issued", "sv": "Utf\u00e4rdad"}}, "description": "Publication date"}],
        "languages": [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "hc:65199", "scheme": "hclegacy-pid"}, {"identifier": "1000360-83603", "scheme":
        "hclegacy-record-id"}, {"identifier": "10.5281/zenodo.10984470", "scheme":
        "doi"}], "rights": [{"id": "cc-by-nc-4.0", "title": {"en": "Creative Commons
        Attribution Non Commercial 4.0 International"}, "description": {"en": "Allows
        re-distribution and re-use of a licensed work on the condition that the creator
        is appropriately credited and that the re-use is not for commercial purposes."},
        "icon": "cc-by-nc-icon", "props": {"url": "https://creativecommons.org/licenses/by-nc/4.0/legalcode",
        "scheme": "spdx"}}], "description": "The importance of communication skills
        cannot be disregarded, especially today where communication plays a crucial
        part in our daily lives. Furthermore, poor communication skills may lead to
        the inability to maintain professional and personal relationships. With, this
        study aims to investigate and determine whether there is a statistically significant
        [...]
