interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/api/records/5244404
  response:
    content: '{"created": "2021-08-24T13:07:25.333473+00:00", "modified": "2022-07-01T11:30:53.159306+00:00",
      "id": 5244404, "conceptrecid": "5075887", "doi": "10.5281/zenodo.5244404", "conceptdoi":
      "10.5281/zenodo.5075887", "doi_url": "https://doi.org/10.5281/zenodo.5244404",
      "metadata": {"title": "The Origins of SARS-CoV-2: A Critical Review", "doi":
      "10.5281/zenodo.5244404", "publication_date": "2021-08-18", "description": "<p>The
      Origins of SARS-CoV-2: A Critical Review</p>\n\n<p>Holmes et al.</p>\n\n<p>Published
      online: 18-Aug-2021,&nbsp;Cell,&nbsp;<a href=\"https://doi.org/10.1016/j.cell.2021.08.017\">https://doi.org/10.1016/j.cell.2021.08.017</a></p>\n\n<p>Since
      the first reports of a novel SARS-like coronavirus in December 2019 in Wuhan,
      China, there has been intense interest in understanding how SARS-CoV-2 emerged
      in the human population. Recent debate has coalesced around two competing ideas:
      a &ldquo;laboratory escape&rdquo; scenario and zoonotic emergence. Here, we
      critically review the current scientific evidence that may help clarify the
      origin of SARS-CoV-2.</p>\n\n<p>Computer readable versions of data tables, SVG
      maps, and acknowledgements of sequence data used are available from:</p>\n\n<p>https://github.com/sars-cov-2-origins/critical-review</p>\n\n<p>&nbsp;</p>",
      "access_right": "open", "creators": [{"name": "Holmes, Edward C", "affiliation":
      "School of Life and Environmental Sciences and School of Medical Sciences, The
      University of Sydney, Sydney, NSW 2006, Australia"}, {"name": "Goldstein, Stephen
      A", "affiliation": "Department of Human Genetics, University of Utah, Salt Lake
      City, UT 84112, USA"}, {"name": "Rasmussen, Angela L", "affiliation": "Vaccine
      and Infectious Disease Organization, University of Saskatchewan, Saskatoon,
      SK, S7N 5E3, Canada"}, {"name": "Robertson, David L", "affiliation"[...]
