interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/pevm6-kx104
  response:
    body:
      string: '{"id": "pevm6-kx104", "created": "2025-09-27T07:00:02.600301+00:00",
        "updated": "2025-09-28T10:45:23.117669+00:00", "links": {"self": "https://rogue-scholar.org/api/records/pevm6-kx104",
        "self_html": "https://rogue-scholar.org/records/pevm6-kx104", "preview_html":
        "https://rogue-scholar.org/records/pevm6-kx104?preview=1", "doi": "https://doi.org/10.59350/5cj54-ha154",
        "self_doi": "https://doi.org/10.59350/5cj54-ha154", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/5cj54-ha154",
        "reserve_doi": "https://rogue-scholar.org/api/records/pevm6-kx104/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/sfw0f-2fe65", "parent_html":
        "https://rogue-scholar.org/records/sfw0f-2fe65", "parent_doi": "https://doi.org/10.59350/sfw0f-2fe65",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/sfw0f-2fe65", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:pevm6-kx104/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:pevm6-kx104/sequence/default",
        "files": "https://rogue-scholar.org/api/records/pevm6-kx104/files", "media_files":
        "https://rogue-scholar.org/api/records/pevm6-kx104/media-files", "archive":
        "https://rogue-scholar.org/api/records/pevm6-kx104/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/pevm6-kx104/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/pevm6-kx104/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/pevm6-kx104/latest", "versions": "https://rogue-scholar.org/api/records/pevm6-kx104/versions",
        "draft": "https://rogue-scholar.org/api/records/pevm6-kx104/draft", "access_links":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access/request", "access":
        "https://rogue-scholar.org/api/records/pevm6-kx104/access", "communities":
        "https://rogue-scholar.org/api/records/pevm6-kx104/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/pevm6-kx104/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/pevm6-kx104/request-deletion",
        "requests": "https://rogue-scholar.org/api/records/pevm6-kx104/requests"},
        "revision_id": 5, "parent": {"id": "sfw0f-2fe65", "access": {"owned_by": {"user":
        "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["f34e2211-9904-4b58-97ab-0beeb79ef6f7", "fbc3bd5a-137e-4366-94ae-92a6e9d744e3"],
        "default": "f34e2211-9904-4b58-97ab-0beeb79ef6f7", "entries": [{"id": "f34e2211-9904-4b58-97ab-0beeb79ef6f7",
        "created": "2024-10-02T21:49:29.951598+00:00", "updated": "2025-12-01T14:11:05.076394+00:00",
        "links": {}, "revision_id": 463, "slug": "musings", "metadata": {"title":
        "Aaron Tay''s Musings about librarianship", "description": "Aaron Tay''s thoughts
        about academic librarianship", "type": {"id": "blog"}, "website": "https://aarontay.substack.com/"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:feed_url": "https://aarontay.substack.com/feed", "rs:prefix": "10.59350",
        "rs:joined": "October 12, 2023", "rs:feed_format": "application/atom+xml",
        "rs:generator": "Substack", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Information Systems and Management"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "fbc3bd5a-137e-4366-94ae-92a6e9d744e3", "created": "2025-02-11T17:20:32.633964+00:00",
        "updated": "2025-06-30T16:00:21.647937+00:00", "links": {}, "revision_id":
        6, "slug": "othersocialsciences", "metadata": {"title": "Other social sciences",
        "description": "Other social sciences subject area.", "type": {"id": "subject"}},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/sfw0f-2fe65", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/5cj54-ha154", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:pevm6-kx104", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Tay, Aaron", "given_name": "Aaron", "family_name":
        "Tay", "identifiers": [{"identifier": "0000-0003-0159-013X", "scheme": "orcid"}]},
        "affiliations": [{"id": "050qmg959", "name": "Singapore Management University",
        "identifiers": [{"identifier": "050qmg959", "scheme": "ror"}]}]}], "title":
        "The Petrol Tank for AI Discovery Might be Running Dry as Publishers close
        access to scholarly content such as abstracts due to AI incentives", "publisher":
        "Front Matter", "publication_date": "2025-09-27", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?5.9",
        "subject": "Other social sciences", "scheme": "FOS"}], "dates": [{"date":
        "2025-09-27T08:53:26", "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht",
        "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date": "2025-09-27T08:53:26",
        "type": {"id": "updated", "title": {"de": "Aktualisiert", "en": "Updated",
        "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title": {"en": "English"}}],
        "identifiers": [{"identifier": "0e3b9d19-1c60-4834-9e7f-f4818bb31440", "scheme":
        "uuid"}, {"identifier": "172147764", "scheme": "guid"}, {"identifier": "https://aarontay.substack.com/p/the-petrol-tank-for-ai-discovery",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Elicit.com, Consensus, and Undermind.ai
        are among the new leading comprehensive cross-disciplinary \"AI-powered academic
        search engines\" today. Thanks for reading Aaron Tay''s Musings about Librarianship!
        Subscribe for free to receive new posts and support my work."}, "custom_fields":
        {"journal:journal": {"title": "Aaron Tay''s Musings about librarianship"},
        "rs:content_html": "<p><a href=\"http://elicit.com\">Elicit.com</a>, <a href=\"http://consensus.app\">Consensus</a>,
        and <a href=\"http://undermind.ai\">Undermind.ai</a> are among the new leading
        comprehensive cross-disciplinary \"AI-powered academic search engines\" today.
        </p><blockquote><p>Traditional databases like Web of Science, Scopus have
        also added AI features, such as Web of Science Research Assistant, Scopus
        AI, but in my view, they are still playing catch up, with Scopus AI only recently
        adding Deep Research.</p></blockquote><p> </p><div class=\"subscription-widget-wrap-editor\"
        data-attrs=\"{&quot;url&quot;:&quot;https://aarontay.substack.com/subscribe?&quot;,&quot;text&quot;:&quot;Subscribe&quot;,&quot;language&quot;:&quot;en&quot;}\"
        data-component-name=\"SubscribeWidgetToDOM\"><div class=\"subscription-widget
        show-subscribe\"><div class=\"preamble\"><p class=\"cta-caption\">Thanks for
        reading Aaron Tay''s Musings about Librarianship! Subscribe for free to receive
        new posts and support my work.</p></div><form class=\"subscription-widget-subscribe\"><input
        type=\"email\" class=\"email-input\" name=\"email\" placeholder=\"Type your
        email\u2026\" tabindex=\"-1\"><input type=\"submit\" class=\"button primary\"
        value=\"Subscribe\"><div class=\"fake-input-wrapper\"><div class=\"fake-input\"></div><div
        class=\"fake-button\"></div></div></form></div></div><p>Yet, these tools,
        alongside many others, have depended heavily on open scholarly metadata\u2014especially
        Open Abstracts and full text\u2014typically sourced from aggregators like
        <a href=\"https://www.semanticscholar.org/product/api\">Semantic Scholar Academic
        Gr[...]
