interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/apt10-14q04
  response:
    body:
      string: '{"id": "apt10-14q04", "created": "2025-10-14T08:13:18.608983+00:00",
        "updated": "2026-06-09T15:55:20.504774+00:00", "links": {"self": "https://rogue-scholar.org/api/records/apt10-14q04",
        "self_html": "https://rogue-scholar.org/records/apt10-14q04", "preview_html":
        "https://rogue-scholar.org/records/apt10-14q04?preview=1", "doi": "https://doi.org/10.59350/510pg-zzf58",
        "self_doi": "https://doi.org/10.59350/510pg-zzf58", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/510pg-zzf58",
        "reserve_doi": "https://rogue-scholar.org/api/records/apt10-14q04/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/eqnvx-r9e30", "parent_html":
        "https://rogue-scholar.org/records/eqnvx-r9e30", "parent_doi": "https://doi.org/10.59350/eqnvx-r9e30",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/eqnvx-r9e30", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:apt10-14q04/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:apt10-14q04/sequence/default",
        "files": "https://rogue-scholar.org/api/records/apt10-14q04/files", "media_files":
        "https://rogue-scholar.org/api/records/apt10-14q04/media-files", "archive":
        "https://rogue-scholar.org/api/records/apt10-14q04/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/apt10-14q04/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/apt10-14q04/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/apt10-14q04/latest", "versions": "https://rogue-scholar.org/api/records/apt10-14q04/versions",
        "draft": "https://rogue-scholar.org/api/records/apt10-14q04/draft", "access_links":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/request", "access":
        "https://rogue-scholar.org/api/records/apt10-14q04/access", "communities":
        "https://rogue-scholar.org/api/records/apt10-14q04/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/apt10-14q04/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/apt10-14q04/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/apt10-14q04/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/apt10-14q04/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/apt10-14q04/requests"},
        "revision_id": 53, "parent": {"id": "eqnvx-r9e30", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["19c501a7-647b-4a11-9f5e-cf400817cce3", "5c72edc3-b568-4c9c-9ca9-bda160e39eec",
        "d79fe364-6d96-40b6-b437-b93ca3493106", "f5585376-cf4d-4ba8-b423-16834e1f708f"],
        "default": "19c501a7-647b-4a11-9f5e-cf400817cce3", "entries": [{"id": "19c501a7-647b-4a11-9f5e-cf400817cce3",
        "created": "2024-10-05T18:45:09.152768+00:00", "updated": "2026-06-29T17:29:33.162904+00:00",
        "links": {}, "revision_id": 1513, "slug": "ropensci", "metadata": {"title":
        "rOpenSci - open tools for open science", "description": "Open Tools and R
        Packages for Open Science", "type": {"id": "blog"}, "website": "https://ropensci.org/blog"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"feed:feed_url": "https://ropensci.org/blog/index.json", "feed:created":
        "2026-06-08", "feed:updated": "2026-06-29T15:18:38+00:00", "feed:feed_format":
        {"id": "jsonfeed"}, "feed:generator": {"id": "Other"}, "feed:status": {"id":
        "active"}, "feed:authors": [{"name": "The rOpenSci Team"}], "feed:secure":
        true, "rs:prefix": {"id": "10.59350"}, "rs:doi": "https://doi.org/10.59350/ropensci",
        "rs:license": {"id": "cc-by-4.0"}, "rs:language": {"id": "eng"}, "rs:subfield":
        [{"id": "https://openalex.org/subfields/1710"}]}, "deletion_status": {"is_deleted":
        false, "status": "P"}, "children": {"allow": true}}, {"id": "5c72edc3-b568-4c9c-9ca9-bda160e39eec",
        "created": "2025-02-12T09:52:37.276550+00:00", "updated": "2025-12-02T20:55:48.988198+00:00",
        "links": {}, "revision_id": 13, "slug": "1702", "metadata": {"title": "Artificial
        Intelligence", "type": {"id": "subject"}, "website": "https://openalex.org/subfields/1702"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review[...]
