interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/apt10-14q04
  response:
    body:
      string: '{"id": "apt10-14q04", "created": "2025-10-14T08:13:18.608983+00:00",
        "updated": "2025-10-25T12:27:01.225269+00:00", "links": {"self": "https://rogue-scholar.org/api/records/apt10-14q04",
        "self_html": "https://rogue-scholar.org/records/apt10-14q04", "preview_html":
        "https://rogue-scholar.org/records/apt10-14q04?preview=1", "doi": "https://doi.org/10.59350/510pg-zzf58",
        "self_doi": "https://doi.org/10.59350/510pg-zzf58", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/510pg-zzf58",
        "reserve_doi": "https://rogue-scholar.org/api/records/apt10-14q04/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/eqnvx-r9e30", "parent_html":
        "https://rogue-scholar.org/records/eqnvx-r9e30", "parent_doi": "https://doi.org/10.59350/eqnvx-r9e30",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/eqnvx-r9e30", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:apt10-14q04/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:apt10-14q04/sequence/default",
        "files": "https://rogue-scholar.org/api/records/apt10-14q04/files", "media_files":
        "https://rogue-scholar.org/api/records/apt10-14q04/media-files", "archive":
        "https://rogue-scholar.org/api/records/apt10-14q04/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/apt10-14q04/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/apt10-14q04/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/apt10-14q04/latest", "versions": "https://rogue-scholar.org/api/records/apt10-14q04/versions",
        "draft": "https://rogue-scholar.org/api/records/apt10-14q04/draft", "access_links":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/apt10-14q04/access/request", "access":
        "https://rogue-scholar.org/api/records/apt10-14q04/access", "communities":
        "https://rogue-scholar.org/api/records/apt10-14q04/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/apt10-14q04/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/apt10-14q04/request-deletion",
        "requests": "https://rogue-scholar.org/api/records/apt10-14q04/requests"},
        "revision_id": 35, "parent": {"id": "eqnvx-r9e30", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["19c501a7-647b-4a11-9f5e-cf400817cce3", "d79fe364-6d96-40b6-b437-b93ca3493106",
        "f5585376-cf4d-4ba8-b423-16834e1f708f"], "default": "19c501a7-647b-4a11-9f5e-cf400817cce3",
        "entries": [{"id": "19c501a7-647b-4a11-9f5e-cf400817cce3", "created": "2024-10-05T18:45:09.152768+00:00",
        "updated": "2025-12-01T07:41:29.934190+00:00", "links": {}, "revision_id":
        706, "slug": "ropensci", "metadata": {"title": "rOpenSci - open tools for
        open science", "description": "Open Tools and R Packages for Open Science",
        "type": {"id": "blog"}, "website": "https://ropensci.org/blog"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {"rs:feed_url": "https://ropensci.org/blog/index.json", "rs:prefix": "10.59350",
        "rs:joined": "August 31, 2023", "rs:feed_format": "application/feed+json",
        "rs:generator": "Hugo", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Computer and information sciences"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created": "2025-02-10T08:12:28.813373+00:00",
        "updated": "2025-06-30T16:00:16.024136+00:00", "links": {}, "revision_id":
        6, "slug": "computerandinformationsciences", "metadata": {"title": "Computer
        and information sciences", "description": "Computer and information sciences
        subject area.", "type": {"id": "subject"}}, "access": {"visibility": "public",
        "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}, {"id":
        "f5585376-cf4d-4ba8-b423-16834e1f708f", "created": "2024-10-08T16:22:44.009032+00:00",
        "updated": "2025-07-15T19:20:59.530029+00:00", "links": {}, "revision_id":
        8, "slug": "metadata", "metadata": {"title": "Metadata", "description": "Blog
        posts about metadata.", "type": {"id": "topic"}}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "open"}, "custom_fields": {}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.59350/eqnvx-r9e30", "provider": "crossref", "client":
        "crossref"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.59350/510pg-zzf58",
        "provider": "crossref", "client": "crossref"}, "oai": {"identifier": "oai:invenio-rdm:apt10-14q04",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-blogpost",
        "title": {"de": "Blogbeitrag", "en": "Blog post", "sv": "blogginl\u00e4gg"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Salmon, Ma\u00eblle",
        "given_name": "Ma\u00eblle", "family_name": "Salmon", "identifiers": [{"identifier":
        "0000-0002-2815-0399", "scheme": "orcid"}]}}, {"person_or_org": {"type": "personal",
        "name": "Bellini Saibene, Yanina", "given_name": "Yanina", "family_name":
        "Bellini Saibene", "identifiers": [{"identifier": "0000-0002-4522-7466", "scheme":
        "orcid"}]}}], "title": "Recognition Beyond Blog Post Authors", "publisher":
        "Front Matter", "publication_date": "2025-10-14", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Metadata"}, {"subject": "Tech Notes"}, {"subject": "Community Manager Tools"}],
        "contributors": [{"person_or_org": {"type": "personal", "name": "LaZerte,
        Steffi", "given_name": "Steffi", "family_name": "LaZerte", "identifiers":
        [{"identifier": "0000-0002-7690-8360", "scheme": "orcid"}]}, "role": {"id":
        "editor", "title": {"de": "EditorIn", "en": "Editor", "sv": "Redakt\u00f6r"}}}],
        "dates": [{"date": "2025-10-14T02:00:00", "type": {"id": "issued", "title":
        {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv": "Utf\u00e4rdad"}}}, {"date":
        "2025-10-14T09:58:33", "type": {"id": "updated", "title": {"de": "Aktualisiert",
        "en": "Updated", "sv": "Uppdaterad"}}}], "languages": [{"id": "eng", "title":
        {"en": "English"}}], "identifiers": [{"identifier": "65e082c0-5500-4949-9ab6-307d55921762",
        "scheme": "uuid"}, {"identifier": "https://doi.org/10.59350/510pg-zzf58",
        "scheme": "guid"}, {"identifier": "https://ropensci.org/blog/2025/10/14/blog-roles/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Our own dev guide states Recognizing
        the diverse forms of contributions to our mission is very important to us:we
        like thanking package reviewers and more generally all package contributors,
        organizations as well as individuals. We have recently extended our efforts
        to acknowledging the different roles there are when publishing a blog post."},
        "custom_fields": {"journal:journal": {"title": "rOpenSci - open tools for
        open science"}, "rs:content_html": "<p>Our own dev guide <a href=\"https://devguide.ropensci.org/maintenance_collaboration.html#attributions\">states</a></p><blockquote><p>Be
        generous with attributions</p></blockquote><p>Recognizing the diverse forms
        of <a href=\"https://contributing.ropensci.org/\">contributions</a> to our
        mission is very important to us:we like thanking <a href=\"https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/\">package
        reviewers</a> and more generally <a href=\"https://ropensci.org/blog/2024/11/26/allcontributors/\">all
        package contributors</a>, <a href=\"https://ropensci.org/blog/2025/05/09/ror/\">organizations
        as well as individuals</a>.</p><p>We have recently extended our efforts to
        acknowledging the different roles there are when publishing a blog post.</p><h2
        id=\"new-blog-roles-editors-translators-interviewees\"><a class=\"anchor d-print-none\"
        href=\"https://ropensci.org/blog/2025/10/14/blog-roles//#new-blog-roles-editors-translators-interviewees\">
        <small>\ud83d\udd17</small></a>New blog roles: editors, translators, interviewees</h2><p>The
        metadata of our blog posts now feature:</p><ul><li>who edited the blog post<ul><li>for
        example, <a href=\"https://ropensci.org/blog/2025/09/18/markdown-programmatic-parsing/\">Steffi
        LaZerte edited a recent post</a>.</li></ul></li><li>who translated the blog
        post<ul><li>for example, <a href=\"https://ropensci.org/es/blog/2025/06/23/edicion-multilingue-preguntas-frecuentes/\">Yanina
        Bellini Saibene translated a post into Spanish</a>, and <a href=\"https://ropensci.org/blog/2025/10/14/blog-roles//fr/blog/2025/06/23/publication-multilingue-faq/\">Ma\u00eblle
        Salmon translated it into French</a>.</li></ul></li><li>who was <em>interviewed</em>
        for a blog post<ul><li>for example, <a href=\"https://ropensci.org/blog/2023/03/30/r-universe-stars-3-en/\">Athanasia
        Mo Mowinckel was interviewed in the Stars of the R-Universe series</a>.</li></ul></li></ul><p>The
        \"author page\" of contributors list their various contributions to the content
        in the current language (authorships listed first, followed by other roles):</p><ul><li><a
        href=\"https://ropensci.org/author/steffi-lazerte\">Stef[...]
