interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/23y6y-vh985
  response:
    body:
      string: '{"id": "23y6y-vh985", "created": "2025-10-18T13:41:09.977701+00:00",
        "updated": "2025-12-01T13:40:15.889795+00:00", "links": {"self": "https://rogue-scholar.org/api/records/23y6y-vh985",
        "self_html": "https://rogue-scholar.org/records/23y6y-vh985", "preview_html":
        "https://rogue-scholar.org/records/23y6y-vh985?preview=1", "doi": "https://doi.org/10.59350/qsajq-6tn97",
        "self_doi": "https://doi.org/10.59350/qsajq-6tn97", "self_doi_html": "https://rogue-scholar.org/doi/10.59350/qsajq-6tn97",
        "reserve_doi": "https://rogue-scholar.org/api/records/23y6y-vh985/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/74hx4-qp390", "parent_html":
        "https://rogue-scholar.org/records/74hx4-qp390", "parent_doi": "https://doi.org/10.59350/74hx4-qp390",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.59350/74hx4-qp390", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:23y6y-vh985/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:23y6y-vh985/sequence/default",
        "files": "https://rogue-scholar.org/api/records/23y6y-vh985/files", "media_files":
        "https://rogue-scholar.org/api/records/23y6y-vh985/media-files", "archive":
        "https://rogue-scholar.org/api/records/23y6y-vh985/files-archive", "archive_media":
        "https://rogue-scholar.org/api/records/23y6y-vh985/media-files-archive", "latest":
        "https://rogue-scholar.org/api/records/23y6y-vh985/versions/latest", "latest_html":
        "https://rogue-scholar.org/records/23y6y-vh985/latest", "versions": "https://rogue-scholar.org/api/records/23y6y-vh985/versions",
        "draft": "https://rogue-scholar.org/api/records/23y6y-vh985/draft", "access_links":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access/links", "access_grants":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access/grants", "access_users":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access/users", "access_groups":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access/groups", "access_request":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access/request", "access":
        "https://rogue-scholar.org/api/records/23y6y-vh985/access", "communities":
        "https://rogue-scholar.org/api/records/23y6y-vh985/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/23y6y-vh985/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/23y6y-vh985/request-deletion",
        "requests": "https://rogue-scholar.org/api/records/23y6y-vh985/requests"},
        "revision_id": 13, "parent": {"id": "74hx4-qp390", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["0e13541f-417e-46c0-a859-65927249df72", "346efb91-f134-4f0b-bd6a-30e2094d2c40",
        "ce85b38a-7acb-4a36-a274-4e026646af48"], "default": "0e13541f-417e-46c0-a859-65927249df72",
        "entries": [{"id": "0e13541f-417e-46c0-a859-65927249df72", "created": "2024-10-05T08:57:03.365247+00:00",
        "updated": "2025-12-01T07:41:52.312575+00:00", "links": {}, "revision_id":
        422, "slug": "svpow", "metadata": {"title": "Sauropod Vertebra Picture of
        the Week", "description": "SV-POW!  ...  All sauropod vertebrae, except when
        we''re talking about Open Access. ISSN 3033-3695", "type": {"id": "blog"},
        "website": "https://svpow.com"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {"rs:issn": "3033-3695", "rs:feed_url": "https://svpow.com/feed/atom/",
        "rs:prefix": "10.59350", "rs:joined": "February 1, 2023", "rs:feed_format":
        "application/atom+xml", "rs:generator": "WordPress.com", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "rs:language": "English", "rs:category": "Earth and related environmental
        sciences"}, "deletion_status": {"is_deleted": false, "status": "P"}, "children":
        {"allow": false}}, {"id": "346efb91-f134-4f0b-bd6a-30e2094d2c40", "created":
        "2024-10-02T19:02:40.195535+00:00", "updated": "2025-07-15T19:21:07.796032+00:00",
        "links": {}, "revision_id": 13, "slug": "openaccess", "metadata": {"title":
        "Open Access", "description": "Blog posts about Open Access.", "type": {"id":
        "topic"}}, "access": {"visibility": "public", "members_visibility": "public",
        "member_policy": "open", "record_submission_policy": "open", "review_policy":
        "open"}, "custom_fields": {}, "deletion_status": {"is_deleted": false, "status":
        "P"}, "children": {"allow": false}}, {"id": "ce85b38a-7acb-4a36-a274-4e026646af48",
        "created": "2025-02-10T08:10:20.634480+00:00", "updated": "2025-06-30T16:00:16.467890+00:00",
        "links": {}, "revision_id": 6, "slug": "earthandrelatedenvironmentalsciences",
        "metadata": {"title": "Earth and related environmental sciences", "description":
        "Earth and related environmental sciences subject area.", "type": {"id": "subject"}},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "open"}, "custom_fields":
        {}, "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.59350/74hx4-qp390", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.59350/qsajq-6tn97", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:23y6y-vh985", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Taylor, Mike", "given_name": "Mike", "family_name":
        "Taylor", "identifiers": [{"identifier": "0000-0002-1003-5675", "scheme":
        "orcid"}]}, "affiliations": [{"id": "0524sp257", "name": "University of Bristol",
        "identifiers": [{"identifier": "0524sp257", "scheme": "ror"}]}]}], "title":
        "Video of the 2024 SSP debate: \"The open access movement has failed\"", "publisher":
        "Front Matter", "publication_date": "2025-10-18", "subjects": [{"subject":
        "Conferences"}, {"subject": "Debate"}, {"subject": "Open Access"}, {"subject":
        "SSP"}, {"subject": "Stinkin'' Publishers"}, {"id": "https://openalex.org/subfields/1911",
        "subject": "Paleontology", "scheme": "Subfields"}], "dates": [{"date": "2025-10-18T15:34:59",
        "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued",
        "sv": "Utf\u00e4rdad"}}}, {"date": "2025-10-18T22:42:34", "type": {"id": "updated",
        "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "b6d6fdfc-fc36-4a6b-968d-2c9795ad4cf1", "scheme": "uuid"}, {"identifier":
        "https://svpow.com/?p=24424", "scheme": "guid"}, {"identifier": "https://svpow.com/2025/10/18/video-of-the-2024-ssp-debate-the-open-access-movement-has-failed/",
        "scheme": "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title":
        {"en": "Creative Commons Attribution 4.0 International"}, "description": {"en":
        "The Creative Commons Attribution license allows re-distribution and re-use
        of a licensed work on the condition that the creator is appropriately credited."},
        "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "Readers with good memories will remember
        that back in May last year I announced I would be one of the two participants
        in the plenary debate that closes the annual meeting of the Society for Scholarly
        Publishing."}, "custom_fields": {"journal:journal": {"title": "Sauropod Vertebra
        Picture of the Week", "issn": "3033-3695"}, "rs:content_html": "<p>Readers
        with good memories will remember that back in May last year <a href=\"https://svpow.com/2024/05/29/westin-whats-coming-up-wednesday-wrangle-over-whether-oa-is-a-washout/\">I
        announced I would be one of the two participants</a> in the plenary debate
        that closes the annual meeting of the Society for Scholarly Publishing. I
        was cast against type, proposing the motion &#8220;The open access movement
        has failed&#822[...]
