interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.zenodo.org/records/1196821
  response:
    body:
      string: ''
    headers:
      location:
      - https://zenodo.org/records/1196821
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/1196821
  response:
    body:
      string: "\n\n\n<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n  \n
        \   \n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n    <meta name=\"google-site-verification\" content=\"5fPGCLllnWrvFxH9QWI0l1TadV7byeEvfPcyK2VkS_s\"/>\n
        \   <meta name=\"google-site-verification\" content=\"Rp5zp04IKW-s1IbpTOGB7Z6XY60oloZD5C3kTM-AiY4\"/>\n\n
        \   \n    \n    <meta name=\"generator\" content=\"InvenioRDM 14.0\"/>\n\n
        \   \n    \n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.5281
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.5281\",\n    \"RA\": \"DataCite\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois/10.5281/zenodo.1196821?include=media,client
  response:
    body:
      string: '{"data":{"id":"10.5281/zenodo.1196821","type":"dois","attributes":{"doi":"10.5281/zenodo.1196821","prefix":"10.5281","suffix":"zenodo.1196821","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"Staib,
        Matthias","nameType":"Personal","givenName":"Matthias","familyName":"Staib","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0001-9688-838X","nameIdentifierScheme":"ORCID"}]},{"name":"Castegnetti,
        Giuseppe","nameType":"Personal","givenName":"Giuseppe","familyName":"Castegnetti","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[]},{"name":"Tzovara, Athina","nameType":"Personal","givenName":"Athina","familyName":"Tzovara","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0002-7588-1418","nameIdentifierScheme":"ORCID"}]},{"name":"Paulus,
        Philipp C.","nameType":"Personal","givenName":"Philipp C.","familyName":"Paulus","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0001-8090-3266","nameIdentifierScheme":"ORCID"}]},{"name":"Hofer,
        Nicolas","nameType":"Personal","givenName":"Nicolas","familyName":"Hofer","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[]},{"name":"Bach, Dominik
        R.","nameType":"Personal","givenName":"Dominik R.","familyName":"Bach","affiliation":["University
        of Zurich, Zurich, Switzerland"],"nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0003-3717-2036","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"Pspm-Sc4B:
        Scr, Ecg, Emg, Psr And Respiration Measurements In A Delay Fear Conditioning
        Task With Auditory Cs And Electrical Us"}],"publisher":"Zenodo","container":{},"publicationYear":2018,"subjects":[{"subject":"Pupil
        Size Response"},{"subject":"Skin Conductance Response"},{"subject":"Electrocardiogram"},{"subject":"Electromyogram"},{"subject":"Electrodermal
        Activity"},{"subject":"Galvanic Skin Response"},{"subject":"PSR"},{"subject":"SCR"},{"subject":"ECG"},{"subject":"EMG"},{"subject":"EDA"},{"subject":"GSR"}],"contributors":[],"dates":[{"date":"2018-03-14","dateType":"Issued"}],"language":"en","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"IsSupplementTo","relatedIdentifier":"10.1111/psyp.12637","relatedIdentifierType":"DOI"},{"relationType":"IsSupplementTo","relatedIdentifier":"10.1111/psyp.12801","relatedIdentifierType":"DOI"},{"relationType":"IsVersionOf","relatedIdentifier":"10.5281/zenodo.1039580","relatedIdentifierType":"DOI"}],"relatedItems":[],"sizes":[],"formats":[],"version":null,"rightsList":[{"rights":"Creative
        Commons Attribution Share-Alike 4.0","rightsUri":"https://creativecommons.org/licenses/by-sa/4.0"},{"rights":"Open
        Access","rightsUri":"info:eu-repo/semantics/openAccess"}],"descriptions":[{"description":"This
        dataset includes pupil size response (PSR), skin conductance response (SCR),
        electrocardiogram (ECG), electromyogram (EMG) and respiration measurements.
        Also included are CS and US information, keypress responses, keypress response
        times, key correctness and shock ratings for each of 21 healthy unmedicated
        participants (10 males and 11 females aged 22.9+/-3.0 years; discrepancies
        to published studies are due to misprints and exclusion of a subject with
        incomplete data, which was excluded in all conducted studies as well as here)
        participating in a classical (Pavlovian) discriminant delay fear conditioning
        task. Two pairs of CS+ and CS-, either complex or simple, were delivered with
        headphones (HD518, Sennheiser, Wedemark-Wennebostel, Germany) at about 68
        dB. Complex stimuli were a sequence of four rising (400 to 800 Hz) or falling
        (800 to 400 Hz) sounds lasting 1 s each. Simple stimuli were tones with constant
        frequency (400 or 800 Hz) presented for 4 s. US consisted of square electric
        pulses with 0.2-ms duration and 10 Hz frequency, resulting in a total US duration
        of 0.5 s. SOA betwen the CS and US was 3.5 s. The ITI was randomly determined
        on each trial to be 7, 9, or 11 s.","descriptionType":"Abstract"},{"description":"See
        the readme file for more detail. \nData are stored as .mat files for use with
        MATLAB (The MathWorks Inc., Natick, USA) in a format readable by the PsPM
        toolbox (pspm.sourceforge.net). All matlab files are saved in MATLAB 9.2 (R2017a)
        format.\nThis research was supported by Wellcome Trust grant 091593/Z/10/Z,
        and Swiss National Science Foundation grant 320030_1449586/1.\nChangelog:\nV1.0.2
        : Additional information added to gaze channel.","descriptionType":"Other"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgnPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjEvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC41MjgxL3plbm9kby4xMTk2ODIxPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5[...]
