interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.pangaea.de/10.1594/PANGAEA.836178
  response:
    content: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\n<meta charset=\"UTF-8\">\r\n<meta
      name=\"viewport\" content=\"width=device-width, initial-scale=1, minimum-scale=1,
      maximum-scale=1, user-scalable=no\">\r\n<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700,700italic,600italic,300,300italic,800,800italic\">\n<link
      rel=\"stylesheet\" href=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/bootstrap-24col/css/bootstrap.min.css\">\n<link
      rel=\"stylesheet\" href=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/css/pangaea.css\">\n<!--[if
      lte IE 9]>\r\n<style>#topics-pulldown-wrapper label:after { display:none; }</style>\r\n<![endif]-->\r\n<link
      rel=\"shortcut icon\" href=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/favicon.ico\">\r\n<link
      rel=\"icon\" href=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/favicon.ico\"
      type=\"image/vnd.microsoft.icon\">\r\n<link rel=\"image_src\" type=\"image/png\"
      href=\"https://www.pangaea.de/assets/social-icons/pangaea-share.png\">\r\n<meta
      property=\"og:image\" content=\"https://www.pangaea.de/assets/social-icons/pangaea-share.png\">\r\n<script
      type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n<script
      type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js\"></script>\n<script
      type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js\"></script>\n<script
      type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js\"></script>\n<script
      type=\"text/javascript\" src=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/bootstrap-24col/js/bootstrap.min.js\"></script>\n<script
      type=\"text/javascript\" src=\"//www.pangaea.de/assets/v.bc6abaad9f1b2f791d365aa5c0695d5e/js/datacombo-min.js\"></script>\n<title>Johansson,
      E et al. (2014): Hydrological and meteorological investigations in a lake near
      Kangerlussuaq, west Greenland</title>\n<meta name=\"title\" content=\"Hydrological
      and meteorological investigations in a lake near Kangerlussuaq, west Greenland\"
      />\n<meta name=\"author\" content=\"Johansson, Emma; Berglund, Sten; Lindborg,
      Tobias; Petrone, Johannes; van As, Dirk; Gustafsson, Lars-G\xF6ran; N\xE4slund,
      Jens-Ove; Laudon, Hjalmar\" />\n<meta name=\"date\" content=\"2014\" />\n<meta
      name=\"robots\" content=\"index,follow,archive\" />\n<meta name=\"description\"
      content=\"Johansson, Emma; Berglund, Sten; Lindborg, Tobias; Petrone, Johannes;
      van As, Dirk; Gustafsson, Lars-G\xF6ran; N\xE4slund, Jens-Ove; Laudon, Hjalmar
      (2014): Hydrological and meteorological investigations in a lake near Kangerlussuaq,
      west Greenland. PANGAEA, https://doi.org/10.1594/PANGAEA.836178, Supplement
      to: Johansson, E et al. (2015): Hydrological and meteorological investigations
      in a periglacial lake catchment near Kangerlussuaq, west Greenland \u2013 presentation
      of a new multi-parameter data set. Earth System Science Data, 7(1), 93-108,
      https://doi.org/10.5194/essd-7-93-2015\" />\n<meta name=\"geo.position\" content=\"67.125940;-50.180370\"
      />\n<meta name=\"ICBM\" content=\"67.125940, -50.180370\" />\n<!--BEGIN: Dublin
      Core description-->\n<link rel=\"schema.DC\" href=\"http://purl.org/dc/elements/1.1/\"
      />\n<link rel=\"schema.DCTERMS\" href=\"http://purl.org/dc/terms/\" />\n<meta
      name=\"DC.title\" content=\"Hydrological and meteorological investigations in
      a lake near Kangerlussuaq, west Greenland\" />\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1594
  response:
    content: "[\n  {\n    \"DOI\": \"10.1594\",\n    \"RA\": \"DataCite\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.datacite.org/dois/10.1594/pangaea.836178?include=media,client
  response:
    content: "{\"data\":{\"id\":\"10.1594/pangaea.836178\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.1594/pangaea.836178\",\"prefix\":\"10.1594\",\"suffix\":\"pangaea.836178\",\"identifiers\":[],\"alternateIdentifiers\":[],\"creators\":[{\"name\":\"Johansson,
      Emma\",\"givenName\":\"Emma\",\"familyName\":\"Johansson\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Berglund,
      Sten\",\"givenName\":\"Sten\",\"familyName\":\"Berglund\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Lindborg,
      Tobias\",\"givenName\":\"Tobias\",\"familyName\":\"Lindborg\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Petrone,
      Johannes\",\"givenName\":\"Johannes\",\"familyName\":\"Petrone\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"van
      As, Dirk\",\"givenName\":\"Dirk\",\"familyName\":\"van As\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-6553-8982\",\"nameIdentifierScheme\":\"ORCID\"}],\"affiliation\":[]},{\"name\":\"Gustafsson,
      Lars-G\xF6ran\",\"givenName\":\"Lars-G\xF6ran\",\"familyName\":\"Gustafsson\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"N\xE4slund,
      Jens-Ove\",\"givenName\":\"Jens-Ove\",\"familyName\":\"N\xE4slund\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Laudon,
      Hjalmar\",\"givenName\":\"Hjalmar\",\"familyName\":\"Laudon\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0001-6058-1466\",\"nameIdentifierScheme\":\"ORCID\"}],\"affiliation\":[]}],\"titles\":[{\"title\":\"Hydrological
      and meteorological investigations in a lake near Kangerlussuaq, west Greenland\"}],\"publisher\":\"PANGAEA\",\"container\":{},\"publicationYear\":2014,\"subjects\":[{\"subject\":\"GReenland
      Analogue Surface Project (GRASP)\",\"subjectScheme\":\"Project\"}],\"contributors\":[],\"dates\":[{\"date\":\"2014\",\"dateType\":\"Issued\"}],\"language\":\"en\",\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"Supplementary
      Dataset\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[{\"relationType\":\"IsSupplementTo\",\"relatedIdentifier\":\"10.5194/essd-7-93-2015\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsDocumentedBy\",\"relatedIdentifier\":\"https://store.pangaea.de/Publications/JohanssonE_et_al_2014/twoboatlake_greenland.jpg\",\"relatedIdentifierType\":\"URL\"},{\"relationType\":\"IsDocumentedBy\",\"relatedIdentifier\":\"https://store.pangaea.de/Publications/JohanssonE_et_al_2014/Timelapse_TBL.zip\",\"relatedIdentifierType\":\"URL\"}],\"relatedItems\":[],\"sizes\":[\"5.5
      MBytes\"],\"formats\":[\"application/zip\"],\"version\":null,\"rightsList\":[{\"rights\":\"Creative
      Commons Attribution 3.0 Unported\",\"rightsUri\":\"https://creativecommons.org/licenses/by/3.0/legalcode\",\"schemeUri\":\"https://spdx.org/licenses/\",\"rightsIdentifier\":\"cc-by-3.0\",\"rightsIdentifierScheme\":\"SPDX\"}],\"descriptions\":[{\"description\":\"Few
      hydrological studies have been made in Greenland, other than on glacial hydrology
      associated with the ice sheet. Understanding permafrost hydrology and hydroclimatic
      change and variability, however, provides key information for understanding
      climate change effects and feedbacks in the Arctic landscape. This paper presents
      a new extensive and detailed hydrological and meteorological open access dataset,
      with high temporal resolution from a 1.56 km**2 permafrost catchment with a
      lake underlain by a through talik close to the ice sheet in the Kangerlussuaq
      region, western Greenland. The paper describes the hydrological site investigations
      and utilized equipment, as well as the data collection and processing. The investigations
      were performed between 2010 and 2013. The high spatial resolution, within the
      investigated area, of the dataset makes it highly suitable for various detailed
      hydrological and ecological studies on catchment scale.\",\"descriptionType\":\"Abstract\"},{\"description\":\"The
      dataset contains hydrological and meteorological data from a lake catchment
      in the Kangerlussuaq region, Western Greenland. The investigations were performed
      during 2010-2013 and the following parameters are included: Soil moisture, Soil
      temperature, Hydraulic properties of the active layer, meteorological parameters
      from a local weather station within the catchment, water levels and discharge,
      sublimation and evaportation measurments, snow depth and snow water content
      data and time lapse photos.\",\"descriptionType\":\"TechnicalInfo\"},{\"description\":\"Supplement
      to: Johansson, Emma; Berglund, Sten; Lindborg, Tobias; Petrone, Johannes; van
      As, Dirk; Gustafsson, Lars-G\xF6ran; N\xE4slund, Jens-Ove; Laudon, Hjalmar (2015):
      Hydrological and meteorological investigations in a periglacial lake catchment
      near Kangerlussuaq, west Greenland \u2013 presentation of a new multi-parameter
      data set. Earth System Science Data, 7(1), 93-108\",\"descriptionType\":\"Other\"}],\"geoLocations\":[{\"geoLocationPoint\":{\"pointLatitude\":\"67.12594\",\"pointLongitude\":\"-50.18037\"}},{\"geoLocationPlace\":\"Two
      Boat Lake, Kangerlussuaq, Greenland\"}],\"fundingReferences\":[],\"xml\":\"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjMvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC4xNTk0L1BBTkdBRUEuODM2MTc4PC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck[...]
