interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/eating-your-own-dog-food
  response:
    content: ''
    headers:
      Ghost-Age:
      - '0'
      Ghost-Cache:
      - MISS
      Ghost-Fastly:
      - 'true'
      Status:
      - 301 Moved Permanently
      location:
      - /posts/eating-your-own-dog-food/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.front-matter.io/posts/eating-your-own-dog-food/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n
      \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
      \   <title>Eating your own Dog Food</title>\n    <link rel=\"stylesheet\" href=\"https://blog.front-matter.io/assets/built/screen.css?v=52cb4b923e\">\n\n
      \   <meta name=\"citation_doi\" content=\"https://doi.org/10.53731/r79vxn1-97aq74v-ag58n\">\n
      \   <meta name=\"citation_title\" content=\"Eating your own Dog Food\">\n    <meta
      name=\"citation_abstract\" content=\"Eating your own dog food is a slang term
      to describe that an organization should itself use the products and services
      it provides. For DataCite this means th[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    content: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/r79vxn1-97aq74v-ag58n
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
      Matter"}],"indexed":{"date-parts":[[2024,3,8]],"date-time":"2024-03-08T00:11:10Z","timestamp":1709856670904},"posted":{"date-parts":[[2016,12,20]]},"group-title":"Computer
      and information sciences","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2016,12,20]],"date-time":"2016-12-20T00:00:00Z","timestamp":1482192000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2016,12,20]],"date-time":"2016-12-20T00:00:00Z","timestamp":1482192000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>Eating
      your own dog food is a slang term to describe that an organization should itself
      use the products and services it provides. For DataCite this means that we should
      use DOIs with appropriate metadata and strategies for long-term preservation
      for the scholarly outputs we produce.<\/p>","DOI":"10.53731\/r79vxn1-97aq74v-ag58n","type":"posted-content","created":{"date-parts":[[2021,10,17]],"date-time":"2021-10-17T15:25:06Z","timestamp":1634484306000},"source":"Crossref","is-referenced-by-count":2,"title":["Eating
      your own Dog Food"],"prefix":"10.59350","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[{"id":[{"id":"https:\/\/ror.org\/04wxnsj81","id-type":"ROR","asserted-by":"publisher"}],"name":"DataCite"}]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","article-title":"DataCite
      Metadata Schema Documentation for the Publication and Citation of Research Data
      v4.0","year":"2016","DOI":"10.5438\/0012"},{"key":"ref2","doi-asserted-by":"publisher","article-title":"Cool
      DOI''s","year":"2016","DOI":"10.5438\/55e5-t5c0"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/eating-your-own-dog-food","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/r79vxn1-97aq74v-ag58n.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/r79vxn1-97aq74v-ag58n.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/r79vxn1-97aq74v-ag58n.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/r79vxn1-97aq74v-ag58n.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,3,7]],"date-time":"2024-03-07T14:19:50Z","timestamp":1709821190000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/eating-your-own-dog-food"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,12,20]]},"references-count":2,"URL":"http:\/\/dx.doi.org\/10.53731\/r79vxn1-97aq74v-ag58n","relation":{"is-part-of":[{"id-type":"issn","id":"2749-9952","asserted-by":"subject"}],"is-identical-to":[{"id-type":"doi","id":"10.5438\/4k3m-nyvg","asserted-by":"subject"}]},"published":{"date-parts":[[2016,12,20]]},"subtype":"other"}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
