interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://arxiv.org/abs/1902.02534
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head><script>document.documentElement.classList.add('js');</script>
        \ <title>[1902.02534] Crowdsourcing open citations with CROCI -- An analysis
        of the current status of open citations, and a proposal</title>\n  <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n  <link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"/static/browse/0.3.4/images/icons/apple-touch-icon.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/static/browse/0.3.4/images/icons/favicon-32x32.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/static/browse/0.3.4/images/icons/favicon-16x16.png\">\n
        \ <link rel=\"manifest\" href=\"/static/browse/0.3.4/images/icons/site.webmanifest\">\n
        \ <link rel=\"mask-ico[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.48550
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.48550\",\n    \"RA\": \"DataCite\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois/10.48550/arxiv.1902.02534?include=media,client
  response:
    body:
      string: '{"data":{"id":"10.48550/arxiv.1902.02534","type":"dois","attributes":{"doi":"10.48550/arxiv.1902.02534","prefix":"10.48550","suffix":"arxiv.1902.02534","identifiers":[{"identifier":"1902.02534","identifierType":"arXiv"}],"alternateIdentifiers":[{"alternateIdentifierType":"arXiv","alternateIdentifier":"1902.02534"}],"creators":[{"name":"Heibi,
        Ivan","nameType":"Personal","givenName":"Ivan","familyName":"Heibi","affiliation":[],"nameIdentifiers":[]},{"name":"Peroni,
        Silvio","nameType":"Personal","givenName":"Silvio","familyName":"Peroni","affiliation":[],"nameIdentifiers":[]},{"name":"Shotton,
        David","nameType":"Personal","givenName":"David","familyName":"Shotton","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"Crowdsourcing
        open citations with CROCI -- An analysis of the current status of open citations,
        and a proposal"}],"publisher":"arXiv","container":{},"publicationYear":2019,"subjects":[{"lang":"en","subject":"Digital
        Libraries (cs.DL)","subjectScheme":"arXiv"},{"subject":"FOS: Computer and
        information sciences","subjectScheme":"Fields of Science and Technology (FOS)"},{"subject":"FOS:
        Computer and information sciences","schemeUri":"http://www.oecd.org/science/inno/38235147.pdf","subjectScheme":"Fields
        of Science and Technology (FOS)"}],"contributors":[],"dates":[{"date":"2019-02-07T09:22:51Z","dateType":"Submitted","dateInformation":"v1"},{"date":"2019-02-08T01:08:49Z","dateType":"Updated","dateInformation":"v1"},{"date":"2019-06-21T06:21:52Z","dateType":"Submitted","dateInformation":"v2"},{"date":"2019-06-24T00:08:45Z","dateType":"Updated","dateInformation":"v2"},{"date":"2019-02","dateType":"Available","dateInformation":"v1"},{"date":"2019","dateType":"Issued"}],"language":null,"types":{"ris":"GEN","bibtex":"misc","citeproc":"article","schemaOrg":"CreativeWork","resourceType":"Article","resourceTypeGeneral":"Preprint"},"relatedIdentifiers":[],"relatedItems":[],"sizes":[],"formats":[],"version":"2","rightsList":[{"rights":"Creative
        Commons Attribution 4.0 International","rightsUri":"https://creativecommons.org/licenses/by/4.0/legalcode","schemeUri":"https://spdx.org/licenses/","rightsIdentifier":"cc-by-4.0","rightsIdentifierScheme":"SPDX"}],"descriptions":[{"description":"In
        this paper, we analyse the current availability of open citations data in
        one particular dataset, namely COCI (the OpenCitations Index of Crossref open
        DOI-to-DOI citations; http://opencitations.net/index/coci) provided by OpenCitations.
        The results of these analyses show a persistent gap in the coverage of the
        currently available open citation data. In order to address this specific
        issue, we propose a strategy whereby the community (e.g. scholars and publishers)
        can directly involve themselves in crowdsourcing open citations, by uploading
        their citation data via the OpenCitations infrastructure into our new index,
        CROCI, the Crowdsourced Open Citations Index.","descriptionType":"Abstract"},{"description":"7
        pages, 3 figures, accepted to ISSI 2019 (https://www.issi2019.org/)","descriptionType":"Other"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjMvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC40ODU1MC9BUlhJVi4xOTAyLjAyNTM0PC9pZGVudGlmaWVyPgogIDxhbHRlcm5hdGVJZGVudGlmaWVycz4KICAgIDxhbHRlcm5hdGV[...]
