interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.7910
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.7910\",\n    \"RA\": \"DataCite\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois/10.7910/dvn/nj7xso?include=media,client
  response:
    body:
      string: '{"data":{"id":"10.7910/dvn/nj7xso","type":"dois","attributes":{"doi":"10.7910/dvn/nj7xso","prefix":"10.7910","suffix":"dvn/nj7xso","identifiers":[],"alternateIdentifiers":[],"creators":[{"name":"International
        Genetics of Ankylosing Spondylitis Consortium (IGAS)","nameType":"Organizational","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"Summary
        data ankylosing spondylitis GWAS"}],"publisher":"Harvard Dataverse","container":{},"publicationYear":2017,"subjects":[{"subject":"Medicine,
        Health and Life Sciences"},{"subject":"Genome-Wide Association Studies"},{"subject":"Ankylosing
        spondylitis"}],"contributors":[{"name":"Li, Zhixiu","nameType":"Personal","givenName":"Zhixiu","familyName":"Li","affiliation":["QUT"],"contributorType":"ContactPerson","nameIdentifiers":[]}],"dates":[{"date":"2017-09-30","dateType":"Submitted"},{"date":"2017-09-30","dateType":"Available"},{"date":"2017","dateType":"Issued"}],"language":null,"types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"HasPart","relatedIdentifier":"10.7910/dvn/nj7xso/k3nrmo","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.7910/dvn/nj7xso/ha2svr","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.7910/dvn/nj7xso/in45gz","relatedIdentifierType":"DOI"}],"relatedItems":[],"sizes":["11572412","11245496","13337183","97587269"],"formats":["text/plain","text/plain","text/plain","text/plain"],"version":"1.0","rightsList":[{"rightsUri":"info:eu-repo/semantics/openAccess"},{"lang":"en","rights":"Creative
        Commons Zero v1.0 Universal","rightsUri":"https://creativecommons.org/publicdomain/zero/1.0/legalcode","schemeUri":"https://spdx.org/licenses/","rightsIdentifier":"cc0-1.0","rightsIdentifierScheme":"SPDX"}],"descriptions":[{"description":"Summary
        of association tests for Nature Genetics publication \"Identification of multiple
        risk variants for ankylosing spondylitis through high-density genotyping of
        immune-related loci\".","descriptionType":"Abstract"},{"description":"European_Case_Control_Results.txt:
        summary data for European cohort\r\nAsian_Case_Control_Results.txt: summary
        data for Asian cohort\r\nEuropean_Asian_Case_Control_Results.txt: summary
        data for combined cohort","descriptionType":"Other"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00LjUvbWV0YWRhdGEueHNkIj4KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC43OTEwL0RWTi9OSjdYU088L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZSB[...]
