interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=4JsNT1gKe7I
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 62.5%;font-family: Roboto,\
        \ Arial, sans-serif;\" lang=\"de-DE\" darker-dark-theme darker-dark-theme-deprecate\
        \ system-icons color-version=\"v2_0\" typography typography-spacing><head><script\
        \ data-id=\"_gd\" nonce=\"wdbCs4YYZhHyfPzrTDiBiA\">window.WIZ_global_data\
        \ = {\"AfY8Hf\":false,\"FL1an\":true,\"HiPsbb\":0,\"MUE6Ne\":\"youtube_web\"\
        ,\"MuJWjd\":true,\"UUFaWc\":\"%.@.null,1000,2]\",\"cfb2h\":\"youtube.web-front-end-critical_20260624.08_p0\"\
        ,\"fPDxwd\":[],\"hsFLT\":\"%.@.null,10,3]\",\"iCzhFc\":false,\"nQyAE\":{},\"\
        oxN3nb\":{\"1\":false,\"0\":false,\"610401301\":false,\"899588437\":false,\"\
        772657768\":true,\"513659523\":false,\"568333945\":true,\"1331761403\":false,\"\
        651175828\":false,\"722764542\":false,\"748402145\":false,\"748402146\":false,\"\
        748402147\":true,\"861377723\":false,\"861377724\":false,\"869336903\":false,\"\
        882674507\":false,\"869336904\":false,\"869336905\":false,\"919444824\":false,\"\
        931468047\":false,\"928875398\":false,\"683749201\":false},\"u4g7r\":\"%.@.null,1,3]\"\
        ,\"xnI9P\":false,\"xwAfE\":true,\"yFnxrf\":2486};</script><meta http-equiv=\"\
        X-UA-Compatible\" content=\"IE=edge\"/><meta http-equiv=\"origin-trial\" content=\"\
        ApvK67ociHgr2egd6c2ZjrfPuRs8BHcvSggogIOPQNH7GJ3cVlyJ1NOq/COCdj0+zxskqHt9HgLLETc8qqD+vwsAAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2OTUxNjc5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"\
        /><meta name=\"apple-itunes-app\" content=\"app-id=544007664, app-argument=https://www.youtube.com/watch?v=4JsNT1gKe7I&amp;referring_app=com.apple.mobilesafari-smartbanner,\
        \ affiliate-data=ct=smart_app_banner_polymer&amp;pt=9008\"><script nonce=\"\
        wdbCs4YYZhHyfPzrTDiBiA\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return\
        \ k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else{var\
        \ k;for(k in a[0])ytcfg.d()[k]=a[0][k]}}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',\
        \ '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\\
        x26client.version\\x3d2.20260626.01.00');</script><script nonce=\"wdbCs4YYZhHyfPzrTDiBiA\"\
        >(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\n\
        window.onerror=function(msg,url,line,columnNumber,error){var err;if(error)err=error;else{err=new\
        \ Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"\
        columnNumber\"]=columnNumber}var message=String(err.message);if(!err.message||message\
        \ in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var\
        \ img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete\
        \ window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"\
        columnNumber\"]))combinedLineAndColumn=combinedLineAndColumn+(\":\"+err[\"\
        columnNumber\"]);var stack=err.stack||\"\";var values={\"msg\":message,\"\
        type\":err.name,\"client.params\":\"unhandled window error\",\"file\":err.fileName,\"\
        line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var thirdPartyScript=!err.fileName||err.fileName===\"\
        <anonymous>\"||stack.indexOf(\"extension://\")>=0;var replaced=stack.replace(/https:\\\
        /\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\n\
        true;else if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else\
        \ if(message.indexOf(\"redefine non-configurable\")>=0)thirdPartyScript=true;var\
        \ baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ER[...]
