interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://info.orcid.org/orcid-2023-annual-report/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head >\n<meta charset=\"UTF-8\"
        />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"
        />\n\t<script type=\"text/javascript\">\n\tconst htmlTag = document.querySelector(
        'html' );\n\tconst langAttribute = htmlTag.getAttribute( 'lang' );\n\tif (
        langAttribute === 'ar') {\n\t\thtmlTag.setAttribute( 'dir', 'rtl' );\n\t}
        else {\n\t\thtmlTag.setAttribute( 'dir', 'ltr' );\n\t}\n\t</script>\n\t<meta
        name='robots' content='index, follow, max-image-preview:large, max-snippet:-1,
        max-video-preview:-1' />\n<!-- OneTrust Cookies Consent Notice start for orcid.org
        -->\r\n<script type=\"text/javascript\" src=\"https://cdn.cookielaw.org/consent/5a6d60d3-b085-4e48-8afa-d707c7afc419/OtAutoBlock.js\"
        ></script>\r\n<script src=\"https://cdn.cookielaw.org/scripttemplates/otSDKStub.js\"
        data-document-language=\"true\" type=\"text/javascript\" charset=\"UTF-8\"
        data-domain-script=\"5a6d60d3-b085-4e48-8afa-d707c7afc419\" ></script>\r\n<script
        type=\"text/javascript\">\r\nfunction OptanonWrapper() { }\r\n</script>\r\n<!--
        OneTrust Cookies Consent Notice end for orcid.org --><meta name=\"uri-translation\"
        content=\"on\" /><link rel=\"alternate\" hreflang=\"en\" href=\"https://info.orcid.org/orcid-2023-annual-report/\"
        />\n<link rel=\"alternate\" hreflang=\"ar\" href=\"https://info.orcid.org/ar/orcid-2023-annual-report/\"
        />\n<link rel=\"alternate\" hreflang=\"cs\" href=\"https://info.orcid.org/cs/orcid-2023-annual-report/\"
        />\n<link rel=\"alternate\" hreflang=\"de\" href=\"https://info.orcid.org/de/orcid-2023-annual-report/\"
        />\n<link rel=\"alternate\" hreflang=\"es\" href=\"https://in[...]
