interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/api/records/3871094
  response:
    content: '{"created": "2020-06-01T04:43:51.061750+00:00", "modified": "2020-06-01T10:18:19.923063+00:00",
      "id": 3871094, "conceptrecid": "3862788", "doi": "10.5281/zenodo.3871094", "conceptdoi":
      "10.5281/zenodo.3862788", "doi_url": "https://doi.org/10.5281/zenodo.3871094",
      "metadata": {"title": "An open letter to Mehra et al and The Lancet", "doi":
      "10.5281/zenodo.3871094", "publication_date": "2020-05-28", "description": "<p>Open
      letter to MR Mehra, SS Desai, F Ruschitzka, and AN Patel, authors of</p>\n\n<p><strong>&ldquo;Hydroxychloroquine
      or chloroquine with or without a macrolide for treatment of COVID-19: a multinational
      registry analysis&rdquo;. Lancet. 2020 May 22:S0140-6736(20)31180-6. doi: 10.1016/S0140-6736(20)31180-6.
      PMID: 32450107</strong></p>\n\n<p>and to Richard Horton (editor of The Lancet).</p>",
      "access_right": "open", "creators": [{"name": "James Watson on the behalf of
      201 signatories", "affiliation": "Mahidol Oxford Tropical Medicine Research
      Unit", "orcid": "0000-0001-5524-0325"}], "keywords": ["Hydroxychloroquine",
      "The Lancet", "Open Science"], "version": "4", "language": "eng", "resource_type":
      {"title": "Report", "type": "publication", "subtype": "report"}, "license":
      {"id": "cc-by-4.0"}, "relations": {"version": [{"index": 3, "is_last": true,
      "parent": {"pid_type": "recid", "pid_value": "3862788"}}]}}, "title": "An open
      letter to Mehra et al and The Lancet", "links": {"self": "https://zenodo.org/api/records/3871094",
      "self_html": "https://zenodo.org/records/3871094", "self_doi": "https://zenodo.org/doi/10.5281/zenodo.3871094",
      "doi": "https://doi.org/10.5281/zenodo.3871094", "parent": "https://zenodo.org/api/records/3862788",
      "parent_html": "https://zenodo.org/records/3862788", "parent_doi": "https://zenodo.org/doi/10.5281/zenodo.3862788",
      "self_iiif_manifest": "https://zenodo.org/api/iiif/record:3871094/manifest",
      "self_iiif_sequence": "https://zenodo.org/api/iiif/record:3871094/sequence/default",
      "files": "https://zenodo.org/api/records/3871094/files", "media_files": "https://zenodo.org/api/records/3871094/media-files",
      "archive": "https://zenodo.org/api/records/3871094/files-archive", "archive_media":
      "https://zenodo.org/api/records/3871094/media-files-archive", "latest": "https://zenodo.org/api/records/3871094/versions/latest",
      "latest_html": "https://zenodo.org/records/3871094/latest", "draft": "https://zenodo.org/api/records/3871094/draft",
      "versions": "https://zenodo.org/api/records/3871094/versions", "access_links":
      "https://zenodo.org/api/records/3871094/access/links", "access_users": "https://zenodo.org/api/records/3871094/access/users",
      "access_request": "https://zenodo.org/api/records/3871094/access/request", "access":
      "https://zenodo.org/api/records/3871094/access", "reserve_doi": "https://zenodo.org/api/records/3871094/draft/pids/doi",
      "communities": "https://zenodo.org/api/records/3871094/communities", "communities-suggestions":
      "https://zenodo.org/api/records/3871094/communities-suggestions", "requests":
      "https://zenodo.org/api/records/3871094/requests"}, "updated": "2020-06-01T10:18:19.923063+00:00",
      "recid": "3871094", "revision": 2, "files": [{"id": "735c18c3-8ecd-41bf-826b-4d719f94b334",
      "key": "Open Letter V4.pdf", "size": 130482, "checksum": "md5:8d686fae168ff94e45e59c076d2fb209",
      "links": {"self": "https://zenodo.org/api/records/3871094/files/Open Letter
      V4.pdf/content"}}], "owners": [{"id": 103835}], "status": "published", "stats":
      {"downloads": 102765, "unique_downloads": 94830, "views": 187000, "unique_views":
      158674, "version_downloads": 9756, "version_unique_downloads": 8952, "version_unique_views":
      16363, "version_views": 18448}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2"
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '130'
      x-ratelimit-reset:
      - '1707559210'
    status_code: 200
version: 1
