interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/api/records/8120771
  response:
    content: '{"created": "2023-07-06T14:48:55.501554+00:00", "modified": "2023-07-07T02:26:44.337259+00:00",
      "id": 8120771, "conceptrecid": "8120770", "doi": "10.5281/zenodo.8120771", "conceptdoi":
      "10.5281/zenodo.8120770", "doi_url": "https://doi.org/10.5281/zenodo.8120771",
      "metadata": {"title": "A SYSTEMATIC REVIEW OF AUTOPSY FINDINGS IN DEATHS AFTER
      COVID-19 VACCINATION", "doi": "10.5281/zenodo.8120771", "publication_date":
      "2023-07-06", "description": "<p><strong>ABSTRACT</strong></p>\n\n<p><strong>Background:</strong>
      The rapid development and widespread deployment of COVID-19 vaccines, combined
      with a high number of adverse event reports, have led to concerns over possible
      mechanisms of injury including systemic lipid nanoparticle (LNP) and mRNA distribution,
      spike protein-associated tissue damage, thrombogenicity, immune system dysfunction,
      and carcinogenicity. The aim of this systematic review is to investigate possible
      causal links between COVID-19 vaccine administration and death using autopsies
      and post-mortem analysis.</p>\n\n<p>&nbsp;</p>\n\n<p><strong>Methods:</strong>
      We searched for all published autopsy and necropsy reports relating to COVID-19
      vaccination up until May 18<sup>th</sup>, 2023. We initially identified 678
      studies and, after screening for our inclusion criteria, included 44 papers
      that contained 325 autopsy cases and one necropsy case. Three physicians independently
      reviewed all deaths and determined whether COVID-19 vaccination was the direct
      cause or contributed significantly to death.</p>\n\n<p>&nbsp;</p>\n\n<p><strong>Findings:</strong>
      The most implicated organ system in COVID-19 vaccine-associated death was the
      cardiovascular system (53%), followed by the hematological system (17%), the
      respiratory system (8%), and multiple organ systems (7%). Three or more organ
      systems were affected in 21 cases. The mean time from vaccination to death was
      14.3 days. Most deaths occurred within a week from last vaccine administration.
      A total of 240 deaths (73.9%) were independently adjudicated as directly due
      to or significantly contributed to by COVID-19 vaccination.</p>\n\n<p>&nbsp;</p>\n\n<p><strong>Interpretation:</strong>
      The consistency seen among cases in this review with known COVID-19 vaccine
      adverse events, their mechanisms, and related excess death, coupled with autopsy
      confirmation and physician-led death adjudication, suggests there is a high
      likelihood of a causal link between COVID-19 vaccines and death in most cases.
      Further urgent investigation is required for the purpose of clarifying our findings.&nbsp;</p>",
      "access_right": "open", "creators": [{"name": "Nicolas Hulscher, BS", "affiliation":
      "University of Michigan School of Public Health"}, {"name": "Paul E. Alexander,
      PhD", "affiliation": "The Wellness Company"}, {"name": "Richard Amerling, MD",
      "affiliation": "The Wellness Company"}, {"name": "Heather Gessling, MD", "affiliation":
      "The Wellness Company"}, {"name": "Roger Hodkinson, MD", "affiliation": "The
      Wellness Company"}, {"name": "William Makis, MD", "affiliation": "Cross Cancer
      Institute"}, {"name": "Harvey A. Risch, MD, PhD", "affiliation": "Yale University
      School of Public Health"}, {"name": "Mark Trozzi, MD", "affiliation": "The Wellness
      Company"}, {"name": "Peter A. McCullough, MD, MPH", "affiliation": "Truth for
      Health Foundation"}], "keywords": ["autopsy", "necropsy", "COVID-19", "COVID-19
      vaccines", "mRNA", "SARS-CoV-2 vaccination", "death", "excess mortality", "spike
      protein", "organ system"], "language": "eng", "resource_type": {"title": "Preprint",
      "type": "publication", "subtype": "preprint"}, "license": {"id": "cc-by-4.0"},
      "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type":
      "recid", "pid_value": "8120770"}}]}}, "title": "A SYSTEMATIC REVIEW OF AUTOPSY
      FINDINGS IN DEATHS AFTER COVID-19 VACCINATION", "links": {"self": "https://zenodo.org/api/records/8120771",
      "self_html": "https://zenodo.org/records/8120771", "self_doi": "https://zenodo.org/doi/10.5281/zenodo.8120771",
      "doi": "https://doi.org/10.5281/zenodo.8120771", "parent": "https://zenodo.org/api/records/8120770",
      "parent_html": "https://zenodo.org/records/8120770", "parent_doi": "https://zenodo.org/doi/10.5281/zenodo.8120770",
      "self_iiif_manifest": "https://zenodo.org/api/iiif/record:8120771/manifest",
      "self_iiif_sequence": "https://zenodo.org/api/iiif/record:8120771/sequence/default",
      "files": "https://zenodo.org/api/records/8120771/files", "media_files": "https://zenodo.org/api/records/8120771/media-files",
      "archive": "https://zenodo.org/api/records/8120771/files-archive", "archive_media":
      "https://zenodo.org/api/records/8120771/media-files-archive", "latest": "https://zenodo.org/api/records/8120771/versions/latest",
      "latest_html": "https://zenodo.org/records/8120771/latest", "draft": "https://zenodo.org/api/records/8120771/draft",
      "versions": "https://zenodo.org/api/records/8120771/versions", "access_links":
      "https://zenodo.org/api/records/8120771/access/links", "access_users": "https://zenodo.org/api/records/8120771/access/users",
      "access_request": "https://zenodo.org/api/records/8120771/access/request", "access":
      "https://zenodo.org/api/records/8120771/access", "reserve_doi": "https://zenodo.org/api/records/8120771/draft/pids/doi",
      "communities": "https://zenodo.org/api/records/8120771/communities", "communities-suggestions":
      "https://zenodo.org/api/records/8120771/communities-suggestions", "requests":
      "https://zenodo.org/api/records/8120771/requests"}, "updated": "2023-07-07T02:26:44.337259+00:00",
      "recid": "8120771", "revision": 2, "files": [{"id": "5c3fd06a-7586-4299-b8a6-73c7e12fb5bf",
      "key": "(Zenodo) AUTOPSY REVIEW MANUSCRIPT.pdf", "size": 832057, "checksum":
      "md5:896b89af09c544d9e43197936e31c4a6", "links": {"self": "https://zenodo.org/api/records/8120771/files/(Zenodo)
      AUTOPSY REVIEW MANUSCRIPT.pdf/content"}}, {"id": "ab35a68c-e3cb-4d40-9961-577d5e5218d9",
      "key": "AUTOPSY REVIEW SUPPLEMENTAL TABLE 1.pdf", "size": 904297, "checksum":
      "md5:bacd63be97a7f3c58c95cc512c10ddf2", "links": {"self": "https://zenodo.org/api/records/8120771/files/AUTOPSY
      REVIEW SUPPLEMENTAL TABLE 1.pdf/content"}}], "owners": [{"id": 579652}], "status":
      "published", "stats": {"downloads": 139095, "unique_downloads": 116243, "views":
      196322, "unique_views": 146431, "version_downloads": 137807, "version_unique_downloads":
      115126, "version_unique_views": 144626, "version_views": 193863}, "state": "done",
      "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2"
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '129'
      x-ratelimit-reset:
      - '1707559210'
    status_code: 200
version: 1
