interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7834392
  response:
    body:
      string: '{"created": "2023-04-17T12:14:31.538682+00:00", "modified": "2023-04-17T14:26:45.792430+00:00",
        "id": 7834392, "conceptrecid": "3723939", "doi": "10.5281/zenodo.7834392",
        "conceptdoi": "10.5281/zenodo.3723939", "doi_url": "https://doi.org/10.5281/zenodo.7834392",
        "metadata": {"title": "A large-scale COVID-19 Twitter chatter dataset for
        open scientific research - an international collaboration", "doi": "10.5281/zenodo.7834392",
        "publication_date": "2023-04-16", "description": "<p><em><strong>Version 162&nbsp;of
        the dataset. NOTES: Data for 3/15 - 3/18 was not extracted due to unexpected
        and unannounced downtime of our university infrastructure. We will try to
        backfill those days by next release.&nbsp;</strong></em><em><strong>FUTURE
        CHANGES: Due to the imminent&nbsp;paywalling of Twitter&#39;s API access&nbsp;this
        might be the last full update of this dataset. If the API access is not blocked,
        we will be stopping updates for this dataset with release 165 - a bit more
        than 3 years after our initial release. It&#39;s been a joy seeing all the
        work that uses this resource and we are glad that so many found it useful.&nbsp;</strong></em></p>\n\n<p><em><strong>The
        dataset files: full_dataset.tsv.g[...]
