interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://upstream.force11.org/welcome-to-upstream/
  response:
    body:
      string: "<!doctype html>\n<html lang='en' class=' is-darkModeAdminSetting-enabled
        '>\n\n  <head>\n  <meta charset='utf-8'>\n  <title>Welcome to Upstream: the
        new space for scholarly community discussion on all things open</title>\n
        \ <meta name='viewport' content='width=device-width, initial-scale=1.0'>\n\n
        \ <link rel='preconnect' href='https://fonts.gstatic.com'>\n<link rel='preconnect'
        href='https://fonts.gstatic.com' crossorigin>\n\n<link rel='preload' as='style'
        href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'>\n<link
        rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
        media='print' onload=\"this.media='all'\">\n\n<link rel='preload' as='style'
        href='https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap'>\n<link
        rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap'
        media='print' onload=\"this.media='all'\">  <style>\n@charset \"UTF-8\";:root{--color-headerCard-light:#FFF;--color-headerCard-dark:#000;--color-text-headerCardStyleLight:var(--color-headerCard-dark);--color-background-headerCardStyleLight:var(--color-headerCard-light);--color-text-button-headerCardStyleLight:var(--color-headerCard-light);--color-background-button-headerCardStyleLight:var(--color-headerCard-dark);--color-text-button-hover-headerCardStyleLight:var(--color-headerCard-light);--color-background-button-hover-headerCardStyleLight:var([...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.54900
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.54900\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.54900/rckn8ey-1fm76va-qsrnf
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
        Matter"}],"indexed":{"date-parts":[[2025,11,23]],"date-time":"2025-11-23T22:13:59Z","timestamp":1763936039153,"version":"3.45.0"},"posted":{"date-parts":[[2021,11,22]]},"group-title":"Upstream","reference-count":0,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2021,11,22]],"date-time":"2021-11-22T00:00:00Z","timestamp":1637539200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2021,11,22]],"date-time":"2021-11-22T00:00:00Z","timestamp":1637539200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Today
        we are announcing Upstream. And if you''re reading this, you''re already a
        part of it! Upstream is a community blogging platform designed for Open enthusiasts
        to discuss\u2026 you guessed it: all things Open. It''s a space for the whole
        community to voice opinions, discuss open approaches to scholarly communication,
        and showcase research.<\/jats:p>","DOI":"10.54900\/rckn8ey-1fm76va-qsrnf","type":"posted-content","created":{"date-parts":[[2021,12,23]],"date-time":"2021-12-23T04:49:48Z","timestamp":1640234988000},"source":"Crossref","is-referenced-by-count":0,"title":["Welcome
        to Upstream: the new space for scholarly community discussion on all things
        open"],"prefix":"10.59350","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-7378-2408","authenticated-orcid":false,"given":"John","family":"Chodacki","sequence":"first","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0353-2702","authenticated-orcid":false,"given":"Ginny","family":"Hendricks","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-9317-6819","authenticated-orcid":false,"given":"Christine","family":"Ferguson","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"additional","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/upstream.force11.org\/welcome-to-upstream\/","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rckn8ey-1fm76va-qsrnf.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rckn8ey-1fm76va-qsrnf.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rckn8ey-1fm76va-qsrnf.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.54900\/rckn8ey-1fm76va-qsrnf.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2025,11,23]],"date-time":"2025-11-23T22:11:37Z","timestamp":1763935897000},"score":1,"resource":{"primary":{"URL":"https:\/\/upstream.force11.org\/welcome-to-upstream\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2021,11,22]]},"references-count":0,"version":{"version":"v1"},"URL":"https:\/\/doi.org\/10.54900\/rckn8ey-1fm76va-qsrnf","relation":{},"subject":[],"published":{"date-parts":[[2021,11,22]]},"subtype":"other"}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
