interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.1109
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.1109\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1109/iccv.2007.4408927
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,31]],"date-time":"2025-10-31T21:51:11Z","timestamp":1761947471646,"version":"3.28.0"},"reference-count":14,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007]]},"DOI":"10.1109\/iccv.2007.4408927","type":"proceedings-article","created":{"date-parts":[[2008,1,4]],"date-time":"2008-01-04T15:34:53Z","timestamp":1199460893000},"page":"1-8","source":"Crossref","is-referenced-by-count":177,"title":["A
        Seeded Image Segmentation Framework Unifying Graph Cuts And Random Walker
        Which Yields A New Algorithm"],"prefix":"10.1109","author":[{"given":"Ali
        Kemal","family":"Sinop","sequence":"first","affiliation":[]},{"given":"Leo","family":"Grady","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref10","doi-asserted-by":"publisher","DOI":"10.1006\/gmip.1998.0480"},{"key":"ref11","doi-asserted-by":"publisher","DOI":"10.1007\/b98874"},{"article-title":"Combinatorial
        Optimization: Algorithms and Complexity","year":"1998","author":"papadimitriou","key":"ref12"},{"article-title":"Level
        Set Methods and Fast Marching Methods","year":"1999","author":"sethian","key":"ref13"},{"key":"ref14","doi-asserted-by":"crossref","first-page":"888","DOI":"10.1109\/34.868688","article-title":"Normalized
        cuts and image segmentation","volume":"22","author":"shi","year":"2000","journal-title":"IEEE
        Trans on PAMI"},{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.1006\/gmip.1998.0475"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.1007\/s11263-006-7934-5"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1109\/TPAMI.2006.233"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.1109\/CVPR.2005.239"},{"key":"ref8","doi-asserted-by":"publisher","DOI":"10.1007\/BF00133570"},{"key":"ref7","doi-asserted-by":"publisher","DOI":"10.1109\/TPAMI.2006.57"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1090\/S0273-0979-04-01035-3"},{"article-title":"Network
        Flows: Theory, Algorithms, and Applications","year":"1993","author":"ahuja","key":"ref1"},{"key":"ref9","doi-asserted-by":"publisher","DOI":"10.1016\/S1076-5670(00)80012-9"}],"event":{"name":"2007
        IEEE 11th International Conference on Computer Vision","start":{"date-parts":[[2007,10,14]]},"location":"Rio
        de Janeiro, Brazil","end":{"date-parts":[[2007,10,21]]}},"container-title":["2007
        IEEE 11th International Conference on Computer Vision"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx5\/4408818\/4408819\/04408927.pdf?arnumber=4408927","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T22:39:45Z","timestamp":1497739185000},"score":1,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/4408927\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007]]},"references-count":14,"URL":"https:\/\/doi.org\/10.1109\/iccv.2007.4408927","relation":{},"subject":[],"published":{"date-parts":[[2007]]}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
