interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/8173303
  response:
    body:
      string: '{"created": "2023-07-21T22:00:21.474631+00:00", "modified": "2025-01-22T19:42:46.763514+00:00",
        "id": 8173303, "conceptrecid": "8173302", "doi": "10.5281/zenodo.8173303",
        "conceptdoi": "10.5281/zenodo.8173302", "doi_url": "https://doi.org/10.5281/zenodo.8173303",
        "metadata": {"title": "ARCHIVE - 11 July 2023 (Day 2) CERN \u2013 NASA Open
        Science Summit Sketch Notes", "doi": "10.5281/zenodo.8173303", "publication_date":
        "2023-07-21", "description": "<p>CERN/NASA &ldquo;Accelerating the Adoption
        of Open Science&rdquo;, from July 10th-14th at CERN in Geneva, Switzerland</p>\n\n<p><a
        href=\"https://indico.cern.ch/event/1254282/\">https://indico.cern.ch/event/1254282/</a></p>\n\n<p>11&nbsp;July
        2023 (Day 2)&nbsp;Open Data Sharing</p>", "access_right": "open", "creators":
        [{"name": "Seibold, Heidi", "affiliation": null, "orcid": "0000-0002-8960-9642"}],
        "resource_type": {"title": "Presentation", "type": "presentation"}, "meeting":
        {"title": "CERN/NASA Accelerating the Adoption of Open Science Summit", "dates":
        "10-14 July 2023", "place": "Geneva, Switzerland", "url": "https://home.cern/news/announcement/knowledge-sharing/cernnasa-summit-accelerating-adoption-open-science"},
        "license": {"id": "cc-by-4.0"}, "communities": [{"id": "tops"}, {"id": "cern-nasa-open-science-summit-july-2023"}],
        "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type":
        "recid", "pid_value": "8173302"}}]}}, "title": "ARCHIVE - 11 July 2023 (Day
        2) CERN \u2013 NASA Open Science Summit Sketch Notes", "links": {"self": "https://zenodo.org/api/records/8173303",
        "self_html": "https://zenodo.org/records/8173303", "preview_html": "https://zenodo.org/records/8173303?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.8173303", "self_doi": "https://doi.org/10.5281/zenodo.8173303",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.8173303", "reserve_doi":
        "https://zenodo.org/api/records/8173303/draft/pids/doi", "parent": "https://zenodo.org/api/records/8173302",
        "parent_html": "https://zenodo.org/records/8173302", "parent_doi": "https://doi.org/10.5281/zenodo.8173302",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.8173302", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:8173303/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:8173303/sequence/default", "files": "https://zenodo.org/api/records/8173303/files",
        "media_files": "https://zenodo.org/api/records/8173303/media-files", "thumbnails":
        {"10": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E10,/0/default.jpg",
        "50": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E50,/0/default.jpg",
        "100": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E100,/0/default.jpg",
        "250": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E250,/0/default.jpg",
        "750": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://zenodo.org/api/iiif/record:8173303:20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://zenodo.org/api/records/8173303/files-archive", "archive_media":
        "https://zenodo.org/api/records/8173303/media-files-archive", "latest": "https://zenodo.org/api/records/8173303/versions/latest",
        "latest_html": "https://zenodo.org/records/8173303/latest", "versions": "https://zenodo.org/api/records/8173303/versions",
        "draft": "https://zenodo.org/api/records/8173303/draft", "access_links": "https://zenodo.org/api/records/8173303/access/links",
        "access_grants": "https://zenodo.org/api/records/8173303/access/grants", "access_users":
        "https://zenodo.org/api/records/8173303/access/users", "access_request": "https://zenodo.org/api/records/8173303/access/request",
        "access": "https://zenodo.org/api/records/8173303/access", "communities":
        "https://zenodo.org/api/records/8173303/communities", "communities-suggestions":
        "https://zenodo.org/api/records/8173303/communities-suggestions", "request_deletion":
        "https://zenodo.org/api/records/8173303/request-deletion", "file_modification":
        "https://zenodo.org/api/records/8173303/file-modification", "requests": "https://zenodo.org/api/records/8173303/requests"},
        "updated": "2025-01-22T19:42:46.763514+00:00", "recid": "8173303", "revision":
        8, "files": [{"id": "a3d52e85-858a-4ceb-88bd-34e636c74e08", "key": "20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf",
        "size": 13994803, "checksum": "md5:45d8b11d4ef0da78b9db5397d8e0e8d9", "links":
        {"self": "https://zenodo.org/api/records/8173303/files/20230711-CERN-NASA-Open-Science-Summit-Summary-Drawings.pdf/content"}}],
        "swh": {}, "owners": [{"id": "363883"}], "status": "published", "stats": {"downloads":
        88, "unique_downloads": 79, "views": 96, "unique_views": 76, "version_downloads":
        88, "version_unique_downloads": 79, "version_unique_views": 76, "version_views":
        96}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"8"
      link:
      - <https://zenodo.org/api/records/8173303> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1764609474'
    status:
      code: 200
      message: OK
version: 1
