interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1109
  response:
    content: "[\n  {\n    \"DOI\": \"10.1109\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1109/iccv.2007.4408927
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:42:25Z","timestamp":1705020145634},"reference-count":14,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007]]},"DOI":"10.1109\/iccv.2007.4408927","type":"proceedings-article","created":{"date-parts":[[2008,1,4]],"date-time":"2008-01-04T20:34:53Z","timestamp":1199478893000},"source":"Crossref","is-referenced-by-count":164,"title":["A
      Seeded Image Segmentation Framework Unifying Graph Cuts And Random Walker Which
      Yields A New Algorithm"],"prefix":"10.1109","author":[{"given":"Ali Kemal","family":"Sinop","sequence":"first","affiliation":[]},{"given":"Leo","family":"Grady","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref10","doi-asserted-by":"publisher","DOI":"10.1006\/gmip.1998.0480"},{"key":"ref11","doi-asserted-by":"publisher","DOI":"10.1007\/b98874"},{"key":"ref12","article-title":"Combinatorial
      Optimization: Algorithms and Complexity","author":"papadimitriou","year":"1998"},{"key":"ref13","article-title":"Level
      Set Methods and Fast Marching Methods","author":"sethian","year":"1999"},{"key":"ref14","doi-asserted-by":"crossref","first-page":"888","DOI":"10.1109\/34.868688","article-title":"Normalized
      cuts and image segmentation","volume":"22","author":"shi","year":"2000","journal-title":"IEEE
      Trans on PAMI"},{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.1006\/gmip.1998.0475"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.1007\/s11263-006-7934-5"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1109\/TPAMI.2006.233"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.1109\/CVPR.2005.239"},{"key":"ref8","doi-asserted-by":"publisher","DOI":"10.1007\/BF00133570"},{"key":"ref7","doi-asserted-by":"publisher","DOI":"10.1109\/TPAMI.2006.57"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1090\/S0273-0979-04-01035-3"},{"key":"ref1","article-title":"Network
      Flows: Theory, Algorithms, and Applications","author":"ahuja","year":"1993"},{"key":"ref9","doi-asserted-by":"publisher","DOI":"10.1016\/S1076-5670(00)80012-9"}],"event":{"name":"2007
      IEEE 11th International Conference on Computer Vision","location":"Rio de Janeiro,
      Brazil","start":{"date-parts":[[2007,10,14]]},"end":{"date-parts":[[2007,10,21]]}},"container-title":["2007
      IEEE 11th International Conference on Computer Vision"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx5\/4408818\/4408819\/04408927.pdf?arnumber=4408927","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,18]],"date-time":"2017-06-18T02:39:45Z","timestamp":1497753585000},"score":1,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/4408927\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007]]},"references-count":14,"URL":"http:\/\/dx.doi.org\/10.1109\/iccv.2007.4408927","relation":{},"published":{"date-parts":[[2007]]}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/263
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521457282,"primary-name":"Institute
      of Electrical and Electronics Engineers (IEEE)","counts":{"current-dois":658774,"backfile-dois":4366479,"total-dois":5025253},"breakdowns":{"dois-by-issued-year":[[2023,320070],[2022,313601],[2021,294384],[2019,282517],[2018,264292],[2020,257320],[2017,254195],[2016,240058],[2010,233538],[2015,230979],[2011,225389],[2014,219301],[2009,210436],[2012,204758],[2013,201864],[2008,188092],[2007,169194],[2006,137168],[2005,70101],[2004,51437],[2003,33053],[1999,27612],[2002,25520],[2024,25103],[2001,23099],[2000,22172],[1997,19950],[1998,19745],[1992,19369],[1996,18989],[1994,18058],[1987,17195],[1993,17189],[1991,16661],[1995,16193],[1985,16125],[1986,15986],[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1109
  response:
    content: "[\n  {\n    \"DOI\": \"10.1109\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
