interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1045
  response:
    content: "[\n  {\n    \"DOI\": \"10.1045\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1045/january2017-burton
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,11,8]],"date-time":"2023-11-08T23:28:21Z","timestamp":1699486101493},"reference-count":0,"publisher":"CNRI
      Acct","issue":"1\/2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["D-Lib
      Magazine"],"DOI":"10.1045\/january2017-burton","type":"journal-article","created":{"date-parts":[[2017,1,12]],"date-time":"2017-01-12T18:57:58Z","timestamp":1484247478000},"source":"Crossref","is-referenced-by-count":35,"title":["The
      Scholix Framework for Interoperability in Data-Literature Information Exchange"],"prefix":"10.1045","volume":"23","author":[{"given":"Adrian","family":"Burton","sequence":"first","affiliation":[]},{"given":"Amir","family":"Aryani","sequence":"additional","affiliation":[]},{"given":"Hylke","family":"Koers","sequence":"additional","affiliation":[]},{"given":"Paolo","family":"Manghi","sequence":"additional","affiliation":[]},{"given":"Sandro","family":"La
      Bruzzo","sequence":"additional","affiliation":[]},{"given":"Markus","family":"Stocker","sequence":"additional","affiliation":[]},{"given":"Michael","family":"Diepenbroek","sequence":"additional","affiliation":[]},{"given":"Uwe","family":"Schindler","sequence":"additional","affiliation":[]},{"given":"Martin","family":"Fenner","sequence":"additional","affiliation":[]}],"member":"72","published-online":{"date-parts":[[2017,1]]},"container-title":["D-Lib
      Magazine"],"original-title":[],"language":"en","deposited":{"date-parts":[[2017,1,12]],"date-time":"2017-01-12T18:58:00Z","timestamp":1484247480000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dlib.org\/dlib\/january17\/burton\/01burton.html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,1]]},"references-count":0,"journal-issue":{"issue":"1\/2","published-online":{"date-parts":[[2017,1]]}},"URL":"http:\/\/dx.doi.org\/10.1045\/january2017-burton","relation":{},"ISSN":["1082-9873"],"issn-type":[{"value":"1082-9873","type":"electronic"}],"subject":["Library
      and Information Sciences"],"published":{"date-parts":[[2017,1]]}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/72
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521351674,"primary-name":"CNRI
      Acct","counts":{"current-dois":0,"backfile-dois":1128,"total-dois":1128},"breakdowns":{"dois-by-issued-year":[[2006,83],[2005,63],[2009,62],[2015,57],[2014,55],[1997,54],[2008,51],[1998,50],[1996,50],[2003,49],[2002,49],[1999,49],[2007,48],[2000,47],[2013,46],[2011,46],[2012,45],[2010,45],[2001,44],[2016,41],[2017,40],[2004,35],[1995,19]]},"prefixes":["10.1045"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"Corporation
      for National Research Initiatives","value":"10.1045"}],"id":72,"tokens":["cnri","acct"],"counts-type":{"all":{"journal-article":1056,"journal":1,"journal-issue":72},"backfile":{"journal-article":1056,"journal-issue":72},"current":{}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1707521351674,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1707521351674,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-issue":{"last-status-check-time":1707521351674,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0}},"backfile":{"journal-article":{"last-status-check-time":1707521351674,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-issue":{"last-status-check-time":1707521351674,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0}},"current":{}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-descriptions-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":false,"deposits-licenses-current":false},"location":"United
      States","names":["CNRI Acct","Corporation for National Research Initiatives"]}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1045
  response:
    content: "[\n  {\n    \"DOI\": \"10.1045\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
