interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1371
  response:
    content: "[\n  {\n    \"DOI\": \"10.1371\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1371/journal.ppat.1008184
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,11,29]],"date-time":"2023-11-29T06:01:41Z","timestamp":1701237701799},"update-to":[{"updated":{"date-parts":[[2020,1,30]],"date-time":"2020-01-30T00:00:00Z","timestamp":1580342400000},"DOI":"10.1371\/journal.ppat.1008184","type":"new_version","label":"New
      version"}],"reference-count":72,"publisher":"Public Library of Science (PLoS)","issue":"1","license":[{"start":{"date-parts":[[2020,1,17]],"date-time":"2020-01-17T00:00:00Z","timestamp":1579219200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100001659","name":"Deutsche
      Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["NA 240\/10-2"]}],"content-domain":{"domain":["www.plospathogens.org"],"crossmark-restriction":false},"short-container-title":["PLoS
      Pathog"],"DOI":"10.1371\/journal.ppat.1008184","type":"journal-article","created":{"date-parts":[[2020,1,17]],"date-time":"2020-01-17T13:35:37Z","timestamp":1579268137000},"page":"e1008184","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.ppat.corrections_policy","source":"Crossref","is-referenced-by-count":22,"title":["An
      RNA thermometer dictates production of a secreted bacterial toxin"],"prefix":"10.1371","volume":"16","author":[{"given":"Christian","family":"Twittenhoff","sequence":"first","affiliation":[]},{"given":"Ann
      Kathrin","family":"Heroven","sequence":"additional","affiliation":[]},{"given":"Sabrina","family":"M\u00fchlen","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-8177-3280","authenticated-orcid":true,"given":"Petra","family":"Dersch","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-8552-5310","authenticated-orcid":true,"given":"Franz","family":"Narberhaus","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2020,1,17]]},"reference":[{"issue":"1","key":"ppat.1008184.ref001","first-page":"85","article-title":"Thermosensing
      to adjust bacterial virulence in a fluctuating environment","volume":"8","author":"R
      Steinmann","year":"2013","journal-title":"Front Microbiol"},{"issue":"8","key":"ppat.1008184.ref002","doi-asserted-by":"crossref","first-page":"852","DOI":"10.4161\/21505594.2014.970949","article-title":"Thermal
      control of virulence factors in bacteria: A hot topic","volume":"5","author":"O
      Lam","year":"2014","journal-title":"Virulence"},{"issue":"16","key":"ppat.1008184.ref003","doi-asserted-by":"crossref","first-page":"2661","DOI":"10.1007\/s00018-009-0041-3","article-title":"Microbial
      thermosensors","volume":"66","[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/340
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521520969,"primary-name":"Public
      Library of Science (PLoS)","counts":{"current-dois":42329,"backfile-dois":310955,"total-dois":353284},"breakdowns":{"dois-by-issued-year":[[2013,36496],[2014,35458],[2015,33566],[2012,27111],[2016,26725],[2017,24569],[2018,22183],[2021,20842],[2022,20632],[2020,20426],[2023,19682],[2019,19633],[2011,16685],[2010,9366],[2009,6717],[2008,4608],[2007,2671],[2024,2015],[2005,1643],[2006,1613],[2004,540],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.2566737952436848,"licenses-backfile":0.9884484893312537,"funders-current":0.6799593659193461,"affiliations-backfile":6.78554774806644E-4,"resource-links-backfile":0.0,"orcids-backfile":0.3262015404158158,"update-policies-current":1.0,"ror-ids-backfile":0.0,"orcids-current":0.957759455692315,"similarity-checking-backfile":0.9178369860590762,"references-backfile":0.9249537714460292,"descriptions-backfile":0.0,"award-numbers-backfile":0.2221961377048126,"update-policies-backfile":0.9948159701564535,"licenses-current":0.9999763755345035,"award-numbers-current":0.5779252994401002,"abstracts-backfile":0.07576015822225081,"resource-links-current":0.0,"abstracts-current":0.953625174230433,"references-current":0.999740130879539},"prefix":[{"name":"Public
      Library of Science (PLoS)","value":"10.24196"},{"name":"Public Library of Science","value":"10.1371"}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal-article":353284,"journal":1,"component":3723315,"dataset":7},"backfile":{"journal-article":310955},"current":{"journal-article":42329}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1707521520969,"affiliations":5.972532013903828E-4,"abstracts":0.1809422447662504,"orcids":0.401872148186728,"licenses":0.9898297120730064,"references":0.9339143578537381,"funders":0.3073900884274408,"similarity-checking":0.9276814121216925,"award-numbers":0.2648181066790458,"ror-ids":0.0,"update-policies":0.9954370987647332,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1707521520969,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"component":{"last-status-check-time":1707521520969,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1371
  response:
    content: "[\n  {\n    \"DOI\": \"10.1371\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
