interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.1045
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.1045\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1045/january2017-burton
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,5,4]],"date-time":"2026-05-04T14:33:03Z","timestamp":1777905183519,"version":"3.51.4"},"reference-count":0,"publisher":"CNRI
        Acct","issue":"1\/2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["D-Lib
        Magazine"],"DOI":"10.1045\/january2017-burton","type":"journal-article","created":{"date-parts":[[2017,1,12]],"date-time":"2017-01-12T18:57:58Z","timestamp":1484247478000},"source":"Crossref","is-referenced-by-count":40,"title":["The
        Scholix Framework for Interoperability in Data-Literature Information Exchange"],"prefix":"10.1045","volume":"23","author":[{"given":"Adrian","family":"Burton","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Amir","family":"Aryani","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Hylke","family":"Koers","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Paolo","family":"Manghi","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Sandro","family":"La
        Bruzzo","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Markus","family":"Stocker","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Michael","family":"Diepenbroek","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Uwe","family":"Schindler","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Martin","family":"Fenner","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"72","published-online":{"date-parts":[[2017,1]]},"container-title":["D-Lib
        Magazine"],"original-title":[],"language":"en","deposited":{"date-parts":[[2017,1,12]],"date-time":"2017-01-12T18:58:00Z","timestamp":1484247480000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dlib.org\/dlib\/january17\/burton\/01burton.html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,1]]},"references-count":0,"journal-issue":{"issue":"1\/2","published-online":{"date-parts":[[2017,1]]}},"URL":"https:\/\/doi.org\/10.1045\/january2017-burton","relation":{},"ISSN":["1082-9873"],"issn-type":[{"value":"1082-9873","type":"electronic"}],"subject":[],"published":{"date-parts":[[2017,1]]}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-concurrency-limit:
      - '3'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '10'
    status:
      code: 200
      message: OK
version: 1
