interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1007
  response:
    content: "[\n  {\n    \"DOI\": \"10.1007\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1007/978-3-662-46370-3_13
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,10]],"date-time":"2023-02-10T09:40:31Z","timestamp":1676022031544},"publisher-location":"Berlin,
      Heidelberg","reference-count":22,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783662463697","type":"print"},{"value":"9783662463703","type":"electronic"}],"license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2015]]},"DOI":"10.1007\/978-3-662-46370-3_13","type":"book-chapter","created":{"date-parts":[[2015,4,14]],"date-time":"2015-04-14T02:31:00Z","timestamp":1428978660000},"page":"155-158","source":"Crossref","is-referenced-by-count":1,"title":["Clinical
      Symptoms and Physical Examinations"],"prefix":"10.1007","author":[{"given":"Ronald
      L.","family":"Diercks","sequence":"first","affiliation":[]},{"given":"Tom Clement","family":"Ludvigsen","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"issue":"10","key":"13_CR1","doi-asserted-by":"publisher","first-page":"1301","DOI":"10.1007\/s00256-012-1391-8","volume":"41","author":"KS
      Ahn","year":"2012","unstructured":"Ahn KS, Kang CH, Oh YW, Jeong WK. Correlation
      between magnetic resonance imaging and clinical impairment in patients with
      adhesive capsulitis. Skeletal Radiol. 2012;41(10):1301\u20138.","journal-title":"Skeletal
      Radiol"},{"issue":"3","key":"13_CR2","doi-asserted-by":"publisher","first-page":"333","DOI":"10.1016\/j.arthro.2004.11.003","volume":"21","author":"JR
      Andrews","year":"2005","unstructured":"Andrews JR. Diagnosis and treatment of
      chronic painful shoulder: review of nonsurgical interventions. Arthroscopy.
      2005;21(3):333\u201347.","journal-title":"Arthroscopy"},{"key":"13_CR3","first-page":"1773","volume":"39","author":"HA
      Anton","year":"1993","unstructured":"Anton HA. Frozen shoulder. Can Fam Physician.
      1993;39:1773\u20138.","journal-title":"Can Fam Physician"},{"issue":"5","key":"13_CR4","doi-asserted-by":"publisher","first-page":"321","DOI":"10.3109\/03009749009096786","volume":"19","author":"B
      Baslund","year":"1990","unstructured":"Baslund B, Thomsen BS, Jensen EM. Frozen
      shoulder: current concepts. Scand J Rheumatol. 1990;19(5):321\u20135.","journal-title":"Scand
      J Rheumatol"},{"issue":"8","key":"13_CR5","doi-asserted-by":"publisher","first-page":"1048","DOI":"10.1007\/s00167-007-0291-2","volume":"15","author":"S
      Brue","year":"2007","unstructured":"Brue S, Valentin A, Forssblad M, Werner
      S, Mikkelsen C, Cerulli G. Idiopathic adhesive capsulitis of the shoulder: a
      review. Knee Surg Sports Traumatol Arthrosc. 2007;15(8):1048\u201354.","journal-title[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/members/297
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1707521496452,"primary-name":"Springer
      Science and Business Media LLC","counts":{"current-dois":1552277,"backfile-dois":14577647,"total-dois":16129924},"breakdowns":{"dois-by-issued-year":[[2023,743978],[2022,737625],[2021,735117],[2020,695500],[2019,636436],[2018,625176],[2017,605314],[2014,592355],[2016,585051],[2013,574713],[2015,521619],[2012,467317],[2011,450633],[2010,413591],[2009,401130],[2008,321497],[2007,281409],[2006,254238],[2004,251697],[2005,239277],[2003,236220],[2000,236218],[2002,226734],[2001,223368],[1999,205238],[1998,204901],[1997,199003],[1996,189103],[1995,177361],[1994,170834],[1993,167503],[1991,163546],[1992,162382],[1990,157741],[1989,152967],[1988,143[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1007
  response:
    content: "[\n  {\n    \"DOI\": \"10.1007\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
