interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1145/3448016.3452841/transform/application/vnd.crossref.unixsd+xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"conference_paper\">10.1145/3448016.3452841</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Association for
        Computing Machinery (ACM)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">Association for Computing Machinery</crm-item>\r\n        <crm-item
        name=\"member-id\" type=\"number\">320</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">127946891</crm-item>\r\n        <crm-item name=\"book-id\"
        type=\"number\">3840446</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">2023070122193400933</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1145</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2025-06-17T21:28:05Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2021-06-18T17:22:39Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">34</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.1\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1
        http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n            <conference>\r\n
        \             <contributors>\r\n                <person_name contributor_role=\"author\"
        sequence=\"first\">\r\n                  <given_name>Guoliang</given_name>\r\n
        \                 <surname>Li</surname>\r\n                  <affiliation>Tsinghua
        University (China)</affiliation>\r\n                </person_name>\r\n                <person_name
        contributor_role=\"author\" sequence=\"additional\">\r\n                  <given_name>Zhanhuai</given_name>\r\n
        \                 <surname>Li</surname>\r\n                  <affiliation>Northwestern
        Polytechnical University (China)</affiliation>\r\n                </person_name>\r\n
        \               <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \                 <given_name>Stratos</given_name>\r\n                  <surname>Idreos</surname>\r\n
        \                 <affiliation>Harvard University (USA)</affiliation>\r\n
        \               </person_name>\r\n                <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                  <given_name>Divesh</given_name>\r\n
        \                 <surname>Srivastava</surname>\r\n                  <affiliation>AT&amp;amp;T
        (USA)</affiliation>\r\n                </person_name>\r\n              </contributors>\r\n
        \             <event_metadata>\r\n                <conference_name>SIGMOD/PODS
        '21: International Conference on Management of Data</conference_name>\r\n
        \               <conference_acronym>SIGMOD/PODS '21</conference_acronym>\r\n
        \               <conference_sponsor>SIGMOD ACM Special Interest Group on Management
        of Data</conference_sponsor>\r\n                <conference_location>Virtual
        Event China</conference_location>\r\n                <conference_date>20 06
        2021 25 06 2021</conference_date>\r\n              </event_metadata>\r\n              <proceedings_metadata
        language=\"en\">\r\n                <proceedings_title>Proceedings of the
        2021 International Conference on Management of Data</proceedings_title>\r\n
        \               <publisher>\r\n                  <publisher_name>ACM</publisher_name>\r\n
        \                 <publisher_place>New York, NY, USA</publisher_place>\r\n
        \               </publisher>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <month>06</month>\r\n                  <day>09</day>\r\n
        \                 <year>2021</year>\r\n                </publication_date>\r\n
        \               <publication_date media_type=\"online\">\r\n                  <month>06</month>\r\n
        \                 <day>18</day>\r\n                  <year>2021</year>\r\n
        \               </publication_date>\r\n                <isbn media_type=\"print\">9781450383431</isbn>\r\n
        \               <publisher_item>\r\n                  <identifier id_type=\"doi\">10.1145/3448016</identifier>\r\n
        \               </publisher_item>\r\n                <doi_data>\r\n                  <doi>10.1145/3448016</doi>\r\n
        \                 <timestamp>2023070122193400933</timestamp>\r\n                  <resource>https://dl.acm.org/doi/proceedings/10.1145/3448016</resource>\r\n
        \               </doi_data>\r\n              </proceedings_metadata>\r\n              <conference_paper
        publication_type=\"full_text\">\r\n                <contributors>\r\n                  <person_name
        contributor_role=\"author\" sequence=\"first\">\r\n                    <given_name>Prashant</given_name>\r\n
        \                   <surname>Pandey</surname>\r\n                    <affiliation>Lawrenc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.1145
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.1145\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
