interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/avg2ykg-gdxppcd
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
        Matter"}],"indexed":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:39:42Z","timestamp":1764250782615,"version":"3.46.0"},"posted":{"date-parts":[[2023,1,25]]},"group-title":"Front
        Matter","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,1,25]],"date-time":"2023-01-25T00:00:00Z","timestamp":1674604800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,1,25]],"date-time":"2023-01-25T00:00:00Z","timestamp":1674604800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Science
        blogs have been around for at least 20 years and have become an important
        part of science communication. So are there any fundamental issues that need
        fixing? Barriers to Entry Blogging platforms are mature at this point, and
        the technology is not imposing barriers to entry for most people.<\/jats:p>","DOI":"10.53731\/avg2ykg-gdxppcd","type":"posted-content","created":{"date-parts":[[2023,1,25]],"date-time":"2023-01-25T10:16:36Z","timestamp":1674641796000},"source":"Crossref","is-referenced-by-count":0,"title":["Do
        we need to fix science blogs?"],"prefix":"10.59350","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","unstructured":"Fenner,
        M. (2009). Author Identifiers: Interview with Geoffrey Bilder. In <i>Front
        Matter<\/i> (Version v1). Crossref.","DOI":"10.53731\/r294649-6f79289-8cw1h"},{"key":"ref2","doi-asserted-by":"publisher","unstructured":"Fenner,
        M. (2007, August 3). Open access may become mandatory for NIH-funded research.
        <i>Front Matter<\/i>.","DOI":"10.53731\/r294649-6f79289-8cw1q"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.de\/posts\/need-to-fix-science-blogs\/","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/avg2ykg-gdxppcd.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/avg2ykg-gdxppcd.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/avg2ykg-gdxppcd.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/avg2ykg-gdxppcd.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/avg2ykg-gdxppcd.md","content-type":"text\/markdown","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:35:24Z","timestamp":1764250524000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.de\/posts\/need-to-fix-science-blogs\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,1,25]]},"references-count":2,"version":{"version":"v1"},"URL":"https:\/\/doi.org\/10.53731\/avg2ykg-gdxppcd","relation":{},"subject":[],"published":{"date-parts":[[2023,1,25]]},"subtype":"other"}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
