interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/tfahc-rp566
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"name":"OA.Works"}],"blog":{"authors":null,"community_id":"c7a225a8-6466-473e-9cfd-b1fb38593045","created":1672790400,"current_feed_url":null,"description":"OA.Works
        Blog","doi":"https://doi.org/10.59350/oa_works","favicon":"https://rogue-scholar.org/api/communities/c7a225a8-6466-473e-9cfd-b1fb38593045/logo","feed_format":"application/rss+xml","feed_url":"https://blog.oa.works/rss/","filter":null,"generator":"Ghost","home_page_url":"https://blog.oa.works/","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"oa_works","status":"active","subfield":"1802","title":"OA.Works
        Blog","updated":1783172060,"use_api":false},"blog_name":"OA.Works Blog","blog_slug":"oa_works","content_html":"<p><img\nsrc=\"https://blog.oa.works/content/images/2023/01/nature-website-v2.png\"\nalt=\"Nature
        features OA.Report&#39;s work putting OA policy into practice!\" /></p>\n<p>After
        a couple of years of working to support institutions\nimplementing their OA
        policies, we''re so proud to see <a\nhref=\"https://oa.report/?ref=blog.oa.works\">OA.Report</a>,
        <a\nhref=\"https://blog.oa.works/grant-to-bolster-oa-policies-from-bmgf/\">our\ndevelopment
        partner</a>, [...]
