interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/rjt2m-2hy19
  response:
    body:
      string: '{"abstract":"(Please cite this post as https://doi.org/10.59350/rjt2m-2hy19)
        A few things recently have made me think about how we support the core work
        of maintaining research software and supporting its users.","archive_url":null,"authors":[{"contributor_roles":[],"family":"Katz","given":"Daniel
        S.","url":"http://orcid.org/0000-0001-5934-7525"}],"blog":{"archive_collection":22131,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22131/20231101173440/","archive_timestamps":null,"authors":[{"name":"Daniel
        S. Katz","url":"https://orcid.org/0000-0001-5934-7525"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"3ecea319-fd1a-492c-8745-f4f9ce29036f","created_at":1672790400,"current_feed_url":null,"description":null,"doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://danielskatzblog.wordpress.com/feed/atom\\n\\n","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://danielskatzblog.wordpress.com","id":"21c7640c-bd10-4f9d-ada7-41a3551b4ab0","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://fosstodon.org/@danielskatz","prefix":"10.59350","registered_at":1725104050,"relative_url":null,"ror":null,"secure":true,"slug":"danielskatz","status":"active","subfield":"1802","subfield_validated":null,"title":"Daniel
        S. Katz''s blog","updated_at":1738857231,"use_api":true,"use_mastodon":true,"user_id":"028217ad-78fb-4c73-befd-a1a947eb745b"},"blog_name":"Daniel
        S. Katz''s blog","blog_slug":"danielskatz","content_html":"\n<p>(Please cite
        this post as <a href=\"https://doi.org/10.59350/rjt2m-2hy19\">https://doi.org/10.59350/rjt2m-2hy19</a>)</p>\n\n\n\n<p>A
        few things recently have made me think about how we support the core work
        of maintaining research software and supporting its users.</p>\n\n\n\n<ol
        class=\"wp-block-list\">\n<li>I was interviewed by Georgia Iacovou for her
        report, &#8220;<a href=\"https://geoiac.notion.site/Funding-Open-Source-Science-Software-b11741a8c9a24a91b8a367629092f674\">The
        state of the open source ecosystem &amp; how to fund away \u2018software collapse\u2019</a>&#8220;.</li>\n\n\n\n<li>I&#8217;ve
        been chairing some of the meetings of the <a href=\"https://www.researchsoft.org/\">Research
        Software Alliance (ReSA)</a> <a href=\"https://www.researchsoft.org/funders[...]
