interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/s6am1-1sa79
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/02jz4aj89","name":"Maastricht
        University"}],"contributor_roles":[],"family":"Willighagen","given":"Egon","url":"https://orcid.org/0000-0001-7542-0286"}],"blog":{"authors":[{"name":"Egon
        Willighagen"}],"community_id":"7f57028e-9d03-489c-b3b4-3d60de06bc9e","created":1710288000,"current_feed_url":"https://chem-bla-ics.linkedchemistry.info/feed.json","description":"Chemblaics
        (pronounced chem-bla-ics) is the science that uses open science and computers
        to solve problems in chemistry, biochemistry and related fields.","doi":"https://doi.org/10.59350/chem_bla_ics","favicon":"https://rogue-scholar.org/api/communities/7f57028e-9d03-489c-b3b4-3d60de06bc9e/logo","feed_format":"application/feed+json","feed_url":"https://chem-bla-ics.linkedchemistry.info/archive.json","filter":null,"generator":"Jekyll","home_page_url":"https://chem-bla-ics.linkedchemistry.info","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"chem_bla_ics","status":"active","subfield":"1606","title":"chem-bla-ics","updated":1784246400,"use_api":true},"blog_name":"chem-bla-ics","blog_slug":"chem_bla_ics","content_html":"<p>I
        am happy that I got my first research grant awarded (EU FP7), which should
        start after all the contracts are signed,\netc, somewhere early 2014. The
        project is about setting up data needs for the analysis of nanosafety studies.
        And for this,\nI have the below two position vacancies available now. If you
        are keen on doing Open Science (CDK, Bioclipse, OpenTox, WikiPathways, \u2026,
        \u2026),\nworking within the European <a href=\"http://www.nanosafetycluster.eu/\">NanoSafety
        Cluster</a>, and have an affinity with understanding the\nsystems biology
        of nanomaterials, then you may be interested in applying.</p>\n<p><strong>PhD
        position</strong></p>\n<p><img alt=\"\" src=\"https://chem-bla-ics.linkedchemistry.info/assets/images/vac1.png\"/></p>\n<p><strong>Postdoc
        position</strong></p>\n<p><img alt=\"\" src=\"https://chem-bla-ics.linkedchemistry.info/assets/images/vac2.png\"/></p>","doi":"https://doi.org/10.59350/s6am1-1sa79","funding_references":[{"awardNumber":"604134","awardTitle":"eNanoMapper
        - A Database and Ontology Framework for Nanomaterials Design and Safety Assessment","awardUri":"https://cordis.europa.eu/project/id/604134","funderIdentifier":"https://ror.org/00k4n6c32","funderIdentifierType":"ROR","funderName":"European
        Commission"}],"guid":"https://doi.org/10.59350/s6am1-1sa79","images":[{"src":"https://chem-bla-ics.linkedchemistry.info/assets/images/vac1.png"},{"src":"https://chem-bla-ics.linkedchemistry.info/assets/images/vac2.png"}],"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","published_at":1383868800,"rid":"htj6r-vkc34","summary":"I
        am happy that I got my first research grant awarded (EU FP7), which should
        start after all the contracts are signed, etc, somewhere early 2014. The project
        is about setting up data needs for the analysis of nanosafety studies. And
        for this, I have the below two position vacancies available now.","tags":["Nanosafety","Enanomapper","Opentox","Ontology"],"title":"Looking
        for a PhD and a Postdoc to work on Open Science Nanosafety","updated_at":1784491838,"url":"https://chem-bla-ics.linkedchemistry.info/2013/11/08/looking-for-phd-and-postdoc-to-work-on.html","version":"v1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
