interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/ewrv712-2k7rx6d
  response:
    body:
      string: '{"abstract":"Persistent identifiers (PIDs) are not only important to
        uniquely identify a publication, dataset, or person, but the metadata for
        these persistent identifiers can provide unambiguous linking between persistent
        identifiers of the same type, e.g. journal articles citing other journal articles,
        or of different types, e.g. linking a researcher and the datasets they produced.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/introducing-the-pid-graph/","authors":[{"affiliation":[{"id":"https://ror.org/04wxnsj81","name":"DataCite"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","citations":[{"citation":"https://doi.org/10.1002/pra2.614","published_at":"2022-10","unstructured":"Lafia,
        S., Fan, L., &amp; Hemphill, L. (2022). A Natural Language Processing Pipeline
        for Detecting Informal Data References in Academic Literature. <i>Proceedings
        of the Association for Information Science and Technology</i>, <i>59</i>(1),
        169\u2013178. https://doi.org/10.1002/pra2.614","updated_at":"2025-02-03T22:30:27.732293+00:00","validated":true},{"citation":"https://doi.org/10.1007/978-3-031-09917-5_10","published_at":"2022","unstructured":"Haris,
        M., Stocker, M., &amp; Auer, S. (2022). Enriching Scholarly Knowledge with
        Context. In <i>Lecture Notes in Computer Science</i> (pp. 148\u2013161). Springer
        International Publishing. https://doi.org/10.1007/978-3-031-09917-5_10","updated_at":"2025-02-03T22:30:29.238531+00:00","validated":true},{"citation":"https://doi.org/10.1016/j.procs.2022.10.179","published_at":"2022","unstructured":"Chen,
        X., &amp; Jagerhorn, M. (2022). Implementing FAIR Workflows along the research
        lifecycle. <i>Procedia Computer Science</i>, <i>211</i>, 83\u201392. https://doi.org/10.1016/j.procs.2022.10.179","updated_at":"2025-02-03T22:30:33.025429+00:00","validated":true},{"citation":"https://doi.org/10.1016/j.procs.2022.10.198","published_at":"2022","unstructured":"Walther,
        M., &amp; Wagner, M. (2022). FAIR research data integration in CRIS at FAU
        Erlangen-N\u00fcrnberg. <i>Procedia Computer Science</i>, <i>211</i>, 246\u2013250.
        https://doi.org/10.1016/j.procs.2022.10.198","updated_at":"2025-02-02T19:06:06.714313+00:00","validated":true},{"citation":"https://doi.org/10.1016/j.procs.2024.11.068","published_at":"2024","unstructured":"Suominen,
        T., Tatum, C., Sipponen, S., Rydman, W., &amp; Ross, S. (2024). Piloting the
        use of RAiD in Research.fi. <i>Procedia Computer Science</i>, <i>249</i>,
        224\u2013231. https://doi.org/10.1016/j.procs.2024.11.068","updated_at":"2025-02-03T22:30:29.865931+00:00","validated":true},{"citation":"https://doi.org/10.1016/j.procs.2024.11.069","published_at":"2024","unstructured":"Suominen,
        T., Himanen, L., Hellsten, L., Bennett, M., &amp; Buys, M. (2024). Piloting
        the use of PIDGraph data in Research.fi. <i>Procedia Computer Science</i>,
        <i>249</i>, 232\u2013242. https://doi.org/10.1016/j.procs.2024.11.069","updated_at":"2025-02-03T22:30:31.934629+00:00","validated":true}],"content_html":"<p>Persistent
        identifiers (PIDs) are not only important to uniquely identify a publication,
        dataset, or person, but the metadata for these persistent identifiers can
        provide unambiguous linking between persistent identifiers of the same type,
        e.g. journal articles citing other journal articles, or of different types,
        e.g. linking a researcher and the datasets they produced.</p>\n<p>Work is
        needed to connect existing persistent identifiers to each other in standardized
        ways, e.g. to the outputs associated with a particular researcher, repository,
        institution or funder, for discovery and impact assessment. Some of the more
        complex but still important use cases can\u2019t be addressed by simply collecting
        and aggregating links between two persistent identifiers, including</p>\n<ol><li>Aggregate
        the citations for all versions of a dataset or software source code</li><li>Aggregate
        the citations for all datasets hosted in a particular repository, funded by
        a particular funder, or created by a particular researcher</li><li>Aggregate
        all citations for a <a href=\"http://www.researchobject.org/\">research object</a>:
        a publication, the data underlying the findings in the paper, and the software,
        samples, and reagents used to create th[...]
