interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.54900/r8zwg-62003
  response:
    body:
      string: '{"abstract":"Academia is undergoing a rapid transformation characterized
        by exponential growth of scholarly outputs. This phenomenon, often termed
        the \"firehose problem,\" presents significant challenges for researchers,
        publishers, funders, policymakers, and institutions alike.","archive_url":"https://wayback.archive-it.org/22124/2025-05-05T10:39:18Z/https://upstream.force11.org/drinking-from-the-firehose/","authors":[{"contributor_roles":[],"family":"Marcum","given":"Christopher
        Steven","url":"https://orcid.org/0000-0002-0899-6143"}],"blog":{"archive_collection":22124,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","archive_timestamps":[20231105103706,20240505132151,20241105103657,20250505103918],"authors":null,"canonical_url":null,"category":"humanities","community_id":"aeaafcbb-94b5-477a-a89f-8fba5925e926","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","prefix":"10.54900","registered_at":1729244339,"relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated_at":1761638979,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","citations":[{"citation":"https://doi.org/10.53731/2j1hr-5xc16","published_at":"2025-01-22","unstructured":"Fenner,
        M. (2025, January 22). Formatting references in blog posts. <i>Front Matter</i>.
        https://doi.org/10.53731/2j1hr-5xc16","updated_at":"2025-02-02T19:19:54.238037+00:00","validated":true},{"citation":"https://doi.org/10.53731/4cjmp-ky907","published_at":"2025-01-22","unstructured":"Fenner,
        M. (2025, January 22). Formatting references in blog posts. <i>Front Matter</i>.
        https://doi.org/10.53731/4cjmp-ky907","updated_at":"2025-10-22T07:56:53.278729+00:00","validated":true},{"citation":"https://doi.org/10.54900/f54sh-45820","published_at":"2025-07-22","unstructured":"Marcum,
        C. S. (2025, July 22). Capping APCs May Backfire on NIH. <i>Upstream</i>.
        https://doi.org/10.54900/f54sh-45820","updated_at":"2025-10-22T08:10:09.406196+00:00","validated":true},{"citation":"https://doi.org/10.54900/j3csy-hey68","published_at":"2025-07-22","unstructured":"Marcum,
        C. S. (2025, July 22). Capping APCs May Backfire on NIH. <i>Upstream</i>.
        https://doi.org/10.54900/j3csy-hey68","updated_at":"2025-10-22T07:52:06.188766+00:00","validated":true}],"content_html":"<figure
        class=\"kg-card kg-image-card kg-card-hascaption\"><img src=\"https://upstream.force11.org/content/images/2024/08/1000008255.jpg\"
        class=\"kg-image\" alt=\"alt_text\" loading=\"lazy\" title=\"image_tooltip\"
        width=\"1024\" height=\"1024\" srcset=\"https://upstream.force11.org/content/images/size/w600/2024/08/1000008255.jpg
        600w, https://upstream.force11.org/content/images/size/w1000/2024/08/1000008255.jpg
        1000w, https://upstream.force11.org/content/images/2024/08/1000008255.jpg
        1024w\" sizes=\"(min-width: 720px) 720px\"><figcaption><span style=\"white-space:
        pre-wrap;\">AI generated illustration using Microsoft Designer</span></figcaption></figure><p>Academia
        is undergoing a rapid transformation characterized by exponential growth of
        scholarly outputs. This phenomenon, often termed the \"firehose problem,\"
        presents significant challenges for researchers, publishers, funders, policymakers,
        and institutions alike. Some of these challenges include stresses on the peer-review
        system, a lower capacity to stay abreast of the latest research, a shift in
        the value of quantity over quality of scholarship, and a divergence between
        the rewards and incentives for producing outputs that meet funder and societal
        expectations. In this essay, the implications of the firehose problem and
        potential approaches to resolving it through reform of incentives and rewards
        for publishing are explored.</p><h3 id=\"the-firehose\">The firehose</h3><p>At
        the 2024 National Academies Workshop,<a href=\"https://www.nationalacademies.org/our-work/enhancing-public-access-to-the-results-of-research-supported-by-the-department-of-health-and-human-services-a-workshop\">
        Enhancing Public Access to the Results of Research Supported by the Department
        of Health and Human Services</a> Tom Ciavarella of Frontiers re-raised an
        idea that periodically pops up in conversations about schola[...]
