interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/7314152e-cac7-4bc1-ae99-b73ef67ea7db
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[],"blog":{"archive_collection":23759,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":null,"canonical_url":null,"category":"chemicalSciences","community_id":"9eb6ed36-4c18-4be8-8262-f94d91dd01fa","created_at":1734159605,"current_feed_url":null,"description":"Recent
        content on Depth-First","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/9eb6ed36-4c18-4be8-8262-f94d91dd01fa/logo","feed_format":"application/atom+xml","feed_url":"http://localhost:3000/articles.atom","filter":null,"funding":null,"generator":"Other","generator_raw":"Other","home_page_url":"https://depth-first.com","id":"e6ce3892-f058-4f65-9ca4-55bafbd11906","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":0,"relative_url":null,"ror":null,"secure":true,"slug":"rapodaca","status":"expired","subfield":"1606","title":"Depth-First","updated_at":1716592500,"use_api":null,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Depth-First","blog_slug":"rapodaca","citations":[{"citation":"https://doi.org/10.59350/mn0n8-p9m65","published_at":"2024-12-08","unstructured":"Willighagen,
        E. (2024, December 8). Richard L. Apodaca. <i>Chem-bla-ics</i>. https://doi.org/10.59350/mn0n8-p9m65","updated_at":"2025-10-22T08:23:52.900151+00:00","validated":true},{"citation":"https://doi.org/10.59350/myaw4-dtg76","published_at":"2024-12-08","unstructured":"Willighagen,
        E. (2024, December 8). Richard L. Apodaca. <i>Chem-bla-ics</i>. https://doi.org/10.59350/myaw4-dtg76","updated_at":"2025-02-02T19:18:39.899725+00:00","validated":true}],"content_html":"<p>Scripting
        languages and cheminformatics can be a highly-effective\ncombination. With
        their relaxed syntax, compilation-free execution, and\ninteractive testing
        environments, scripting languages offer fast\ndevelopment iteration cycles.
        And scripting languages\u2019 support for\nmanipulating libraries written
        in other languages can be key in today\u2019s\nheterogeneous cheminformatics
        software environment.</p>\n<p>Although there are many <a\nhre[...]
