interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/4262e4b7-c2db-467b-b8b0-5b6ec32870a7
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"family":"Sathe","given":"Tejas
        S.","url":"https://orcid.org/0000-0003-0449-4469"}],"blog":{"archive_collection":22134,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22134/20231101173144/","archive_timestamps":null,"authors":null,"canonical_url":null,"category":"clinicalMedicine","community_id":"d72d8890-2a70-4e18-b7d8-c22477bfd1ef","created_at":1672790400,"current_feed_url":null,"description":"Innovation
        and Design Experiments in Academic Surgery (I.D.E.A.S.)","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/273a710a-4227-49d9-a205-eea72d314ef4/logo","feed_format":"application/rss+xml","feed_url":"https://www.ideasurg.pub/rss/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.104","home_page_url":"https://www.ideasurg.pub/","id":"515d191e-f627-44cc-bec6-9fdf276803b2","indexed":null,"issn":"2993-1150","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1715189032,"relative_url":null,"ror":null,"secure":true,"slug":"ideas","status":"active","subfield":"2746","title":"I.D.E.A.S.","updated_at":1715188239,"use_api":null,"use_mastodon":false,"user_id":"4cecb4b8-58b5-49fe-9edb-6af638294ef5"},"blog_name":"I.D.E.A.S.","blog_slug":"ideas","content_html":"<p>As
        residents within the healthcare profession, our first duty is to care for
        our patients. While working upwards of 80 hours per week pursuing that mission,
        it is hard to think of ourselves as anything beyond our job title. But we
        are also citizens. And while patient care remains a worthy North Star, decisions
        made by faraway policymakers can impact our patients as much as the assessments
        and plans we ourselves craft. In some cases, they can impact our training
        as well. Fortunately, as citizens, we can choose our policymakers so long
        as we exercise our right to vote. In this perspective, we present the results
        of an institutional quality improvement study of surgery resident voting and
        propose program initiatives to facilitate resident participation in this core
        duty of citizenship.</p><p>Voting is the most direct manner by which citizens
        can participate in a democracy. A recent study found that physicians historically
        voted at lower rates than the general population but matched and exceeded
        national turnout in 2018 and 2020, respectively. The increase in physician
        participation was hypothesized to stem from the greater prominence of health-related
        issues in the public discourse. Barriers to voting included not being registered,
        being too busy, or having a conflicting work schedule.<sup>1</sup> Currently,
        voting participation among General Surgery residents - for whom these barriers
        are especially magnified - is unknown.</p><p>Following the 2022 United States
        (U.S.) midterm election, we surveyed categorical General Surgery residents
        at our institution. We asked respondents to identify their post graduate year
        (PGY) level and state of registration. We then asked if they voted in the
        2022 U.S. midterm election. Respondents who did n[...]
