interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/hzfr4-z0881
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/03yty8687","name":"GigaScience
        Press"}],"contributor_roles":[],"family":"Edmunds","given":"Scott","url":"https://orcid.org/0000-0001-6444-1436"}],"blog":{"authors":null,"community_id":"52db0518-e228-4260-8c54-c4e323b2569d","created":1675555200,"current_feed_url":null,"description":"Data
        driven blogging from the GigaScience editors","favicon":"https://rogue-scholar.org/api/communities/52db0518-e228-4260-8c54-c4e323b2569d/logo","feed_format":"application/atom+xml","feed_url":"http://gigasciencejournal.com/blog/feed/atom/","filter":null,"generator":"Other","home_page_url":"https://gigasciencejournal.com/blog","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":false,"slug":"gigablog","status":"archived","subfield":"1311","title":"GigaBlog","updated":null,"use_api":null},"blog_name":"GigaBlog","blog_slug":"gigablog","content_html":"<p><em>A
        new era is starting at GigaScience, today being the last day for the Hong
        Kong team including Nicole Nogoy, Chris Hunter, Peter Li, Mary Ann Tuli, Bastien
        Molcrette and Ken Cho. Joining them, and as outgoing Editor in Chief, I thought
        I would give my thoughts and perspectives on the last 15 years</em> <em>at
        the Open Science publishing coalface.</em></p>\n<figure class=\"wp-block-image
        size-full\"><img alt=\"\" class=\"wp-image-6297\" decoding=\"async\" fetchpriority=\"high\"
        height=\"478\" sizes=\"(max-width: 720px) 100vw, 720px\" src=\"https://gigasciencejournal.com/blog/wp-content/uploads/2025/09/Wutong.jpg\"
        srcset=\"https://gigasciencejournal.com/blog/wp-content/uploads/2025/09/Wutong.jpg
        720w, https://gigasciencejournal.com/blog/wp-content/uploads/2025/09/Wutong-300x199.jpg
        300w\" width=\"720\"/><figcaption class=\"wp-element-caption\"><em>Arriving
        in Shenzhen: My weekend routine of climbing Wutong Mountain and being forced
        to pose for photos.</em></figcaption></figure>\n<p></p>\n<p>It wasn''t meant
        to end this way, but I''m still very grateful for the journey. Carrying out
        my scientific training in the UK and being taught to write scientifically
        using the passive voice, I have to push myself out of my comfort zone to write
        in the first person. But as[...]
