interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/86jd5-wpv70
  response:
    body:
      string: '{"abstract":"The idea that DataCite exists only to provide DOIs is
        deeply embedded in repository thought processes and this idea needs to evolve.
        The research community needs to think about DataCite (and other elements of
        the global research infrastructure) as powerful resources for describing and
        connecting the myriad of resources that make up the modern research world.","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/05bp8ka05","name":"Metadata
        Game Changers"}],"name":"Ted Habermann","url":"https://orcid.org/0000-0003-3585-6733"}],"blog":{"archive_collection":24086,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":[{"name":"Ted
        Habermann"}],"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","community_id":"e51c5dbe-74d6-43a1-968b-13809300b314","created_at":1709154984,"current_feed_url":null,"description":"Exploring
        metadata, communities, and new ideas. ","doi_as_guid":false,"favicon":null,"feed_format":"application/feed+json","feed_url":"https://metadatagamechangers.com/blog?format=json","filter":null,"funding":null,"generator":"Squarespace","generator_raw":"Squarespace
        6.0.0","home_page_url":"https://metadatagamechangers.com/blog","id":"6ac6b508-37c9-4dca-9f49-c36bbe19458a","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729790772,"relative_url":null,"ror":null,"secure":true,"slug":"metadatagamechangers","status":"active","subfield":"1710","title":"Blog
        - Metadata Game Changers","updated_at":1753886367,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Blog
        - Metadata Game Changers","blog_slug":"metadatagamechangers","content_html":"<div
        id=\"item-62268c301674dc074d971710\"\nclass=\"sqs-layout sqs-grid-12 columns-12\"
        data-layout-label=\"Post Body\"\ndata-type=\"item\" data-updated-on=\"1646694120644\">\n<div
        class=\"row sqs-row\">\n<div class=\"col sqs-col-12 span-12\">\n<div id=\"block-yui_3_17_2_1_1714086342618_523339\"\nclass=\"sqs-block
        html-block sqs-block-html\" data-block-type=\"2\">\n<div class=\"sqs-block-content\">\n<div
        class=\"sqs-html-content\">\n<p>Cite this blog as Habermann, T. (2022). Metadata
        Life Cycle: Mountain\nor Superhighway? Front Matter. https://doi.org/10.59350/86jd5-wpv70</p>\n</div>\n</div>\n</div>\n<p>:::::
        {#block-32d1112510c14182c2b5 .sqs-block .html-block\n.sqs-block-html block-type=\u201c2\u201d\nborder-radii=\u201c{\"topLeft\":{\"unit\":\"px\",\"value\":0.0},\"topRight\":{\"unit\":\"px\",\"value\":0.0},\"bottomLeft\":{\"unit\":\"px\",\"value\":0.0},\"bottomRight\":{\"unit\":\"px\",\"value\":0.0}}\u201d}</p>\n<div
        class=\"sqs-block-content\">\n<div class=\"sqs-html-content\">\n<p>This work
        could not have been done without Lisa Johnson, the Director\nof the Data Repository
        for the University of Minnesota (DRUM). Thanks\nLisa!</p>\n<h2 style=\"white-space:pre-wrap;\"
        id=\"introduction\">Introduction</h2>\n<p>During the early days, repositories
        had metadata collections in one\ndialect that served, to some degree, all
        needs: discovery,\nidentification, access, interoperability, and reuse. Native
        metadata\nwere either hidden from users or were served in the native\nrepresentation,
        typically XML or JSON. Over the last several years, with\nthe emergence of
        the global research infrastructure (<a\nhref=\"https://datacite.org/\">DataCite</a>,
        <a\nhref=\"https://orcid.org/\">ORCID</a>, <a href=\"https://ror.org/\">ROR</a>,\n<a
        href=\"https://www.crossref.org/\">Crossref</a> / <a\nhr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ror.org/organizations/021nxhr62
  response:
    body:
      string: '{"admin":{"created":{"date":"2018-11-14","schema_version":"1.0"},"last_modified":{"date":"2025-11-24","schema_version":"2.1"}},"domains":["nsf.gov"],"established":1950,"external_ids":[{"all":["100000001","100015388","100023581"],"preferred":null,"type":"fundref"},{"all":["grid.431093.c"],"preferred":"grid.431093.c","type":"grid"},{"all":["0000
        0001 1958 7073"],"preferred":null,"type":"isni"},{"all":["Q304878"],"preferred":null,"type":"wikidata"}],"id":"https://ror.org/021nxhr62","links":[{"type":"website","value":"https://www.nsf.gov"},{"type":"wikipedia","value":"https://en.wikipedia.org/wiki/National_Science_Foundation"}],"locations":[{"geonames_details":{"continent_code":"NA","continent_name":"North
        America","country_code":"US","country_name":"United States","country_subdivision_code":"VA","country_subdivision_name":"Virginia","lat":38.80484,"lng":-77.04692,"name":"Alexandria"},"geonames_id":4744091}],"names":[{"lang":null,"types":["acronym"],"value":"NSF"},{"lang":"en","types":["alias"],"value":"National
        Science Foundation"},{"lang":"en","types":["label","ror_display"],"value":"U.S.
        National Science Foundation"}],"relationships":[{"label":"American Institute
        of Mathematics","type":"child","id":"https://ror.org/02a0fwv66"},{"label":"Center
        for Discrete Mathematics and Theoretical Computer Science","type":"child","id":"https://ror.org/00k551w06"},{"label":"Directorate
        for Biological Sciences","type":"child","id":"https://ror.org/001xhss06"},{"label":"Directorate
        for Computer & Information Science & Engineering","type":"child","id":"https://ror.org/025kzpk63"},{"label":"Directorate
        for STEM Ed[...]
