interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/notfound
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>429 Too Many Requests</title>

        <h1>Too Many Requests</h1>

        <p>This user has exceeded an allotted request count. Try again later.</p>

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      fly-request-id:
      - 01KBDES9WKWB2J9TBZS1KXPQSG-ams
      ratelimit-limit:
      - '15'
      ratelimit-remaining:
      - '0'
      ratelimit-reset:
      - '56'
      retry-after:
      - '0'
    status:
      code: 429
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/notfound
  response:
    body:
      string: '{"error":"An error occured."}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/notfound
  response:
    body:
      string: '{"error":"An error occured."}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
