interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/1357c246-b632-462a-9876-753ef8b6927d
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22098/2025-05-01T17:13:42Z/http://gigasciencejournal.com/blog/plant-and-animal-genomes-pag-31st-annual-conference","authors":[{"affiliation":[{"id":"https://ror.org/03yty8687","name":"GigaScience
        Press"}],"family":"Hunter","given":"Chris","url":"https://orcid.org/0000-0002-1335-0881"}],"blog":{"archive_collection":22098,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22098/20231101171344/","archive_timestamps":[20231101171344,20240501173350,20241101171529,20250501171342],"authors":null,"canonical_url":null,"category":"biologicalSciences","community_id":"05295fde-2e79-43af-bf7a-fbff3cb3d54a","created_at":1675555200,"current_feed_url":null,"description":"Data
        driven blogging from the GigaScience editors","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/52db0518-e228-4260-8c54-c4e323b2569d/logo","feed_format":"application/atom+xml","feed_url":"http://gigasciencejournal.com/blog/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.4.5","home_page_url":"http://gigasciencejournal.com/blog","id":"b7d5ca19-0df1-493f-87aa-0530a69e7b99","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729695911,"relative_url":null,"ror":null,"secure":false,"slug":"gigablog","status":"archived","subfield":"1311","subfield_validated":true,"title":"GigaBlog","updated_at":1758120379,"use_api":null,"use_mastodon":false,"user_id":"cde2cfb3-c25f-4ca9-92d2-f6dea02a8e91"},"blog_name":"GigaBlog","blog_slug":"gigablog","content_html":"<p><a
        href=\"https://www.intlpag.org/\">PAG</a> (Plant and Animal Genomes\nconference)
        returned to the Town and Country resort San Diego for its\n31st installment
        this January (Jan 12-17, 2024), bigger and better than\never before! The GigaScience
        Press team are regular attendees of the\nmeeting (see <a\nhref=\"http://gigasciencejournal.com/blog/plant-and-animal-genomes/\">last\nyears
        write-up</a>), and this year members of our Editorial and Curation\nteams
        joined nearly 3000 delegates from over 60 countries.</p>\n<p>With a leisurely
        start to the conference on the Friday around 10am,\nmy first stop was to reacquaint
        myself with the fine work of the Oxford\nNanopore Technology (ONT) team at
        their ORG.one session. <a\nhref=\"https://www.linkedin.com/in/karadicks/\">Kara
        Dicks</a> introduced\nthe <a href=\"https://nanoporetech.com/oo\">ORG.one</a>
        project, which is\nan ONT funded project to assist with at-location sequencing
        (of plant\nand animal genomes) of threatened or endangered species. They will\nprovide
        the tools free of charge to enable the generation of\napproximately 20x genome
        coverage of any species listed on the <a\nhref=\"https://www.iucnredlist.org/\">IUCN
        red list</a> as endangered\n(status EN or CR).</p>\n<div id=\"attachment_5624\"
        class=\"wp-caption alignleft\"\nstyle=\"width: 561px\">\n<p><img\nsrc=\"http://gigasciencejournal.com/blog/wp-content/uploads/2024/01/TaylorHains_Parrots-300x178.jpg\"\nclass=\"wp-image-5624\"
        loading=\"lazy\" decoding=\"async\"\naria-describedby=\"caption-attachment-5624\"\nsrcset=\"http://gigasciencejournal.com/blog/wp-content/uploads/2024/01/TaylorHains_Parrots-300x178.jpg
        300w, http://gigasciencejournal.com/blog/wp-content/uploads/2024/01/Taylor[...]
