interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/r294649-6f79289-8cw1y
  response:
    body:
      string: '{"abstract":"A new service allows researchers to add research datasets
        \u2013 and other content with DataCite DOIs, including all figshare content
        \u2013 to their ORCID profile by integrating with the DataCite Metadata Store.
        The tool is an adaption (or fork) of the CrossRef Metadata Search developed
        by Karl Ward, and was developed by Gudmundur Thorisson and myself as part
        of work in the EU-funded ODIN project. More details can be found here.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/new-datacite-orcid-integration-tool/","authors":[{"affiliation":[{"id":"https://ror.org/008zgvp64","name":"Public
        Library of Science"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","citations":[{"citation":"https://doi.org/10.1016/b978-1-84334-788-0.00012-4","published_at":"2016","unstructured":"Yang,
        S. Q., &amp; Li, L. (2016). Altmetrics and Research Support. In <i>Emerging
        Technologies for Librarians</i> (pp. 225\u2013247). Elsevier. https://doi.org/10.1016/b978-1-84334-788-0.00012-4","updated_at":"2025-02-02T19:06:03.492519+00:00","validated":true}],"content_html":"<p>A
        <a href=\"https://web.archive.org/web/20171029102032/http://datacite.labs.orcid-eu.org/\">new
        service</a> allows researchers to add research datasets \u2013 and other content
        with DataCite DOIs, including all <a href=\"https://web.archive.org/web/20171029102032/http://figshare.com/\">figshare</a>
        content \u2013 to their <a href=\"https://web.archive.org/web/20171029102032/http://about.orcid.org/\">ORCID</a>
        profile by integrating with the <a href=\"https://search.datacite.org\">DataCite
        Metadata Store</a>. The tool is an adaption (or fork) of the <a href=\"https://search.crossref.org/\"
        rel=\"noreferrer\">CrossRef Metadata Search</a> developed by <a href=\"https://web.archive.org/web/20171029102032/https://twitter.com/karlward\">Karl
        Ward</a>, and was developed by <a href=\"https://web.archive.org/web/20171029102032/https://twitter.com/gthorisson\">Gudmundur
        Thorisson</a> and myself as part of work in the EU-funded <a href=\"https://web.archive.org/web/20171029102032/http://odin-project.eu/\">ODIN
        project</a>. More details can be found <a href=\"https://web.archive.org/web/20171029102032/http://odin-project.eu/2013/05/13/new-orcid-integrated-data-citation-tool/\">here</a>.</p>\n<p>There
        are many things I like about this new DataCite/ORCID integration tool:</p>\n<ul><li>it
        makes it easier for researchers to get credit for their research outputs.</li><li>it
        shows the value of persistent identifiers for data, publications and people,
        and linking them together</li><li>it shows the Creative Commons licenses for
        DataCite content where this info is available, facilitating reuse of content</li><li>it
        demonstrates the power of open source (thanks CrossRef!), open collaboration,
        standard REST APIs, and lightweight programming (Sinatra/Ruby) and deployment
        (Vagrant, Amazon EC2, Rackspace) tools</li><li>it shows that we don\u2019t
        need a single \u2013 often closed \u2013 system, but open services that build
        on top of each other using accepted community standards. Tools using the ORCID
        API can immediately reuse the new DataCite content, altmetrics provided by
        <a href=\"https://impactstory.org/\">ImpactStory</a> are a good example</li></ul>\n<p>I
        want to explore some of these ideas in the panel <strong>Attribution: Managing
        Provenance, Ethics, and Metrics</strong> at the combined <a href=\"https://web.archive.org/web/20171029102032/http://orcid.org/orcid-outreach-meeting-symposium-and-codefest-may-2013\">ORCID/Dryad
        Meeting</a> in Oxford next Thursday.</p>\n<h2 id=\"acknowledgments\">Acknowledgments</h2>\n<p>This
        work was funded by the European Union\u2019s Horizon Seventh Framework programme
        under <a href=\"https://cordis.europa.eu/project/id/312788\" rel=\"noreferrer\">grant
        agreement No.&nbsp;312788</a>.</p>","doi":"https://doi.org/10.53731/r294649-6f79289-8cw1y","funding_references":null,"guid":"https://doi.org/10.53731/r294649-6f79289-8cw1y","id":"44690ae5-2ece-403d-8e34-a05668277a29","image":null,"indexed_at":1764253356,"language":"en","parent_doi":null,"published_at":1368835200,"reference":[],"registered_at":0,"relationships":[{"type":"HasAward","urls":["https://cordis.europa.eu/project/id/312788"]}],"rid":"mf40a-xtn49","subfield":null,"summary":"A
        new service allows researchers to add research datasets \u2013 and other content
        with DataCite DOIs, including all figshare content \u2013 to their ORCID profile
        by integrating with the DataCite Metadata Store. The tool is an adaption (or
        fork) of the CrossRef Metadata Search developed by Karl Ward, and was developed
        by Gudmundur Thorisson and myself as part of work in the EU-funded ODIN project.
        More details can be found here.","tags":["News"],"title":"New DataCite / ORCID
        Integration Tool","topic":null,"topic_score":0,"updated_at":1694091304,"url":"https://blog.front-matter.de/posts/new-datacite-orcid-integration-tool/","version":"v1"}

        '
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01KBDES71W7T5Q9M2WDGMYEFJR-ams
      ratelimit-limit:
      - '15'
      ratelimit-remaining:
      - '4'
      ratelimit-reset:
      - '43'
    status:
      code: 200
      message: ''
version: 1
