interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/qsajq-6tn97
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/0524sp257","name":"University
        of Bristol"}],"contributor_roles":[],"family":"Taylor","given":"Mike","url":"https://orcid.org/0000-0002-1003-5675"}],"blog":{"authors":[{"name":"Mike
        Taylor"}],"community_id":"0e13541f-417e-46c0-a859-65927249df72","created":1675209600,"current_feed_url":null,"description":"SV-POW!  ...  All
        sauropod vertebrae, except when we''re talking about Open Access. ISSN 3033-3695","favicon":"https://rogue-scholar.org/api/communities/0e13541f-417e-46c0-a859-65927249df72/logo","feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"generator":"WordPress.com","home_page_url":"https://svpow.com","issn":"3033-3695","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"svpow","status":"active","subfield":"1911","title":"Sauropod
        Vertebra Picture of the Week","updated":1782505016,"use_api":true},"blog_name":"Sauropod
        Vertebra Picture of the Week","blog_slug":"svpow","content_html":"<p>Readers
        with good memories will remember that back in May last year <a href=\"https://svpow.com/2024/05/29/westin-whats-coming-up-wednesday-wrangle-over-whether-oa-is-a-washout/\">I
        announced I would be one of the two participants</a> in the plenary debate
        that closes the annual meeting of the Society for Scholarly Publishing. I
        was cast against type, proposing the motion &#8220;The open access movement
        has failed&#8221;, with preprint advocate Jessica[...]
