interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.54900/vnevh-vaw22
  response:
    body:
      string: '{"abstract":"Introduction A recent blog post described a new partnership
        between Metadata Game Changers and CHORUS aimed at understanding how CHORUS
        data can help federal agencies, other funders, and other users access and
        use information from the global research infrastructure to measure this infrastructure
        and understand connections between research objects.","archive_url":"https://wayback.archive-it.org/22124/2025-05-05T10:39:18Z/https://upstream.force11.org/informate-where-are-the-data/","authors":[{"affiliation":[{"id":"https://ror.org/05bp8ka05","name":"Metadata
        Game Changers"}],"contributor_roles":[],"family":"Habermann","given":"Ted","url":"https://orcid.org/0000-0003-3585-6733"},{"contributor_roles":[],"family":"Jones","given":"Jamaica","url":"https://orcid.org/0000-0002-1969-2508"},{"contributor_roles":[],"family":"Ratner","given":"Howard","url":"http://orcid.org/0000-0002-2123-6317"},{"contributor_roles":[],"family":"Packer","given":"Tara","url":"https://orcid.org/0009-0009-0223-2917"}],"blog":{"archive_collection":22124,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","archive_timestamps":[20231105103706,20240505132151,20241105103657,20250505103918],"authors":null,"canonical_url":null,"category":"humanities","community_id":"aeaafcbb-94b5-477a-a89f-8fba5925e926","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","prefix":"10.54900","registered_at":1729244339,"relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated_at":1761638979,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","citations":[{"citation":"https://doi.org/10.54900/08pke-hyy45","published_at":"2024-02-13","unstructured":"Habermann,
        T., Jones, J., Ratner, H., &amp; Packer, T. (2024, February 13). INFORMATE:
        When Are the Data?. <i>Upstream</i>. https://doi.org/10.54900/08pke-hyy45","updated_at":"2025-02-02T19:20:00.785506+00:00","validated":true},{"citation":"https://doi.org/10.54900/xkxpk-qxx74","published_at":"2024-02-13","unstructured":"Habermann,
        T., Jones, J., Ratner, H., &amp; Packer, T. (2024, February 13). INFORMATE:
        When Are the Data?. <i>Upstream</i>. https://doi.org/10.54900/xkxpk-qxx74","updated_at":"2025-10-22T08:20:13.897275+00:00","validated":true}],"content_html":"<h2
        id=\"introduction\">Introduction</h2><p>A recent <a href=\"https://metadatagamechangers.com/blog/2023/9/20/informate-metadata-game-changers-and-chorus-collaborate-to-make-the-invisible-visible\">blog
        post</a> described a new partnership between Metadata Game Changers and <a
        href=\"https://www.chorusaccess.org/\">CHORUS</a> aimed at understanding how
        CHORUS data can help federal agencies, other funders, and other users access
        and use information from t[...]
