interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/r294649-6f79289-8cw16
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/008zgvp64","name":"Public
        Library of Science"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"community_id":"15a362ea-8138-42b8-917f-1840a92addf8","created":1672531200,"current_feed_url":null,"description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","home_page_url":"https://blog.front-matter.de/","issn":"2749-9952","language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.53731","relative_url":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated":1781522561,"use_api":true},"blog_name":"Front Matter","blog_slug":"front_matter","content_html":"<p>A
        few weeks ago Kafkas et al. (2013) published a paper looking at current patterns
        of how datasets o biological databases are cited in research articles, based
        on an analysis of the full text Open Access articles available from Europe
        PMC. They identified data citations by:</p><ol><li>Accession numbers available
        in articles as publisher-supplied, structured content;</li><li>Accession numbers
        identified in articles by text mining;</li><li>References to articles from
        the ENA, UniProt and PDBe records.</li></ol><p>They could show that text mining
        doubles the number of structured annotations available in journal articles
        (from 2.26% to 5.15%), and that these structured annotations should be extended
        beyond the ENA, UniProt and PDB identifiers that their analysis focused on.
        ENA identifiers (for nucleotide sequences in GenBank, EMBL or DDBJ) make up
        the largest group, with 160,112 identifiers found in the 410,364 articles
        that were analyzed.</p><p>Another result in the paper is that references to
        articles in these databases show little overlap with database links found
        in articles. One of the conclusions drawn by the author is that</p><blockquote>Text-mining
        can be used to extend structured data citation, and could be a basis for the
        development of services to help authors or editors to add structured content
        at the beginning of the publication process, rather than after the fact.</blockquote><p>Adding
        structured data citations during the authoring phase of a manuscript requires
        tools that make this process easier, providing auto-linking and verification
        without requiring extra input from the author. Scholarly Markdown is an ideal
        platform for these tools, as it is easier to extend than traditional word
        processors such as Microsoft Word. During a small workshop around persistent
        identifiers for data (<a href=\"http://datacite.org/\">DataCite</a>), people
        (<a href=\"http://orcid.org/\">ORCID</a>) and geological samples (<a href=\"http://www.geosamples.org/igsnabout\">IGSN</a>)
        that took place yesterday and today at the <a href=\"http://www.gfz-potsdam.de/portal/gfz/cegit\">GFZ
        Potsdam</a> I worked on a tool that does auto-linking for these identifiers:</p><ul><li>IGSN.
        <a href=\"http://www.geosamples.org/igsnabout\">International Geosample Number</a></li><li>MGI
        identifiers for genetically modified mouse strains in the <a href=\"http://www.findmice.org/about\">Internal
        Mouse Strain Resource</a></li><li>ENA. <a href=\"http://www.ebi.ac.uk/ena/about/about\">Genbank
        / ENA / DDBJ nucleotide sequences</a></li><li>UniProt protein sequences from
        the <a href=\"http://www.uniprot.org/help/about\">UniProt database</a></l[...]
