interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/2b3cdd27-5123-4167-9482-3c074392e2d2
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"name":"OA.Works"}],"blog":{"archive_collection":22105,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22105/20231101173119/","archive_timestamps":null,"authors":null,"canonical_url":true,"category":"computerAndInformationSciences","community_id":"c7a225a8-6466-473e-9cfd-b1fb38593045","created_at":1672790400,"current_feed_url":null,"description":"OA.Works
        Blog","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/c7a225a8-6466-473e-9cfd-b1fb38593045/logo","feed_format":"application/rss+xml","feed_url":"https://blog.oa.works/rss/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.104","home_page_url":"https://blog.oa.works/","id":"e70b452d-1b21-43f1-8726-07f4192f32ef","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1703028245,"relative_url":null,"ror":null,"secure":true,"slug":"oa_works","status":"active","subfield":"1802","title":"OA.Works
        Blog","updated_at":1750075205,"use_api":false,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"OA.Works
        Blog","blog_slug":"oa_works","content_html":"<p><img\nsrc=\"https://blog.oa.works/content/images/2023/01/nature-website-v2.png\"\nalt=\"Nature
        features OA.Report&#39;s work putting OA policy into practice!\" /></p>\n<p>After
        a couple of years of working to support institutions\nimplementing their OA
        policies, we''re so proud to see <a\nhref=\"https://oa.report/?ref=blog.oa.works\">OA.Report</a>,
        <a\nhref=\"https://blog.oa.works/grant-to-bolster-oa-policies-from-bmgf/\">our\ndevelopment
        partner</a>, [...]
