interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/p000s-pth40
  response:
    body:
      string: '{"authors":[{"affiliation":[{"id":"https://ror.org/04fa4r544","name":"ORCID"}],"contributor_roles":[],"family":"Deane-Pratt","given":"Ad\u00e8nik\u00e9","url":"https://orcid.org/0000-0001-9940-9233"}],"blog":{"authors":null,"community_id":"9e52146d-52b4-4733-9b05-1b23091c3835","created":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","favicon":"https://rogue-scholar.org/api/communities/9e52146d-52b4-4733-9b05-1b23091c3835/logo","feed_format":"application/feed+json","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"generator":"Other","home_page_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"thor","status":"archived","subfield":"1802","title":"Project
        THOR","updated":null,"use_api":true},"blog_name":"Project THOR","blog_slug":"thor","doi":"https://doi.org/10.59350/p000s-pth40","guid":"http://project-thor.eu/?p=1759","image":"https://thorproject2014.files.wordpress.com/2017/11/photo-1.png?w=756&h=426","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","published_at":1511481600,"rid":"2y05e-e5z63","summary":"Project
        THOR is coming to a close. Our final event was held in Italy on 15 November
        at ''La Sapienza'' \u2013 the University of Rome \u2013 just a stone''s throw
        from Michelangelo''s impressive sculpture of Moses in the church of San Pietro
        in Vincoli. The day combined a retrospective review of THOR''s achievements
        and impact with a forward-looking perspective on the wider persistent identifier
        (PID) landscape.","title":"THOR''s last hurrah","updated_at":1741616239,"url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/2017/11/24/thors-last-hurrah"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
