interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/xgwqt-1sq35
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/02n415q13","name":"Curtin
        University"}],"name":"Cameron Neylon","url":"https://orcid.org/0000-0002-0068-716X"}],"blog":{"archive_collection":24078,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":[{"name":"Cameron
        Neylon","url":"https://orcid.org/0000-0002-0068-716X"}],"canonical_url":null,"category":"otherSocialSciences","community_id":"57bf5fb9-8f97-4a80-83d7-c6a1910c7e8e","created_at":1707720206,"current_feed_url":null,"description":"The
        online home of Cameron Neylon","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://cameronneylon.net/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.6.2","home_page_url":"https://cameronneylon.net/","id":"5ecd6011-822b-42d7-bb03-b799295373be","indexed":true,"issn":null,"language":"en","license":"https://creativecommons.org/publicdomain/zero/1.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1709436734,"relative_url":null,"ror":null,"secure":true,"slug":"cameronneylon","status":"active","subfield":"1710","title":"Science
        in the Open","updated_at":1730428632,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Science
        in the Open","blog_slug":"cameronneylon","content_html":"\n<p><em>Consider
        this yet another commitment to trying to write here a little more regularly.
        Lots of thinking has been going on but not much writing! At least not writing
        as I&#8217;m going&#8230;</em></p>\n\n\n\n<p>Three things colliding over the
        past few weeks have led me to want to try and get some ideas down. The first
        was a conversation \u2013 one of a set really \u2013 with Titus Brown and
        Dan Katz relating to the application of political economy and collective action
        theory to communities building research. <br></p>\n\n\n\n<p>The second was
        the posting of video of a talk I gave a month or so back to our research centre,
        the Centre for Culture and Technology at Curtin University. In this, I tried
        to work through the full story of some recent thinking for the first time.
        I&#8217;m trying to articulate what has evolved in my thinking from a view
        driven by network theory that open is good, more open is better, to an understanding
        of where and how things have [...]
