interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/p000s-pth40
  response:
    body:
      string: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22143/2023-11-03T19:24:18Z/https://project-thor.eu/2017/11/24/thors-last-hurrah","authors":[{"affiliation":[{"id":"https://ror.org/04fa4r544","name":"ORCID"}],"name":"Ad\u00e8nik\u00e9
        Deane-Pratt","url":"https://orcid.org/0000-0001-9940-9233"}],"blog":{"archive_collection":22143,"archive_host":"project-thor.eu","archive_prefix":"https://wayback.archive-it.org/22143/20231103191454/","archive_timestamps":[20231103192418],"authors":null,"canonical_url":null,"category":"computerAndInformationSciences","community_id":"9e52146d-52b4-4733-9b05-1b23091c3835","created_at":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/9e52146d-52b4-4733-9b05-1b23091c3835/logo","feed_format":"application/feed+json","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"funding":{"awardNumber":"654039","awardTitle":"THOR
        \u2013 Technical and Human Infrastructure for Open Research","awardUri":"https://doi.org/10.3030/654039","funderIdentifier":"https://ror.org/019w4f821","funderName":"European
        Union"},"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/","id":"2a309edc-7a90-4735-807c-a81a7e5eb890","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1511522178,"relative_url":null,"ror":null,"secure":true,"slug":"thor","status":"archived","subfield":"1802","subfield_validated":null,"title":"Project
        THOR","updated_at":1511522178,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77"},"blog_name":"Project
        THOR","blog_slug":"thor","citations":[{"citation":"https://doi.org/10.53731/w6nzs-jta75","published_at":"2023-09-22","unstructured":"Fenner,
        M. (2023, September 22). DOI registration workflow for a science blog. <i>Front
        Matter</i>. https://doi.org/10.53731/w6nzs-jta75","updated_at":"2025-02-02T19:19:34.488472+00:00","validated":true}],"content_html":"<p><span
        style=\"font-weight:400;\">Project THOR is coming to a close. Our\nfinal event
        was held in Italy on 15 November at \u2018La Sapienza\u2019 \u2013 the\nUniversity
        of Rome \u2013 just a stone\u2019s throw from Michelangelo\u2019s impressive\nsculpture
        of Moses in the church of San Pietro in Vincoli. The day\ncombined a retrospective
        review of THOR\u2019s achievements and impact with a\nforward-looking perspective
        on the wider persistent identifier (PID)\nlandscape.</span></p>\n<p><span
        style=\"font-weight:400;\">With help and advice from CINECA\u2019s\nPaola
        Gargiulo the event attracted an audience of Italian researchers\nfrom a wide
        range of disciplines, to join delegates from THOR partner\n</span><span style=\"font-weight:400;\">organisations.
        Adam Farquhar of\nthe British Library followed Paola\u2019s welcome with an
        overview of THOR\u2019s\nmission to embed PIDs within the heart of scholarly\ncommunications.</span></p>\n<h2
        id=\"key-notes\"><span style=\"font-weight:400;\">Key notes</span></h2>\n<p><span
        style=\"font-weight:400;\">Herbert van de Sompel, one of our two\nkeynote
        speakers and Digital Library Research &amp; Prototyping Team\nlead at Los
  [...]
