interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/blogs/front_matter
  response:
    body:
      string: '{"archive_collection":22096,"archive_host":null,"archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","posts":[{"doi":"https://doi.org/10.53731/r294649-6f79289-8cw2v","guid":"https://doi.org/10.53731/r294649-6f79289-8cw2v","id":"1128ff7c-f971-415e-8072-72626a0dec3a","published_at":1327881600,"summary":"Faculty
        1000 today announced\n<strong>\n F1000 Research\n</strong>\n,\n<em>\n a new
        fully Open Access publishing program across biology and medicine, that will
        start publishing later this year\n</em>\n. The default open access license
        is CC-BY, and CC0 for data.","title":"Say Hello to F1000 Research","updated_at":1659201034,"url":"https://blog.front-matter.de/posts/say-hello-to-f1000-research/"},{"doi":"https://doi.org/10.53731/r294649-6f79289-8cw69","guid":"https://doi.org/10.53731/r294649-6f79289-8cw69","id":"c9d439b9-421b-4717-bb46-d2c6b4a642bc","published_at":1318118400,"summary":"ScienceCard
        is a new service that I started last month with the simple idea to automatically
        track all journal articles of a given author, and to collect the article-level
        metrics (citations, bookmar[...]
