interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/qsajq-6tn97
  response:
    body:
      string: '{"abstract":"Readers with good memories will remember that back in
        May last year I announced I would be one of the two participants in the plenary
        debate that closes the annual meeting of the Society for Scholarly Publishing.","archive_url":null,"authors":[{"affiliation":[{"id":"https://ror.org/0524sp257","name":"University
        of Bristol"}],"contributor_roles":[],"family":"Taylor","given":"Mike","url":"https://orcid.org/0000-0002-1003-5675"}],"blog":{"archive_collection":22153,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22153/20231105213934/","archive_timestamps":null,"authors":[{"name":"Mike
        Taylor"}],"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","community_id":"0e13541f-417e-46c0-a859-65927249df72","created_at":1675209600,"current_feed_url":null,"description":"SV-POW!  ...  All
        sauropod vertebrae, except when we''re talking about Open Access. ISSN 3033-3695","doi_as_guid":false,"favicon":null,"feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://svpow.com","id":"c6cbbd2e-4675-4680-8a3f-784388009821","indexed":false,"issn":"3033-3695","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":1729882329,"relative_url":null,"ror":null,"secure":true,"slug":"svpow","status":"active","subfield":"1911","subfield_validated":true,"title":"Sauropod
        Vertebra Picture of the Week","updated_at":1764721760,"use_api":true,"use_mastodon":false,"user_id":"04d03585-c8bb-40f2-9619-5076a5e0aed2"},"blog_name":"Sauropod
        Vertebra Picture of the Week","blog_slug":"svpow","content_html":"<p>Readers
        with good memories will remember that back in May last year <a href=\"https://svpow.com/2024/05/29/westin-whats-coming-up-wednesday-wrangle-over-whether-oa-is-a-washout/\">I
        announced I would be one of the two participants</a> in the plenary debate
        that closes the annual meeting of the Society for Scholarly Publishing. I
        was cast against type, proposing the motion &#8220;The open access movement
        has failed&#8221;, with preprint advocate Jessica[...]
