interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.59350/rjt2m-2hy19
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Katz","given":"Daniel
        S.","url":"https://orcid.org/0000-0001-5934-7525"}],"blog":{"authors":[{"name":"Daniel
        S. Katz","url":"https://orcid.org/0000-0001-5934-7525"}],"community_id":"3ecea319-fd1a-492c-8745-f4f9ce29036f","created":1672790400,"current_feed_url":null,"description":null,"favicon":"https://rogue-scholar.org/api/communities/3ecea319-fd1a-492c-8745-f4f9ce29036f/logo","feed_format":"application/atom+xml","feed_url":"https://danielskatzblog.wordpress.com/feed/atom/","filter":null,"generator":"WordPress.com","home_page_url":"https://danielskatzblog.wordpress.com","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.59350","relative_url":null,"secure":true,"slug":"danielskatz","status":"active","subfield":"1802","title":"Daniel
        S. Katz''s blog","updated":1738857231,"use_api":true},"blog_name":"Daniel
        S. Katz''s blog","blog_slug":"danielskatz","content_html":"<p class=\"wp-block-paragraph\">(Please
        cite this post as <a href=\"https://doi.org/10.59350/rjt2m-2hy19\">https://doi.org/10.59350/rjt2m-2hy19</a>)</p>\n\n\n\n<p
        class=\"wp-block-paragraph\">A few things recently have made me think about
        how we support the core work of maintaining research software and supporting
        its users.</p>\n\n\n\n<ol class=\"wp-block-list\">\n<li>I was interviewed
        by Georgia Iacovou for her report, &#8220;<a href=\"https://geoiac.notion.site/Funding-Open-Source-Science-Software-b11741a8c9a24a91b8a367629092f674\">The
        state of the open source ecosystem &amp; how to fund away ''software collapse''</a>&#8220;.</li>\n\n\n\n<li>I&#8217;ve
        been chairing some of the meetings of the <a href=\"https://www.researchsoft.org/\">Research
        Software Alliance (ReSA)</a> <a href=\"https://www.researchsoft.org/funders-forum/\[...]
