interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.7554/elife.01567/transform/application/vnd.crossref.unixsd+xml
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
      version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
      http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
      \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
      \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.7554/eLife.01567</doi>\r\n
      \       <crm-item name=\"publisher-name\" type=\"string\">eLife Sciences Publications,
      Ltd</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">eLife
      Sciences Publications, Ltd.</crm-item>\r\n        <crm-item name=\"member-id\"
      type=\"number\">4374</crm-item>\r\n        <crm-item name=\"citation-id\" type=\"number\">67124617</crm-item>\r\n
      \       <crm-item name=\"journal-id\" type=\"number\">189365</crm-item>\r\n
      \       <crm-item name=\"deposit-timestamp\" type=\"number\">20180823133646</crm-item>\r\n
      \       <crm-item name=\"owner-prefix\" type=\"string\">10.7554</crm-item>\r\n
      \       <crm-item name=\"last-update\" type=\"date\">2023-10-12T00:43:13Z</crm-item>\r\n
      \       <crm-item name=\"created\" type=\"date\">2014-02-11T16:29:04Z</crm-item>\r\n
      \       <crm-item name=\"citedby-count\" type=\"number\">31</crm-item>\r\n        <crm-item
      name=\"relation\" type=\"doi\" claim=\"isReviewOf\">10.7554/eLife.01567.017</crm-item>\r\n
      \       <crm-item name=\"relation\" type=\"doi\" claim=\"isReviewOf\">10.7554/eLife.01567.016</crm-item>\r\n
      \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
      xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
      \           <journal>\r\n              <journal_metadata language=\"en\">\r\n
      \               <full_title>eLife</full_title>\r\n                <issn media_type=\"electronic\">2050-084X</issn>\r\n
      \             </journal_metadata>\r\n              <journal_issue>\r\n                <publication_date
      media_type=\"online\">\r\n                  <month>02</month>\r\n                  <day>11</day>\r\n
      \                 <year>2014</year>\r\n                </publication_date>\r\n
      \               <journal_volume>\r\n                  <volume>3</volume>\r\n
      \               </journal_volume>\r\n              </journal_issue>\r\n              <journal_article
      publication_type=\"full_text\" reference_distribution_opts=\"any\">\r\n                <titles>\r\n
      \                 <title>Automated quantitative histology reveals vascular morphodynamics
      during Arabidopsis hypocotyl secondary growth</title>\r\n                </titles>\r\n
      \               <contributors>\r\n                  <person_name contributor_role=\"author\"
      sequence=\"first\">\r\n                    <given_name>Martial</given_name>\r\n
      \                   <surname>Sankar</surname>\r\n                    <affiliation>Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland</affiliation>\r\n
      \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
      sequence=\"additional\">\r\n                    <given_name>Kaisa</given_name>\r\n
      \                   <surname>Nieminen</surname>\r\n                    <affiliation>Department
      of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland</affiliation>\r\n
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.7554
  response:
    content: "[\n  {\n    \"DOI\": \"10.7554\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
