interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1890/0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
  response:
    body:
      string: '{"id":"https://openalex.org/W2030857676","doi":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","title":"THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES","display_name":"THE IMPACT OF PARASITE MANIPULATION AND PREDATOR
        FORAGING BEHAVIOR ON PREDATOR\u2013PREY COMMUNITIES","publication_year":2006,"publication_date":"2006-11-01","ids":{"openalex":"https://openalex.org/W2030857676","doi":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","mag":"2030857676","pmid":"https://pubmed.ncbi.nlm.nih.gov/17168027"},"language":"en","primary_location":{"id":"doi:10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","is_oa":false,"landing_page_url":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","pdf_url":null,"source":{"id":"https://openalex.org/S35917800","display_name":"Ecology","issn_l":"0012-9658","issn":["0012-9658","1939-9170"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320595","host_organization_name":"Wiley","host_organization_lineage":["https://openalex.org/P4310320595"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Ecology","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5049804351","display_name":"Andy
        Fenton","orcid":"https://orcid.org/0000-0002-7676-917X"},"institutions":[{"id":"https://openalex.org/I146655781","display_name":"University
        of Liverpool","ror":"https://ror.org/04xs57h96","country_code":"GB","type":"education","lineage":["https://openalex.org/I146655781"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"A.
        Fenton","raw_affiliation_strings":["School of Biological Sciences, Crown Street,
        University of Liverpool, Liverpool L69 7ZB, UK"],"affiliations":[{"raw_affiliation_string":"School
        of Biological Sciences, Crown Street, University of Liverpool, Liverpool L69
        7ZB, UK","institution_ids":["https://openalex.org/I146655781"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5000784448","display_name":"Sean
        A. Rands","orcid":"https://orcid.org/0000-0002-7400-005X"},"institutions":[{"id":"https://openalex.org/I241749","display_name":"University
        of Cambridge","ror":"https://ror.org/013meh722","country_code":"GB","type":"education","lineage":["https://openalex.org/I241749"]},{"id":"https://openalex.org/I23923803","display_name":"University
        of Exeter","ror":"https://ror.org/03yghzc09","country_code":"GB","type":"education","lineage":["https://openalex.org/I23923803"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"S.
        A. Rands","raw_affiliation_strings":["Centre for Ecology and Conservation,
        University of Exeter in Cornwall, Tremough Campus, Penryn, Cornwall TR10 9EZ
        UK","Department of Zoology, University of Cambridge, Downing Street, Cambridge
        CB2 3EJ UK"],"affiliations":[{"raw_affiliation_string":"Centre for Ecology
        and Conservation, University of Exeter in Cornwall, Tremough Campus, Penryn,
        Cornwall TR10 9EZ UK","institution_ids":["https://openalex.org/I23923803"]},{"raw_affiliation_string":"Department
        of Zoology, University of Cambridge, Downing Street, Cambridge CB2 3EJ UK","institution_ids":["https://openalex.org/I241749"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":2,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":{"value":3600,"currency":"USD","value_usd":3600},"apc_paid":null,"fwci":2.37860828,"has_fulltext":false,"cited_by_count":127,"citation_normalized_percentile":{"value":0.8746692,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":96,"max":100},"biblio":{"volume":"87","issue":"11","first_page":"2832","last_page":"2841"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11764","display_name":"Evolution
        and Genetic Dynamics","score":0.9991999864578247,"subfield":{"id":"https://openalex.org/subfields/1311","display_name":"Genetics"},"field":{"id":"https://openalex.org/fields/13","display_name":"Biochemistry,
        Genetics and Molecular Biology"},"domain":{"id":"https://openalex.org/domains/1","display_name":"Life
        Sciences"}},"topics":[{"id":"https://openalex.org/T11764","display_name":"Evolution
        and Genetic Dynamics","score":0.9991999864578247,"subfield":{"id":"https://openalex.org/subfields/1311","display_name":"Genetics"},"field":{"id":"https://openalex.org/fields/13","display_name":"Biochemistry,
        Genetics and Molecular Biology"},"domain":{"id":"https://openalex.org/domains/1","display_name":"Life
        Sciences"}},{"id":"https://openalex.org/T10815","display_name":"Parasite Biology
        and Host Interactions","score":0.9965000152587891,"subfield":{"id":"https://openalex.org/subfields/2303","display_name":"Ecology"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T10482","display_name":"Mathematical
        and Theoretical Epidemiology and Ecology Models","score":0.9958000183105469,"subfield":{"id":"https://openalex.org/subfields/2739","display_name":"Public
        Health, Environmental and Occupational Health"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/predation","display_name":"Predation","score":0.883568286895752},{"id":"https://openalex.org/keywords/foraging","display_name":"Foraging","score":0.8645073175430298},{"id":"https://openalex.org/keywords/predator","display_name":"Predator","score":0.8537764549255371},{"id":"https://openalex.org/keywords/biology","display_name":"Biology","score":0.6932148337364197},{"id":"https://openalex.org/keywords/ecology","display_name":"Ecology","score":0.683428168296814},{"id":"https://openalex.org/keywords/population","display_name":"Population","score":0.6701532602310181},{"id":"https://openalex.org/keywords/functional-response","display_name":"Functional
        response","score":0.5095146298408508},{"id":"https://openalex.org/keywords/affect","display_name":"Affect
        (linguistics)","score":0.4109839200973511},{"id":"https://openalex.org/keywords/communication","display_name":"Communication","score":0.06010255217552185},{"id":"https://openalex.org/keywords/psychology","display_name":"Psychology","score":0.04491913318634033}],"concepts":[{"id":"https://openalex.org/C188382862","wikidata":"https://www.wikidata.org/wiki/Q170430","display_name":"Predation","level":2,"score":0.883568286895752},{"id":"https://openalex.org/C165287380","wikidata":"https://www.wikidata.org/wiki/Q2916569","display_name":"Foraging","level":2,"score":0.8645073175430298},{"id":"https://openalex.org/C96857902","wikidata":"https://www.wikidata.org/wiki/Q2138108","display_name":"Predator","level":3,"score":0.8537764549255371},{"id":"https://openalex.org/C86803240","wikidata":"https://www.wikidata.org/wiki/Q420","display_name":"Biology","level":0,"score":0.6932148337364197},{"id":"htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2323339614%7Chttps://openalex.org/W1978948864%7Chttps://openalex.org/W2327283857%7Chttps://openalex.org/W1972881813%7Chttps://openalex.org/W2136455985%7Chttps://openalex.org/W2037767971%7Chttps://openalex.org/W2050132402%7Chttps://openalex.org/W2014427936%7Chttps://openalex.org/W1979041167%7Chttps://openalex.org/W1987851547%7Chttps://openalex.org/W2326315195%7Chttps://openalex.org/W2078931623%7Chttps://openalex.org/W2167688681%7Chttps://openalex.org/W1985504296%7Chttps://openalex.org/W1969027200%7Chttps://openalex.org/W1995509319%7Chttps://openalex.org/W2017445818%7Chttps://openalex.org/W2077634599%7Chttps://openalex.org/W6940713498%7Chttps://openalex.org/W2030540141%7Chttps://openalex.org/W2116112113%7Chttps://openalex.org/W1977265843%7Chttps://openalex.org/W2010365240%7Chttps://openalex.org/W2086664872%7Chttps://openalex.org/W2092035449%7Chttps://openalex.org/W2055936743%7Chttps://openalex.org/W2057179405%7Chttps://openalex.org/W2066381299%7Chttps://openalex.org/W2077570704%7Chttps://openalex.org/W2013240542%7Chttps://openalex.org/W2106312265%7Chttps://openalex.org/W2066168917%7Chttps://openalex.org/W2078479296%7Chttps://openalex.org/W2110992801%7Chttps://openalex.org/W2082589468%7Chttps://openalex.org/W603847685%7Chttps://openalex.org/W1529696134
  response:
    body:
      string: '{"meta":{"count":35,"db_response_time_ms":19,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W1969027200","doi":"https://doi.org/10.4039/ent91385-7","title":"Some
        Characteristics of Simple Types of Predation and Parasitism","display_name":"Some
        Characteristics of Simple Types of Predation and Parasitism","publication_year":1959,"publication_date":"1959-07-01","ids":{"openalex":"https://openalex.org/W1969027200","doi":"https://doi.org/10.4039/ent91385-7","mag":"1969027200"},"language":"en","primary_location":{"id":"doi:10.4039/ent91385-7","is_[...]
