interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.7600/jspfsm.56.60
  response:
    body:
      string: '{"id":"https://openalex.org/W4230972471","doi":"https://doi.org/10.7600/jspfsm.56.60","title":"","display_name":"","publication_year":2007,"publication_date":"2007-01-01","ids":{"openalex":"https://openalex.org/W4230972471","doi":"https://doi.org/10.7600/jspfsm.56.60"},"language":"en","primary_location":{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":true,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"diamond","oa_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","any_repository_has_fulltext":false},"authorships":[],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":"56","issue":"1","first_page":"60","last_page":"60"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":null,"topics":[],"keywords":[{"id":"https://openalex.org/keywords/medicine","display_name":"Medicine","score":0.34171828627586365}],"concepts":[{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":0.34171828627586365}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":true,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"}],"best_oa_location":{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":true,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"},"sustainable_development_goals":[],"grants":[],"awards":[],"funders":[],"has_content":{"pdf":true,"grobid_xml":true},"referenced_works_count":7,"referenced_works":["https://openalex.org/W2120303646","https://openalex.org/W2112400936","https://openalex.org/W2158316475","https://openalex.org/W2012969618","https://openalex.org/W1973663776","https://openalex.org/W2042622458","https://openalex.org/W2080813701"],"related_works":["https://openalex.org/W2899084033","https://openalex.org/W2748952813","https://openalex.org/W3031052312","https://openalex.org/W3032375762","https://openalex.org/W1995515455","https://openalex.org/W2080531066","https://openalex.org/W3108674512","https://openalex.org/W1506200166","https://openalex.org/W2048182022","https://openalex.org/W2604872355"],"abstract_inverted_index":null,"counts_by_year":[],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2022-05-11T00:00:00"}

        '
    headers:
      Content-Type:
      - application/json
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '9'
      RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2120303646%7Chttps://openalex.org/W2112400936%7Chttps://openalex.org/W2158316475%7Chttps://openalex.org/W2012969618%7Chttps://openalex.org/W1973663776%7Chttps://openalex.org/W2042622458%7Chttps://openalex.org/W2080813701
  response:
    body:
      string: '{"meta":{"count":7,"db_response_time_ms":13,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2112400936","doi":"https://doi.org/10.1126/science.6166045","title":"Power
        Spectrum Analysis of Heart Rate Fluctuation: A Quantitative Probe of Beat-to-Beat
        Cardiovascular Control","display_name":"Power Spectrum Analysis of Heart Rate
        Fluctuation: A Quantitative Probe of Beat-to-Beat Cardiovascular Control","publication_year":1981,"publication_date":"1981-07-10","ids":{"openalex":"https://openalex.org/W2112400936","doi":"https://doi.org/10.1126/science.6166045","mag":"2112400936","pmid":"https://pubmed.ncbi.nlm.nih.gov/6166045"},"language":"en","primary_location":{"id":"doi:10.1126/science.6166045","is_oa":false,"landing_page_url":"https://doi.org/10.1126/science.6166045","pdf_url":null,"source":{"id":"https://openalex.org/S3880285","display_name":"Science","issn_l":"0036-8075","issn":["0036-8075","1095-9203"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310315823","host_organization_name":"American
        Association for the Advancement of Science","host_organization_lineage":["https://openalex.org/P4310315823"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Science","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5012889227","display_name":"S.
        Akselrod","orcid":null},"institutions":[{"id":"https://openalex.org/I4210092658","display_name":"Harvard\u2013MIT
        Division of Health Sciences and Technology","ror":"https://ror.org/00jjeh629","country_code":"US","type":"education","lineage":["https://openalex.org/I4210092658"]},{"id":"https://openalex.org/I63966007","display_name":"Massachusetts
        Institute of Technology","ror":"https://ror.org/042nb2s44","country_code":"US","type":"education","lineage":["https://openalex.org/I63966007"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Solange
        Akselrod","raw_affiliation_strings":["Harvard-MIT Division of Health Sciences
        and Technology and Department of Physics, Massachusetts Institute of Technology,
        Cambridge 02139"],"affiliations":[{"raw_affiliation_string":"Harvard-MIT Division
        of Health Sciences and Technology and Department of Physics, Massachusetts
        Institute of Technology, Cambridge 02139","institution_ids":["https://openalex.org/I4210092658","https://openalex.org/I63966007"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5084945359","display_name":"David
        Gordon","orcid":"https://orcid.org/0000-0002-9764-1968"},"institutions":[{"id":"https://openalex.org/I4210087915","display_name":"Massachusetts
        General Hospital","ror":"https://ror.org/002pd6e78","country_code":"US","type":"healthcare","lineage":["https://openalex.org/I4210087915","https://openalex.org/I486334[...]
