interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.7554/elife.01567
  response:
    body:
      string: '{"id":"https://openalex.org/W2121398592","doi":"https://doi.org/10.7554/elife.01567","title":"Automated
        quantitative histology reveals vascular morphodynamics during Arabidopsis
        hypocotyl secondary growth","display_name":"Automated quantitative histology
        reveals vascular morphodynamics during Arabidopsis hypocotyl secondary growth","publication_year":2014,"publication_date":"2014-02-11","ids":{"openalex":"https://openalex.org/W2121398592","doi":"https://doi.org/10.7554/elife.01567","mag":"2121398592","pmid":"https://pubmed.ncbi.nlm.nih.gov/24520159"},"language":"en","primary_location":{"id":"doi:10.7554/elife.01567","is_oa":true,"landing_page_url":"https://doi.org/10.7554/elife.01567","pdf_url":null,"source":{"id":"https://openalex.org/S1336409049","display_name":"eLife","issn_l":"2050-084X","issn":["2050-084X"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310311710","host_organization_name":"eLife
        Sciences Publications Ltd","host_organization_lineage":["https://openalex.org/P4310311710"],"host_organization_lineage_names":["eLife
        Sciences Publications Ltd"],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"eLife","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.7554/elife.01567","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5044224796","display_name":"Martial
        Sankar","orcid":null},"institutions":[{"id":"https://openalex.org/I97565354","display_name":"University
        of Lausanne","ror":"https://ror.org/019whta54","country_code":"CH","type":"education","lineage":["https://openalex.org/I97565354"]}],"countries":["CH"],"is_corresponding":false,"raw_author_name":"Martial
        Sankar","raw_affiliation_strings":["Department of Plant Molecular Biology,
        University of Lausanne, Lausanne, Switzerland"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland","institution_ids":["https://openalex.org/I97565354"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5048302346","display_name":"Kaisa
        Nieminen","orcid":"https://orcid.org/0000-0001-7004-9422"},"institutions":[{"id":"https://openalex.org/I97565354","display_name":"University
        of Lausanne","ror":"https://ror.org/019whta54","country_code":"CH","type":"education","lineage":["https://openalex.org/I97565354"]}],"countries":["CH"],"is_corresponding":false,"raw_author_name":"Kaisa
   [...]
