interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.2737/rds-2018-0001
  response:
    body:
      string: '{"id":"https://openalex.org/W4240386948","doi":"https://doi.org/10.2737/rds-2018-0001","title":"Fledging
        times of grassland birds","display_name":"Fledging times of grassland birds","publication_year":2017,"publication_date":"2017-08-09","ids":{"openalex":"https://openalex.org/W4240386948","doi":"https://doi.org/10.2737/rds-2018-0001"},"language":"en","primary_location":{"id":"doi:10.2737/rds-2018-0001","is_oa":false,"landing_page_url":"https://doi.org/10.2737/rds-2018-0001","pdf_url":null,"source":{"id":"https://openalex.org/S4363604571","display_name":"Forest
        Service Research Data Archive","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[null],"host_organization_lineage_names":[],"type":"repository"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Forest
        Service Research Data Archive","raw_type":"dataset"},"type":"dataset","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5078612246","display_name":"Christine
        A. Ribic","orcid":"https://orcid.org/0000-0003-2583-1778"},"institutions":[{"id":"https://openalex.org/I1286329397","display_name":"United
        States Geological Survey","ror":"https://ror.org/035a68863","country_code":"US","type":"government","lineage":["https://openalex.org/I1286329397","https://openalex.org/I1335927249"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Christine
        A. Ribic","raw_affiliation_strings":["U.S. Geological Survey"],"affiliations":[{"raw_affiliation_string":"U.S.
        Geological Survey","institution_ids":["https://openalex.org/I1286329397"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5083742572","display_name":"Pamela
        J. Pietz","orcid":"https://orcid.org/0000-0003-4606-044X"},"institutions":[{"id":"https://openalex.org/I1286329397","display_name":"United
        States Geological Survey","ror":"https://ror.org/035a68863","country_code":"US","type":"government","lineage":["https://openalex.org/I1286329397","https://openalex.org/I1335927249"]}],"countries":["US"],"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W6948539076%7Chttps://openalex.org/W2549402100%7Chttps://openalex.org/W2151508805%7Chttps://openalex.org/W1987380253%7Chttps://openalex.org/W2730750411
  response:
    body:
      string: '{"meta":{"count":4,"db_response_time_ms":9,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2151508805","doi":"https://doi.org/10.1642/0004-8038(2005)122[0618:eabngb]2.0.co;2","title":"EDGE
        AVOIDANCE BY NESTING GRASSLAND BIRDS: A FUTILE STRATEGY IN A FRAGMENTED LANDSCAPE","display_name":"EDGE
        AVOIDANCE BY NESTING GRASSLAND BIRDS: A FUTILE STRATEGY IN A FRAGMENTED LANDSCAPE","publication_year":2005,"publication_date":"2005-01-01","ids":{"openalex":"https://openalex.org/W2151508805","doi":"https://doi.org/10.1642/0004-8038(2005)122[0618:eabngb]2.0.co;2","mag":"2151508805"},"language":"en","primary_location":{"id":"doi:10.1642/0004-8038(2005)122[0618:eabngb]2.0.co;2","is_oa":false,"landing_page_url":"https://doi.org/10.1642/0004-8038(2005)122[0618:eabngb]2.0.co;2","pdf_url":null,"source":{"id":"https://openalex.org/S152904045","display_name":"The
        Auk","issn_l":"0004-8038","issn":["0004-8038","1938-4254"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310311648","host_organization_name":"Oxford
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/funders?filter=ids.openalex:F4320332478
  response:
    body:
      string: '{"meta":{"count":1,"db_response_time_ms":2,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/F4320332478","display_name":"U.S.
        Forest Service","alternate_titles":["USDA Forest Service","US Forest Service","Forest
        Service","FS","United States Forest Service","USFS"],"country_code":"US","description":"agency
        of the U.S. Department of Agriculture","homepage_url":"https://www.fs.usda.gov","image_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/US
        Forest Service.png","image_thumbnail_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/US
        Forest Service.png&width=300","awards_count":959,"works_count":13570,"cited_by_count":667873,"summary_stats":{"2yr_mean_citedness":4.973875181422351,"h_index":276,"i10_index":10013},"ids":{"openalex":"https://openalex.org/F4320332478","ror":"https://ror.org/03zmjc935","wikidata":"https://www.wikidata.org/entity/Q1891156","crossref":"100006959","doi":"10.13039/100006959"},"counts_by_year":[{"year":2025,"works_count":173,"oa_works_count":101,"cited_by_count":152},{"year":2024,"works_count":258,"oa_works_count":155,"cited_by_count":1052},{"year":2023,"works_count":258,"oa_works_count":168,"cited_by_count":2223},{"year":2022,"works_count":293,"oa_works_count":186,"cited_by_count":4137},{"year":2021,"works_count":329,"oa_works_count":215,"cited_by_count":6169},{"year":2020,"works_count":336,"oa_works_count":188,"cited_by_count":11174},{"year":2019,"works_count":497,"oa_works_count":221,"cited_by_count":14906},{"year":2018,"works_co[...]
