interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.3389/fpls.2019.00816
  response:
    body:
      string: '{"id":"https://openalex.org/W2955786964","doi":"https://doi.org/10.3389/fpls.2019.00816","title":"Transcriptional
        Modulation of Polyamine Metabolism in Fruit Species Under Abiotic and Biotic
        Stress","display_name":"Transcriptional Modulation of Polyamine Metabolism
        in Fruit Species Under Abiotic and Biotic Stress","publication_year":2019,"publication_date":"2019-07-02","ids":{"openalex":"https://openalex.org/W2955786964","doi":"https://doi.org/10.3389/fpls.2019.00816","mag":"2955786964","pmid":"https://pubmed.ncbi.nlm.nih.gov/31333688"},"language":"en","primary_location":{"id":"doi:10.3389/fpls.2019.00816","is_oa":true,"landing_page_url":"https://doi.org/10.3389/fpls.2019.00816","pdf_url":null,"source":{"id":"https://openalex.org/S2493613807","display_name":"Frontiers
        in Plant Science","issn_l":"1664-462X","issn":["1664-462X"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310320527","host_organization_name":"Frontiers
        Media","host_organization_lineage":["https://openalex.org/P4310320527"],"host_organization_lineage_names":["Frontiers
        Media"],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Frontiers
        in Plant Science","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.3389/fpls.2019.00816","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5045608907","display_name":"Ana
        Margarida Fortes","orcid":"https://orcid.org/0000-0001-7552-0164"},"institutions":[{"id":"https://openalex.org/I141596103","display_name":"University
        of Lisbon","ror":"https://ror.org/01c27hj86","country_code":"PT","type":"education","lineage":["https://openalex.org/I141596103"]}],"countries":["PT"],"is_corresponding":true,"raw_author_name":"Ana
        Margarida Fortes","raw_affiliation_strings":["Faculdade de Ci\u00eancias de
        Lisboa, Department of Plant Biology, Biosystems and Integrative Sciences Institute,
        Universidade de Lisboa, Lisbon, Portugal"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Faculdade
        de Ci\u00eancias de Lisboa, Department of Plant Biology, Biosystems and Integrative
        Sciences Institute, Universidade de Lisboa, Lisbon, Portugal","institution_ids":["https://openalex.org/I141596103"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5046545741","display_name":"Patricia
        Agudelo\u2010Romero","orcid":"https://orcid.org/0000-0002-3703-4111"},"institutions":[{"id":"https://openalex.org/I175234967","display_name":"The
        Kids Research Institute Australia","ror":"https://ror.org/01dbmzx78","country_code":"AU","type":"nonprofit","lineage":["https://openalex.org/I175234967"]},{"id":"https://openalex.org/I177877127","[...]
