interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.3934/nhm.2009.4.249
  response:
    body:
      string: '{"id":"https://openalex.org/W2054094521","doi":"https://doi.org/10.3934/nhm.2009.4.249","title":"A
        Hamiltonian perspective to thestabilization of systems of two conservation
        laws","display_name":"A Hamiltonian perspective to thestabilization of systems
        of two conservation laws","publication_year":2009,"publication_date":"2009-01-01","ids":{"openalex":"https://openalex.org/W2054094521","doi":"https://doi.org/10.3934/nhm.2009.4.249","mag":"2054094521"},"language":"en","primary_location":{"id":"doi:10.3934/nhm.2009.4.249","is_oa":true,"landing_page_url":"https://doi.org/10.3934/nhm.2009.4.249","pdf_url":"https://www.aimsciences.org/data/article/export-pdf?id=bbb0cb07-6043-46cb-a9fd-d29359dc76af","source":{"id":"https://openalex.org/S21752972","display_name":"Networks
        and Heterogeneous Media","issn_l":"1556-1801","issn":["1556-1801","1556-181X"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310315844","host_organization_name":"American
        Institute of Mathematical Sciences","host_organization_lineage":["https://openalex.org/P4310315844"],"host_organization_lineage_names":["American
        Institute of Mathematical Sciences"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Networks
        &amp; Heterogeneous Media","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://www.aimsciences.org/data/article/export-pdf?id=bbb0cb07-6043-46cb-a9fd-d29359dc76af","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5105354773","display_name":"Val\u00e9rie
        dos Santos","orcid":"https://orcid.org/0009-0008-5647-4519"},"institutions":[{"id":"https://openalex.org/I4210143168","display_name":"Laboratoire
        d''Automatique, de G\u00e9nie des Proc\u00e9d\u00e9s et de G\u00e9nie Pharmaceutique","ror":"https://ror.org/03kfjwy31","country_code":"FR","type":"facility","lineage":["https://openalex.org/I100532134","https://openalex.org/I1294671590","https://openalex.org/I1294671590","https://openalex.org/I203339264","https://openalex.org/I4210095849","https://openalex.org/I4210143168","https://openalex.org/I59692284"]}],"countries":["FR"],"is_corresponding":false,"raw_author_name":"Val\u00e9rie
        Dos Santos","raw_affiliation_strings":["Laboratoire d''automatique et de g\u00e9nie
        des proc\u00e9d\u00e9s"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Laboratoire
        d''automatique et de g\u00e9nie des proc\u00e9d\u00e9s","institution_ids":["https://openalex.org/I4210143168"]}]},{"author_position":"middle","author":{"id":null,"display_name":",LAGEP,
        Universit\u00e9 de Lyon, Lyon, F-69003","orcid":null},"institutions":[{"id":"https://openalex.org/I4210143168","display_name":"Laboratoire
        d''Automatique, de G\u00e9nie des Proc\u00e9d\u00e9s et de G\u00e9nie Pharmaceutique","ror":"https://ror.org/03kfjwy31","country_code":"FR","type":"facility","lineage":["https://openalex.org/I100532134","https://openalex.org/I1294671[...]
