interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1371/journal.pone.0000030
  response:
    body:
      string: '{"id":"https://openalex.org/W1982728624","doi":"https://doi.org/10.1371/journal.pone.0000030","title":"Triose
        Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not
        Catalytic Inactivity\u2013of the Mutant Enzymes","display_name":"Triose Phosphate
        Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not Catalytic
        Inactivity\u2013of the Mutant Enzymes","publication_year":2006,"publication_date":"2006-12-20","ids":{"openalex":"https://openalex.org/W1982728624","doi":"https://doi.org/10.1371/journal.pone.0000030","mag":"1982728624","pmid":"https://pubmed.ncbi.nlm.nih.gov/17183658"},"language":"en","primary_location":{"id":"doi:10.1371/journal.pone.0000030","is_oa":true,"landing_page_url":"https://doi.org/10.1371/journal.pone.0000030","pdf_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0000030&type=printable","source":{"id":"https://openalex.org/S202381698","display_name":"PLoS
        ONE","issn_l":"1932-6203","issn":["1932-6203"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310315706","host_organization_name":"Public
        Library of Science","host_organization_lineage":["https://openalex.org/P4310315706"],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"PLoS
        ONE","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0000030&type=printable","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5070892021","display_name":"Markus
        Ralser","orcid":"https://orcid.org/0000-0001-9535-7413"},"institutions":[{"id":"https://openalex.org/I4210142260","display_name":"Max
        Planck Institute for Molecular Genetics","ror":"https://ror.org/03ate3e03","country_code":"DE","type":"facility","lineage":["https://openalex.org/I149899117","https://openalex.org/I4210142260"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Markus
        Ralser","raw_affiliation_strings":["Max Planck Institute  for Molecular Genetics,
        Berlin, Germany"],"affiliations":[{"raw_affiliation_string":"Max Planck Institute  for
        Molecular Genetics, Berlin, Germany","institution_ids":["https://openalex.org/I4210142260"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5074494523","display_name":"Gino
        Heeren","orcid":null},"institutions":[{"id":"https://openalex.org/I182212641","display_name":"University
        of Salzburg","ror":"https://ror.org/05gs8cd61","country_code":"AT","type":"education","lineage":["https://openalex.org/I182212641"]}],"countries":["AT"],"is_corresponding":false,"raw_author_name":"Gino
        Heeren","raw_affiliation_strin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2614566541%7Chttps://openalex.org/W2119588189%7Chttps://openalex.org/W2052593018%7Chttps://openalex.org/W2141794617%7Chttps://openalex.org/W2287558237%7Chttps://openalex.org/W1523168833%7Chttps://openalex.org/W1979431972%7Chttps://openalex.org/W2072355715%7Chttps://openalex.org/W2055498571%7Chttps://openalex.org/W1517816913%7Chttps://openalex.org/W1990476219%7C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2121702473%7Chttps://openalex.org/W2070046033%7Chttps://openalex.org/W2004927266%7Chttps://openalex.org/W1996923837%7Chttps://openalex.org/W1502341663%7Chttps://openalex.org/W2008849095%7Chttps://openalex.org/W1965991219%7Chttps://openalex.org/W1986091023%7Chttps://openalex.org/W2065891457%7Chttps://openalex.org/W2319101463%7Chttps://openalex.org/W2015970511%7Chttps://openalex.org/W2083542001%7Chttps://openalex.org/W2009082798%7Chttps://openalex.org/W1563653502%7Chttps://openalex.org/W2150164025%7Chttps://openalex.org/W2160219722%7Chttps://openalex.org/W2049940876%7Chttps://openalex.org/W2048786809%7Chttps://openalex.org/W2138454633%7Chttps://openalex.org/W2084518663%7Chttps://openalex.org/W1497947681%7Chttps://openalex.org/W2083545598%7Chttps://openalex.org/W2149286152%7Chttps://openalex.org/W2069981583%7Chttps://openalex.org/W1965732133%7Chttps://openalex.org/W2080325881%7Chttps://openalex.org/W1482426105
  response:
    body:
      string: '{"meta":{"count":27,"db_response_time_ms":23,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2121702473","doi":"https://doi.org/10.1083/jcb.145.4.757","title":"Oxygen
        Stress: A Regulator of Apoptosis in Yeast","display_name":"Oxygen Stress:
        A Regulator of Apoptosis in Yeast","publication_year":1999,"publication_date":"1999-05-17","ids":{"openalex":"https://openalex.org/W2121702473","doi":"https://doi.org/10.1083/jcb.145.4.757","mag":"2121702473","pmid":"https://pubmed.ncbi.nlm.nih.gov/10330404"},"language":"en","primary_location":{"id":"doi:10.1083/jcb.145.4.757","is_oa":true,"landing_page_url":"https://doi.org/10.1083/jcb.145.4.757","pdf_url":"http://jcb.ru[...]
