interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=1
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 107, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works sample 1", "oqo": {"get_rows":
        "works", "sample": 1}, "url": "/works?sample=1"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W7152634373", "doi": "https://doi.org/10.3535/jf0-6x9-kpw",
        "title": "Riccardia latifrons (Lindb.) Lindb.", "display_name": "Riccardia
        latifrons (Lindb.) Lindb.", "relevance_score": 0.99999994, "publication_year":
        2026, "publication_date": "2026-04-01", "ids": {"openalex": "https://openalex.org/W7152634373",
        "doi": "https://doi.org/10.3535/jf0-6x9-kpw"}, "language": null, "primary_location":
        {"id": "doi:10.3535/jf0-6x9-kpw", "is_oa": true, "landing_page_url": "https://doi.org/10.3535/jf0-6x9-kpw",
        "pdf_url": null, "source": {"id": "https://openalex.org/S7407053449", "display_name":
        "DiSSCo", "issn_l": null, "issn": [], "is_oa": false, "is_in_doaj": false,
        "is_core": false, "host_organization": null, "host_organization_name": null,
        "host_organization_lineage": [], "host_organization_lineage_names": [], "type":
        "repository"}, "license": "public-domain", "license_id": "https://openalex.org/licenses/public-domain",
        "version": null, "is_accepted": false, "is_published": false, "raw_source_name":
        null, "raw_type": "Dataset"}, "type": "dataset", "indexed_in": ["datacite"],
        "open_access": {"is_oa": true, "oa_status": "green", "oa_url": "https://doi.org/10.3535/jf0-6x9-kpw",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5133259833", "display_name":
        "University of Gothenburg", "orcid": null}, "institutions": [], "countries":
        [], "is_corresponding": true, "raw_author_name": "University of Gothenburg",
        "raw_affiliation_strings": [], "raw_orcid": null, "affiliations": []}], "institutions":
        [], "countries_distinct_count": 0, "institutions_distinct_count": 0, "corresponding_author_ids":
        ["https://openalex.org/A5133259833"], "corresponding_institution_ids": [],
        "apc_list": null, "apc_paid": null, "fwci": null, "has_fulltext": false, "cited_by_count":
        0, "citation_normalized_percentile": null, "cited_by_percentile_year": null,
        "biblio": {"volume": null, "issue": null, "first_page": null, "last_page":
        null}, "is_retracted": false, "is_paratext": false, "is_xpac": false, "primary_topic":
        null, "topics": [], "keywords": [], "concepts": [], "mesh": [], "locations_count":
        1, "locations": [{"id": "doi:10.3535/jf0-6x9-kpw", "is_oa": true, "landing_page_url":
        "https://doi.org/10.3535/jf0-6x9-kpw", "pdf_url": null, "source": {"id": "https://openalex.org/S7407053449",
        "display_name": "DiSSCo", "issn_l": null, "issn": [], "is_oa": false, "is_in_doaj":
        false, "is_core": false, "host_organization": null, "host_organization_name":
        null, "host_organization_lineage": [], "host_organization_lineage_names":
        [], "type": "repository"}, "license": "public-domain", "license_id": "https://openalex.org/licenses/public-domain",
        "version": null, "is_accepted": false, "is_published": null, "raw_source_name":
        null, "raw_type": "Dataset"}], "best_oa_location": {"id": "doi:10.3535/jf0-6x9-kpw",
        "is_oa": true, "landing_page_url": "https://doi.org/10.3535/jf0-6x9-kpw",
        "pdf_url": null, "source": {"id": "https://openalex.org/S7407053449", "display_name":
        "DiSSCo", "issn_l": null, "issn": [], "is_oa": false, "is_in_doaj": false,
        "is_core": false, "host_organization": null, "host_organization_name": null,
        "host_organization_lineage": [], "host_organization_lineage_names": [], "type":
        "repository"}, "license": "public-domain", "license_id": "https://openalex.org/licenses/public-domain",
        "version": null, "is_accepted": false, "is_published": false, "raw_source_name":
        null, "raw_type": "Dataset"}, "sustainable_development_goals": [], "awards":
        [], "funders": [], "has_content": {"grobid_xml": false, "pdf": false}, "content_urls":
        null, "referenced_works_count": 0, "referenced_works": [], "related_works":
        [], "abstract_inverted_index": null, "counts_by_year": [], "updated_date":
        "2026-07-01T06:00:48.157686", "created_date": "2026-04-10T00:00:00"}], "group_by":
        []}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Cost-USD:
      - '0.0001'
      X-RateLimit-Credits-Used:
      - '1'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Limit-USD:
      - '0.1'
      X-RateLimit-Onetime-Remaining:
      - '0'
      X-RateLimit-Prepaid-Remaining-USD:
      - '0'
      X-RateLimit-Remaining:
      - '973'
      X-RateLimit-Remaining-USD:
      - '0.0973'
      X-RateLimit-Reset:
      - '64136'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=5
  response:
    body:
      string: '{"meta": {"count": 5, "db_response_time_ms": 112, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works sample 5", "oqo": {"get_rows":
        "works", "sample": 5}, "url": "/works?sample=5"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2600965442", "doi": null, "title": "Patriotism
        as criterion of changes of transition political process: problems on the way
        to information society", "display_name": "Patriotism as criterion of changes
        of transition political process: problems on the way to information society",
        "relevance_score": 0.99999994, "publication_year": 2015, "publication_date":
        "2015-01-01", "ids": {"openalex": "https://openalex.org/W2600965442", "mag":
        "2600965442"}, "language": "en", "primary_location": {"id": "mag:2600965442",
        "is_oa": false, "landing_page_url": "https://publications.hse.ru/en/articles/149359569",
        "pdf_url": null, "source": {"id": "https://openalex.org/S4306538310", "display_name":
        "\u0411\u0438\u0437\u043d\u0435\u0441. \u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e.
        \u0412\u043b\u0430\u0441\u0442\u044c", "issn_l": null, "issn": null, "is_oa":
        false, "is_in_doaj": false, "is[...]
