interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1017/9781108348843
  response:
    body:
      string: '{"id":"https://openalex.org/W97658052","doi":"https://doi.org/10.1017/9781108348843","title":"The
        Politics of the Past in Early China","display_name":"The Politics of the Past
        in Early China","publication_year":2019,"publication_date":"2019-07-01","ids":{"openalex":"https://openalex.org/W97658052","doi":"https://doi.org/10.1017/9781108348843","mag":"97658052"},"language":"en","primary_location":{"id":"doi:10.1017/9781108348843","is_oa":true,"landing_page_url":"https://doi.org/10.1017/9781108348843","pdf_url":"https://www.cambridge.org/core/services/aop-cambridge-core/content/view/64EA64CE425951C77D90340A7F5AE534/9781108425728c1_20-74.pdf/time_out_of_joint.pdf","source":{"id":"https://openalex.org/S4306462995","display_name":"Cambridge
        University Press eBooks","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4310311721","host_organization_name":"Cambridge
        University Press","host_organization_lineage":["https://openalex.org/P4310311721"],"host_organization_lineage_names":[],"type":"ebook
        platform"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":null,"raw_type":"monograph"},"type":"book","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://www.cambridge.org/core/services/aop-cambridge-core/content/view/64EA64CE425951C77D90340A7F5AE534/9781108425728c1_20-74.pdf/time_out_of_joint.pdf","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5051500272","display_name":"Vincent
        S. Leung","orcid":"https://orcid.org/0000-0001-5516-8714"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Vincent
        Sueh Han Leung","raw_affiliation_strings":["Lingnan University, Hong Kong,"],"affiliations":[{"raw_affiliation_string":"Lingnan
        University, Hong Kong,","institution_ids":[]}]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5051500272"],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":1.51539551,"has_fulltext":false,"cited_by_count":6,"citation_normalized_percentile":{"value":0.85494826,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":89,"max":97},"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10893","display_name":"Chinese
        history and philosophy","score":1.0,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T10893","display_name":"Chinese
        history and philosophy","score":1.0,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T11198","display_name":"Japanese History
        and Culture","score":0.9987000226974487,"subfield":{"id":"https://openalex.org/subfields/3316","display_name":"Cultural
        Studies"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T10628","display_name":"China''s Socioeconomic
        Reforms and Governance","score":0.9962000250816345,"subfield":{"id":"https://openalex.org/subfields/3320","display_name":"Political
        Science and International Relations"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/politics","display_name":"Politics","score":0.7090850472450256},{"id":"https://openalex.org/keywords/china","display_name":"China","score":0.6849268674850464},{"id":"https://openalex.org/keywords/ideology","display_name":"Ideology","score":0.6179841756820679},{"id":"https://openalex.org/keywords/historiography","display_name":"Historiography","score":0.6041286587715149},{"id":"https://openalex.org/keywords/aristocracy","display_name":"Aristocracy
        (cl[...]
