interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.14264/3e10f66
  response:
    body:
      string: '{"id":"https://openalex.org/W4312032943","doi":"https://doi.org/10.14264/3e10f66","title":"A
        computational impact analysis approach leveraging non-conforming spatial,
        temporal and methodological discretisations","display_name":"A computational
        impact analysis approach leveraging non-conforming spatial, temporal and methodological
        discretisations","publication_year":2022,"publication_date":"2022-12-16","ids":{"openalex":"https://openalex.org/W4312032943","doi":"https://doi.org/10.14264/3e10f66"},"language":"en","primary_location":{"id":"doi:10.14264/3e10f66","is_oa":false,"landing_page_url":"https://doi.org/10.14264/3e10f66","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":null,"raw_type":"dissertation"},"type":"dissertation","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5073955619","display_name":"Peter
        Wilson","orcid":"https://orcid.org/0000-0001-5777-3141"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Peter
        Wilson","raw_affiliation_strings":[],"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5073955619"],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T12227","display_name":"Environmental
        and Social Impact Assessments","score":0.7797999978065491,"subfield":{"id":"https://openalex.org/subfields/2308","display_name":"Management,
        Monitoring, Policy and Law"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T12227","display_name":"Environmental
        and Social Impact Assessments","score":0.7797999978065491,"subfield":{"id":"https://openalex.org/subfields/2308","display_name":"Management,
        Monitoring, Policy and Law"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T12010","display_name":"Evaluation
        and Performance Assessment","score":0.7710000276565552,"subfield":{"id":"https://openalex.org/subfields/1803","display_name":"Management
        Science and Operations Research"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/computer-science","display_name":"Computer
        science","score":0.5860831141471863}],"concepts":[{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer
        science","level":0,"score":0.5860831141471863}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.14264/3e10f66","is_oa":false,"landing_page_url":"https://doi.org/10.14264/3e10f66","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":null,"raw_type":"dissertation"}],"best_oa_location":null,"sustainable_development_goals":[{"display_name":"Reduced
        inequalities","score":0.5199999809265137,"id":"https://metadata.un.org/sdg/10"}],"grants":[],"awards":[],"funders":[],"has_content":{"grobid_xml":false,"pdf":false},"referenced_works_count":0,"referenced_works":[],"related_works":["https://openalex.org/W4391375266","https://openalex.org/W2748952813","https://openalex.org/W2390279801","https://openalex.org/W2358668433","https://openalex.org/W4396701345","https://openalex.org/W2376932109","https://openalex.org/W2001405890","https://openalex.org/W4396696052","https://openalex.org/W2382290278","https://openalex.org/W4395014643"],"abstract_inverted_index":null,"counts_by_year":[],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2023-01-04T00:00:00"}

        '
    headers:
      Content-Type:
      - application/json
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '9'
      RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
