interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.7554/elife.55167.sa2
  response:
    body:
      string: '{"id":"https://openalex.org/W3027264027","doi":"https://doi.org/10.7554/elife.55167.sa2","title":"Author
        response: SpikeForest, reproducible web-facing ground-truth validation of
        automated neural spike sorters","display_name":"Author response: SpikeForest,
        reproducible web-facing ground-truth validation of automated neural spike
        sorters","publication_year":2020,"publication_date":"2020-04-29","ids":{"openalex":"https://openalex.org/W3027264027","doi":"https://doi.org/10.7554/elife.55167.sa2","mag":"3027264027"},"language":"en","primary_location":{"id":"doi:10.7554/elife.55167.sa2","is_oa":true,"landing_page_url":"https://doi.org/10.7554/elife.55167.sa2","pdf_url":null,"source":null,"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":null,"raw_type":"peer-review"},"type":"peer-review","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.7554/elife.55167.sa2","any_repository_has_fulltext":null},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5042248436","display_name":"Jeremy
        F. Magland","orcid":"https://orcid.org/0000-0002-5286-4375"},"institutions":[{"id":"https://openalex.org/I4210153546","display_name":"Flatiron
        Health (United States)","ror":"https://ror.org/0508h6p74","country_code":"US","type":"company","lineage":["https://openalex.org/I4210153546"]},{"id":"https://openalex.org/I4387153999","display_name":"Flatiron
        Institute","ror":"https://ror.org/00sekdz59","country_code":null,"type":"nonprofit","lineage":["https://openalex.org/I4210107338","https://openalex.org/I4387153999"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Jeremy
        Magland","raw_affiliation_strings":["Center for Computational Mathematics,
        Flatiron Institute"],"raw_orcid":"https://orcid.org/0000-0002-5286-4375","affiliations":[{"raw_affiliation_string":"Center
        for Computational Mathematics, Flatiron Institute","institution_ids":["https://openalex.org/I4210153546","https://openalex.org/I4387153999"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5021902937","display_name":"James
        J. Jun","orcid":null},"institutions":[{"id":"https://openalex.org/I4210153546","display_name":"Flatiron
        Health (United States)","ror":"https://ror.org/0508h6p74","country_code":"US","type":"company","lineage":["https://openalex.org/I4210153546"]},{"id":"https://openalex.org/I4387153999","display_name":"Flati[...]
