interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.2737/rds-2018-0001
  response:
    body:
      string: '{"id":"https://openalex.org/W4240386948","doi":"https://doi.org/10.2737/rds-2018-0001","title":"Fledging
        times of grassland birds","display_name":"Fledging times of grassland birds","publication_year":2017,"publication_date":"2017-08-09","ids":{"openalex":"https://openalex.org/W4240386948","doi":"https://doi.org/10.2737/rds-2018-0001"},"language":"en","primary_location":{"id":"doi:10.2737/rds-2018-0001","is_oa":false,"landing_page_url":"https://doi.org/10.2737/rds-2018-0001","pdf_url":null,"source":{"id":"https://openalex.org/S4363604571","display_name":"Forest
        Service Research Data Archive","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"repository"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Forest
        Service Research Data Archive","raw_type":"dataset"},"type":"dataset","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5078612246","display_name":"Christine
        A. Ribic","orcid":"https://orcid.org/0000-0003-2583-1778"},"institutions":[{"id":"https://openalex.org/I1286329397","display_name":"United
        States Geological Survey","ror":"https://ror.org/035a68863","country_code":"US","type":"government","lineage":["https://openalex.org/I1286329397","https://openalex.org/I1335927249"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Christine
        A. Ribic","raw_affiliation_strings":["U.S. Geological Survey"],"raw_orcid":"https://orcid.org/0000-0003-2583-1778","affiliations":[{"raw_affiliation_string":"U.S.
        Geological Survey","institution_ids":["https://openalex.org/I1286329397"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5083742572","display_name":"Pamela
        J. Pietz","orcid":"https://orcid.org/0000-0003-4606-044X"},"institutions":[{"id":"https://openalex.org/I1286329397","display_name":"United
        States Geological Survey","ror":"https://ror.org/035a68863","country_code":"US","type":"government","lineage":["https://openalex.org/I1286329397","https://openalex.org/I1335927249"]}],"countries":["US"],"[...]
