interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.2210/pdb4hhb/pdb
  response:
    body:
      string: '{"id":"https://openalex.org/W6945048743","doi":"https://doi.org/10.2210/pdb4hhb/pdb","title":"THE
        CRYSTAL STRUCTURE OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION","display_name":"THE
        CRYSTAL STRUCTURE OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION","publication_year":1984,"publication_date":"1984-03-07","ids":{"openalex":"https://openalex.org/W6945048743","doi":"https://doi.org/10.2210/pdb4hhb/pdb"},"language":"en","primary_location":{"id":"doi:10.2210/pdb4hhb/pdb","is_oa":false,"landing_page_url":"https://doi.org/10.2210/pdb4hhb/pdb","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Worldwide
        Protein Data Bank","raw_type":"dataset"},"type":"dataset","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A2442610196","display_name":"G.
        Fermi","orcid":null},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"G.
        Fermi","raw_affiliation_strings":[],"affiliations":[]},{"author_position":"last","author":{"id":"https://openalex.org/A1969142660","display_name":"M.
        F. Perutz","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"M.F.
        Perutz","raw_affiliation_strings":[],"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":2,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":1,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":true,"primary_topic":null,"topics":[],"keywords":[{"id":"https://openalex.org/keywords/angstrom","display_name":"Angstrom","score":0.7887222170829773},{"id":"https://openalex.org/keywords/crystal-structure","display_name":"Crystal
        structure","score":0.6115126609802246},{"id":"https://openalex.org/keywords/resolution","display_name":"Resolution
        (logic)","score":0.48467525839805603},{"id":"https://openalex.org/keywords/crystal","display_name":"Crystal
        (programming language)","score":0.3188592791557312},{"id":"https://openalex.org/keywords/high-resolution","display_name":"High
        resolution","score":0.2738341987133026}],"concepts":[{"id":"https://openalex.org/C37407028","wikidata":"https://www.wikidata.org/wiki/Q81454","display_name":"Angstrom","level":2,"score":0.7887222170829773},{"id":"https://openalex.org/C115624301","wikidata":"https://www.wikidata.org/wiki/Q895901","display_name":"Crystal
        structure","level":2,"score":0.6115126609802246},{"id":"https://openalex.org/C192562407","wikidata":"https://www.wikidata.org/wiki/Q228736","display_name":"Materials
        science","level":0,"score":0.5717130303382874},{"id":"https://openalex.org/C8010536","wikidata":"https://www.wikidata.org/wiki/Q160398","display_name":"Crystallography","lev[...]
