interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.7600/jspfsm.56.60
  response:
    body:
      string: '{"id":"https://openalex.org/W4230972471","doi":"https://doi.org/10.7600/jspfsm.56.60","title":"","display_name":"","publication_year":2007,"publication_date":"2007-01-01","ids":{"openalex":"https://openalex.org/W4230972471","doi":"https://doi.org/10.7600/jspfsm.56.60"},"language":"en","primary_location":{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":["Japanese
        Society Of Physical Fitness And Sports Medicine"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":null,"display_name":"\u5bae\u5730
        \u5143\u5f66","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"\u5bae\u5730
        \u5143\u5f66","raw_affiliation_strings":[],"raw_orcid":null,"affiliations":[]},{"author_position":"last","author":{"id":null,"display_name":"\u5c71\u5143
        \u5065\u592a","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"\u5c71\u5143
        \u5065\u592a","raw_affiliation_strings":[],"raw_orcid":null,"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":"56","issue":"1","first_page":"60","last_page":"60"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":null,"topics":[],"keywords":[{"id":"https://openalex.org/keywords/medicine","display_name":"Medicine","score":0.34171828627586365}],"concepts":[{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":0.34171828627586365}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":["Japanese
        Society Of Physical Fitness And Sports Medicine"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"}],"best_oa_location":{"id":"doi:10.7600/jspfsm.56.60","is_oa":true,"landing_page_url":"https://doi.org/10.7600/jspfsm.56.60","pdf_url":"https://www.jstage.jst.go.jp/article/jspfsm/56/1/56_1_60/_pdf","source":{"id":"https://openalex.org/S113878176","display_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","issn_l":"0039-906X","issn":["0039-906X","1881-4751"],"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4320800712","host_organization_name":"Japanese
        Society Of Physical Fitness And Sports Medicine","host_organization_lineage":["https://openalex.org/P4320800712"],"host_organization_lineage_names":["Japanese
        Society Of Physical Fitness And Sports Medicine"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Japanese
        Journal of Physical Fitness and Sports Medicine","raw_type":"journal-article"},"sustainable_development_goals":[],"awards":[],"funders":[],"has_content":{"pdf":true,"grobid_xml":true},"content_urls":{"pdf":"https://content.openalex.org/works/W4230972471.pdf","grobid_xml":"https://content.openalex.org/works/W4230972471.grobid-xml"},"referenced_works_count":7,"referenced_works":["https://openalex.org/W1973663776","https://openalex.org/W2012969618","https://openalex.org/W2042622458","https://openalex.org/W2080813701","https://openalex.org/W2112400936","https://openalex.org/W2120303646","https://openalex.org/W2158316475"],"related_works":["https://openalex.org/W2899084033","https://openalex.org/W2748952813","https://openalex.org/W3031052312","https://openalex.org/W3032375762","https://openalex.org/W1995515455","https://openalex.org/W2080531066","https://openalex.org/W3108674512","https://openalex.org/W1506200166","https://openalex.org/W2048182022","https://openalex.org/W2604872355"],"abstract_inverted_index":null,"counts_by_year":[],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2022-05-11T00:00:00"}

        '
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Cost-USD:
      - '0.0001'
      X-RateLimit-Credits-Used:
      - '1'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Limit-USD:
      - '0.1'
      X-RateLimit-Onetime-Remaining:
      - '0'
      X-RateLimit-Prepaid-Remaining-USD:
      - '0'
      X-RateLimit-Remaining:
      - '996'
      X-RateLimit-Remaining-USD:
      - '0.0996'
      X-RateLimit-Reset:
      - '64146'
    status:
      code: 200
      message: OK
version: 1
