interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.4018/978-1-4666-1891-6.ch004
  response:
    body:
      string: '{"id":"https://openalex.org/W2476684680","doi":"https://doi.org/10.4018/978-1-4666-1891-6.ch004","title":"Unsupervised
        and Supervised Image Segmentation Using Graph Partitioning","display_name":"Unsupervised
        and Supervised Image Segmentation Using Graph Partitioning","publication_year":2012,"publication_date":"2012-08-08","ids":{"openalex":"https://openalex.org/W2476684680","doi":"https://doi.org/10.4018/978-1-4666-1891-6.ch004","mag":"2476684680"},"language":"en","primary_location":{"id":"doi:10.4018/978-1-4666-1891-6.ch004","is_oa":false,"landing_page_url":"https://doi.org/10.4018/978-1-4666-1891-6.ch004","pdf_url":null,"source":{"id":"https://openalex.org/S4306463409","display_name":"IGI
        Global eBooks","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4310320424","host_organization_name":"IGI
        Global","host_organization_lineage":["https://openalex.org/P4310320424"],"host_organization_lineage_names":["IGI
        Global"],"type":"ebook platform"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Graph-Based
        Methods in Computer Vision","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5029459479","display_name":"Charles\u2010Edmond
        Bichot","orcid":null},"institutions":[{"id":"https://openalex.org/I100532134","display_name":"Universit\u00e9
        Claude Bernard Lyon 1","ror":"https://ror.org/029brtt94","country_code":"FR","type":"education","lineage":["https://openalex.org/I100532134","https://openalex.org/I203339264"]}],"countries":["FR"],"is_corresponding":true,"raw_author_name":"Charles-Edmond
        Bichot","raw_affiliation_strings":["Universit\u00e9 de Lyon, France"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Universit\u00e9
        de Lyon, France","institution_ids":["https://openalex.org/I100532134"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5029459479"],"corresponding_institution_ids":["https://openalex.org/I100532134"],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":{"value":0.2628309,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":"72","last_page":"94"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T12923","display_name":"Digital
        Image Processing Techniques","score":0.9987000226974487,"subfield":{"id":"https://openalex.org/subfields/1707","display_name":"Computer
        Vision and Pattern Recognition"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T12923","display_name":"Digital
        Image Processing Techniques","score":0.9987000226974487,"subfield":{"id":"https://openalex.org/subfields/1707","display_name":"Computer
        Vision and Pattern Recognition"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T10052","display_name":"Medical Image
        Segmentation Techniques","score":0.9979000091552734,"subfield":{"id":"https://openalex.org/subfields/1707","display_name":"Computer
        Vision and Pattern Recognition"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T12292","display_name":"Graph Theory
        and Algorithms","score":0.9934999942779541,"subfield":{"id":"https://openalex.org/subfields/1707","display_name":"Computer
        Vision and Pattern Recognition"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/image-segmentation","display_name":"Image
        segmentation","score":0.7090781331062317},{"id":"https://openalex.org/keywords/graph-partition","display_name":"Graph
        partition","score":0.6847792863845825},{"id":"https://openalex.org/keywords/artificial-intelligence","display_name":"Artificial
        intelligence","score":0.6830446720123291},{"id":"https://openalex.org/keywords/segmentation-based-object-categorization","display_name":"Segmentation-[...]
