interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1145/3448016.3452841
  response:
    body:
      string: '{"id":"https://openalex.org/W3174427814","doi":"https://doi.org/10.1145/3448016.3452841","title":"Vector
        Quotient Filters","display_name":"Vector Quotient Filters","publication_year":2021,"publication_date":"2021-06-09","ids":{"openalex":"https://openalex.org/W3174427814","doi":"https://doi.org/10.1145/3448016.3452841","mag":"3174427814"},"language":"en","primary_location":{"id":"doi:10.1145/3448016.3452841","is_oa":true,"landing_page_url":"https://doi.org/10.1145/3448016.3452841","pdf_url":"https://dl.acm.org/doi/pdf/10.1145/3448016.3452841","source":null,"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Proceedings
        of the 2021 International Conference on Management of Data","raw_type":"proceedings-article"},"type":"conference-paper","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://dl.acm.org/doi/pdf/10.1145/3448016.3452841","any_repository_has_fulltext":null},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5014159929","display_name":"Prashant
        Pandey","orcid":"https://orcid.org/0000-0001-5576-0320"},"institutions":[{"id":"https://openalex.org/I148283060","display_name":"Lawrence
        Berkeley National Laboratory","ror":"https://ror.org/02jbv0t02","country_code":"US","type":"facility","lineage":["https://openalex.org/I1330989302","https://openalex.org/I148283060","https://openalex.org/I39565521"]},{"id":"https://openalex.org/I95457486","display_name":"University
        of California, Berkeley","ror":"https://ror.org/01an7q238","country_code":"US","type":"education","lineage":["https://openalex.org/I95457486"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Prashant
        Pandey","raw_affiliation_strings":["Lawrence Berkeley National Lab &amp; University
        of California, Berkeley, Berkeley, CA, USA"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Lawrence
        Berkeley National Lab &amp; University of California, Berkeley, Berkeley,
        CA, USA","institution_ids":["https://openalex.org/I148283060","https://openalex.org/I95457486"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5084732971","display_name":"Alex
        Conway","orcid":"https://orcid.org/0000-0003-4890-7413"},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Alex
        Conway","raw_affiliation_strings":["VMware Research, Palo Alto, CA, USA"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"VMware
        Research, Palo Alto, CA, [...]
