interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.53731/ybhah-9jy85
  response:
    body:
      string: '{"id":"https://openalex.org/W4387341806","doi":"https://doi.org/10.53731/ybhah-9jy85","title":"The
        rise of the (science) newsletter","display_name":"The rise of the (science)
        newsletter","publication_year":2023,"publication_date":"2023-10-04","ids":{"openalex":"https://openalex.org/W4387341806","doi":"https://doi.org/10.53731/ybhah-9jy85"},"language":"en","primary_location":{"id":"doi:10.53731/ybhah-9jy85","is_oa":true,"landing_page_url":"https://doi.org/10.53731/ybhah-9jy85","pdf_url":null,"source":null,"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"acceptedVersion","is_accepted":true,"is_published":false,"raw_source_name":null,"raw_type":"posted-content"},"type":"preprint","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.53731/ybhah-9jy85","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5069389160","display_name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0003-1419-2405"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Martin
        Fenner","raw_affiliation_strings":["Front Matter"],"affiliations":[{"raw_affiliation_string":"Front
        Matter","institution_ids":[]}]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5069389160"],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":{"value":0.24095519,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11488","display_name":"Climate
        Change Communication and Perception","score":0.41339999437332153,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T11488","display_name":"Climate
        Change Communication and Perception","score":0.41339999437332153,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/popularity","display_name":"Popularity","score":0.855724036693573},{"id":"https://openalex.org/keywords/revenue","display_name":"Revenue","score":0.7891664505004883},{"id":"https://openalex.org/keywords/advertising","display_name":"Advertising","score":0.5812622308731079},{"id":"https://openalex.org/keywords/realization","display_name":"Realization
        (probability)","score":0.5341616868972778},{"id":"https://openalex.org/keywords/business","display_name":"Business","score":0.39866843819618225},{"id":"https://openalex.org/keywords/computer-science","display_name":"Computer
        science","score":0.36075514554977417},{"id":"https://openalex.org/keywords/world-wide-web","display_name":"World
        Wide Web","score":0.34510892629623413},{"id":"https://openalex.org/keywords/political-science","display_name":"Political
        science","score":0.28371548652648926},{"id":"https://openalex.org/keywords/mathematics","display_name":"Mathematics","score":0.14313927292823792},{"id":"https://openalex.org/keywords/statistics","display_name":"Statistics","score":0.08536890149116516},{"id":"https://openalex.org/keywords/finance","display_name":"Finance","score":0.07135280966758728}],"concepts":[{"id":"https://openalex.org/C2780586970","wikidata":"https://www.wikidata.org/wiki/Q1357284","display_name":"Popularity","level":2,"score":0.855724036693573},{"id":"https://openalex.org/C195487862","wikidata":"https://www.wikidata.org/wiki/Q850210","display_name":"Revenue","level":2,"score":0.7891664505004883},{"id":"https://openalex.org/C112698675","wikidata":"https://www.wikidata.org/wiki/Q37038","display_name":"Advertising","level":1,"score":0.5812622308731079},{"id":"https://openalex.org/C2781089630","wikidata":"https://www.wikidata.org/wiki/Q21856745","display_name":"Realization
        (probability)","level":2,"scor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W4385876227%7Chttps://openalex.org/W6888861590%7Chttps://openalex.org/W4385415135
  response:
    body:
      string: '{"meta":{"count":2,"db_response_time_ms":9,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W4385876227","doi":"https://doi.org/10.1038/d41586-023-02554-0","title":"Thousands
        of scientists are cutting back on Twitter, seeding angst and uncertainty","display_name":"Thousands
        of scientists are cutting back on Twitter, seeding angst and uncertainty","publication_year":2023,"publication_date":"2023-08-16","ids":{"openalex":"https://openalex.org/W4385876227","doi":"https://doi.org/10.1038/d41586-023-02554-0","pmid":"https://pubmed.ncbi.nlm.nih.gov/37587303"},"language":"en","primary_location":{"id":"doi:10.1038/d41586-023-02554-0","is_oa":false,"landing_page_url":"https://doi.org/10.1038/d41586-023-02554-0","pdf_url":null,"source":{"id":"https://openalex.org/S137773608","display_name":"Nature","issn_l":"0028-0836","issn":["0028-0836","1476-4687"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319908","host_organization_name":"Nature
        Portfolio","host_organization_lineage":["https://openalex.org/P4310319908"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Nature","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5057743737","display_name":"Myriam
        Vidal Valero","orcid":null},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Myriam
        Vidal Valero","raw_affiliation_strings":[],"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5057743737"],"corresponding_institution_ids":[],"apc_list":{"value":9750,"currency":"EUR","value_usd":11690},"apc_paid":null,"fwci":19.59033606,"has_fulltext":false,"cited_by_count":47,"citation_normalized_percentile":{"value":0.99493662,"is_in_top_1_percent":true,"is_in_top_10_percent":true},"cited_by_percentile_year":{"min":99,"max":100},"biblio":{"volume":"620","issue":"7974","first_page":"482","last_page":"484"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T12027","display_name":"Social
        Media in Health Education","score":0.9731000065803528,"subfield":{"id":"https://openalex.org/subfields/3306","display_name":"Health"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","displ[...]
