interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1890/0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
  response:
    body:
      string: '{"id":"https://openalex.org/W2030857676","doi":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","title":"THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES","display_name":"THE IMPACT OF PARASITE MANIPULATION AND PREDATOR
        FORAGING BEHAVIOR ON PREDATOR\u2013PREY COMMUNITIES","publication_year":2006,"publication_date":"2006-11-01","ids":{"openalex":"https://openalex.org/W2030857676","doi":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","mag":"2030857676","pmid":"https://pubmed.ncbi.nlm.nih.gov/17168027"},"language":"en","primary_location":{"id":"doi:10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","is_oa":false,"landing_page_url":"https://doi.org/10.1890/0012-9658(2006)87[2832:tiopma]2.0.co;2","pdf_url":null,"source":{"id":"https://openalex.org/S35917800","display_name":"Ecology","issn_l":"0012-9658","issn":["0012-9658","1939-9170"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320595","host_organization_name":"Wiley","host_organization_lineage":["https://openalex.org/P4310320595"],"host_organization_lineage_names":["Wiley"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Ecology","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5049804351","display_name":"Andy
        Fenton","orcid":"https://orcid.org/0000-0002-7676-917X"},"institutions":[{"id":"https://openalex.org/I146655781","display_name":"University
        of Liverpool","ror":"https://ror.org/04xs57h96","country_code":"GB","type":"education","lineage":["https://openalex.org/I146655781"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"A.
        Fenton","raw_affiliation_strings":["School of Biological Sciences, Crown Street,
        University of Liverpool, Liverpool L69 7ZB, UK. a.fenton@liverpool.ac.uk","School
        of Biological Sciences, Crown Street, University of Liverpool, Liverpool L69
        7ZB, UK"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"School
        of Biological Sciences, Crown Street, University of Liverpool, Liverpool L69
        7ZB, UK. a.fenton@liverpool.ac.uk","institution_ids":["https://openalex.org/I146655781"]},{"raw_affiliation_string":"School
        of Biological Sciences, Crown Street, University of Liverpool, Liverpool L69
        7ZB, UK","institution_ids":["https://openalex.org/I146655781"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5000784448","display_name":"Sean
        A. Rands","orcid":"https://orcid.org/0000-0002-7400-005X"},"institutions":[{"id":"https://openalex.org/I23923803","display_name":"University
        of Exeter","ror"[...]
