interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.7554/elife.01567
  response:
    body:
      string: '{"id":"https://openalex.org/W2121398592","doi":"https://doi.org/10.7554/elife.01567","title":"Automated
        quantitative histology reveals vascular morphodynamics during Arabidopsis
        hypocotyl secondary growth","display_name":"Automated quantitative histology
        reveals vascular morphodynamics during Arabidopsis hypocotyl secondary growth","publication_year":2014,"publication_date":"2014-02-11","ids":{"openalex":"https://openalex.org/W2121398592","doi":"https://doi.org/10.7554/elife.01567","mag":"2121398592","pmid":"https://pubmed.ncbi.nlm.nih.gov/24520159"},"language":"en","primary_location":{"id":"doi:10.7554/elife.01567","is_oa":true,"landing_page_url":"https://doi.org/10.7554/elife.01567","pdf_url":null,"source":{"id":"https://openalex.org/S1336409049","display_name":"eLife","issn_l":"2050-084X","issn":["2050-084X"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310311710","host_organization_name":"eLife
        Sciences Publications Ltd","host_organization_lineage":["https://openalex.org/P4310311710"],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"eLife","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.7554/elife.01567","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5044224796","display_name":"Martial
        Sankar","orcid":null},"institutions":[{"id":"https://openalex.org/I97565354","display_name":"University
        of Lausanne","ror":"https://ror.org/019whta54","country_code":"CH","type":"education","lineage":["https://openalex.org/I97565354"]}],"countries":["CH"],"is_corresponding":false,"raw_author_name":"Martial
        Sankar","raw_affiliation_strings":["Department of Plant Molecular Biology,
        University of Lausanne, Lausanne, Switzerland."],"affiliations":[{"raw_affiliation_string":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland.","institution_ids":["https://openalex.org/I97565354"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5048302346","display_name":"Kaisa
        Nieminen","orcid":"https://orcid.org/0000-0001-7004-9422"},"institutions":[{"id":"https://openalex.org/I97565354","display_name":"University
        of Lausanne","ror":"https://ror.org/019whta54","country_code":"CH","type":"education","lineage":["https://openalex.org/I97565354"]}],"countries":["CH"],"is_corresponding":false,"raw_author_name":"Kaisa
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2067493501%7Chttps://openalex.org/W1989943932%7Chttps://openalex.org/W2165091352%7Chttps://openalex.org/W2036350498%7Chttps://openalex.org/W4239510810%7Chttps://openalex.org/W2159194695%7Chttps://openalex.org/W4211235676%7Chttps://openalex.org/W2162974903%7Chttps://openalex.org/W2077780517%7Chttps://openalex.org/W2130561514%7Chttps://openalex.org/W1983780873%7Chttps://openalex.org/W2068588917%7Chttps://openalex.org/W2137838747%7Chttps://openalex.org/W2161755867%7Chttps://openalex.org/W2063655559%7Chttps://openalex.org/W1969035038%7Chttps://openalex.org/W2113937104%7Chttps://openalex.org/W1964940342%7Chttps://openalex.org/W2004883389%7Chttps://openalex.org/W2164765928%7Chttps://openalex.org/W2130428492%7Chttps://openalex.org/W6892253029%7Chttps://openalex.org/W2024237503%7Chttps://openalex.org/W2149869559%7Chttps://openalex.org/W2133844149%7Chttps://openalex.org/W2110014743%7Chttps://openalex.org/W2169818143%7Chttps://openalex.org/W2119821739%7Chttps://openalex.org/W2062846487
  response:
    body:
      string: '{"meta":{"count":28,"db_response_time_ms":25,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W4239510810","doi":"https://doi.org/10.1007/bf00994018","title":"Support-vector
        networks","display_name":"Support-vector networks","publication_year":1995,"publication_date":"1995-09-01","ids":{"openalex":"https://openalex.org/W4239510810","doi":"https://doi.org/10.1007/bf00994018"},"language":"en","primary_location":{"id":"doi:10.1007/bf00994018","is_oa":true,"landing_page_url":"https://doi.org/10.1007/bf00994018","pdf_url":"https://link.springer.com/content[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/funders?filter=ids.openalex:F4320320924%7CF4320321673%7CF4320323831
  response:
    body:
      string: '{"meta":{"count":3,"db_response_time_ms":3,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/F4320320924","display_name":"Schweizerischer
        Nationalfonds zur F\u00f6rderung der Wissenschaftlichen Forschung","alternate_titles":["Fondo
        Nazionale Svizzero","Fonds National Suisse","Schweizerische Nationalfonds","Fondo
        Nazionale Svizzero per la Ricerca Scientifica","SNSF","Fonds National Suisse
        de la Recherche Scientifique","Swiss National Science Foundation","FNS","SNF","Schweizerischer
        Nationalfonds"],"country_code":"CH","description":"foundation","homepage_url":"https://www.snf.ch","image_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/SNF
        logo Swiss National Science Foundation.png","image_thumbnail_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/SNF
        logo Swiss National Science Foundation.png&width=300","awards_count":30820,"works_count":107028,"cited_by_count":5195074,"summary_stats":{"2yr_mean_citedness":8.89392575928009,"h_index":605,"i10_index":73946},"ids":{"openalex":"https://openalex.org/F4320320924","ror":"https://ror.org/00yjd3n13","wikidata":"https://www.wikidata.org/entity/Q471732","crossref":"501100001711","doi":"10.13039/501100001711"},"counts_by_year":[{"year":2025,"works_count":4226,"oa_works_count":3539,"cited_by_count":8166},{"year":2024,"works_count":6730,"oa_works_count":5855,"cited_by_count":49462},{"year":2023,"works_count":6824,"oa_works_count":6030,"cited_by_count":100506},{"year":2022,"works_count":6986,"oa_works_count":6229,"cited_by_count":150784},{"year":2021,"works_count":7571,"oa_works_count":6714,"cited_by_count":237760},{"year":2020,"works_count":7091,"oa_works_count":5865,"cited_by_count":317908},{"year":2019,"works_count":7159,"oa_works_count":5423,"cited_by_count":365296}[...]
