interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=1
  response:
    body:
      string: '{"meta":{"count":1,"db_response_time_ms":129,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W4243766097","doi":"https://doi.org/10.1001/jama.2016.0085","title":"Opioid
        Overdoses Continue to Climb","display_name":"Opioid Overdoses Continue to
        Climb","relevance_score":0.99999994,"publication_year":2016,"publication_date":"2016-02-09","ids":{"openalex":"https://openalex.org/W4243766097","doi":"https://doi.org/10.1001/jama.2016.0085"},"language":"en","primary_location":{"id":"doi:10.1001/jama.2016.0085","is_oa":false,"landing_page_url":"https://doi.org/10.1001/jama.2016.0085","pdf_url":null,"source":{"id":"https://openalex.org/S172573765","display_name":"JAMA","issn_l":"0098-7484","issn":["0098-7484","1538-3598"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320259","host_organization_name":"American
        Medical Association","host_organization_lineage":["https://openalex.org/P4310320259"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"JAMA","raw_type":"journal-article"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.30726336,"has_fulltext":false,"cited_by_count":1,"citation_normalized_percentile":{"value":0.75836015,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":90,"max":94},"biblio":{"volume":"315","issue":"6","first_page":"550","last_page":"550"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10576","display_name":"Opioid
        Use Disorder Treatment","score":0.8937000036239624,"subfield":{"id":"https://openalex.org/subfields/2739","display_name":"Public
        Health, Environmental and Occupational Health"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},"topics":[{"id":"https://openalex.org/T10576","display_name":"Opioid
        Use Disorder Treatment","score":0.8937000036239624,"subfield":{"id":"https://openalex.org/subfields/2739","display_name":"Public
        Health, Environmental and Occupational Health"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/medicine","display_name":"Medicine","score":0.9807466268539429},{"id":"https://openalex.org/keywords/climb","display_name":"Climb","score":0.7828817367553711},{"id":"https://openalex.org/keywords/opioid-overdose","display_name":"Opioid
        overdose","score":0.5349295139312744},{"id":"https://openalex.org/keywords/opioid","display_name":"Opioid","score":0.5233204364776611},{"id":"https://openalex.org/keywords/medical-emergency","display_name":"Medical
        emergency","score":0.45155346393585205},{"id":"https://openalex.org/keywords/opioid-epidemic","display_name":"Opioid
        epidemic","score":0.4392741918563843},{"id":"https://openalex.org/keywords/intensive-care-medicine","display_name":"Intensive
        care medicine","score":0.4270639419555664},{"id":"https://openalex.org/keywords/naloxone","display_name":"(+)-Naloxone","score":0.198550283908844},{"id":"https://openalex.org/keywords/internal-medicine","display_name":"Internal
        medicine","score":0.15855422616004944}],"concepts":[{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":0.9807466268539429},{"id":"https://openalex.org/C2778168010","wikidata":"https://www.wikidata.org/wiki/Q1499786","display_name":"Climb","level":2,"score":0.7828817367553711},{"id":"https://openalex.org/C2779148768","wikidata":"https://www.wikidata.org/wiki/Q17154378","display_name":"Opioid
        overdose","level":5,"score":0.5349295139312744},{"id":"https://openalex.org/C2781063702","wikidata":"https://www.wikidata.org/wiki/Q427523","display_name":"Opioid","level":3,"score":0.5233204[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=5
  response:
    body:
      string: '{"meta":{"count":5,"db_response_time_ms":512,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W3211646066","doi":"https://doi.org/10.1101/2021.11.13.468487","title":"V\u03b3
        usage distinguishes pro- and anti-tumor intestinal \u03b3\u03b4 T cell subsets","display_name":"V\u03b3
        usage distinguishes pro- and anti-tumor intestinal \u03b3\u03b4 T cell subsets","relevance_score":0.99999994,"publication_year":2021,"publication_date":"2021-11-13","ids":{"openalex":"https://openalex.org/W3211646066","doi":"https://doi.org/10.1101/2021.11.13.468487","mag":"3211646066"},"language":"en","primary_location":{"id":"doi:10.1101/2021.11.13.468487","is_oa":true,"landing_page_url":"https://doi.org/10.1101/2021.11.13.468487","pdf_url":"https://www.biorxiv.org/content/biorxiv/early/2021/11/13/2021.11.13.468487.full.pdf","source":{"id":"https://openalex.org/S4306402567","display_name":"bioRxiv
        (Cold Spring Harbor Laboratory)","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/I2750212522","host_organization_name":"Cold
        Spring Harbor Laboratory","host_organization_lineage":["https://openalex.org/I2750212522"],"host_organization_lineage_names":[],"type":"repository"},"license":null,"license_id":null,"version":"acceptedVersion","is_accepted":true,"is_published":false,"raw_source_name":null,"raw_type":"posted-content"},"type":"preprint","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://www.biorxiv.org/content/biorxiv/early/2021/11/13/2021.11.13.468487.full.pdf","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5072744658","display_name":"Bernardo
        Sgarbi Reis","orcid":"https://orcid.org/0000-0002-6841-116X"},"institutions":[{"id":"https://openalex.org/I83399316","display_name":"Rockefeller
        University","ror":"https://ror.org/0420db125","country_code":"US","type":"education","lineage":["https://openalex.org/I83399316"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Bernardo
        S. Reis","raw_affiliation_strings":["Laboratory of Mucosal Immunology, The
        Rockefeller University, New York, NY, 0065, USA"],"affiliations":[{"raw_affiliation_string":"Laboratory
        of Mucosal Immunology, The Rockefeller University, New York, NY, 0065, USA","institution_ids":["https://openalex.org/I83399316"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5072191803","display_name":"Patrick
        W. Darcy","orcid":null},"institutions":[{"id":"https://openalex.org/I83399316","display_name":"Rockefeller
        University","ror":"https://ror.org/0420db125","country_code":"US","type":"education","lineage":["https://openalex.org/I83399316"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Patrick
        W. Darcy","raw_affiliation[...]
