interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.3390/publications6020015
  response:
    body:
      string: '{"id":"https://openalex.org/W2787899882","doi":"https://doi.org/10.3390/publications6020015","title":"Converting
        the Literature of a Scientific Field to Open Access through Global Collaboration:
        The Experience of SCOAP3 in Particle Physics","display_name":"Converting the
        Literature of a Scientific Field to Open Access through Global Collaboration:
        The Experience of SCOAP3 in Particle Physics","publication_year":2018,"publication_date":"2018-04-09","ids":{"openalex":"https://openalex.org/W2787899882","doi":"https://doi.org/10.3390/publications6020015","mag":"2787899882"},"language":"en","primary_location":{"id":"doi:10.3390/publications6020015","is_oa":true,"landing_page_url":"https://doi.org/10.3390/publications6020015","pdf_url":"https://www.mdpi.com/2304-6775/6/2/15/pdf?version=1525347674","source":{"id":"https://openalex.org/S2738007992","display_name":"Publications","issn_l":"2304-6775","issn":["2304-6775"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310310987","host_organization_name":"Multidisciplinary
        Digital Publishing Institute","host_organization_lineage":["https://openalex.org/P4310310987"],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Publications","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://www.mdpi.com/2304-6775/6/2/15/pdf?version=1525347674","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5078980654","display_name":"Alexander
        Kohls","orcid":"https://orcid.org/0000-0002-3836-8885"},"institutions":[{"id":"https://openalex.org/I67311998","display_name":"European
        Organization for Nuclear Research","ror":"https://ror.org/01ggx4157","country_code":"CH","type":"facility","lineage":["https://openalex.org/I67311998"]}],"countries":["CH"],"is_corresponding":true,"raw_author_name":"Alexander
        Kohls","raw_affiliation_strings":["CERN, CH-1211 Geneva 23, Switzerland"],"affiliations":[{"raw_affiliation_string":"CERN,
        CH-1211 Geneva 23, Switzerland","institution_ids":["https://openalex.org/I67311998"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5051435114","display_name":"S.
        Mele","orcid":"https://orcid.org/0000-0003-0762-2235"},"institutions":[{"id":"https://openalex.org/I67311998","display_name":"European
        Organization for Nuclear Research","ror":"https://ror.org/01ggx4157","country_code":"CH","type":"facility","lineage":["https://openalex.org/I67311998"]}],"countries":["CH"],"is_corresponding":false,"raw_author_name":"Salvatore
        Mele","raw_affiliation_strings":["CERN, CH-1211 Geneva 23, Switzerland"],"affiliations":[{"raw_affiliation_string":"CERN,
        CH-1211 Geneva 23, Switzerland","institution_ids":["https://openalex.org/I67311998"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":2,"corresponding_author_ids":["https://openalex.org/A5078980654"],"corresponding_institution_ids":["https://openalex.org/I67311998"],"apc_list":{"value":1400,"currency":"CHF","value_usd":1515},"apc_paid":{"value":1400,"currency":"CHF","value_usd":1515},"fwci":0.59690418,"has_fulltext":true,"cited_by_count":8,"citation_normalized_percentile":{"value":0.71050939,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":90,"max":97},"biblio":{"volume":"6","issue":"2","first_page":"15","last_page":"15"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10102","display_name":"scientometrics
        and bibliometrics research","score":0.9947999715805054,"subfield":{"id":"https://openalex.org/subfields/1804","display_name":"Statistics,
        Probability and Uncertainty"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T10102","display_name":"scientometrics
        and bibliometrics research","score":0.9947999715805054,"subfield":{"id":"https://openalex.org/subfields/1804","display_name":"Statistics,
        Probability and Uncertainty"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T11937","display_name":"Research Data
        Management Practices","score":0.9941999912261963,"subfield":{"id":"https://openalex.org/subfields/1710","display_name":"Information
        Systems"},"field":{"id":"https://openalex.org/fields/17","display_name":"Computer
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11986","display_name":"Scientific
        Computing and Data Management","score":0.9761999845504761,"subfield":{"id":"https://openalex.org/subfields/1802","display_name":"Information
        Systems and Management"},"field":{"id":"https://openalex.org/fields/18","display_name":"Decision
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/general-partnership","display_name":"General
        partnership","score":0.6533904075622559},{"id":"https://openalex.org/keywords/large-hadron-collider","display_name":"Large
        Hadron Collider","score":0.5657200813293457},{"id":"https://openalex.org/keywords/higgs-boson","display_name":"Higgs
        boson","score":0.5289162397384644},{"id":"https://openalex.org/keywords/publishing","display_name":"Publishing","score":0.48473283648490906},{"id":"https://openalex.org/keywords/field","display_name":"Field
        (mathematics)","score":0.41635650396347046},{"id":"https://openalex.org/keywords/physics","display_name":"Physics","score":0.4000847041606903},{"id":"https://openalex.org/keywords/particle-physics","display_name":"Particle
        physics","score":0.37424004077911377},{"id":"https://openalex.org/keywords/political-science","display_name":"Political
        science","score":0.31642600893974304}],"concepts":[{"id":"https://openalex.org/C71750763","wikidata":"https://www.wikidata.org/wiki/Q646164","display_name":"General
        partnership","level":2,"score":0.6533904075622559},{"id":"https://openalex.org/C87668248","wikidata":"https://www.wikidata.org/wiki/Q40605","display_name":"Large
        Hadron Collider","level":2,"score":0.5657200813293457},{"id":"https://openalex.org/C158129726","wikidata":"https://www.wikidata.org/wiki/Q402","display_name":"Higgs
        boson","level":2,"score":0.5289162397384644},{"id":"https://openalex.org/C151719136","wikidata":"https://www.wikidata.org/wiki/Q3972943","display_name":"Publishing","level":2,"sc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W6785452197%7Chttps://openalex.org/W1590603655%7Chttps://openalex.org/W4251478550%7Chttps://openalex.org/W6676707482%7Chttps://openalex.org/W4390463023%7Chttps://openalex.org/W2128349488%7Chttps://openalex.org/W64795899%7Chttps://openalex.org/W1503623321%7Chttps://openalex.org/W351146182%7Chttps://openalex.org/W3106193278%7Chttps://openalex.org/W2539996007%7Chttps://openalex.org/W2474679122
  response:
    body:
      string: '{"meta":{"count":9,"db_response_time_ms":11,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2128349488","doi":"https://doi.org/10.1007/s11192-009-0111-1","title":"Citing
        and reading behaviours in high-energy physics","display_name":"Citing and
        reading behaviours in high-energy physics","publication_year":2009,"publication_date":"2009-12-01","ids":{"openalex":"https://openalex.org/W2128349488","doi":"https://doi.org/10.1007/s11192-009-0111-1","mag":"2128349488"},"language":"en","primary_location":{"id":"doi:10.1007/s11192-009-0111-1","is_oa"[...]
