interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1371/journal.pone.0000030
  response:
    body:
      string: '{"id":"https://openalex.org/W1982728624","doi":"https://doi.org/10.1371/journal.pone.0000030","title":"Triose
        Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not
        Catalytic Inactivity\u2013of the Mutant Enzymes","display_name":"Triose Phosphate
        Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not Catalytic
        Inactivity\u2013of the Mutant Enzymes","publication_year":2006,"publication_date":"2006-12-20","ids":{"openalex":"https://openalex.org/W1982728624","doi":"https://doi.org/10.1371/journal.pone.0000030","mag":"1982728624","pmid":"https://pubmed.ncbi.nlm.nih.gov/17183658"},"language":"en","primary_location":{"id":"doi:10.1371/journal.pone.0000030","is_oa":true,"landing_page_url":"https://doi.org/10.1371/journal.pone.0000030","pdf_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0000030&type=printable","source":{"id":"https://openalex.org/S202381698","display_name":"PLoS
        ONE","issn_l":"1932-6203","issn":["1932-6203"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310315706","host_organization_name":"Public
        Library of Science","host_organization_lineage":["https://openalex.org/P4310315706"],"host_organization_lineage_names":["Public
        Library of Science"],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"PLoS
        ONE","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0000030&type=printable","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5070892021","display_name":"Markus
        Ralser","orcid":"https://orcid.org/0000-0001-9535-7413"},"institutions":[{"id":"https://openalex.org/I4210142260","display_name":"Max
        Planck Institute for Molecular Genetics","ror":"https://ror.org/03ate3e03","country_code":"DE","type":"facility","lineage":["https://openalex.org/I149899117","https://openalex.org/I4210142260"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Markus
        Ralser","raw_affiliation_strings":["Max Planck Institute for Molecular Genetics,
        Berlin, Germany","Max Planck Institute  for Molecular Genetics, Berlin, Germany"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Max
        Planck Institute for Molecular Genetics, Berlin, Germany","institution_ids":["https://openalex.org/I4210142260"]},{"raw_affiliation_string":"Max
        Planck Institute  for Molecular Genetics, Berlin, Germany","institution_ids":["https://openalex.org/I4210142260"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5074494523","display_name":"Gino
        Heeren","orcid":null},"institutions":[{"id":"https://openalex.org/I182212641","display_name":"University
        of Salzburg","ror":"https://ror.org/05gs8cd61","country_code":"AT","type":"education",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W181782372%7Chttps://openalex.org/W1482426105%7Chttps://openalex.org/W1488548087%7Chttps://openalex.org/W1497947681%7Chttps://openalex.org/W1502341663%7Chttps://openalex.org/W1517816913%7Chttps://openalex.org/W1523168833%7Chttps://openalex.org/W1526477746%7Chttps://openalex.org/W1563653502%7Chttps://openalex.org/W1940988901%7Chttps://openalex.org/W1944359762%7Ch[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2089435280%7Chttps://openalex.org/W2093849589%7Chttps://openalex.org/W2095800180%7Chttps://openalex.org/W2097013015%7Chttps://openalex.org/W2097666362%7Chttps://openalex.org/W2110435452%7Chttps://openalex.org/W2119588189%7Chttps://openalex.org/W2121702473%7Chttps://openalex.org/W2125211371%7Chttps://openalex.org/W2135945776%7Chttps://openalex.org/W2138454633%7Chttps://openalex.org/W2141794617%7Chttps://openalex.org/W2145435143%7Chttps://openalex.org/W2146503498%7Chttps://openalex.org/W2147402219%7Chttps://openalex.org/W2149286152%7Chttps://openalex.org/W2149842777%7Chttps://openalex.org/W2150164025%7Chttps://openalex.org/W2155080166%7Chttps://openalex.org/W2155538350%7Chttps://openalex.org/W2160219722%7Chttps://openalex.org/W2167478767%7Chttps://openalex.org/W2287140416%7Chttps://openalex.org/W2287558237%7Chttps://openalex.org/W2319101463%7Chttps://openalex.org/W2614566541%7Chttps://openalex.org/W2786774014
  response:
    body:
      string: '{"meta": {"count": 26, "db_response_time_ms": 58, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works where openalex id is (\n    https://openalex.org/W2089435280
        or https://openalex.org/W2093849589\n    or https://openalex.org/W2095800180
        or https://openalex.org/W2097013015\n    or https://openalex.org/W2097666362
        or https://openalex.org/W2110435452\n    or https://openalex.org/W2119588189
        or https://openalex.org/W2121702473\n    or https://openalex.org/W2125211371
        or https://openalex.org/W2135945776\n    or https://openalex.org/W2138454633
        or https://openalex.org/W2141794617\n    or https://openalex.org/W2145435143
        or https://openalex.org/W2146503498\n    or https://openalex.org/W2147402219
        or https://openalex.org/W2149286152\n    or https://openalex.org/W2149842777
        or https://openalex.org/W2150164025\n    or https://openalex.org/W2155080166
        or https://openalex.org/W2155538350\n    or https://openalex.org/W2160219722
        or https://openalex.org/W2167478767\n    or https://openalex.org/W2287140416
        or https://openalex.org/W2287558237\n    or https://openalex.org/W2319101463
        or https://openalex.org/W2614566541\n    or https://openalex.org/W2786774014\n  )",
        "oqo": {"get_rows": "works", "filter_rows": [{"join": "or", "filters": [{"column_id":
        "ids.openalex", "value": "https://openalex.org/W2089435280"}, {"column_id":
        "ids.openalex", "value": "https://openalex.org/W2093849589"}, {"column_id":
        "ids.openalex", "value": "https://openalex.org/W2095800180"}, {"column_id":
        "ids.openalex", "value": "https://openalex.org/W2097013015"}, {"column_id":
        "ids.openalex", "value": "https://openalex.org/W2097666362"}, {"column_id":
        "ids.openalex", "value": "https://openalex.org/W2110435452"}, {"column_id":
        "ids.openalex", "val[...]
