interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.3934/nhm.2009.4.249
  response:
    body:
      string: '{"id":"https://openalex.org/W2054094521","doi":"https://doi.org/10.3934/nhm.2009.4.249","title":"A
        Hamiltonian perspective to thestabilization of systems of two conservation
        laws","display_name":"A Hamiltonian perspective to thestabilization of systems
        of two conservation laws","publication_year":2009,"publication_date":"2009-01-01","ids":{"openalex":"https://openalex.org/W2054094521","doi":"https://doi.org/10.3934/nhm.2009.4.249","mag":"2054094521"},"language":"en","primary_location":{"id":"doi:10.3934/nhm.2009.4.249","is_oa":true,"landing_page_url":"https://doi.org/10.3934/nhm.2009.4.249","pdf_url":"https://www.aimsciences.org/data/article/export-pdf?id=bbb0cb07-6043-46cb-a9fd-d29359dc76af","source":{"id":"https://openalex.org/S21752972","display_name":"Networks
        and Heterogeneous Media","issn_l":"1556-1801","issn":["1556-1801","1556-181X"],"is_oa":false,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310315844","host_organization_name":"American
        Institute of Mathematical Sciences","host_organization_lineage":["https://openalex.org/P4310315844"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Networks
        &amp; Heterogeneous Media","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj"],"open_access":{"is_oa":true,"oa_status":"hybrid","oa_url":"https://www.aimsciences.org/data/article/export-pdf?id=bbb0cb07-6043-46cb-a9fd-d29359dc76af","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5105354773","display_name":"Val\u00e9rie
        dos Santos","orcid":"https://orcid.org/0009-0008-5647-4519"},"institutions":[{"id":"https://openalex.org/I4210143168","display_name":"Automation
        and Process Engineering Laboratory","ror":"https://ror.org/03kfjwy31","country_code":"FR","type":"facility","lineage":["https://openalex.org/I100532134","https://openalex.org/I1294671590","https://openalex.org/I203339264","https://openalex.org/I4210095849","https://openalex.org/I4210143168","https://openalex.org/I59692284"]}],"countries":["FR"],"is_corresponding":false,"raw_author_name":"Val\u00e9rie
        Dos Santos","raw_affiliation_strings":["Laboratoire d''automatique et de g\u00e9nie
        des proc\u00e9d\u00e9s"],"affiliations":[{"raw_affiliation_string":"Laboratoire
        d''automatique et de g\u00e9nie des proc\u00e9d\u00e9s","institution_ids":["https://openalex.org/I4210143168"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5045128637","display_name":"Bernhard
        Maschke","orcid":"https://orcid.org/0000-0003-0221-2843"},"institutions":[{"id":"https://openalex.org/I4210143168","display_name":"Automation
        and Process Engineering Laboratory","ror":"https://ror.org/03kfjwy31","country_code":"FR","type":"facility","lineage":["https://openalex.org/I100532134","https://openalex.org/I1294671590","https://op[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W6820972643%7Chttps://openalex.org/W6805708202%7Chttps://openalex.org/W2154676379%7Chttps://openalex.org/W6813265891%7Chttps://openalex.org/W3144501209%7Chttps://openalex.org/W1573927207%7Chttps://openalex.org/W6607897370%7Chttps://openalex.org/W6637086040%7Chttps://openalex.org/W2144355672%7Chttps://openalex.org/W1531199286%7Chttps://openalex.org/W4292170110%7Chttps://openalex.org/W2155653226%7Chttps://openalex.org/W2105396289%7Chttps://openalex.org/W1974777461%7Chttps://openalex.org/W2748933322%7Chttps://openalex.org/W1566183082%7Chttps://openalex.org/W4248816015%7Chttps://openalex.org/W2064584027%7Chttps://openalex.org/W4298576603%7Chttps://openalex.org/W1601100443%7Chttps://openalex.org/W2162853993%7Chttps://openalex.org/W1534230689%7Chttps://openalex.org/W2549651870%7Chttps://openalex.org/W2124271405%7Chttps://openalex.org/W2139361041%7Chttps://openalex.org/W1592008321%7Chttps://openalex.org/W2048253740%7Chttps://openalex.org/W3216200967%7Chttps://openalex.org/W4237848540%7Chttps://openalex.org/W1965265565%7Chttps://openalex.org/W194456869
  response:
    body:
      string: '{"meta":{"count":25,"db_response_time_ms":19,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W1573927207","doi":"https://doi.org/10.1007/bf00049574","title":"Applications
        of lie groups to differential equations","display_name":"Applications of lie
        groups to differential equations","publication_year":1990,"publication_date":"1990-09-01","ids":{"openalex":"https://openalex.org/W1573927207","doi":"https://doi.org/10.1007/bf00049574","mag":"1573927207"},"language":"en","primary_location":{"id":"doi:10.1007/bf00049574","is_oa":false,"landing_page_[...]
