interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.53731/ybhah-9jy85
  response:
    body:
      string: '{"id":"https://openalex.org/W4387341806","doi":"https://doi.org/10.53731/ybhah-9jy85","title":"The
        rise of the (science) newsletter","display_name":"The rise of the (science)
        newsletter","publication_year":2023,"publication_date":"2023-10-04","ids":{"openalex":"https://openalex.org/W4387341806","doi":"https://doi.org/10.53731/ybhah-9jy85"},"language":"en","primary_location":{"id":"doi:10.53731/ybhah-9jy85","is_oa":true,"landing_page_url":"https://doi.org/10.53731/ybhah-9jy85","pdf_url":null,"source":null,"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"acceptedVersion","is_accepted":true,"is_published":false,"raw_source_name":"Front
        Matter","raw_type":"posted-content"},"type":"other","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.53731/ybhah-9jy85","any_repository_has_fulltext":null},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5069389160","display_name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0003-1419-2405"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Martin
        Fenner","raw_affiliation_strings":["Front Matter"],"raw_orcid":"https://orcid.org/0000-0003-1419-2405","affiliations":[{"raw_affiliation_string":"Front
        Matter","institution_ids":[]}]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":["https://openalex.org/A5069389160"],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11488","display_name":"Climate
        Change Communication and Perception","score":0.41339999437332153,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T11488","display_name":"Climate
        Change Communication and Perception","score":0.41339999437332153,"subfield":{"id":"https://openalex.org/subfields/3312","display_name":"Sociology
        and Political Science"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/popularity","display_name":"Popularity","score":0.855724036693573},{"id":"https://openalex.org/keywords/revenue","display_name":"Revenue","score":0.7891664505004883},{"id":"https://openalex.org/keywords/advertising","display_name":"Advertising","score":0.5812622308731079},{"id":"https://openalex.org/keywords/realization","display_name":"Realization
        (probability)","score":0.5341616868972778},{"id":"https://openalex.org/keywords/business","display_name":"Business","score":0.39866843819618225},{"id":"https://openalex.org/keywords/computer-science","display_name":"Computer
        science","score":0.36075514554977417},{"id":"https://openalex.org/keywords/world-wide-web","display_name":"World
        Wide Web","score":0.34510892629623413},{"id":"https://openalex.org/keywords/political-science","display_name":"Political
        science","score":0.28371548652648926},{"id":"https://openalex.org/keywords/mathematics","display_name":"Mathematics","score":0.14313927292823792},{"id":"https://openalex.org/keywords/statistics","display_name":"Statistics","score":0.08536890149116516},{"id":"https://openalex.org/keywords/finance","display_name":"Finance","score":0.07135280966758728}],"concepts":[{"id":"https://openalex.org/C2780586970","wikidata":"https://www.wikidata.org/wiki/Q1357284","display_name":"Popularity","level":2,"score":0.855724036693573},{"id":"https://openalex.org/C195487862","wikidata":"https://www.wikidata.org/wiki/Q850210","display_name":"Revenue","level":2,"score":0.7891664505004883},{"id":"https://openalex.org/C112698675","wikidata":"https://www.wikidata.org/wiki/Q37038","display_name":"Advertising","level":1,"score":0.5812622308731079},{"id":"https://openalex.org/C2781089630","wikidata":"https://www.wikidata.org/wiki/Q21856745","display_name":"Realization
        (probability)","level":2,"scor[...]
