interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1101/097196
  response:
    body:
      string: '{"id":"https://openalex.org/W2581393460","doi":"https://doi.org/10.1101/097196","title":"A
        Data Citation Roadmap for Scholarly Data Repositories","display_name":"A Data
        Citation Roadmap for Scholarly Data Repositories","publication_year":2016,"publication_date":"2016-12-28","ids":{"openalex":"https://openalex.org/W2581393460","doi":"https://doi.org/10.1101/097196","mag":"2581393460"},"language":"en","primary_location":{"id":"doi:10.1101/097196","is_oa":true,"landing_page_url":"https://doi.org/10.1101/097196","pdf_url":"https://www.biorxiv.org/content/biorxiv/early/2017/10/09/097196.full.pdf","source":{"id":"https://openalex.org/S4306402567","display_name":"bioRxiv
        (Cold Spring Harbor Laboratory)","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/I2750212522","host_organization_name":"Cold
        Spring Harbor Laboratory","host_organization_lineage":["https://openalex.org/I2750212522"],"host_organization_lineage_names":[],"type":"repository"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"acceptedVersion","is_accepted":true,"is_published":false,"raw_source_name":"bioRxiv","raw_type":"posted-content"},"type":"preprint","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://www.biorxiv.org/content/biorxiv/early/2017/10/09/097196.full.pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":null,"display_name":"Martin
        Fenner","orcid":"https://orcid.org/0000-0003-1419-2405"},"institutions":[{"id":"https://openalex.org/I4210145204","display_name":"DataCite","ror":"https://ror.org/04wxnsj81","country_code":"DE","type":"nonprofit","lineage":["https://openalex.org/I4210145204"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Martin
        Fenner","raw_affiliation_strings":["DataCite, Hannover, Germany"],"raw_orcid":"https://orcid.org/0000-0003-1419-2405","affiliations":[{"raw_affiliation_string":"DataCite,
        Hannover, Germany","institution_ids":["https://openalex.org/I4210145204"]}]},{"author_position":"middle","author":{"id":null,"display_name":"Merc\u00e8
        Crosas","orcid":"https://orcid.org/0000-0003-1304-1939"},"institutions":[{"id":"https://openalex.org/I4210098931","display_name":"Quantitative
        BioSciences","ror":"https://ror.org/010brsj79","country_code":"US","type":"nonprofit","lineage":["https://openalex.org/I4210098931"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Merc\u00e8
        Crosas","[...]
