interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1007/978-3-319-75889-3_1
  response:
    body:
      string: '{"id":"https://openalex.org/W2800740883","doi":"https://doi.org/10.1007/978-3-319-75889-3_1","title":"Climate
        Change and Increasing Risk of Extreme Heat","display_name":"Climate Change
        and Increasing Risk of Extreme Heat","publication_year":2018,"publication_date":"2018-01-01","ids":{"openalex":"https://openalex.org/W2800740883","doi":"https://doi.org/10.1007/978-3-319-75889-3_1","mag":"2800740883"},"language":"en","primary_location":{"id":"doi:10.1007/978-3-319-75889-3_1","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-3-319-75889-3_1","pdf_url":null,"source":{"id":"https://openalex.org/S4210189752","display_name":"SpringerBriefs
        in medical earth sciences","issn_l":"2523-3610","issn":["2523-3610","2523-3629"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319972","host_organization_name":"Springer
        International Publishing","host_organization_lineage":["https://openalex.org/P4310319972"],"host_organization_lineage_names":[],"type":"book
        series"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"SpringerBriefs
        in Medical Earth Sciences","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5090500153","display_name":"Hunter
        Jones","orcid":"https://orcid.org/0000-0003-4588-3911"},"institutions":[{"id":"https://openalex.org/I2802992173","display_name":"NOAA
        Oceanic and Atmospheric Research","ror":"https://ror.org/02kgve346","country_code":"US","type":"government","lineage":["https://openalex.org/I1308126019","https://openalex.org/I1343035065","https://openalex.org/I2802992173"]},{"id":"https://openalex.org/I1308126019","display_name":"National
        Oceanic and Atmospheric Administration","ror":"https://ror.org/02z5nhe81","country_code":"US","type":"government","lineage":["https://openalex.org/I1308126019","https://openalex.org/I1343035065"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Hunter
        M. Jones","raw_affiliation_strings":["National Oceanic and Atmospheric Administration
        (UCAR Affiliate), NOAA Research, Climate Program Office, Silver Spring, MD,
        USA"],"affiliations":[{"raw_affiliation_string":"National Oceanic and Atmospheric
        Administration (UCAR Affiliate), NOAA Research, Climate Program Office, Silver
        Spring, MD, USA","institution_ids":["https://openalex.org/I1308126019","https://openalex.org/I2802992173"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5090500153"],"corresponding_institution_ids":["https://openalex.org/I1308126019","https://openalex.org/I2802992173"],"apc_list":null,"apc_paid":null,"fwci":1.82138201,"has_fulltext":false,"cited_by_count":3,"citation_normalized_percentile":{"value":0.82971506,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":89,"max":95},"biblio":{"volume":null,"issue":null,"first_page":"1","last_page":"13"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11244","display_name":"Climate
        Change and Health Impacts","score":1.0,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T11244","display_name":"Climate
        Change and Health Impacts","score":1.0,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T10190","display_name":"Air Quality
        and Health Impacts","score":0.9843000173568726,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11109","display_name":"Thermoregulation
        and physiological responses","score":0.9767000079154968,"subfield":{"id":"https://openalex.org/subfields/2737","display_name":"Physiology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/extreme-heat","display_name":"Extreme
        heat","score":0.6719384789466858},{"id":"https://openalex.org/keywords/climate-change","display_name":"Climate
        change","score":0.6070982217788696},{"id":"https://openalex.org/keywords/preparedness","display_name":"Preparedness","score":0.5898769497871399},{"id":"https://openalex.org/keywords/hazard","display_name":"Hazard","score":0.5572771430015564},{"id":"https://openalex.org/keywords/extreme-weather","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2207473830%7Chttps://openalex.org/W2591593526%7Chttps://openalex.org/W2169840829%7Chttps://openalex.org/W2084979499%7Chttps://openalex.org/W4249082478%7Chttps://openalex.org/W2176378747%7Chttps://openalex.org/W2013552341%7Chttps://openalex.org/W2566546937%7Chttps://openalex.org/W2049377387%7Chttps://openalex.org/W2057775518%7Chttps://openalex.org/W1991853727%7Chttps://openalex.org/W2079188864%7Chttps://openalex.org/W2605140704%7Chttps://openalex.org/W2066286996%7Chttps://openalex.org/W2094863145%7Chttps://openalex.org/W1958587270%7Chttps://openalex.org/W4242868086%7Chttps://openalex.org/W2741819297%7Chttps://openalex.org/W2740128796%7Chttps://openalex.org/W2807891057%7Chttps://openalex.org/W2099468086%7Chttps://openalex.org/W2515401783%7Chttps://openalex.org/W4235906135%7Chttps://openalex.org/W2116098087%7Chttps://openalex.org/W2159015627%7Chttps://openalex.org/W4237048336%7Chttps://openalex.org/W2266760118%7Chttps://openalex.org/W2116970843%7Chttps://openalex.org/W2106487197%7Chttps://openalex.org/W2766204504%7Chttps://openalex.org/W2100137827%7Chttps://openalex.org/W2788131485%7Chttps://openalex.org/W1886483106%7Chttps://openalex.org/W1587602269%7Chttps://openalex.org/W1792105649%7Chttps://openalex.org/W2898905402%7Chttps://openalex.org/W2334022437%7Chttps://openalex.org/W4285719527
  response:
    body:
      string: '{"meta":{"count":37,"db_response_time_ms":20,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2049377387","doi":"https://doi.org/10.1126/science.1098704","title":"More
        Intense, More Frequent, and Longer Lasting Heat Waves in the 21st Century","display_name":"More
        Intense, More Frequent, and Longer Lasting Heat Waves in the 21st Century","publication_year":2004,"publication_date":"2004-08-13","ids":{"openalex":"https://openalex.org/W2049377387","doi":"https://doi.org/10.1126/science.1098704","mag":"2049377387","pmid":"https://pubmed.ncbi.nlm.nih.gov/15310900"},"language":"en","primary_location":{"id":"doi:10.1126/science.1098704","is_oa":false,"landing_page_url":"https://doi.org/10.1126/science.1098704","pdf_url":null,"source":{"id":"https://openalex.org/S3880285","display_name":"Science","issn_l":"0036-8075","issn":["0036-8075","1095-9203"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310315823","host_organization_name":"American
        Association for the Adv[...]
