interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1145/3448016.3452841
  response:
    body:
      string: '{"id":"https://openalex.org/W3174427814","doi":"https://doi.org/10.1145/3448016.3452841","title":"Vector
        Quotient Filters","display_name":"Vector Quotient Filters","publication_year":2021,"publication_date":"2021-06-09","ids":{"openalex":"https://openalex.org/W3174427814","doi":"https://doi.org/10.1145/3448016.3452841","mag":"3174427814"},"language":"en","primary_location":{"id":"doi:10.1145/3448016.3452841","is_oa":true,"landing_page_url":"https://doi.org/10.1145/3448016.3452841","pdf_url":"https://dl.acm.org/doi/pdf/10.1145/3448016.3452841","source":null,"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Proceedings
        of the 2021 International Conference on Management of Data","raw_type":"proceedings-article"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://dl.acm.org/doi/pdf/10.1145/3448016.3452841","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A2096433997","display_name":"Prashant
        Pandey","orcid":"https://orcid.org/0000-0001-5576-0320"},"institutions":[{"id":"https://openalex.org/I95457486","display_name":"University
        of California, Berkeley","ror":"https://ror.org/01an7q238","country_code":"US","type":"education","lineage":["https://openalex.org/I95457486"]},{"id":"https://openalex.org/I148283060","display_name":"Lawrence
        Berkeley National Laboratory","ror":"https://ror.org/02jbv0t02","country_code":"US","type":"facility","lineage":["https://openalex.org/I1330989302","https://openalex.org/I148283060","https://openalex.org/I39565521"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Prashant
        Pandey","raw_affiliation_strings":["Lawrence Berkeley National Lab &amp; University
        of California, Berkeley, Berkeley, CA, USA"],"affiliations":[{"raw_affiliation_string":"Lawrence
        Berkeley National Lab &amp; University of California, Berkeley, Berkeley,
        CA, USA","institution_ids":["https://openalex.org/I148283060","https://openalex.org/I95457486"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A2676126172","display_name":"Alex
        Conway","orcid":"https://orcid.org/0000-0003-4890-7413"},"institutions":[{"id":"https://openalex.org/I-1","display_name":null,"ror":null,"country_code":null,"type":null,"lineage":["https://openalex.org/I-1"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Alex
        Conway","raw_affiliation_strings":[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2951550973%7Chttps://openalex.org/W3011785159%7Chttps://openalex.org/W2210479044%7Chttps://openalex.org/W2125901106%7Chttps://openalex.org/W2912437396%7Chttps://openalex.org/W2116435146%7Chttps://openalex.org/W1996492982%7Chttps://openalex.org/W2123845384%7Chttps://openalex.org/W1580997674%7Chttps://openalex.org/W2808068568%7Chttps://openalex.org/W1993284846%7C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/funders?filter=ids.openalex:F4320306076%7CF4320306084
  response:
    body:
      string: '{"meta":{"count":2,"db_response_time_ms":2,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/F4320306076","display_name":"National
        Science Foundation","alternate_titles":["U.S. National Science Foundation","USA
        NSF","USNSF","NSF","US National Science Foundation","US NSF"],"country_code":"US","description":"United
        States government agency","homepage_url":"https://www.nsf.gov","image_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/NSF
        logo.png","image_thumbnail_url":"https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/NSF
        logo.png&width=300","awards_count":207655,"works_count":914135,"cited_by_count":41388130,"summary_stats":{"2yr_mean_citedness":7.261223548025579,"h_index":1266,"i10_index":593914},"ids":{"openalex":"https://openalex.org/F4320306076","ror":"https://ror.org/021nxhr62","wikidata":"https://www.wikidata.org/entity/Q304878","crossref":"100000001","doi":"10.13039/100000001"},"counts_by_year":[{"year":2025,"works_count":19417,"oa_works_count":10035,"cited_by_count":29697},{"year":2024,"works_count":34998,"oa_works_count":17927,"cited_by_count":201554},{"year":2023,"works_count":36599,"oa_works_count":19582,"cited_by_count":429622},{"year":2022,"works_count":36413,"oa_works_count":20468,"cited_by_count":627348},{"year":2021,"works_count":37119,"oa_works_count":21067,"cited_by_count":967057},{"year":2020,"works_count":35426,"oa_works_count":20918,"cited_by_count":1340929},{"year":2019,"works_count":44607,"oa_works_count":21840,"cited_b[...]
