interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1371/journal.pmed.0030277.g001
  response:
    body:
      string: '{"id":"https://openalex.org/W6885490810","doi":"https://doi.org/10.1371/journal.pmed.0030277.g001","title":"Stimulation
        of IL-32 by Mycobacteria","display_name":"Stimulation of IL-32 by Mycobacteria","publication_year":2015,"publication_date":"2015-12-02","ids":{"openalex":"https://openalex.org/W6885490810","doi":"https://doi.org/10.1371/journal.pmed.0030277.g001"},"language":"en","primary_location":{"id":"pmh:oai:figshare.com:article/628124","is_oa":true,"landing_page_url":"https://figshare.com/articles/figure/_Stimulation_of_IL_32_by_Mycobacteria_/628124","pdf_url":null,"source":{"id":"https://openalex.org/S4377196282","display_name":"Figshare","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/I4210132348","host_organization_name":"Figshare
        (United Kingdom)","host_organization_lineage":["https://openalex.org/I4210132348"],"host_organization_lineage_names":[],"type":"repository"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"submittedVersion","is_accepted":false,"is_published":false,"raw_source_name":"","raw_type":"Image"},"type":"other","indexed_in":[],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://figshare.com/articles/figure/_Stimulation_of_IL_32_by_Mycobacteria_/628124","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":null,"display_name":"Mihai
        G Netea (15649)","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Mihai
        G Netea (15649)","raw_affiliation_strings":[],"raw_orcid":null,"affiliations":[]},{"author_position":"middle","author":{"id":null,"display_name":"Tania
        Azam (64531)","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Tania
        Azam (64531)","raw_affiliation_strings":[],"raw_orcid":null,"affiliations":[]},{"author_position":"middle","author":{"id":null,"display_name":"Eli
        C Lewis (64532)","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Eli
        C Lewis (64532)","raw_af[...]
