interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1007/978-3-642-33191-6_49
  response:
    body:
      string: '{"id":"https://openalex.org/W9783904","doi":"https://doi.org/10.1007/978-3-642-33191-6_49","title":"Human
        Body Orientation Estimation in Multiview Scenarios","display_name":"Human
        Body Orientation Estimation in Multiview Scenarios","publication_year":2012,"publication_date":"2012-01-01","ids":{"openalex":"https://openalex.org/W9783904","doi":"https://doi.org/10.1007/978-3-642-33191-6_49","mag":"9783904"},"language":"en","primary_location":{"id":"doi:10.1007/978-3-642-33191-6_49","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-3-642-33191-6_49","pdf_url":null,"source":{"id":"https://openalex.org/S106296714","display_name":"Lecture
        notes in computer science","issn_l":"0302-9743","issn":["0302-9743","1611-3349"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319900","host_organization_name":"Springer
        Science+Business Media","host_organization_lineage":["https://openalex.org/P4310319900","https://openalex.org/P4310319965"],"host_organization_lineage_names":["Springer
        Science+Business Media","Springer Nature"],"type":"book series"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Lecture
        Notes in Computer Science","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"http://mediatum.ub.tum.de/node?id=1285782","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5040669893","display_name":"Lili
        Chen","orcid":"https://orcid.org/0000-0002-5958-7243"},"institutions":[{"id":"https://openalex.org/I62916508","display_name":"Technical
        University of Munich","ror":"https://ror.org/02kkvpp62","country_code":"DE","type":"education","lineage":["https://openalex.org/I62916508"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"Lili
        Chen","raw_affiliation_strings":["Department of Informatics, Technische Universit\u00e4t
        M\u00fcnchen, 85748, Garching bei M\u00fcnchen, Germany"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Department
        of Informatics, Technische Universit\u00e4t M\u00fcnchen, 85748, Garching
        bei M\u00fcnchen, Germany","institution_ids":["https://openalex.org/I62916508"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5104029949","display_name":"Giorgio
        Panin","orcid":null},"institutions":[{"id":"https://openalex.org/I2898391981","display_name":"Deutsches
        Zentrum f\u00fcr Luft- und Raumfahrt e. V. (DLR)","ror":"https://ror.org/04bwf3e34","country_code":"DE","type":"facility","lineage":["https://openalex.org/I1305996414","https://openalex.org/I2898391981"]}],"countries":["DE"],"is_correspondi[...]
