interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=1
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 99, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works sample 1", "oqo": {"get_rows":
        "works", "sample": 1}, "url": "/works?sample=1"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W4205378101", "doi": "https://doi.org/10.17640/kswst.2021.29.5.31",
        "title": "Online Adenosine Triphosphate Measurement for Monitoring the Mcrobial
        Viability in Drinking Water", "display_name": "Online Adenosine Triphosphate
        Measurement for Monitoring the Mcrobial Viability in Drinking Water", "relevance_score":
        0.99999994, "publication_year": 2021, "publication_date": "2021-10-31", "ids":
        {"openalex": "https://openalex.org/W4205378101", "doi": "https://doi.org/10.17640/kswst.2021.29.5.31"},
        "language": "en", "primary_location": {"id": "doi:10.17640/kswst.2021.29.5.31",
        "is_oa": false, "landing_page_url": "https://doi.org/10.17640/kswst.2021.29.5.31",
        "pdf_url": null, "source": {"id": "https://openalex.org/S2764420701", "display_name":
        "Journal of Korean Society of Water Science and Technology", "issn_l": "1225-7192",
        "issn": ["1225-7192", "2289-0076"], "is_oa": false, "is_in_doaj": false, "is_core":
        false, "host_organization": null, "host_organization_name": null, "host_organization_lineage":
        [], "host_organization_lineage_names": [], "type": "journal"}, "license":
        null, "license_id": null, "version": "publishedVersion", "is_accepted": true,
        "is_published": true, "raw_source_name": "Journal of Korean Society of Water
        Science and Technology", "raw_type": "journal-article"}, "type": "article",
        "indexed_in": ["crossref"], "open_access": {"is_oa": false, "oa_status": "closed",
        "oa_url": null, "any_repository_has_fulltext": false}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5087267609", "display_name":
        "Sookhyun Nam", "orcid": null}, "institutions": [], "countries": [], "is_corresponding":
        false, "raw_author_name": "Sookhyun Nam", "raw_affiliation_strings": [], "raw_orcid":
        null, "affiliations": []}, {"author_position": "middle", "author": {"id":
        "https://openalex.org/A5001007644", "display_name": "Tae-Mun Hwang", "orcid":
        "https://orcid.org/0000-0002-0532-1394"}, "institutions": [], "countries":
        [], "is_corresponding": false, "raw_author_name": "Tae-Mun Hwang", "raw_affiliation_strings":
        [], "raw_orcid": null, "affiliations": []}, {"author_position": "middle",
        "author": {"id": "https://openalex.org/A5110694154", "display_name": "Eunju
        Ki[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=5
  response:
    body:
      string: '{"meta": {"count": 5, "db_response_time_ms": 162, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works sample 5", "oqo": {"get_rows":
        "works", "sample": 5}, "url": "/works?sample=5"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2733762957", "doi": null, "title": "Precambrian
        crustal evolution and Cretaceous\u2013Palaeogene faulting in West Greenland:
        Structural analysis of the northern Nagssugtoqidian orogen, West Greenland:
        an example of complex tectonic patterns in reworked high-grade metamorphic
        terrains", "display_name": "Precambrian crustal evolution and Cretaceous\u2013Palaeogene
        faulting in West Greenland: Structural analysis of the northern Nagssugtoqidian
        orogen, West Greenland: an example of complex tectonic patterns in reworked
        high-grade metamorphic terrains", "relevance_score": 0.99999994, "publication_year":
        2006, "publication_date": "2006-12-01", "ids": {"openalex": "https://openalex.org/W2733762957",
        "mag": "2733762957"}, "language": "en", "primary_location": {"id": "pmh:oai:doaj.org/article:f09aab93af094b5fa9254014f5065e09",
        "is_oa": true, "landing_page_url": "https://doaj.org/article/f09aab93af094b5fa9254014f5065e09",
        "pdf_url": null, "source": {"id": "https://openalex.org/S4306401280", "display_name":
        "DOAJ (DOAJ: Directory of Open Access Journals)", "issn_l": null, "issn":
        null, "is_oa": false, "is_in_doaj": false, "is_core": false, "host_organization":
        [...]
