interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.3389/fpls.2019.00816
  response:
    body:
      string: '{"id":"https://openalex.org/W2955786964","doi":"https://doi.org/10.3389/fpls.2019.00816","title":"Transcriptional
        Modulation of Polyamine Metabolism in Fruit Species Under Abiotic and Biotic
        Stress","display_name":"Transcriptional Modulation of Polyamine Metabolism
        in Fruit Species Under Abiotic and Biotic Stress","publication_year":2019,"publication_date":"2019-07-02","ids":{"openalex":"https://openalex.org/W2955786964","doi":"https://doi.org/10.3389/fpls.2019.00816","mag":"2955786964","pmid":"https://pubmed.ncbi.nlm.nih.gov/31333688"},"language":"en","primary_location":{"id":"doi:10.3389/fpls.2019.00816","is_oa":true,"landing_page_url":"https://doi.org/10.3389/fpls.2019.00816","pdf_url":null,"source":{"id":"https://openalex.org/S2493613807","display_name":"Frontiers
        in Plant Science","issn_l":"1664-462X","issn":["1664-462X"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310320527","host_organization_name":"Frontiers
        Media","host_organization_lineage":["https://openalex.org/P4310320527"],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Frontiers
        in Plant Science","raw_type":"journal-article"},"type":"review","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.3389/fpls.2019.00816","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5045608907","display_name":"Ana
        Margarida Fortes","orcid":"https://orcid.org/0000-0001-7552-0164"},"institutions":[{"id":"https://openalex.org/I141596103","display_name":"University
        of Lisbon","ror":"https://ror.org/01c27hj86","country_code":"PT","type":"education","lineage":["https://openalex.org/I141596103"]}],"countries":["PT"],"is_corresponding":true,"raw_author_name":"Ana
        Margarida Fortes","raw_affiliation_strings":["Faculdade de Ci\u00eancias de
        Lisboa, Department of Plant Biology, Biosystems and Integrative Sciences Institute,
        Universidade de Lisboa, Lisbon, Portugal"],"affiliations":[{"raw_affiliation_string":"Faculdade
        de Ci\u00eancias de Lisboa, Department of Plant Biology, Biosystems and Integrative
        Sciences Institute, Universidade de Lisboa, Lisbon, Portugal","institution_ids":["https://openalex.org/I141596103"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5046545741","display_name":"Patricia
        Agudelo\u2010Romero","orcid":"https://orcid.org/0000-0002-3703-4111"},"institutions":[{"id":"https://openalex.org/I4210102918","display_name":"ARC
        Centre of Excellence in Plant Energy Biology","ror":"https://ror.org/01a1mq059","country_code":"AU","type":"facility","lineage":["https://openalex.org/I118347636","https://openalex.org/I133771902[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2026937662%7Chttps://openalex.org/W2066662007%7Chttps://openalex.org/W2125115890%7Chttps://openalex.org/W2065480641%7Chttps://openalex.org/W2003949047%7Chttps://openalex.org/W2068925662%7Chttps://openalex.org/W2137875276%7Chttps://openalex.org/W2049120339%7Chttps://openalex.org/W2035022668%7Chttps://openalex.org/W2059644750%7Chttps://openalex.org/W2131160674%7C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2055603731%7Chttps://openalex.org/W2098234703%7Chttps://openalex.org/W2156543697%7Chttps://openalex.org/W2077657618%7Chttps://openalex.org/W2056895869%7Chttps://openalex.org/W2914236198%7Chttps://openalex.org/W1976438063%7Chttps://openalex.org/W2061256879%7Chttps://openalex.org/W2030155667%7Chttps://openalex.org/W2567046326%7Chttps://openalex.org/W2144495035%7Chttps://openalex.org/W2473158774%7Chttps://openalex.org/W2011352939%7Chttps://openalex.org/W2088700163%7Chttps://openalex.org/W2087679323%7Chttps://openalex.org/W2066537020%7Chttps://openalex.org/W2047987907%7Chttps://openalex.org/W6718728328%7Chttps://openalex.org/W2018524550%7Chttps://openalex.org/W2083326698%7Chttps://openalex.org/W2589897899
  response:
    body:
      string: '{"meta":{"count":20,"db_response_time_ms":17,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2011352939","doi":"https://doi.org/10.1007/s00425-014-2055-9","title":"The
        roles of polyamines during the lifespan of plants: from development to stress","display_name":"The
        roles of polyamines during the lifespan of plants: from development to stress","publication_year":2014,"publication_date":"2014-03-22","ids":{"openalex":"https://openalex.org/W2011352939","doi":"https://doi.org/10.1007/s00425-014-2055-9","mag":"2011352939","pmid":"https://pubmed.[...]
