interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1007/978-3-662-46370-3_13
  response:
    body:
      string: '{"id":"https://openalex.org/W930857754","doi":"https://doi.org/10.1007/978-3-662-46370-3_13","title":"Clinical
        Symptoms and Physical Examinations","display_name":"Clinical Symptoms and
        Physical Examinations","publication_year":2015,"publication_date":"2015-01-01","ids":{"openalex":"https://openalex.org/W930857754","doi":"https://doi.org/10.1007/978-3-662-46370-3_13","mag":"930857754"},"language":"en","primary_location":{"id":"doi:10.1007/978-3-662-46370-3_13","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-3-662-46370-3_13","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Shoulder
        Stiffness","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5021980337","display_name":"Ron
        L. Diercks","orcid":"https://orcid.org/0000-0001-9873-208X"},"institutions":[{"id":"https://openalex.org/I1334415907","display_name":"University
        Medical Center Groningen","ror":"https://ror.org/03cv38k47","country_code":"NL","type":"healthcare","lineage":["https://openalex.org/I1334415907"]},{"id":"https://openalex.org/I169381384","display_name":"University
        of Groningen","ror":"https://ror.org/012p63287","country_code":"NL","type":"education","lineage":["https://openalex.org/I169381384"]}],"countries":["NL"],"is_corresponding":true,"raw_author_name":"Ronald
        L. Diercks","raw_affiliation_strings":["Department of Orthopaedics and Sports
        Medicine, University Medical Center Groningen, University of Groningen, Groningen,
        The Netherlands","Dept. of Orthopaedic Surgery, University of Groningen Sports
        Medicine Center, Groningen, The Netherlands"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Department
        of Orthopaedics and Sports Medicine, University Medical Center Groningen,
        University of Groningen, Groningen, The Netherlands","institution_ids":["https://openalex.org/I1334415907","https://openalex.org/I169381384"]},{"raw_affiliation_string":"Dept.
        of Orthopaedic Surgery, University of Groningen Sports Medicine Center, Groningen,
        The Netherlands","institution_ids":["https://openalex.org/I169381384"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5032645117","display_name":"Tom
        C. Ludvigsen","orcid":null},"institutions":[{"id":"https://openalex.org/I1281400175","display_name":"Oslo
        University Hospital","ror":"https://ror.org/00j9c2840","country_code":"NO","type":"healthcare","lineage":["https://openalex.org/I1281400175"]}],"countries":["NO"],"is_corresponding":false,"raw_author_name":"Tom
        Clement Ludvigsen","raw_affiliation_strings":["Orthopaedic Department, Oslo
        University Hospital, Oslo, Norway"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Orthopaedic
        Department, Oslo University Hospital, Oslo, Norway","institution_ids":["https://openalex.org/I1281400175"]}]}],"institutions":[],"countries_distinct_count":2,"institutions_distinct_count":3,"corresponding_author_ids":["https://openalex.org/A5021980337"],"corresponding_institution_ids":["https://openalex.org/I1334415907","https://openalex.org/I169381384"],"apc_list":null,"apc_paid":null,"fwci":4.1688,"has_fulltext":false,"cited_by_count":1,"citation_normalized_percentile":{"value":0.89518501,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":90,"max":94},"biblio":{"volume":null,"issue":null,"first_page":"155","last_page":"158"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10280","display_name":"Shoulder
        Injury and Treatment","score":0.9973000288009644,"subfield":{"id":"https://openalex.org/subfields/2746","display_name":"Surgery"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},"topics":[{"id":"https://openalex.org/T10280","display_name":"Shoulder
        Injury and Treatment","score":0.9973000288009644,"subfield":{"id":"https://openalex.org/subfields/2746","display_name":"Surgery"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T10084","display_name":"Musculoskeletal
        pain and rehabilitation","score":0.9970999956130981,"subfield":{"id":"https://openalex.org/subfields/2736","display_name":"Pharmacology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T12712","display_name":"Myofascial
        pain diagnosis and treatment","score":0.9936000108718872,"subfield":{"id":"https://openalex.org/subfields/1307","display_name":"Cell
        Biology"},"field":{"id":"https://openalex.org/fields/13","display_name":"Biochemistry,
        Genetics and Molecular Biology"},"domain":{"id":"https://openalex.org/domains/1","display_name":"Life
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/capsulitis","display_name":"Capsulitis","score":0.934745192527771},{"id":"https://openalex.org/keywords/frozen-shoulder","display_name":"Frozen
        shoulder","score":0.9060128927230835},{"id":"https://openalex.org/keywords/medicine","display_name":"Medicine","score":0.8049615621566772},{"id":"https://openalex.org/keywords/shoulder-joint","display_name":"Shoulder
        joint","score":0.5513132810592651},{"id":"https://openalex.org/keywords/physical-examination","display_name":"Physical
        examination","score":0.5302144289016724},{"id":"https://openalex.org/keywords/physical-therapy","display_name":"Physical
        therapy","score":0.4393559396266937},{"id":"https://openalex.org/keywords/surgery","display_name":"Surgery","score":0.3904688358306885},{"id":"https://openalex.org/keywords/range-of-motion","display_name":"Range
        of motion","score":0.16972723603248596}],"concepts":[{"id":"https://openalex.org/C2779185355","wikidata":"https://www.wikidata.org/wiki/Q5036401","display_name":"Capsulitis","level":3,"score":0.934745192527771},{"id":"https://openalex.org/C2776389031","wikidata":"https://www.wikidata.org/wiki/Q52854","display_name":"Frozen
        shoulder","level":3,"score":0.9060128927230835},{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":0.8049615621566772},{"id":"https://openalex.org/C2780457017","wikidata":"https://www.wikidata.org/wiki/Q1758798","display_name":"Shoulder
        joint","level":2,"score":0.5513132810592651},{"id":"https://openalex.org/C527108885","wikidata":"https://www.wikidata.org/wiki/Q835153","display_name":"Physical
        examination","level":2,"score":0.5302144289016724},{"id":"https://openalex.org/C1862650","wikidata":"https://www.wikidata.org/wiki/Q186005","display_name":"Physical
        therapy","level":1,"score":0.4393559396266937},{"id":"https://openalex.org/C141071460","wikidata":"https://www.wikidata.org/wiki/Q40821","display_name":"Surgery","level":1,"score":0.3904688358306885},{"id":"https://openalex.org/C60465272","wikidata":"https://www.wikidata.org/wiki/Q494478","display_name":"Range
        of motion","level":2,"score":0.16972723603248596}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.1007/978-3-662-46370-3_13","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-3-662-46370-3_13","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Shoulder
        Stiffness","raw_type":"book-chapter"}],"best_oa_location":null,"sustainable_development_goals":[{"score":0.41999998688697815,"id":"https://metadata.un.org/sdg/5","display_name":"Gender
        equality"}],"awards":[],"funders":[],"has_content":{"grobid_xml":false,"pdf":false},"content_urls":null,"referenced_works_count":19,"referenced_works":["https://openalex.org/W110687392","https://openalex.org/W1975712927","https://openalex.org/W1986965148","https://openalex.org/W1992100991","https://openalex.org/W2001251875","https://openalex.org/W2002700646","https://openalex.org/W2003168723","https://openalex.org/W2040482151","https://openalex.org/W2047824018","https://openalex.org/W2080524931","https://openalex.org/W2081047902","https://openalex.org/W2099718625","https://openalex.org/W2103300129","https://openalex.org/W2153627092","https://openalex.org/W2155941752","https://openalex.org/W2168893970","https://openalex.org/W2421758407","https://openalex.org/W2997706158","https://openalex.org/W4237625861"],"related_works":["https://openalex.org/W4318332869","https://openalex.org/W2417154914","https://openalex.org/W4308639273","https://openalex.org/W2884091554","https://openalex.org/W2174781707","https://openalex.org/W4387037272","https://openalex.org/W1966628403","https://openalex.org/W3037911819","https://openalex.org/W2417127268","https://openalex.org/W4390429990"],"abstract_inverted_index":null,"counts_by_year":[{"year":2017,"cited_by_count":1}],"updated_date":"2026-07-22T07:51:19.307946","created_date":"2025-10-10T00:00:00"}

        '
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Cost-USD:
      - '0.0001'
      X-RateLimit-Credits-Used:
      - '1'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Limit-USD:
      - '0.1'
      X-RateLimit-Onetime-Remaining:
      - '0'
      X-RateLimit-Prepaid-Remaining-USD:
      - '0'
      X-RateLimit-Remaining:
      - '982'
      X-RateLimit-Remaining-USD:
      - '0.0982'
      X-RateLimit-Reset:
      - '64140'
    status:
      code: 200
      message: OK
version: 1
