interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1007/s00120-007-1345-2
  response:
    body:
      string: '{"id":"https://openalex.org/W1512509001","doi":"https://doi.org/10.1007/s00120-007-1345-2","title":"Penisverletzung
        durch eine Moulinette","display_name":"Penisverletzung durch eine Moulinette","publication_year":2007,"publication_date":"2007-04-13","ids":{"openalex":"https://openalex.org/W1512509001","doi":"https://doi.org/10.1007/s00120-007-1345-2","mag":"1512509001","pmid":"https://pubmed.ncbi.nlm.nih.gov/17435989"},"language":"de","primary_location":{"id":"doi:10.1007/s00120-007-1345-2","is_oa":false,"landing_page_url":"https://doi.org/10.1007/s00120-007-1345-2","pdf_url":null,"source":{"id":"https://openalex.org/S4210202031","display_name":"Der
        Urologe","issn_l":"0340-2592","issn":["0340-2592","1433-0563"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319965","host_organization_name":"Springer
        Nature","host_organization_lineage":["https://openalex.org/P4310319965"],"host_organization_lineage_names":[],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Der
        Urologe","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5004695108","display_name":"Mike
        Lehsnau","orcid":null},"institutions":[{"id":"https://openalex.org/I4210108951","display_name":"Unfallkrankenhaus
        Berlin","ror":"https://ror.org/011zjcv36","country_code":"DE","type":"healthcare","lineage":["https://openalex.org/I4210108951"]}],"countries":["DE"],"is_corresponding":true,"raw_author_name":"M.
        Lehsnau","raw_affiliation_strings":["Unfallkrankenhaus"],"affiliations":[{"raw_affiliation_string":"Unfallkrankenhaus","institution_ids":["https://openalex.org/I4210108951"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5004695108"],"corresponding_institution_ids":["https://openalex.org/I4210108951"],"apc_list":{"value":2590,"currency":"EUR","value_usd":3090},"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":1,"citation_normalized_percentile":{"value":0.0400408,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":89,"max":94},"biblio":{"volume":"46","issue":"7","first_page":"776","last_page":"779"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11713","display_name":"Genital
        Health and Disease","score":0.9970999956130981,"subfield":{"id":"https://openalex.org/subfields/2746","display_name":"Surgery"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},"topics":[{"id":"https://openalex.org/T11713","display_name":"Genital
        Health and Disease","score":0.9970999956130981,"subfield":{"id":"https://openalex.org/subfields/2746","display_name":"Surgery"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T11815","display_name":"Urological
        Disorders and Treatments","score":0.9962999820709229,"subfield":{"id":"https://openalex.org/subfields/2748","display_name":"Urology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T13001","display_name":"Restraint-Related
        Deaths","score":0.9847999811172485,"subfield":{"id":"https://openalex.org/subfields/2711","display_name":"Emergency
        Medicine"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/gynecology","display_name":"Gynecology","score":0.5856777429580688},{"id":"https://openalex.org/keywords/medicine","display_name":"Medicine","score":0.4665621817111969}],"concepts":[{"id":"https://openalex.org/C29456083","wikidata":"https://www.wikidata.org/wiki/Q1221899","display_name":"Gynecology","level":1,"score":0.5856777429580688},{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":0.4665621817111969}],"mesh":[{"descriptor_ui":"D002648","descriptor_name":"Child","qualifier_ui":null,"qualifier_name":null,"is_major_topic":false},{"descriptor_ui":"D004882","descriptor_name":"Erotica","qualifier_ui":null,"qualifier_name":null,"is_major_topic":true},{"descriptor_ui":"D006801","descriptor_name":"Humans","qualifier_ui":null,"qualifier_name":null,"is_major_topic":false},{"descriptor_ui":"D008297","descriptor_name":"Male","qualifier_ui":null,"qualifier_name":null,"is_major_topic":false},{"descriptor_ui":"D010262","descriptor_name":"Paraphilic
        Disorders","qualifier_ui":"Q000150","qualifier_name":"complications","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W226566225%7Chttps://openalex.org/W2235251345%7Chttps://openalex.org/W2039403732%7Chttps://openalex.org/W2021996839%7Chttps://openalex.org/W162611592%7Chttps://openalex.org/W2128979768%7Chttps://openalex.org/W2160113950%7Chttps://openalex.org/W2031227044%7Chttps://openalex.org/W28951234%7Chttps://openalex.org/W2073749066%7Chttps://openalex.org/W2290518631%7Chttps://openalex.org/W1996613256%7Chttps://openalex.org/W1970198445%7Chttps://openalex.org/W2299388045%7Chttps://openalex.org/W188584017%7Chttps://openalex.org/W4239834669%7Chttps://openalex.org/W2092896145%7Chttps://openalex.org/W2018255281%7Chttps://openalex.org/W2247601025
  response:
    body:
      string: '{"meta":{"count":19,"db_response_time_ms":13,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2128979768","doi":"https://doi.org/10.1001/archpsyc.1979.01780040083009","title":"Male
        Genital Self-mutilation","display_name":"Male Genital Self-mutilation","publication_year":1979,"publication_date":"1979-04-01","ids":{"openalex":"https://openalex.org/W2128979768","doi":"https://doi.org/10.1001/archpsyc.1979.01780040083009","mag":"2128979768","pmid":"https://pubmed.ncbi.nlm.nih.gov/426611"},"language":"en","primary_location":{"id":"doi:10.1001/archpsyc.197[...]
