interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1007/978-3-319-75889-3_1
  response:
    body:
      string: '{"id":"https://openalex.org/W2800740883","doi":"https://doi.org/10.1007/978-3-319-75889-3_1","title":"Climate
        Change and Increasing Risk of Extreme Heat","display_name":"Climate Change
        and Increasing Risk of Extreme Heat","publication_year":2018,"publication_date":"2018-01-01","ids":{"openalex":"https://openalex.org/W2800740883","doi":"https://doi.org/10.1007/978-3-319-75889-3_1","mag":"2800740883"},"language":"en","primary_location":{"id":"doi:10.1007/978-3-319-75889-3_1","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-3-319-75889-3_1","pdf_url":null,"source":{"id":"https://openalex.org/S4210189752","display_name":"SpringerBriefs
        in medical earth sciences","issn_l":"2523-3610","issn":["2523-3610","2523-3629"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319972","host_organization_name":"Springer
        International Publishing","host_organization_lineage":["https://openalex.org/P4310319972","https://openalex.org/P4310319965"],"host_organization_lineage_names":["Springer
        International Publishing","Springer Nature"],"type":"book series"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"SpringerBriefs
        in Medical Earth Sciences","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5090500153","display_name":"Hunter
        Jones","orcid":"https://orcid.org/0000-0003-4588-3911"},"institutions":[{"id":"https://openalex.org/I2802992173","display_name":"NOAA
        Oceanic and Atmospheric Research","ror":"https://ror.org/02kgve346","country_code":"US","type":"government","lineage":["https://openalex.org/I1308126019","https://openalex.org/I1343035065","https://openalex.org/I2802992173"]},{"id":"https://openalex.org/I1308126019","display_name":"National
        Oceanic and Atmospheric Administration","ror":"https://ror.org/02z5nhe81","country_code":"US","type":"funder","lineage":["https://openalex.org/I1308126019","https://openalex.org/I1343035065"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Hunter
        M. Jones","raw_affiliation_strings":["National Oceanic and Atmospheric Administration
        (UCAR Affiliate), NOAA Research, Climate Program Office, Silver Spring, MD,
        USA"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"National
        Oceanic and Atmospheric Administration (UCAR Affiliate), NOAA Research, Climate
        Program Office, Silver Spring, MD, USA","institution_ids":["https://openalex.org/I2802992173","https://openalex.org/I1308126019"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5090500153"],"corresponding_institution_ids":["https://openalex.org/I1308126019","https://openalex.org/I2802992173"],"apc_list":null,"apc_paid":null,"fwci":1.9937,"has_fulltext":false,"cited_by_count":4,"citation_normalized_percentile":{"value":0.84853906,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":89,"max":98},"biblio":{"volume":null,"issue":null,"first_page":"1","last_page":"13"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11244","display_name":"Climate
        Change and Health Impacts","score":1.0,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T11244","display_name":"Climate
        Change and Health Impacts","score":1.0,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T10190","display_name":"Air Quality
        and Health Impacts","score":0.9843000173568726,"subfield":{"id":"https://openalex.org/subfields/2307","display_name":"Health,
        Toxicology and Mutagenesis"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11109","display_name":"Thermoregulation
        and physiological responses","score":0.9767000079154968,"subfield":{"id":"https://openalex.org/subfields/2737","display_name":"Physiology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/extreme-heat","display_name":"Extreme
        heat","score":0.6719384789466858},{"id":"https://openalex.org/keywords/climate-change","display_name":"Climate
        change","score":0.6070982217788696},{"id":"https://openalex.org/keywords/preparedness","display_name":"Preparedness","score":0.5898769497871399},{"id":"https://openalex.org/keywords/hazard","display_name":"Hazard","score":0.5572771430015564},{"id":"https://openalex.org/keywords/extreme-weather","[...]
