interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1163/1937240x-00002096
  response:
    body:
      string: '{"id":"https://openalex.org/W1970275598","doi":"https://doi.org/10.1163/1937240x-00002096","title":"Global
        distribution of Fabaeformiscandona subacuta: an\u00a0exotic\u00a0invasive
        Ostracoda on the Iberian Peninsula?","display_name":"Global distribution of
        Fabaeformiscandona subacuta: an\u00a0exotic\u00a0invasive Ostracoda on the
        Iberian Peninsula?","publication_year":2012,"publication_date":"2012-01-01","ids":{"openalex":"https://openalex.org/W1970275598","doi":"https://doi.org/10.1163/1937240x-00002096","mag":"1970275598"},"language":"en","primary_location":{"id":"doi:10.1163/1937240x-00002096","is_oa":true,"landing_page_url":"https://doi.org/10.1163/1937240x-00002096","pdf_url":"https://academic.oup.com/jcb/article-pdf/32/6/949/10336473/jcb0949.pdf","source":{"id":"https://openalex.org/S141356220","display_name":"Journal
        of Crustacean Biology","issn_l":"0278-0372","issn":["0278-0372","1937-240X"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310311648","host_organization_name":"Oxford
        University Press","host_organization_lineage":["https://openalex.org/P4310311648","https://openalex.org/P4310311647"],"host_organization_lineage_names":["Oxford
        University Press","University of Oxford"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Journal
        of Crustacean Biology","raw_type":"journal-article"},"type":"article","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://academic.oup.com/jcb/article-pdf/32/6/949/10336473/jcb0949.pdf","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5134176008","display_name":"Andreu
        Escriv\u00e0","orcid":"https://orcid.org/0009-0003-2694-1191"},"institutions":[{"id":"https://openalex.org/I16097986","display_name":"Universitat
        de Val\u00e8ncia","ror":"https://ror.org/043nxc105","country_code":"ES","type":"education","lineage":["https://openalex.org/I16097986"]}],"countries":["ES"],"is_corresponding":false,"raw_author_name":"Andreu
        Escriv\u00e0","raw_affiliation_strings":["Departament de Microbiologia i Ecologia,
        Universitat de Val\u00e8ncia, Av. Dr. Moliner, 50, E-46100 Burjassot, Spain"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Departament
        de Microbiologia i Ecologia, Universitat de Val\u00e8ncia, Av. Dr. Moliner,
        50, E-46100 Burjassot, Spain","institution_ids":["https://openalex.org/I16097986"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5002532114","display_name":"Francesc
        Mesquita\u2010Joanes","orcid":"https://orcid.org/0000-0001-7168-1980"},"institutions":[{"id":"https://openalex.org/I16097986","display_name":"Universitat
        de Val\u00e8ncia","ror":"https://ror.org/043nxc105","country_code":"ES","type":"education","lineage":["https://openalex.org/I16097986"]}],"countries":["ES"],"is_corresponding":false,"raw_au[...]
