interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1016/j.ejphar.2015.03.018
  response:
    body:
      string: '{"id":"https://openalex.org/W1989154056","doi":"https://doi.org/10.1016/j.ejphar.2015.03.018","title":"Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease","display_name":"Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease","publication_year":2015,"publication_date":"2015-04-06","ids":{"openalex":"https://openalex.org/W1989154056","doi":"https://doi.org/10.1016/j.ejphar.2015.03.018","mag":"1989154056","pmid":"https://pubmed.ncbi.nlm.nih.gov/25818747"},"language":"en","primary_location":{"id":"doi:10.1016/j.ejphar.2015.03.018","is_oa":false,"landing_page_url":"https://doi.org/10.1016/j.ejphar.2015.03.018","pdf_url":null,"source":{"id":"https://openalex.org/S187816532","display_name":"European
        Journal of Pharmacology","issn_l":"0014-2999","issn":["0014-2999","1879-0712"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320990","host_organization_name":"Elsevier
        BV","host_organization_lineage":["https://openalex.org/P4310320990"],"host_organization_lineage_names":["Elsevier
        BV"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"European
        Journal of Pharmacology","raw_type":"journal-article"},"type":"review","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5050541044","display_name":"Sarah
        E. Beck","orcid":"https://orcid.org/0000-0002-6376-5276"},"institutions":[{"id":"https://openalex.org/I145311948","display_name":"Johns
        Hopkins University","ror":"https://ror.org/00za53h95","country_code":"US","type":"education","lineage":["https://openalex.org/I145311948"]},{"id":"https://openalex.org/I2799853436","display_name":"Johns
        Hopkins Medicine","ror":"https://ror.org/037zgn354","country_code":"US","type":"healthcare","lineage":["https://openalex.org/I2799853436"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Sarah
        E. Beck","raw_affiliation_strings":["Department of Molecular and Comparative
        Pathobiology, Johns Hopkins University School of Medicine, Baltimore, MD 21205,
        United States"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Department
        of Molecular and Comparative Pathobiology, Johns Hopkins University School
        of Medicine, Baltimore, MD 21205, United States","institution_ids":["https://openalex.org/I2799853436","https://openalex.org/I145311948"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5090190029","display_name":"Suzanne
        E. Queen","orcid":"https://orcid.org/0009-0001-7220-5254"},"institutions":[{"id":"https://openalex.org/I145311948","display_name":"Johns
        Hopkins University","ror":"https://ror.org/00za53h95","country_code":"US","type":"education","lineage":["https://openalex.org/I145311948"]},{"id":"https://openalex.org/I27[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W31547710%7Chttps://openalex.org/W32204808%7Chttps://openalex.org/W265089259%7Chttps://openalex.org/W1506827869%7Chttps://openalex.org/W1523157402%7Chttps://openalex.org/W1665954435%7Chttps://openalex.org/W1798857523%7Chttps://openalex.org/W1909519734%7Chttps://openalex.org/W1919528337%7Chttps://openalex.org/W1942242343%7Chttps://openalex.org/W1971219845%7Chttps[...]
