interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1038/hdy.2013.26
  response:
    body:
      string: '{"id":"https://openalex.org/W2026325500","doi":"https://doi.org/10.1038/hdy.2013.26","title":"Albinism
        in phylogenetically and geographically distinct populations of Astyanax cavefish
        arises through the same loss-of-function Oca2 allele","display_name":"Albinism
        in phylogenetically and geographically distinct populations of Astyanax cavefish
        arises through the same loss-of-function Oca2 allele","publication_year":2013,"publication_date":"2013-04-10","ids":{"openalex":"https://openalex.org/W2026325500","doi":"https://doi.org/10.1038/hdy.2013.26","mag":"2026325500","pmid":"https://pubmed.ncbi.nlm.nih.gov/23572122"},"language":"en","primary_location":{"id":"doi:10.1038/hdy.2013.26","is_oa":true,"landing_page_url":"https://doi.org/10.1038/hdy.2013.26","pdf_url":"https://www.nature.com/articles/hdy201326.pdf","source":{"id":"https://openalex.org/S99462834","display_name":"Heredity","issn_l":"0018-067X","issn":["0018-067X","1365-2540"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319965","host_organization_name":"Springer
        Nature","host_organization_lineage":["https://openalex.org/P4310319965"],"host_organization_lineage_names":["Springer
        Nature"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Heredity","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://www.nature.com/articles/hdy201326.pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5043404445","display_name":"Joshua
        B. Gross","orcid":"https://orcid.org/0000-0002-0032-1053"},"institutions":[{"id":"https://openalex.org/I63135867","display_name":"University
        of Cincinnati","ror":"https://ror.org/01e3m7079","country_code":"US","type":"education","lineage":["https://openalex.org/I63135867"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"J
        B Gross","raw_affiliation_strings":["Department of Biological Sciences, University
        of Cincinnati, Cincinnati, OH 45221, USA. grossja@ucmail.uc.edu","Department
        of Biological Sciences, University of Cincinnati,  Cincinnati,  OH 45221,
        USA"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Department
        of Biological Sciences, University of Cincinnati, Cincinnati, OH 45221, USA.
        grossja@ucmail.uc.edu","institution_ids":["https://openalex.org/I63135867"]},{"raw_affiliation_string":"Department
        of Biological Sciences, University of Cincinnati,  Cincinnati,  OH 45221,
        USA","institution_ids":["https://openalex.org/I63135867"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5112281158","display_name":"Horst
        Wilkens","orcid":null},"institutions":[{"id":"https://openalex.org/I159176309","display_name":"Universit\u00e4t
        Hamburg","ror":"https://ror.org/00g30e956","country_code":"DE","type":"education","lineage":["https://openalex.org/I159176309"]},{"id":"https://openalex.org/I4210143069","display_name":"Museum
        am Rothenbaum","ror":"https://ror.org/05c1tqh91","country_code":"DE","type":"archive","lineage":["https://openalex.org/I4210143069"]}],"countries":["DE"],"is_corresponding":false,"raw_author_name":"H
        Wilkens","raw_affiliation_strings":["Zoological Museum, University of Hamburg,
        Hamburg, Germany"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Zoological
        Museum, University of Hamburg, Hamburg, Germany","institution_ids":["https://openalex.org/I159176309","https://openalex.org/I4210143069"]}]}],"institutions":[],"countries_distinct_count":2,"institutions_distinct_count":3,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":{"value":3060,"currency":"EUR","value_usd":3860},"apc_paid":null,"fwci":3.9936,"has_fulltext":true,"cited_by_count":54,"citation_normalized_percentile":{"value":0.9370193,"is_in_top_1_percent":false,"is_in_top_10_percent":true},"cited_by_percentile_year":{"min":89,"max":99},"biblio":{"volume":"111","issue":"2","first_page":"122","last_page":"130"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T10332","display_name":"Amphibian
        and Reptile Biology","score":0.9966999888420105,"subfield":{"id":"https://openalex.org/subfields/2306","display_name":"Global
        and Planetary Change"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},"topics":[{"id":"https://openalex.org/T10332","display_name":"Amphibian
        and Reptile Biology","score":0.9966999888420105,"subfield":{"id":"https://openalex.org/subfields/2306","display_name":"Global
        and Planetary Change"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11926","display_name":"Subterranean
        biodiversity and taxonomy","score":0.9965000152587891,"subfield":{"id":"https://openalex.org/subfields/1911","display_name":"Paleontology"},"field":{"id":"https://openalex.org/fields/19","display_name":"Earth
        and Planetary Sciences"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T12014","display_name":"Fish biology,
        ecology, and behavior","score":0.9945999979972839,"subfield":{"id":"https://openalex.org/subfields/2309","display_name":"Nature
        and Landscape Conservation"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/biology","display_name":"Biology","score":0.924518346786499},{"id":"https://openalex.org/keywords/albinism","display_name":"Albinism","score":0.6211807727813721},{"id":"https://openalex.org/keywords/founder-effect","display_name":"Founder
        effect","score":0.5358798503875732},{"id":"https://openalex.org/keywords/population","display_name":"Population","score":0.5147914886474609},{"id":"https://openalex.org/keywords/evolutionary-biology","display_name":"Evolutionary
        biology","score":0.487530916929245},{"id":"https://openalex.org/keywords/allele","display_name":"Allele","score":0.42887312173843384},{"id":"https://openalex.org/keywords/cave","display_name":"Cave","score":0.42493927478790283},{"id":"https://openalex.org/keywords/zoology","display_name":"Zoology","score":0.3433905243873596},{"id":"https://openalex.org/keywords/genetics","display_name":"Genetics","score":0.2564515471458435},{"id":"https://openalex.org/keywords/haplotype","display_name":"Haplotype","score":0.20361566543579102},{"id":"https://openalex.org/keywords/ecology","display_name":"Ecology","score":0.13174289464950562},{"id":"https://openalex.org/keywords/gene","display_name":"Gene","score":0.11881223320960999}],"concepts":[{"id":"https://openalex.org/C86803240","wikidata":"https://www.wikidata.org/wiki/Q420","display_name":"Biology","level":0,"score":0.924518346786499},{"id":"https://openalex.org/C2775902910","wikidata":"https://www.wikidata.org/wiki/Q81867","display_name":"Albinism","level":2,"score":0.6211807727813721},{"id":"https://openalex.org/C195054827","wikidata":"https://www.wikidata.org/wiki/Q504568","display_name":"Founder
        effect","level":5,"score":0.5358798503875732},{"id":"https://openalex.org/C2908647359","wikidata":"https://www.wikidata.org/wiki/Q2625603","display_name":"Population","level":2,"score":0.514791[...]
