interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.14264/uql.2020.791
  response:
    body:
      string: '{"id":"https://openalex.org/W3038237952","doi":"https://doi.org/10.14264/uql.2020.791","title":"School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers","display_name":"School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers","publication_year":2020,"publication_date":"2020-05-25","ids":{"openalex":"https://openalex.org/W3038237952","doi":"https://doi.org/10.14264/uql.2020.791","mag":"3038237952"},"language":"en","primary_location":{"id":"doi:10.14264/uql.2020.791","is_oa":false,"landing_page_url":"https://doi.org/10.14264/uql.2020.791","pdf_url":null,"source":null,"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":null,"raw_type":"dissertation"},"type":"dissertation","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5001883509","display_name":"Patricia
        Collingwood","orcid":"https://orcid.org/0000-0003-3086-4443"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Patricia
        Maree Collingwood","raw_affiliation_strings":[],"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":["https://openalex.org/A5001883509"],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T13207","display_name":"Youth
        Substance Use and School Attendance","score":0.9997000098228455,"subfield":{"id":"https://openalex.org/subfields/3304","display_name":"Education"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T13207","display_name":"Youth
        Substance Use and School Attendance","score":0.9997000098228455,"subfield":{"id":"https://openalex.org/subfields/3304","display_name":"Education"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T11464","display_name":"Homelessness
        and Social Issues","score":0.9890999794006348,"subfield":{"id":"https://openalex.org/subfields/3600","display_name":"General
        Health Professions"},"field":{"id":"https://openalex.org/fields/36","display_name":"Health
        Professions"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T10182","display_name":"Child and
        Adolescent Psychosocial and Emotional Development","score":0.9829000234603882,"subfield":{"id":"https://openalex.org/subfields/3203","display_name":"Clinical
        Psychology"},"field":{"id":"https://openalex.org/fields/32","display_name":"Psychology"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/truancy","display_name":"Truancy","score":0.9805135726928711},{"id":"https://openalex.org/keywords/attendance","display_name":"Attendance","score":0.5388784408569336},{"id":"https://openalex.org/keywords/context","display_name":"Context
        (archaeology)","score":0.5138814449310303},{"id":"https://openalex.org/keywords/psychology","display_name":"Psychology","score":0.4591720402240753},{"id":"https://openalex.org/keywords/financial-independence","display_name":"Financial
        independence","score":0.41292959451675415},{"id":"https://openalex.org/keywords/criminology","display_name":"Criminology","score":0.30472278594970703},{"id":"https://openalex.org/keywords/political-science","display_name":"Political
        science","score":0.2634178400039673},{"id":"https://openalex.org/keywords/economics","display_name":"Economics","score":0.16127482056617737},{"id":"https://openalex.org/keywords/finance","display_name":"Finance","score":0.10473006963729858},{"id":"https://openalex.org/keywords/law","display_name":"Law","score":0.08459022641181946}],"concepts":[{"id":"https://openalex.org/C2776322641","wikidata":"https://www.wikidata.org/wiki/Q1545700","display_name":"Truancy","level":2,"score":0.9805135726928711},{"id":"https://openalex.org/C2778173179","wikidata":"https://www.wikidata.org/wiki/Q25339289","display_name":"Attendance","level":2,"score":0.5388784408569336},{"id":"https://openalex.org/C2779343474","wikidata":"https://www.wikidata.org/wiki/Q3109175","display_name":"Context
        (archaeology)","level":2,"score":0.5138814449310303},{"id":"https://openalex.org/C15744967","wikidata":"https://www.wikidata.org/wiki/Q9418","display_name":"Psychology","level":0,"score[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W3125906742%7Chttps://openalex.org/W2026068566%7Chttps://openalex.org/W2139577987%7Chttps://openalex.org/W2056108924%7Chttps://openalex.org/W2169029212%7Chttps://openalex.org/W2074805244%7Chttps://openalex.org/W1984539215%7Chttps://openalex.org/W2151677629%7Chttps://openalex.org/W2080188120%7Chttps://openalex.org/W2146445446%7Chttps://openalex.org/W2075534275%7C[...]
[...]
