interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1016/j.ejphar.2015.03.018
  response:
    body:
      string: '{"id":"https://openalex.org/W1989154056","doi":"https://doi.org/10.1016/j.ejphar.2015.03.018","title":"Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease","display_name":"Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease","publication_year":2015,"publication_date":"2015-04-06","ids":{"openalex":"https://openalex.org/W1989154056","doi":"https://doi.org/10.1016/j.ejphar.2015.03.018","mag":"1989154056","pmid":"https://pubmed.ncbi.nlm.nih.gov/25818747"},"language":"en","primary_location":{"id":"doi:10.1016/j.ejphar.2015.03.018","is_oa":false,"landing_page_url":"https://doi.org/10.1016/j.ejphar.2015.03.018","pdf_url":null,"source":{"id":"https://openalex.org/S187816532","display_name":"European
        Journal of Pharmacology","issn_l":"0014-2999","issn":["0014-2999","1879-0712"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320990","host_organization_name":"Elsevier
        BV","host_organization_lineage":["https://openalex.org/P4310320990"],"host_organization_lineage_names":["Elsevier
        BV"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"European
        Journal of Pharmacology","raw_type":"journal-article"},"type":"review","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A2119027060","display_name":"Sarah
        E. Beck","orcid":"https://orcid.org/0000-0002-6376-5276"},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Sarah
        E. Beck","raw_affiliation_strings":[],"affiliations":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A1998418519","display_name":"Suzanne
        E Queen","orcid":"https://orcid.org/0009-0001-7220-5254"},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Suzanne
        E. Queen","raw_affiliation_strings":[],"affiliations":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A2094399063","display_name":"Kenneth
        W. Witwer","orcid":"https://orcid.org/0000-0003-1664-4233"},"instit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W4313342455%7Chttps://openalex.org/W2115118763%7Chttps://openalex.org/W2050667838%7Chttps://openalex.org/W31547710%7Chttps://openalex.org/W2059879426%7Chttps://openalex.org/W265089259%7Chttps://openalex.org/W1989732284%7Chttps://openalex.org/W6674611177%7Chttps://openalex.org/W2169753949%7Chttps://openalex.org/W2070566840%7Chttps://openalex.org/W2102433466%7Chtt[...]
[...]
