interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=1
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 91, "page": 1, "per_page":
        25, "groups_count": null, "x_query": {"oql": "works sample 1", "oqo": {"get_rows":
        "works", "sample": 1}, "url": "/works?sample=1"}, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2238999992", "doi": null, "title": "Expansion
        of human cord blood hematopoietic stem/progenitor cells in three-dimensional
        Nanoscaffold coated with Fibronectin.", "display_name": "Expansion of human
        cord blood hematopoietic stem/progenitor cells in three-dimensional Nanoscaffold
        coated with Fibronectin.", "relevance_score": 0.99999994, "publication_year":
        2015, "publication_date": "2015-04-01", "ids": {"openalex": "https://openalex.org/W2238999992",
        "mag": "2238999992", "pmid": "https://pubmed.ncbi.nlm.nih.gov/25922647"},
        "language": "en", "primary_location": {"id": "pmid:25922647", "is_oa": false,
        "landing_page_url": "https://pubmed.ncbi.nlm.nih.gov/25922647", "pdf_url":
        null, "source": {"id": "https://openalex.org/S4306525036", "display_name":
        "PubMed", "issn_l": null, "issn": null, "is_oa": false, "is_in_doaj": false,
        "is_core": false, "host_organization": "https://openalex.org/I1299303238",
        "host_organization_name": "National Institutes of Health", "host_organization_lineage":
        ["https://openalex.org/I1299303238"], "host_organization_lineage_names": [],
        "type": "repository"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "International
        journal of hematology-oncology and stem cell research", "raw_type": null},
        "type": "article", "indexed_in": ["doaj", "pubmed"], "open_access": {"is_oa":
        true, "oa_status": "green", "oa_url": "https://doaj.org/article/b1795dbe218c466db6f99263347c8937",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5049756106", "display_name":
        "Seyed Hadi Mousavi", "orcid": null}, "institutions": [{"id": "https://openalex.org/I1516879",
        "display_name": "Tarbiat Modares University", "ror": "https://ror.org/03mwgfy56",
        "country_code": "IR", "type": "education", "lineage": ["https://openalex.org/I1516879"]}],
        "countries": ["IR"], "is_corresponding": false, "raw_author_name": "Seyed
        Hadi Mousavi", "raw_affiliation_strings": ["PhD student of Hematology, Department
        of Hematology and Blood Banking, Faculty of Medical Sciences, Tarbiat Modares
        University, Tehran, Iran"], "raw_orcid": null, "affiliations": [{"raw_affiliation_string":
        "PhD student of Hematology, Department of Hematology and Blood Banking, Faculty
        of Medical Sciences, Tarbiat Modares University, Tehran, Iran", "institution_ids":
        ["https://openalex.org/I1516879"]}]}, {"author_position": "middle", "author":
        {"id": "https://openalex.org/A5103005413", "display_name": "Saeid Abroun",
        "orcid": null}, "institutions": [{"id": "https://openalex.org/I1516879", "display_name":
        "Tarbiat Modares University", "ror": "https://ror.org/03mwgfy56", "country_code":
        "IR", "type": "education", "lineage": ["https://openalex.org/I1516879"]}],
        "countries": ["IR"], "is_corresponding": false, "raw[...]
[...]
