interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?sample=1
  response:
    body:
      string: '{"meta":{"count":1,"db_response_time_ms":132,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2278010208","doi":"https://doi.org/10.1007/978-90-368-0508-7_63","title":"Erfelijke
        metabole ziekten","display_name":"Erfelijke metabole ziekten","relevance_score":0.99999994,"publication_year":2013,"publication_date":"2013-01-01","ids":{"openalex":"https://openalex.org/W2278010208","doi":"https://doi.org/10.1007/978-90-368-0508-7_63","mag":"2278010208"},"language":"nl","primary_location":{"id":"doi:10.1007/978-90-368-0508-7_63","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-90-368-0508-7_63","pdf_url":null,"source":{"id":"https://openalex.org/S4306462952","display_name":"Bohn
        Stafleu van Loghum eBooks","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4310319919","host_organization_name":"Bohn
        Stafleu van Loghum","host_organization_lineage":["https://openalex.org/P4310319919"],"host_organization_lineage_names":[],"type":"ebook
        platform"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Informatorium
        voor Voeding en Di\u00ebtetiek","raw_type":"book-chapter"},"type":"book-chapter","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A4207872349","display_name":"Bohn
        Stafleu van Loghum","orcid":null},"institutions":[],"countries":[],"is_corresponding":true,"raw_author_name":"Bohn
        Stafleu van Loghum","raw_affiliation_strings":[],"affiliations":[]}],"institutions":[],"countries_distinct_count":0,"institutions_distinct_count":1,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":{"value":0.07678571,"is_in_top_1_percent":false,"is_in_top_10_percent":true},"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":"1305","last_page":"1347"},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T11027","display_name":"Metabolism
        and Genetic Disorders","score":1.0,"subfield":{"id":"https://openalex.org/subfields/1308","display_name":"Clinical
        Biochemistry"},"field":{"id":"https://openalex.org/fields/13","display_name":"Biochemistry,
        Genetics and Molecular Biology"},"domain":{"id":"https://openalex.org/domains/1","display_name":"Life
        Sciences"}},"topics":[{"id":"https://openalex.org/T11027","display_name":"Metabolism
        and Genetic Disorders","score":1.0,"subfield":{"id":"https://openalex.org/subfields/1308","display_name":"Clinical
        Biochemistry"},"field":{"id":"https://openalex.org/fields/13","display_name":"Biochemistry,
        Genetics and Molecular Biology"},"domain":{"id":"https://openalex.org/domains/1","display_name":"Life
        Sciences"}},{"id":"https://openalex.org/T12267","display_name":"Diet and metabolism
        studies","score":0.9994999766349792,"subfield":{"id":"https://openalex.org/subfields/2737","display_name":"Physiology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}},{"id":"https://openalex.org/T13966","display_name":"Neurological
        and metabolic disorders","score":0.9980000257492065,"subfield":{"id":"https://openalex.org/subfields/2712","display_name":"Endocrinology,
        Diabetes and Metabolism"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/art","display_name":"Art","score":0.6140688061714172},{"id":"https://openalex.org/keywords/theology","display_name":"Theology","score":0.47663414478302},{"id":"https://openalex.org/keywords/humanities","display_name":"Humanities","score":0.32297438383102417},{"id":"https://openalex.org/keywords/philosophy","display_name":"Philosophy","score":0.16109508275985718}],"concepts":[{"id":"https://openalex.org/C142362112","wikidata":"https://www.wikidata.org/wiki/Q735","display_name":"Art","level":0,"score":0.6140688061714172},{"id":"https://openalex.org/C27206212","wikidata":"https://www.wikidata.org/wiki/Q34178","display_name":"Theology","level":1,"score":0.47663414478302},{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":0.32297438383102417},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":0.16109508275985718}],"mesh":[],"locations_count":1,"locations":[{"id":"doi:10.1007/978-90-368-0508-7_63","is_oa":false,"landing_page_url":"https://doi.org/10.1007/978-90-368-0508-7_63","pdf_url":null,"source":{"id":"https://openalex.org/S4306462952","display_name":"Bohn
        Stafleu van Loghum eBooks","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/P4310319919","host_organization_name":"Bohn
        Stafleu van Loghum","host_organization_lineage":["https://openalex.org/P4310319919"],"host_organization_lineage_names":[],"type":"ebook
        platform"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Informatorium
        voor Voeding en Di\u00ebtetiek","raw_type":"book-chapter"}],"best_oa_location":null,"sustainable_development_goals":[],"grants":[],"awards":[],"funders":[],"has_content":{"pdf":false,"grobid_xml":false},"referenced_works_count":7,"referenced_works":["https://openalex.org/W1868168182","https://openalex.org/W1981771148","https://openalex.org/W2158410142","https://openalex.org/W2080984707","https://openalex.org/W2036198947","https://openalex.org/W1709613873","https://openalex.org/W2146557873"],"related_works":["https://openalex.org/W4387497383","https://openalex.org/W3183948672","https://openalex.org/W3173606202","https://openalex.org/W3110381201","https://openalex.org/W2948807893","https://openalex.org/W2935909890","https://openalex.org/W2778153218","https://openalex.org/W2758277628","https://openalex.org/W2748952813","https://openalex.org/W1531601525"],"abstract_inverted_index":{"AbstractErfelijke":[0],"metabole":[1],"ziekten":[2,10,44,50,61],"is":[3,59],"de":[4,52,77,84],"naam":[5],"voor":[6],"een":[7,30,39,47,79],"scala":[8],"aan":[9],"die":[11,62],"als":[12,71],"gemeenschappelijk":[13,72],"kenmerk":[14,73],"hebben":[15,69],"dat":[16,74],"ze":[17],"worden":[18,43,63],"veroorzaakt":[19,64],"door":[20,65],"biochemische":[21],"ontsporingen.":[22],"Die":[23],"ontsporingen":[24],"kunnen":[25],"het":[26,92],"gevolg":[27],"zijn":[28],"van":[29,33,38,76,83,91],"gestoorde":[31,48],"omzetting":[32],"nutri\u00ebnt":[34],"of":[35,37,54],"substraat,":[36],"gestoord":[40],"transport.":[41],"Er":[42],"onderscheiden":[45],"met":[46],"energiehuishouding,":[49],"waarbij":[51],"acute":[53],"chronische":[55],"toxiciteit":[56],"sterk":[57],"bepalend":[58],"en":[60,97],"acuut":[66],"katabolisme.De":[67],"stofwisselingsziekten":[68],"ook":[70],"aanpassing":[75],"voeding":[78],"zeer":[80],"belangrijke":[81],"pijler":[82],"behandeling":[85],"vormt.":[86],"De":[87],"dieetbehandeling":[88],"bestaat":[89],"(afhankelijk":[90],"defect)":[93],"vooral":[94],"uit":[95],"''elimineren''":[96],"''suppleren''.":[98]},"counts_by_year":[],"updated_date":"2025-11-06T03:46:38.306776","created_date":"2016-06-24T00:00:00"}],"group_by":[]}

        '
    headers:
      Content-Type:
      - application/json
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '9'
      RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
