interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/https://doi.org/10.1155/2012/291294
  response:
    body:
      string: '{"id":"https://openalex.org/W2157853701","doi":"https://doi.org/10.1155/2012/291294","title":"Delineating
        a Retesting Zone Using Receiver Operating Characteristic Analysis on Serial
        QuantiFERON Tuberculosis Test Results in US Healthcare Workers","display_name":"Delineating
        a Retesting Zone Using Receiver Operating Characteristic Analysis on Serial
        QuantiFERON Tuberculosis Test Results in US Healthcare Workers","publication_year":2012,"publication_date":"2012-01-01","ids":{"openalex":"https://openalex.org/W2157853701","doi":"https://doi.org/10.1155/2012/291294","mag":"2157853701","pmid":"https://pubmed.ncbi.nlm.nih.gov/23326660"},"language":"en","primary_location":{"id":"doi:10.1155/2012/291294","is_oa":true,"landing_page_url":"https://doi.org/10.1155/2012/291294","pdf_url":"https://downloads.hindawi.com/journals/pm/2012/291294.pdf","source":{"id":"https://openalex.org/S39348499","display_name":"Pulmonary
        Medicine","issn_l":"2090-1836","issn":["2090-1836","2090-1844"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310319869","host_organization_name":"Hindawi
        Publishing Corporation","host_organization_lineage":["https://openalex.org/P4310319869"],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"Pulmonary
        Medicine","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://downloads.hindawi.com/journals/pm/2012/291294.pdf","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5012220176","display_name":"Wendy
        Thanassi","orcid":"https://orcid.org/0000-0003-4187-0777"},"institutions":[{"id":"https://openalex.org/I4210119030","display_name":"Mental
        Illness Research, Education and Clinical Centers","ror":"https://ror.org/02hd1sz82","country_code":"US","type":"healthcare","lineage":["https://openalex.org/I1322918889","https://openalex.org/I2799886695","https://openalex.org/I4210119030"]},{"id":"https://openalex.org/I97018004","display_name":"Stanford
        University","ror":"https://ror.org/00f54p054","country_code":"US","type":"education","lineage":["https://openalex.org/I97018004"]},{"id":"https://openalex.org/I204866599","display_name":"VA
        Palo Alto Health Care System","ror":"https://ror.org/00nr17z89","country_code":"US","type":"healthcare","lineage":["https://openalex.org/I1322918889","https://openalex.org/I204866599","https://openalex.org/I2799886695","https://openalex.org/I4210125474"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Wendy
        Thanassi","raw_affiliation_strings":["Department of Medicine, Veterans Affairs
        Palo Alto Health Care System, 3801 Miranda Avenue MC-, Palo Alto, CA 94304-1207,
        USA","Division of Emergency Medicine, Stanford University School of Medicine,
        Stanford, CA 94304, USA","Occupational Health Strategic Health Care Group,
        Office of Public Health, Veterans Health Administration, Washington, DC 20006,
        USA","War Related Illness and Injury Study Center (WRIISC) and Mental Illness
        Research Education and Clinical Center (MIRECC), Department of Veterans Affairs,
        Palo Alto, CA 94304, USA"],"affiliations":[{"raw_affiliation_string":"Department
        of Medicine, Veterans Affairs Palo Alto Health Care System, 3801 Miranda Avenue
        MC-, Palo Alto, CA 94304-1207, USA","institution_ids":["https://openalex.org/I204866599"]},{"raw_affiliation_string":"Division
        of Emergency Medicine, Stanford University School of Medicine, Stanford, CA
        94304, USA","institution_ids":["https://openalex.org/I97018004"]},{"raw_affiliation_string":"Occupational
        Health Strategic Health Care Group, Office of Public Health, Veterans Health
        Administration, Washington, DC 20006, USA","institution_ids":[]},{"raw_affiliation_string":"War
        Related Illness and Injury Study[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex:https://openalex.org/W2138957101%7Chttps://openalex.org/W2028144733%7Chttps://openalex.org/W1998113618%7Chttps://openalex.org/W2104304537%7Chttps://openalex.org/W86750161%7Chttps://openalex.org/W2015432940%7Chttps://openalex.org/W2043194196%7Chttps://openalex.org/W2011943102%7Chttps://openalex.org/W2140909669%7Chttps://openalex.org/W2069879582%7Chttps://openalex.org/W184839340%7Chttps://openalex.org/W55331167%7Chttps://openalex.org/W2120595701%7Chttps://openalex.org/W2108124040%7Chttps://openalex.org/W2170949828%7Chttps://openalex.org/W2122689695%7Chttps://openalex.org/W2079765579%7Chttps://openalex.org/W2123889392%7Chttps://openalex.org/W2039778058%7Chttps://openalex.org/W2624159414%7Chttps://openalex.org/W1968300278%7Chttps://openalex.org/W2322934862
  response:
    body:
      string: '{"meta":{"count":22,"db_response_time_ms":31,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W86750161","doi":null,"title":"Updated
        guidelines for using Interferon Gamma Release Assays to detect Mycobacterium
        tuberculosis infection - United States, 2010.","display_name":"Updated guidelines
        for using Interferon Gamma Release Assays to detect Mycobacterium tuberculosis
        infection - United States, 2010.","publication_year":2010,"publication_date":"2010-06-25","ids":{"openalex":"https://openalex.org/W86750161","mag":"86750161","pmi[...]
