interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer None
      Content-Type:
      - application/json
    method: GET
    uri: https://rogue-scholar.org/api/records?q=doi%3A10.54900%2Fxn57k-gyw73&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"id": "e1ndf-19s62", "created": "2026-07-28T08:18:56.597542+00:00",
        "updated": "2026-08-30T21:41:30.586821+00:00", "links": {"self": "https://rogue-scholar.org/api/records/e1ndf-19s62",
        "self_html": "https://rogue-scholar.org/records/e1ndf-19s62", "preview_html":
        "https://rogue-scholar.org/records/e1ndf-19s62?preview=1", "doi": "https://doi.org/10.54900/xn57k-gyw73",
        "self_doi": "https://doi.org/10.54900/xn57k-gyw73", "self_doi_html": "https://rogue-scholar.org/doi/10.54900/xn57k-gyw73",
        "reserve_doi": "https://rogue-scholar.org/api/records/e1ndf-19s62/draft/pids/doi",
        "parent": "https://rogue-scholar.org/api/records/t6byp-m6w86", "parent_html":
        "https://rogue-scholar.org/records/t6byp-m6w86", "parent_doi": "https://doi.org/10.54900/t6byp-m6w86",
        "parent_doi_html": "https://rogue-scholar.org/doi/10.54900/t6byp-m6w86", "self_iiif_manifest":
        "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62/manifest", "self_iiif_sequence":
        "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62/sequence/default",
        "files": "https://rogue-scholar.org/api/records/e1ndf-19s62/files", "media_files":
        "https://rogue-scholar.org/api/records/e1ndf-19s62/media-files", "thumbnails":
        {"10": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E10,/0/default.jpg",
        "50": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E50,/0/default.jpg",
        "100": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E100,/0/default.jpg",
        "250": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E250,/0/default.jpg",
        "750": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://rogue-scholar.org/api/iiif/record:e1ndf-19s62:10.54900-xn57k-gyw73.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://rogue-scholar.org/api/records/e1ndf-19s62/files-archive",
        "archive_media": "https://rogue-scholar.org/api/records/e1ndf-19s62/media-files-archive",
        "latest": "https://rogue-scholar.org/api/records/e1ndf-19s62/versions/latest",
        "latest_html": "https://rogue-scholar.org/records/e1ndf-19s62/latest", "versions":
        "https://rogue-scholar.org/api/records/e1ndf-19s62/versions", "draft": "https://rogue-scholar.org/api/records/e1ndf-19s62/draft",
        "access_links": "https://rogue-scholar.org/api/records/e1ndf-19s62/access/links",
        "access_grants": "https://rogue-scholar.org/api/records/e1ndf-19s62/access/grants",
        "access_users": "https://rogue-scholar.org/api/records/e1ndf-19s62/access/users",
        "access_groups": "https://rogue-scholar.org/api/records/e1ndf-19s62/access/groups",
        "access_request": "https://rogue-scholar.org/api/records/e1ndf-19s62/access/request",
        "access": "https://rogue-scholar.org/api/records/e1ndf-19s62/access", "communities":
        "https://rogue-scholar.org/api/records/e1ndf-19s62/communities", "communities-suggestions":
        "https://rogue-scholar.org/api/records/e1ndf-19s62/communities-suggestions",
        "request_deletion": "https://rogue-scholar.org/api/records/e1ndf-19s62/request-deletion",
        "file_modification": "https://rogue-scholar.org/api/records/e1ndf-19s62/file-modification",
        "quota_increase": "https://rogue-scholar.org/api/records/e1ndf-19s62/quota-increase",
        "requests": "https://rogue-scholar.org/api/records/e1ndf-19s62/requests"},
        "revision_id": 35, "parent": {"id": "t6byp-m6w86", "access": {"owned_by":
        {"user": "4"}, "settings": {"allow_user_requests": false, "allow_guest_requests":
        false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b", "d79fe364-6d96-40b6-b437-b93ca3493106",
        "fbc3bd5a-137e-4366-94ae-92a6e9d744e3"], "default": "b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b",
        "entries": [{"id": "b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b", "created": "2024-10-05T11:02:14.834230+00:00",
        "updated": "2026-08-22T09:06:37.914260+00:00", "links": {}, "revision_id":
        3856, "slug": "upstream", "metadata": {"title": "Upstream", "type": {"id":
        "blog", "title": {"de": "Blog", "en": "Blog", "sv": "Blogg"}}, "website":
        "https://upstream.force11.org"}, "access": {"visibility": "public", "members_visibility":
        "public", "member_policy": "closed", "record_submission_policy": "open", "review_policy":
        "closed"}, "deletion_status": {"is_deleted": false, "status": "P"}, "children":
        {"allow": true}}, {"id": "d79fe364-6d96-40b6-b437-b93ca3493106", "created":
        "2025-02-10T08:12:28.813373+00:00", "updated": "2025-12-02T20:56:15.845048+00:00",
        "links": {}, "revision_id": 11, "slug": "1710", "metadata": {"title": "Information
        Systems", "type": {"id": "subject", "title": {"de": "Fachgebiet", "en": "Subject
        Area", "sv": "\u00c4mnesomr\u00e5de"}}, "website": "https://openalex.org/subfields/1710"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "closed", "record_submission_policy": "open", "review_policy": "closed"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}, {"id": "fbc3bd5a-137e-4366-94ae-92a6e9d744e3", "created": "2025-02-11T17:20:32.633964+00:00",
        "updated": "2025-12-02T20:56:11.605253+00:00", "links": {}, "revision_id":
        11, "slug": "1802", "metadata": {"title": "Information Systems and Management",
        "type": {"id": "subject", "title": {"de": "Fachgebiet", "en": "Subject Area",
        "sv": "\u00c4mnesomr\u00e5de"}}, "website": "https://openalex.org/subfields/1802"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "closed", "record_submission_policy": "open", "review_policy": "closed"},
        "deletion_status": {"is_deleted": false, "status": "P"}, "children": {"allow":
        false}}]}, "pids": {"doi": {"identifier": "10.54900/t6byp-m6w86", "provider":
        "crossref", "client": "crossref"}}}, "versions": {"is_latest": true, "index":
        1}, "is_published": true, "is_draft": false, "pids": {"doi": {"identifier":
        "10.54900/xn57k-gyw73", "provider": "crossref", "client": "crossref"}, "oai":
        {"identifier": "oai:invenio-rdm:e1ndf-19s62", "provider": "oai"}}, "metadata":
        {"resource_type": {"id": "publication-blogpost", "title": {"de": "Blogbeitrag",
        "en": "Blog post", "sv": "blogginl\u00e4gg"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Ochsner, Catharina", "given_name": "Catharina",
        "family_name": "Ochsner", "identifiers": [{"identifier": "0009-0005-3885-3951",
        "scheme": "orcid"}]}, "affiliations": [{"id": "01hcx6992", "name": "Humboldt-Universit\u00e4t
        zu Berlin", "identifiers": [{"identifier": "01hcx6992", "scheme": "ror"}]}]},
        {"person_or_org": {"type": "personal", "name": "Pampel, Heinz", "given_name":
        "Heinz", "family_name": "Pampel", "identifiers": [{"identifier": "0000-0003-3334-2771",
        "scheme": "orcid"}]}}, {"person_or_org": {"type": "personal", "name": "Fenner,
        Martin", "given_name": "Martin", "family_name": "Fenner", "identifiers": [{"identifier":
        "0000-0003-1419-2405", "scheme": "orcid"}]}, "affiliations": [{"name": "Front
        Matter"}]}], "title": "Ten simple rules for scholarly blogging", "publisher":
        "Front Matter", "publication_date": "2026-07-28", "subjects": [{"id": "https://openalex.org/subfields/1802",
        "subject": "Information Systems and Management", "scheme": "Subfields"}, {"id":
        "http://www.oecd.org/science/inno/38235147.pdf?5.2", "subject": "Economics
        and business", "scheme": "FOS"}, {"id": "https://openalex.org/T12863", "subject":
        "Web and Library Services", "scheme": "Topics"}, {"id": "https://openalex.org/subfields/1710",
        "subject": "Information Systems", "scheme": "Subfields"}, {"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
        "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
        "Original Research"}], "dates": [{"date": "2026-07-28T00:00:00Z", "type":
        {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued", "sv":
        "Utf\u00e4rdad"}}}, {"date": "2026-07-28T08:00:13Z", "type": {"id": "updated",
        "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "https://doi.org/10.54900/xn57k-gyw73", "scheme": "guid"}, {"identifier":
        "https://upstream.force11.org/ten-simple-rules-for-scholarly-blogging/", "scheme":
        "url"}], "version": "v1", "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
        Commons Attribution 4.0 International"}, "description": {"en": "The Creative
        Commons Attribution license allows re-distribution and re-use of a licensed
        work on the condition that the creator is appropriately credited."}, "icon":
        "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
        "scheme": "spdx"}}], "description": "The fragmentation of social media and
        the rise of Generative Artificial intelligence (AI) have renewed the importance
        of scholarly blogs. Similar to preprints, blogs enable researchers to communicate
        ideas, preliminary findings, and emerging debates without waiting for lengthy
        peer-review processes.", "references": [{"reference": "Burton, M. (2015).
        Blogs as infrastructure for scholarly communication [Phd]. University of Michigan."},
        {"identifier": "10.1177/0741088313493610", "scheme": "doi", "reference": "Luz\u00f3n,
        M. J. (2013). Public Communication of Science in Blogs. <i>Written Communication</i>,
        <i>30</i>(4), 428\u2013457."}, {"identifier": "10.1371/journal.pbio.0060240",
        "scheme": "doi", "reference": "Batts, S. A., Anthis, N. J., &amp; Smith, T.
        C. (2008). Advancin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records/e1ndf-19s62
  response:
    body:
      string: '{"id": "e1ndf-19s62", "created": "2026-07-28T08:18:56.597542+00:00",
        "updated": "2026-08-30T21:41:30.586821+00:00", "links": {"self": "https://rogue-scholar.org/api/records/e1ndf-19s62",
        "self_html": "https://rogue-scholar.org/records/e1ndf-19s62", "preview_html":
        "https://rogue-scholar.org/records/e1ndf-19s62?preview=1", "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.54900
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.54900\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
