interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1007
  response:
    content: "[\n  {\n    \"DOI\": \"10.1007\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1007/s00120-007-1345-2
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,13]],"date-time":"2023-09-13T18:21:04Z","timestamp":1694629264401},"reference-count":20,"publisher":"Springer
      Science and Business Media LLC","issue":"7","license":[{"start":{"date-parts":[[2007,7,1]],"date-time":"2007-07-01T00:00:00Z","timestamp":1183248000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2007,7,1]],"date-time":"2007-07-01T00:00:00Z","timestamp":1183248000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Urologe"],"published-print":{"date-parts":[[2007,7]]},"DOI":"10.1007\/s00120-007-1345-2","type":"journal-article","created":{"date-parts":[[2007,4,13]],"date-time":"2007-04-13T09:57:50Z","timestamp":1176458270000},"page":"776-779","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["Penile
      injury caused by a Moulinette","Penisverletzung durch eine Moulinette"],"prefix":"10.1007","volume":"46","author":[{"given":"M.","family":"Lehsnau","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2007,7,8]]},"reference":[{"key":"1345_CR1","doi-asserted-by":"crossref","first-page":"1143","DOI":"10.1016\/S0022-5347(17)35709-9","volume":"150","author":"Aboseif","year":"1993","unstructured":"Aboseif
      S, Gomez R, Mc Aninch JW (1993) Genital self-mutilation. J Urol 150: 1143","journal-title":"J
      Urol"},{"key":"1345_CR2","first-page":"717","volume":"16","author":"A Bigot","year":"1938","unstructured":"Bigot
      A (1938) Recherches sur le penis des Tonkinois, suivies d\u00f9ne note sur les
      automutilations genitals. Rev Med Franc d\u201aExtreme-Orient 16: 717","journal-title":"Rev
      Med Franc d\u201aExtreme-Orient"},{"key":"1345_CR3","doi-asserted-by":"crossref","first-page":"35","DOI":"10.1080\/00926239608405304","volume":"22","author":"Catalona","year":"1996","unstru[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.1007
  response:
    content: "[\n  {\n    \"DOI\": \"10.1007\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
version: 1
