interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    body:
      string: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/ybhah-9jy85
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
        Matter"}],"indexed":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:34:39Z","timestamp":1764250479877,"version":"3.46.0"},"posted":{"date-parts":[[2023,10,4]]},"group-title":"Front
        Matter","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Newsletters
        have been around forever, but their popularity has significantly increased
        in the past few years, also thanks to platforms such as Ghost, Medium, and
        Substack. Which of course also includes science newsletters. Failure of advertising
        as a revenue model The most important driver of this trend is probably the
        realization that advertising is a poor revenue model for content published
        on the web, including blogs.<\/jats:p>","DOI":"10.53731\/ybhah-9jy85","type":"posted-content","created":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T08:48:19Z","timestamp":1696409299000},"source":"Crossref","is-referenced-by-count":0,"title":["The
        rise of the (science) newsletter"],"prefix":"10.59350","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","unstructured":"Vidal
        Valero, M. (2023). Thousands of scientists are cutting back on Twitter, seeding
        angst and uncertainty. <i>Nature<\/i>, <i>620<\/i>(7974), 482\u2013484.","DOI":"10.1038\/d41586-023-02554-0"},{"key":"ref2","doi-asserted-by":"publisher","unstructured":"Bilder,
        G., Lin, J., &amp; Neylon, C. (2020). <i>The Principles of Open Scholarly
        Infrastructure<\/i>. The Principles of Open Scholarly Infrastructure.","DOI":"10.24343\/c34w2h"},{"key":"ref3","doi-asserted-by":"publisher","unstructured":"Fenner,
        M. (2023). The Rogue Scholar weekly newsletter launches on Wednesday. In <i>Front
        Matter<\/i> (Version v1). Crossref.","DOI":"10.53731\/9cdnt-2k006"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.de\/posts\/the-rise-of-the-science-newsletter\/","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.md","content-type":"text\/markdown","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2025,11,27]],"date-time":"2025-11-27T13:29:54Z","timestamp":1764250194000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.de\/posts\/the-rise-of-the-science-newsletter\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,10,4]]},"references-count":3,"version":{"version":"v1"},"URL":"https:\/\/doi.org\/10.53731\/ybhah-9jy85","relation":{},"subject":[],"published":{"date-parts":[[2023,10,4]]},"subtype":"other"}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
