interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=1
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2025,11,24]],"date-time":"2025-11-24T15:26:12Z","timestamp":1763997972327,"version":"3.45.0"},"publisher-location":"Philadelphia","reference-count":0,"publisher":"Blakiston","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1945]]},"DOI":"10.1037\/10784-011","type":"book-chapter","created":{"date-parts":[[2005,8,8]],"date-time":"2005-08-08T10:10:35Z","timestamp":1123495835000},"page":"251-277","source":"Crossref","is-referenced-by-count":0,"title":["Psychosomatic
        states."],"prefix":"10.1037","author":[{"given":"Roy R.","family":"Grinker","sequence":"first","affiliation":[]},{"given":"John
        P.","family":"Spiegel","sequence":"additional","affiliation":[]}],"member":"15","container-title":["Men
        under stress."],"language":"en","link":[{"URL":"https:\/\/psycnet.apa.org\/books\/10784\/011.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,11,24]],"date-time":"2025-11-24T15:20:07Z","timestamp":1763997607000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/content.apa.org\/books\/10784-011"}},"issued":{"date-parts":[[1945]]},"references-count":0,"alternative-id":["2005-06682-011","2005-06682-000"],"URL":"https:\/\/doi.org\/10.1037\/10784-011","published":{"date-parts":[[1945]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T01:52:33Z","timestamp":1649209953238},"reference-count":22,"publisher":"Elsevier
        BV","issue":"4","license":[{"start":{"date-parts":[[1977,4,1]],"date-time":"1977-04-01T00:00:00Z","timestamp":228700800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2019,12,20]],"date-time":"2019-12-20T00:00:00Z","timestamp":1576800000000},"content-version":"vor","delay-in-days":15603,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Thoracic and Cardiovascular Surgery"],"published-print":{"date-parts":[[1977,4]]},"DOI":"10.1016\/s0022-5223(19)39907-6","type":"journal-article","created":{"date-parts":[[2019,12,20]],"date-time":"2019-12-20T22:23:34Z","timestamp":1576880614000},"page":"647-650","source":"Crossref","is-referenced-by-count":1,"title":["Increased
        cardiac output by downstream pumping with a reversed unidirectional intra-aortic
        balloon"],"prefix":"10.1016","volume":"73","author":[{"given":"Richard W.","family":"Pooley","sequence":"first","affiliation":[]},{"given":"Nestor
        J.","family":"Truccone","sequence":"additional","affiliation":[]},{"given":"Henry
        M.","family":"Spotnitz","sequence":"additional","affiliation":[]},{"given":"Eduardo
        N.","family":"Parodi","sequence":"additional","affiliation":[]},{"given":"David","family":"Bregman","sequence":"additional","affiliation":[]},{"given":"James
        R.","family":"Malm","sequence":"additional","affiliation":[]},{"given":"Keith","family":"Reemtsma","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/S0022-5223(19)39907-6_bib1","doi-asserted-by":"crossref","first-page":"659","DOI":"10.7326\/0003-4819-76-4-659","article-title":"Editorial:
        Intra-aortic Balloon Counterpulsation","volume":"76","author":"Braunwald","year":"1972","journal-title":"An
        Assessment. Ann. Intern. Med."},{"key":"10.1016\/S0022-5223(19)39907-6_bib2","doi-asserted-by":"crossref","first-page":"577","DOI":"10.1016\/S0022-5223(19)42027-8","article-title":"Clinical
        Experience With a New Cardiac Assist Device: The Dual-Chambered Intra-aortic
        Balloon Assist","volume":"62","author":"Bregman","year":"1971","journal-title":"J.
        Thorac. Cardiovasc. Surg"},{"key":"10.1016\/S0022-5223(19)39907-6_bib3","doi-asserted-by":"crossref","first-page":[...]
