interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=1
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2023,5,9]],"date-time":"2023-05-09T04:36:12Z","timestamp":1683606972020},"reference-count":0,"publisher":"Pakistan
        Journal of Agricultural Sciences","issue":"06","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["PAKJAS"],"published-print":{"date-parts":[[2022,11,1]]},"abstract":"<jats:p>The
        chemical analysis of CaCO3 contents of soils provide information about not
        only efficiency of soil for supplying plant with nutrients but also identification
        of factors affecting this efficiency in the soil. The aim of the current experiment
        was to develop new methods based on sensors and compare with conventional
        Scheibler method. The CO2 liberated by the action of HCl on CaCO3 content
        of the soil in a reaction bottle and an accumulation chamb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2026,3,9]],"date-time":"2026-03-09T00:16:09Z","timestamp":1773015369102,"version":"3.50.1"},"reference-count":0,"publisher":"SPIE","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011,5,13]]},"DOI":"10.1117\/12.886122","type":"proceedings-article","created":{"date-parts":[[2011,5,9]],"date-time":"2011-05-09T22:17:38Z","timestamp":1304979458000},"page":"801608","source":"Crossref","is-referenced-by-count":27,"title":["ALON
        optical ceramic transparencies for window, dome, and transparent armor applications"],"prefix":"10.1117","volume":"8016","author":[{"given":"Lee
        M.","family":"Goldman","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Rich","family":"Twedt","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Sreeram","family":"Balasubramanian","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Suri","family":"Sastri","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"189","event":{"name":"SPIE
        Defense, Security, and Sensing","location":"Orlando, Florida, United States"},"container-title":["SPIE
        Proceedings","Window and Dome Technologies and Materials XII"],"deposited":{"date-parts":[[2016,5,17]],"date-time":"2016-05-17T01:32:18Z","timestamp":1463448738000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/proceedings.spiedigitallibrary.org\/proceeding.aspx?doi=10.1117\/12.886122"}},"editor":[{"given":"Randal
        W.","family":"Tustison","sequence":"first","affiliation":[],"role":[{"role":"editor","vocabulary":"crossref"}]}],"issued":{"date-parts":[[2011,5,13]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1117\/12.886122","ISSN":["0277-786X"],"issn-type":[{"value":"0277-786X","type":"print"}],"published":{"date-parts":[[2011,5,13]]}},{"indexed":{"date-parts":[[2026,1,21]],"date-time":"2026-01-21T16:19:36Z","timestamp":1769012376203,"version":"3.49.0"},"reference-count":0,"publisher":"Wiley","issue":"8","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Quality
        &amp; Reliability Eng"],"published-print":{"date-parts":[[2022,12]]},"DOI":"10.1002\/qre.v38.8","type":"journal-issue","created":{"date-parts":[[2022,11,4]],"date-time":"2022-11-04T06:40:51Z","timestamp":1667544051000},"source":"Crossref","is-referenced-by-count":2,"prefix":"10.1002","volume":"38","member":"311","container-title":["Quality
        and Reliability Engineering International"],"language":"en","deposited":{"date-parts":[[2023,8,20]],"date-time":"2023-08-20T13:28:12Z","timestamp":1692538092000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/toc\/10991638\/38\/8"}},"issued":{"date-parts":[[2022,12]]},"references-count":0,"journal-issue":{"issue":"8","published-print":{"date-parts":[[2022,12]]}},"URL":"https:\/\/doi.org\/10.1002\/qre.v38.8","ISSN":["0748-8017","1099-1638"],"issn-type":[{"value":"0748-8017","type":"print"},{"value":"1099-1638","type":"electronic"}],"published":{"date-parts":[[2022,12]]}},{"indexed":{"date-parts":[[2026,6,29]],"date-time":"2026-06-29T16:53:20Z","timestamp":1782752000566,"version":"3.54.5"},"reference-count":46,"publisher":"Wiley","issue":"1","license":[{"start":{"date-parts":[[2017,5,15]],"date-time":"2017-05-15T00:00:00Z","timestamp":1494806400000},"content-version":"vor","delay-in-days":134,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"DOI":"10.13039\/100000865","name":"Bill
        and Melinda Gates Foundation","doi-asserted-by":"publisher","award":["OPP1134510"],"award-info":[{"award-number":["OPP1134510"]}],"id":[{"id":"10.13039\/100000865","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000200","name":"United
        States Agency for International Development","doi-asserted-by":"publisher","award":["GHA\u2010G\u201000\u201009\u201000003"],"award-info":[{"award-number":["GHA\u2010G\u201000\u201009\u201000003"]}],"id":[{"id":"10.13039\/100000200","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100004423","name":"World
        Health Organization","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100004423","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of the International AIDS Society"],"published-print":{"date-parts":[[2017,1]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p><jats:bold>Introduction<\/jats:bold>:
        HIV self\u2010testing (HIVST) is a discreet and convenient way to reach people
        with HIV who do not know their status, including many who may not otherwise
        test. To inform World Health Organization (WHO) guidance, we assessed the
        effect of HIVST on uptake and frequency of testing, as well as identification
        of HIV\u2010positive persons, linkage to care, social harm, and risk behaviour.<\/jats:p><jats:p><jats:bold>Methods<\/jats:bol[...]
