interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=1
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2026,2,6]],"date-time":"2026-02-06T20:32:29Z","timestamp":1770409949331,"version":"3.49.0"},"reference-count":23,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"15","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["NeuroReport"],"published-print":{"date-parts":[[2004,10]]},"DOI":"10.1097\/00001756-200410250-00013","type":"journal-article","created":{"date-parts":[[2004,10,5]],"date-time":"2004-10-05T08:23:22Z","timestamp":1096964602000},"page":"2365-2368","source":"Crossref","is-referenced-by-count":5,"title":["Shifting
        of cortical somatosensory areas in a man with amelia"],"prefix":"10.1097","volume":"15","author":[{"given":"Sandra","family":"Kamping","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Bernd","family":"L\u00fctkenh\u00f6ner","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Stefan","family":"Knecht","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"276","reference":[{"key":"R1-13-20110423","doi-asserted-by":"crossref","first-page":"591","DOI":"10.1002\/cne.902240408","volume":"224","author":"Merzenich","year":"1984","journal-title":"J
        Comp Neurol"},{"key":"R2-13-20110423","doi-asserted-by":"crossref","first-page":"1857","DOI":"10.1126\/science.1843843","volume":"252","author":"Pons","year":"1991","journal-title":"Science"},{"key":"R3-13-20110423","doi-asserted-by":"crossref","first-page":"8083","DOI":"10.1523\/JNEUROSCI.15-12-08083.1995","volume":"15","author":"Florence","year":"1995","journal-title":"J
        Neurosci"},{"key":"R4-13-20110423","doi-asserted-by":"crossref","first-page":"5503","DOI":"10.1523\/JNEUR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2026,1,7]],"date-time":"2026-01-07T00:13:04Z","timestamp":1767744784607,"version":"3.48.0"},"reference-count":0,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2026,3,1]],"date-time":"2026-03-01T00:00:00Z","timestamp":1772323200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2026,3,1]],"date-time":"2026-03-01T00:00:00Z","timestamp":1772323200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/legal\/tdmrep-license"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Computers
        and Geotechnics"],"published-print":{"date-parts":[[2026,3]]},"DOI":"10.1016\/s0266-352x(26)00004-2","type":"journal-article","created":{"date-parts":[[2026,1,6]],"date-time":"2026-01-06T15:47:59Z","timestamp":1767714479000},"page":"107898","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"special_numbering":"C","title":["Editorial
        Board"],"prefix":"10.1016","volume":"191","member":"78","container-title":["Computers
        and Geotechnics"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0266352X26000042?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0266352X26000042?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2026,1,7]],"date-time":"2026-01-07T00:08:42Z","timestamp":1767744522000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/S0266352X26000042"}},"issued":{"date-parts":[[2026,3]]},"references-count":0,"alternative-id":["S0266352X26000042"],"URL":"https:\/\/doi.org\/10.1016\/s0266-352x(26)00004-2","ISSN":["0266-352X"],"issn-type":[{"type":"print","value":"0266-352X"}],"published":{"date-parts":[[2026,3]]},"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Editorial Board","name":"articletitle","label":"Article
        Title"},{"value":"Computers and Geotechnics","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/S0266-352X(26)00004-2","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"simple-article","name":"content_type","label":"Content
        Type"},{"name":"copyright","label":"Copyright"}],"article-number":"107898"},{"indexed":{"date-parts":[[2025,12,31]],"date-time":"2025-12-31T03:06:13Z","timestamp":1767150373409,"version":"build-2238731810"},"update-to":[{"DOI":"10.1016\/j.soilbio.2024.109456","type":"erratum","label":"Erratum","source":"publisher","updated":{"date-parts":[[2024,10,1]],"date-time":"2024-10-01T00:00:00Z","timestamp":1727740800000}}],"reference-count":0,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2024,10,1]],"date-time":"2024-10-01T00:00:00Z","timestamp":1727740800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2024,10,1]],"date-time":"2024-10-01T00:00:00Z","timestamp":1727740800000},"content-version":"tdm","delay-in-days":0,[...]
