interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    content: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/ybhah-9jy85
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
      Matter"}],"indexed":{"date-parts":[[2024,3,8]],"date-time":"2024-03-08T00:22:18Z","timestamp":1709857338621},"posted":{"date-parts":[[2023,10,4]]},"group-title":"Computer
      and information sciences","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>Newsletters
      have been around forever, but their popularity has significantly increased in
      the past few years, also thanks to platforms such as Ghost, Medium, and Substack.
      Which of course also includes science newsletters.Failure of advertising as
      a revenue model The most important driver of this trend is probably the realization
      that advertising is a poor revenue model for content published on the web, including
      blogs.<\/p>","DOI":"10.53731\/ybhah-9jy85","type":"posted-content","created":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T12:48:19Z","timestamp":1696423699000},"source":"Crossref","is-referenced-by-count":0,"title":["The
      rise of the (science) newsletter"],"prefix":"10.59350","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[{"name":"Front
      Matter"}]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","article-title":"Thousands
      of scientists are cutting back on Twitter, seeding angst and uncertainty","year":"2023","DOI":"10.1038\/d41586-023-02554-0"},{"key":"ref2","doi-asserted-by":"publisher","article-title":"The
      Principles of Open Scholarly Infrastructure","year":"2020","DOI":"10.24343\/c34w2h"},{"key":"ref3","doi-asserted-by":"publisher","article-title":"The
      Rogue Scholar weekly newsletter launches on Wednesday","year":"2023","DOI":"10.53731\/9cdnt-2k006"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/the-rise-of-the-science-newsletter","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,3,7]],"date-time":"2024-03-07T14:18:20Z","timestamp":1709821100000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/the-rise-of-the-science-newsletter"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,10,4]]},"references-count":3,"URL":"http:\/\/dx.doi.org\/10.53731\/ybhah-9jy85","relation":{"is-part-of":[{"id-type":"issn","id":"2749-9952","asserted-by":"subject"}]},"published":{"date-parts":[[2023,10,4]]},"subtype":"other"}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
