interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=1
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:49:40Z","timestamp":1648565380997},"reference-count":0,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":13119,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Clin
        Exp Pharmacol Physiol"],"published-print":{"date-parts":[[1979,10]]},"DOI":"10.1111\/cep.1979.6.issue-5","type":"journal-issue","created":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T16:01:13Z","timestamp":1456329673000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1111","volume":"6","member":"311","container-title":["Clinical
        and Experimental Pharmacology and Physiology"],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fcep.1979.6.issue-5","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T16:01:13Z","timestamp":1456329673000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/doi.wiley.com\/10.1111\/cep.1979.6.issue-5"}},"issued":{"date-parts":[[1979,10]]},"references-count":0,"journal-issue":{"issue":"5","published-print":{"date-parts":[[1979,10]]}},"URL":"https:\/\/doi.org\/10.1111\/cep.1979.6.issue-5","ISSN":["0305-1870","1440-1681"],"issn-type":[{"value":"0305-1870","type":"print"},{"value":"1440-1681","type":"electronic"}],"published":{"date-parts":[[1979,10]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - polite-array
      x-concurrency-limit:
      - '3'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T16:49:31Z","timestamp":1740156571549,"version":"3.37.3"},"reference-count":15,"publisher":"Informa
        UK Limited","issue":"1","license":[{"start":{"date-parts":[[2017,12,14]],"date-time":"2017-12-14T00:00:00Z","timestamp":1513209600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Communicative
        &amp; Integrative Biology"],"published-print":{"date-parts":[[2018,1,2]]},"DOI":"10.1080\/19420889.2017.1395120","type":"journal-article","created":{"date-parts":[[2017,11,9]],"date-time":"2017-11-09T16:20:10Z","timestamp":1510244410000},"page":"e1395120","update-policy":"https:\/\/doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":0,"title":["The
        dire side of autophagy in aging: Lessons from <i>C. elegans<\/i>"],"prefix":"10.1080","volume":"11","author":[{"given":"Rebeca","family":"Medina","sequence":"first","affiliation":[{"name":"Laboratory
        of Molecular Epigenetics, Institute of Molecular Biology (IMB), Mainz, Germany"}],"role":[{"role":"author","vocabulary":"crossref"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-7711-0350","authenticated-orcid":false,"given":"Holger","family":"Richly","sequence":"additional","affiliation":[{"name":"Laboratory
        of Molecular Epigenetics, Institute of Molecular Biology (IMB), Mainz, Germany"}],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"301","published-online":{"date-parts":[[2017,12,14]]},"reference":[{"key":"cit0001","doi-asserted-by":"publisher","DOI":"10.4161\/auto.1.3.2017"},{"key":"cit0002","doi-asserted-by":"publisher","DOI":"10.1016\/j.tig.2008.10.002"},{"key":"cit0003","doi-asserted-by":"publisher","DOI":"10.1146\/annurev-biochem-061516-044859"},{"key":"cit0004","doi-asserted-by":"publisher","DOI":"10.1038\/80384"},{"key":"cit0005","doi-asserted-by":"publisher","DOI":"10.1093\/hmg\/11.22.2689"},{"key":"cit0006","doi-asserted-by":"publisher","DOI":"10.1101\/gad.301648.117"},{"key":"cit0007","doi-asserted-by":"publisher","DOI":"10.1016\/j.cell.2017.04.003"},{"key":"cit0008","doi-asserted-by":"publisher","DOI":"10.1016\/j.devcel.2015.02.002"},{"key":"cit0009","doi-asserted-by":"publisher","DOI":"10.1016\/j.devcel.2017.02.016"},{"key":"cit0010","doi-asserted-by":"publisher","DOI":"10.1242\/jcs.093849"},{"key":"cit0011","doi-asserted-by":"publisher","DOI":"10.15252\/embj.201488104"},{"key":"cit0012","doi-asserted-by":"publisher","DOI":"10.1038\/nature21362"},{"key":"cit0013","doi-asserted-by":"publisher","DOI":"10.1186\/2046-2395-1-6"},{"key":"cit0014","first-page":"143","volume":"3","author":"Hou
        NS","year":"2012","journal-title":"Aging Front Physiol"},{"key":"cit0015","doi-asserted-by":"publisher","DOI":"10.1038\/nrn3380"}],"container-title":["Communicative
        &amp; Integrative Biology"],"language":"en","link":[{"URL":"https:\/\/tandfonline.com\/doi\/pdf\/10.1080\/19420889.2017.1395120","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/19420889.2017.1395120","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,8,16]],"date-time":"2020-08-16T04:00:51Z","timestamp":1597550451000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.tandfonline.com\/doi\/full\/10.1080\/19420889.2017.1395120"}},"issued":{"date-parts":[[2017,12,14]]},"references-count":15,"journal-issue":{"issue":"1","published-print":{"date-parts":[[2018,1,2]]}},"alternative-id":["10.1080\/19420889.2017.1395120"],"URL":"https:\/\/doi.org\/10.1080\/19420889.2017.1395120","ISSN":["1942-0889"],"issn-type":[{"type":"electronic","value":"1942-0889"}],"published":{"date-parts":[[2017,12,14]]},"assertion":[{"value":"The
        publishing and review policy for this title is described in its Aims & Scope.","order":1,"name":"peerreview_statement","label":"Peer
        Review Statement"},{"value":"http:\/\/www.tandfonline.com\/action\/journalInformation?show=aimsScope&journalCode=kcib20","URL":"http:\/\/www.tandfonline.com\/action\/journalInformation?show=aimsScope&journalCode=kcib20","order":2,"name":"aims_and_scope_url","label":"Aim
        & Scope"},{"value":"2017-10-13","order":0,"name":"received","label":"Received","group":{"name":"publication_history","label":"Publication
        History"}},{"value":"2017-10-17","order":2,"name":"accepted","label":"Accepted","group":{"name":"publication_history","label":"Publication
        History"}},{"value":"2017-12-14","order":3,"name":"published","label":"Published","group":{"name":"publication_history","label":"Publication
        History"}}]},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T22:13:39Z","timestamp":1649024019890},"reference-count":0,"publisher":[...]
