interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?rows=20&filter=prefix%3A10.5555%2Ctype%3Ajournal-article
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1088,"items":[{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T12:48:06Z","timestamp":1649162886468},"reference-count":0,"publisher":"Test
        accounts","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        of Syst. Eng. Electron."],"published-print":{"date-parts":[[2010,2]]},"DOI":"10.3969\/j.issn.1004-4132.2010.01.020","type":"journal-article","created":{"date-parts":[[2014,8,19]],"date-time":"2014-08-19T16:11:02Z","timestamp":1408464662000},"page":"127-133","source":"Crossref","is-referenced-by-count":5,"title":["Image
        retrieval based on color features integrated with anisotropic directionality"],"prefix":"10.5555","volume":"21","author":[{"given":"Jing","family":"Bai","sequence":"first","affiliation":[]},{"given":"Xiaohua","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Licheng","family":"Jiao","sequence":"additional","affiliation":[]}],"member":"7822","container-title":["Journal
        of Systems Engineering and Electronics"],"deposited":{"date-parts":[[2017,10,5]],"date-time":"2017-10-05T09:45:04Z","timestamp":1507196704000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/lpdocs\/epic03\/wrapper.htm?arnumber=6073062"}},"issued":{"date-parts":[[2010,2]]},"references-count":0,"journal-issue":{"issue":"1"},"URL":"https:\/\/doi.org\/10.3969\/j.issn.1004-4132.2010.01.020","ISSN":["1004-4132"],"issn-type":[{"value":"1004-4132","type":"electronic"}],"published":{"date-parts":[[2010,2]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T18:40:26Z","timestamp":1649011226931},"reference-count":0,"publisher":"Test
        accounts","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        of Syst. Eng. Electron."],"published-print":{"date-parts":[[2011,4]]},"DOI":"10.3969\/j.issn.1004-4132.2011.02.019","type":"journal-article","created":{"date-parts":[[2014,8,19]],"date-time":"2014-08-19T16:1[...]
