interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=1
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T12:16:39Z","timestamp":1648988199589},"reference-count":32,"publisher":"Informa
      UK Limited","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Project
      Appraisal"],"published-print":{"date-parts":[[1996,9]]},"DOI":"10.1080\/02688867.1996.9727537","type":"journal-article","created":{"date-parts":[[2012,4,24]],"date-time":"2012-04-24T06:29:34Z","timestamp":1335248974000},"page":"157-168","source":"Crossref","is-referenced-by-count":3,"title":["Long
      time horizons, low discount rates and moderate investment criteria"],"prefix":"10.1080","volume":"11","author":[{"given":"Colin","family":"Price","sequence":"first","affiliation":[]}],"member":"301","reference":[{"issue":"4","key":"CIT0001","first-page":"788","volume":"58","author":"Baumol
      W J","year":"1968","journal-title":"American Economic Review"},{"issue":"1","key":"CIT0002","first-page":"6","volume":"30","author":"Birdsall
      N","year":"1993","journal-title":"Finance and Development"},{"issue":"1","key":"CIT0003","doi-asserted-by":"crossref","first-page":"57","DOI":"10.2307\/2297877","volume":"61","author":"Blundell
      R","year":"1994","journal-title":"Review of Economic Studies"},{"issue":"5","key":"CIT0004","first-page":"887","volume":"65","author":"Bradford
      D F","year":"1975","journal-title":"American Economic Review"},{"key":"CIT0005","volume-title":"The
      Economics of Global Warming","author":"Cline W R","year":"1992"},{"issue":"1","key":"CIT0006","first-page":"3","volume":"30","author":"Cline
      W R","year":"1993","journal-title":"Finance and Development"},{"key":"CIT0007","first-page":"251","volume":"72","author":"d''Arge
      R C","year":"1982","journal-title":"American Economic Review Papers and Proceedings"},{"key":"CIT0008","volume-title":"Policy
      Appraisal and the Environment","year":"1991"},{"key":"CIT0009","volume-tit[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T07:20:36Z","timestamp":1649143236855},"reference-count":0,"publisher":"Public
      Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0002202.s004","type":"component","created":{"date-parts":[[2013,1,28]],"date-time":"2013-01-28T19:06:56Z","timestamp":1359400016000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T21:38:39Z","timestamp":1539985119000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pone.0002202.s004"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0002202.s004"},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T04:14:45Z","timestamp":1649132085601},"reference-count":0,"publisher":"JSTOR","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Copeia"],"published-print":{"date-parts":[[1979,11,28]]},"DOI":"10.2307\/1443890","type":"journal-article","created":{"date-parts":[[2006,4,26]],"date-time":"2006-04-26T08:16:31Z","timestamp":1146039391000},"page":"751","source":"Crossref","is-referenced-by-count":0,"title":["Hildatia
      Fernandex-Yepez, a Synonym of the Gymnotoid Genus Sternopygus M\u00fcller and
      Troschel"],"prefix":"10.2307","volume":"1979","author":[{"given":"William L.","family":"Fink","sequence":"first","affiliation":[]}],"member":"1121","container-title":["Copeia"],"deposited":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T23:59:44Z","timestamp":1525823984000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.jstor.org\/stable\/1443890?origin=crossref"}},"issued":{"date-parts":[[1979,11,28]]},"references-count":0,"journal-issue":{"issue":"4","published-print":{"date-parts":[[1979,11,28]]}},"URL":"http:\/\/dx.doi.org\/10.2307\/1443890","ISSN":["0045-8511"],"issn-type":[{"value":"0045-8511","type":"print"}],"subject":["Animal
      Science and Zoology","Aquatic Science","Ecology, Evolution, Behavior and Systematics"],"published":{"date-parts":[[1979,11,28]]}},{"indexed":{"date-parts":[[2022,12,30]],"date-time":"2022-12-30T11:50:37Z","timestamp":1672401037527},"reference-count":0,"publisher":"American
      Diabetes Association","issue":"Supplement_1","license":[{"start":{"date-parts":[[2021,6,22]],"date-time":"2021-06-22T00:00:00Z","timestamp":1624320000000},"content-version":"vor","delay-in-days":21,"URL":"http:\/\/www.diabetesjournals.org\/content\/license"}],"content-domain":{"domain":["diabetesjournals.org"],"crossmark-restriction":true},"published-print":{"date-parts":[[2021,6,1]]},"DOI":"10.2337\/db21-307-or","type":"journal-article","created":{"date-parts":[[2021,6,24]],"date-time":"2021-06-24T22:14:53Z","timestamp":1624572893000},"update-policy":"http:\/\/dx.doi.org\/10.2337\/ada-journal-policies","source":"Crossref","is-referenced-by-count":1,"title":["307-OR:
      Mean Blood Beta-Hydroxybutyrate Predicts Clinically Significant Weight Loss
      following 90 Days Carbohydrate-Restricted Nutrition Therapy"],"prefix":"10.2337","volume":"70","author":[{"given":"AMY
      L.","family":"MCKENZIE","sequence":"first","affiliation":[{"name":"San Francisco,
      CA"}]},{"given":"SHAMINIE J.","family":"ATHINARAYANAN","sequence":"additional","affiliation":[{"name":"San
      Francisco, CA"}]},{"given":"REBECCA N.","family":"ADAMS","sequence":"additional","affiliation":[{"name":"San
      Francisco, CA"}]},{"given":"BRITTANIE M.","family":"VOLK","sequence":"additional","affiliation":[{"name":"San
      Francisco, CA"}]},{"given":"STEPHEN","family":"PHINNEY","sequence":"additional","affiliation":[{"name":"San
      Francisco, CA"}]},{"given":"ROBERT E.","family":"RATNER","sequence":"additional","affiliation":[{"name":"San
      Francisco, CA"}]}],"member":"1167","container-title":["Diabetes"],"language":"en","link":[{"URL":"https:\/\/diabetesjournals.org\/diabetes\/article\/70\/Supplement_1\/307-OR\/139987\/307-OR-Mean-Blood-Beta-Hydroxybutyrate-Predicts","content-type":"application\/pdf","content-version":"vor","intended-application":"syndication"},{"URL":"https:\/\/diabetesjournals.org\/diabetes\/article\/70\/Supplement_1\/307-OR\/139987\/307-OR-Mean-Blood-Beta-Hydroxybutyrate-Predicts","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,3,13]],"date-time":"2022-03-13T11:44:24Z","timestamp":1647171864000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/diabetesjournals.org\/diabetes\/article\/70\/Supplement_1\/307-OR\/139987\/307-OR-Mean-Bl[...]
