interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.54900/n6dnt-xpq48
  response:
    body:
      string: '{"authors":[{"contributor_roles":[],"family":"Datta","given":"Esha","url":"https://orcid.org/0000-0001-9165-2757"}],"blog":{"authors":null,"community_id":"b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b","created":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"generator":"Ghost","home_page_url":"https://upstream.force11.org","issn":null,"language":"eng","license":"https://creativecommons.org/licenses/by/4.0/legalcode","prefix":"10.54900","relative_url":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated":1781010905,"use_api":true},"blog_name":"Upstream","blog_slug":"upstream","content_html":"<p>Traditionally,
        journal subject classification was done manually at varying levels of granularity,
        depending on the use case for the institution. Subject classification is done
        to help collate resources by subject enabling the user to discover publications
        based on different levels of subject specificity. It can also be used to help
        determine where to publish and the direction a particular author may be pursuing
        in their research if one wants to[...]
