interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/3871094
  response:
    body:
      string: '{"created": "2020-06-01T04:43:51.061750+00:00", "modified": "2024-07-19T19:49:55.245734+00:00",
        "id": 3871094, "conceptrecid": "3862788", "doi": "10.5281/zenodo.3871094",
        "conceptdoi": "10.5281/zenodo.3862788", "doi_url": "https://doi.org/10.5281/zenodo.3871094",
        "metadata": {"title": "An open letter to Mehra et al and The Lancet", "doi":
        "10.5281/zenodo.3871094", "publication_date": "2020-05-28", "description":
        "<p>Open letter to MR Mehra, SS Desai, F Ruschitzka, and AN Patel, authors
        of</p>\n\n<p><strong>&ldquo;Hydroxychloroquine or chloroquine with or without
        a macrolide for treatment of COVID-19: a multinational registry analysis&rdquo;.
        Lancet. 2020 May 22:S0140-6736(20)31180-6. doi: 10.1016/S0140-6736(20)31180-6.
        PMID: 32450107</strong></p>\n\n<p>and to Richard Horton (editor of The Lancet).</p>",
        "access_right": "open", "creators": [{"name": "James Watson on the behalf
        of 201 signatories", "affiliation": "Mahidol Oxford Tropical Medicine Research
        Unit", "orcid": "0000-0001-5524-0325"}], "keywords": ["Hydroxychloroquine",
        "The Lancet", "Open Science"], "version": "4", "language": "eng", "resource_type":
        {"title": "Report", "type": "publication", "subtype": "report"}, "license":
        {"id": "cc-by-4.0"}, "relations": {"version": [{"index": 3, "is_last": true,
        "parent": {"pid_type": "recid", "pid_value": "3862788"}}]}}, "title": "An
        open letter to Mehra et al and The Lancet", "links": {"self": "https://zenodo.org/api/records/3871094",
        "self_html": "https://zenodo.org/records/3871094", "preview_html": "https://zenodo.org/records/3871094?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.3871094", "self_doi": "https://doi.org/10.5281/zenodo.3871094",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3871094", "reserve_doi":
        "https://zenodo.org/api/records/3871094/draft/pids/doi", "parent": "https://zenodo.org/api/records/3862788",
        "parent_html": "https://zenodo.org/records/3862788", "parent_doi": "https://doi.org/10.5281/zenodo.3862788",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3862788", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:3871094/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:3871094/sequence/default", "files": "https://zenodo.org/api/records/3871094/files",
        "media_files": "https://zenodo.org/api/records/3871094/media-files", "thumbnails":
        {"10": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E10,/0/default.jpg",
        "50": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E50,/0/default.jpg",
        "100": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E100,/0/default.jpg",
        "250": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E250,/0/default.jpg",
        "750": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://zenodo.org/api/iiif/record:3871094:Open%20Letter%20V4.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://zenodo.org/api/records/3871094/files-archive", "archive_media":
        "https://zenodo.org/api/records/3871094/media-files-archive", "latest": "https://zenodo.org/api/records/3871094/versions/latest",
        "latest_html": "https://zenodo.org/records/3871094/latest", "versions": "https://zenodo.org/api/records/3871094/versions",
        "draft": "https://zenodo.org/api/records/3871094/draft", "access_links": "https://zenodo.org/api/records/3871094/access/links",
        "access_grants": "https://zenodo.org/api/records/3871094/access/grants", "access_users":
        "https://zenodo.org/api/records/3871094/access/users", "access_request": "https://zenodo.org/api/records/3871094/access/request",
        "access": "https://zenodo.org/api/records/3871094/access", "communities":
        "https://zenodo.org/api/records/3871094/communities", "communities-suggestions":
        "https://zenodo.org/api/records/3871094/communities-suggestions", "request_deletion":
        "https://zenodo.org/api/records/3871094/request-deletion", "file_modification":
        "https://zenodo.org/api/records/3871094/file-modification", "requests": "https://zenodo.org/api/records/3871094/requests"},
        "updated": "2024-07-19T19:49:55.245734+00:00", "recid": "3871094", "revision":
        5, "files": [{"id": "735c18c3-8ecd-41bf-826b-4d719f94b334", "key": "Open Letter
        V4.pdf", "size": 130482, "checksum": "md5:8d686fae168ff94e45e59c076d2fb209",
        "links": {"self": "https://zenodo.org/api/records/3871094/files/Open Letter
        V4.pdf/content"}}], "swh": {}, "owners": [{"id": "103835"}], "status": "published",
        "stats": {"downloads": 104392, "unique_downloads": 96303, "views": 194370,
        "unique_views": 165579, "version_downloads": 10235, "version_unique_downloads":
        9369, "version_unique_views": 18041, "version_views": 20250}, "state": "done",
        "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"5"
      link:
      - <https://zenodo.org/api/records/3871094> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '43'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '129'
      x-ratelimit-reset:
      - '1764609655'
    status:
      code: 200
      message: OK
version: 1
