interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/5d14ffac-b9ac-4e20-bdc0-d9248df4e80d
  response:
    body:
      string: '{"abstract":"Traditionally, journal subject classification was done
        manually at varying levels of granularity, depending on the use case for the
        institution. Subject classification is done to help collate resources by subject
        enabling the user to discover publications based on different levels of subject
        specificity.","archive_url":"https://wayback.archive-it.org/22124/2025-05-05T10:39:18Z/https://upstream.force11.org/attempts-at-automating-journal-subject-classification/","authors":[{"contributor_roles":[],"family":"Datta","given":"Esha","url":"https://orcid.org/0000-0001-9165-2757"}],"blog":{"archive_collection":22124,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22124/20231105103706/","archive_timestamps":[20231105103706,20240505132151,20241105103657,20250505103918],"authors":null,"canonical_url":null,"category":"humanities","community_id":"aeaafcbb-94b5-477a-a89f-8fba5925e926","created_at":1673568000,"current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/b56ef314-34f7-4c7f-b0e2-d0bf13bfe83b/logo","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"e3952730-ffb7-4ef9-b4a5-6433d86b2819","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://scicomm.xyz/@upstream","prefix":"10.54900","registered_at":1729244339,"relative_url":null,"ror":null,"secure":true,"slug":"upstream","status":"active","subfield":"1802","title":"Upstream","updated_at":1761638979,"use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2"},"blog_name":"Upstream","blog_slug":"upstream","citations":[{"citation":"https://doi.org/10.21203/rs.3.rs-3253789/v1","published_at":"2023-08-14","unstructured":"Tang,
        G., &amp; Eaton, S. E. (2023). A Rapid Investigation of Artificial Intelligence
        Generated Content Footprints in Scholarly Publications. In <i>In Review</i>.
        Springer Science and Business Media LLC. https://doi.org/10.21203/rs.3.rs-3253789/v1","updated_at":"2025-02-02T19:19:55.139484+00:00","validated":true}],"content_html":"<p>Traditionally,
        journal subject classification was done manually at varying levels of granularity,
        depending on the use case for the institution. Subject classification is done
        to help collate resources by subject enabling the user to discover publications
        based on different levels of subject specificity. It can also be used to help
        determine where to publish and the direction a particular author may be pursuing
        in their research if one wants to[...]
