interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/8120771
  response:
    body:
      string: '{"created": "2023-07-06T14:48:55.501554+00:00", "modified": "2024-11-17T23:30:24.100614+00:00",
        "id": 8120771, "conceptrecid": "8120770", "doi": "10.5281/zenodo.8120771",
        "conceptdoi": "10.5281/zenodo.8120770", "doi_url": "https://doi.org/10.5281/zenodo.8120771",
        "metadata": {"title": "A SYSTEMATIC REVIEW OF AUTOPSY FINDINGS IN DEATHS AFTER
        COVID-19 VACCINATION", "doi": "10.5281/zenodo.8120771", "publication_date":
        "2023-07-06", "description": "<p><strong>ABSTRACT</strong></p>\n\n<p><strong>Background:</strong>
        The rapid development and widespread deployment of COVID-19 vaccines, combined
        with a high number of adverse event reports, have led to concerns over possible
        mechanisms of injury including systemic lipid nanoparticle (LNP) and mRNA
        distribution, spike protein-associated tissue damage, thrombogenicity, immune
        system dysfunction, and carcinogenicity. The aim of this systematic review
        is to investigate possible causal links between COVID-19 vaccine administration
        and death using autopsies and post-mortem analysis.</p>\n\n<p>&nbsp;</p>\n\n<p><strong>Methods:</strong>
        We searched for all published autopsy and necropsy reports relating to COVID-19
        vaccination up until May 18<sup>th</sup>, 2023. We initially identified 678
        studies and, after screening for our inclusion criteria, included 44 papers
        that contained 325 autopsy cases and one necropsy case. Three physicians independently
        reviewed all deaths and determined whether COVID-19 vaccination was the direct
        cause or contributed significantly to death.</p>\n\n<p>&nbsp;</p>\n\n<p><strong>Findings:</strong>
        The most implicated organ system in COVID-19 vaccine-associated death was
 [...]
