interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/a8a84260-1f16-444c-8e70-2cb6702611a0
  response:
    content: '{"abstract":null,"archive_url":null,"authors":[{"name":"Elias Koch"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"socialSciences","created_at":1690675200,"current_feed_url":null,"description":"Bold
      ideas and critical thoughts on science.","favicon":"https://elephantinthelab.org/wp-content/uploads/2017/05/cropped-ElephantInTheLab-Icon-12-1-32x32.png","feed_format":"application/atom+xml","feed_url":"https://elephantinthelab.org/feed/atom/","filter":null,"funding":null,"generator":"WordPress","generator_raw":"WordPress
      6.0.7","home_page_url":"https://elephantinthelab.org/","id":"e6c28e7e-f7ee-4367-83a2-c6ff661c43a4","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"plan":"Starter","prefix":null,"relative_url":null,"ror":"https://ror.org/02h1qnm70","secure":true,"slug":"elephantinthelab","status":"active","title":"Elephant
      in the Lab","updated_at":1702980398,"use_api":true,"use_mastodon":false,"user_id":"c4f9c0bc-0a42-4244-b3a4-d3f85c62fef1","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Elephant
      in the Lab","blog_slug":"elephantinthelab","content_text":"## Introduction\n\nIn
      this blog post I dive into the integration of TikTok as a\nmethodological tool
      for doing ethnographic research on social media\ninfluencers. TikTok has skyrocketed
      in popularity, boasting 672 million\ndownloads in 2022, making it the most downloaded
      entertainment app\nglobally (Statista). Beyond just entertainment, it has evolved
      into a\ngo-to search engine for younger generations seeking information about\nproducts,
      services, and explanations (Kalley, 2022). TikTok''s wide\nappeal stems from
      the fact that it is an algorithmic media. Its\nalgorithms smartly curate, personalise
      and serve content to those most\nlikely to be interested in.\u00a0\n\n<figure
      class=\"wp-block-image alignright size-full is-resized\">\n<img\nsrc=\"https://elephantinthelab.org/wp-content/uploads/2023/12/Bildschirmfoto-2023-12-19-um-11.05.02.png\"\nclass=\"wp-image-4561\"
      loading=\"lazy\"\nsrcset=\"https://elephantinthelab.org/wp-content/uploads/2023/12/Bildschirmfoto-2023-12-19-um-11.05.02.png
      444w, https://elephantinthelab.org/wp-content/uploads/2023/12/Bildschirmfoto-2023-12-19-um-11.05.02-226x300.png
      226w\"\nsizes=\"(max-width: 166px) 100vw, 166px\" width=\"166\" height=\"221\"
      />\n<figcaption>Tinca Lukan</figcaption>\n</figure>\n\nThe surge in TikTok''s
      popularity has sparked a vibrant collection of\nacademic literature delving
      into the intricacies of this platform. From\na research perspective, TikTok
      is mostly used as a rich source of user\ngenerated content that reflects cultural
      trends, expressions and social\ndynamics. While many researchers have examined
      TikTok and the cultures\nthat arise on the platform (for overview see Abidin
      and Kaye, 20[...]
