interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/6603f220-1683-4366-8663-c4284e9f9a78
  response:
    content: '{"abstract":null,"archive_url":null,"authors":[{"name":"Ben Kaden","url":"https://orcid.org/0000-0002-8021-1785"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"otherSocialSciences","created_at":1706811303,"current_feed_url":null,"description":"weblogs","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://libreas.wordpress.com/feed/atom","filter":null,"funding":null,"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://libreas.wordpress.com","id":"623981d8-f442-4db2-a46e-7a553009fbec","indexed":true,"issn":"1860-7950","language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"","plan":"Team","prefix":"10.59350","relative_url":null,"ror":null,"secure":true,"slug":"libreas","status":"active","title":"LIBREAS.Library
      Ideas","updated_at":1704989593,"use_api":true,"use_mastodon":false,"user_id":"36565831-b661-4f85-8e3a-fd190dd746a8","version":"https://jsonfeed.org/version/1.1"},"blog_name":"LIBREAS.Library
      Ideas","blog_slug":"libreas","content_text":"Eine kurze Besprechung zu: Jussi
      Parikka: *The Anthrobscene*.\nMinneapolis: University of Minnesota Press. 2014.
      ([Angaben zum Titel\nbeim\nVerlag](http://www.upress.umn.edu/book-division/books/the-anthrobscene))\n\nvon
      Ben Kaden ([@bkaden](https://twitter.com/bkaden))\n\nEine buchst\u00e4blich
      globale Perspektive auf die Folgen der Digitalisierung\ner\u00f6ffnet eine schmale
      Publikation des Medientheoretikers Jussi Parikka,\ndie unl\u00e4ngst bei der
      *Minnesota University Press* erschien und den\nwortvers[...]
