interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/d0ca6fa3-3a93-46d3-b820-446938d78f70
  response:
    body:
      string: '{"abstract":"One of the important outcomes of the Markdown for Science
        workshop that took place in June 2013 was a decision on a name - Scholarly
        Markdown - and a brief definition:  1. Markdown that supports the requirements
        of scientific texts  2. Markdown as format that glues open scientific text
        resources together  3. A reference implementation with documentation and tests  4.
        A community In my eyes this is still a great definition.","archive_url":"https://wayback.archive-it.org/22096/2024-11-01T17:26:01Z/https://blog.front-matter.de/posts/commonmark-and-the-future-of-scholarly-markdown/","authors":[{"affiliation":[{"id":"https://ror.org/008zgvp64","name":"Public
        Library of Science"}],"contributor_roles":[],"family":"Fenner","given":"Martin","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_collection":22096,"archive_host":null,"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","archive_timestamps":[20231101172748,20240501180447,20241101172601],"authors":[{"name":"Martin
        Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","community_id":"91dd2c24-5248-4510-9c2b-30b772bf8b60","created_at":1672561153,"current_feed_url":"","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/15a362ea-8138-42b8-917f-1840a92addf8/logo","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.de/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
        5.52","home_page_url":"https://blog.front-matter.de","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://hachyderm.io/@mfenner","prefix":"10.53731","registered_at":1729685319,"relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","subfield":"1710","title":"Front
        Matter","updated_at":1764202472,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
        Matter","blog_slug":"front_matter","content_html":"<p>One of the important
        outcomes of the <a href=\"https://github.com/scholmd/scholmd/wiki\">Markdown
        for Science</a> workshop that took place in June 2013 was a decision on a
        name - <em>Scholarly Markdown</em> - and a brief <a href=\"https://github.com/scholmd/scholmd/wiki/What-is-Markdown\">definition</a>:</p><ol><li>Markdown
        that supports the requirements of scientific texts</li><li>Markdown as format
        that glues open scientific text resources together</li><li>A reference implementation
        with documentation and tests</li><li>A community</li></ol><p>In my eyes this
        is still a great definition. And this week something important happened that
        is very relevant for Scholarly Markdown. A small group of people deeply involved
        in Markdown announced <a href=\"http://commonmark.org/\">Standard Markdown</a>:</p><blockquote>We
        propose a standard, unambiguous syntax specification for Markdown, along with
        a suite of comprehensive tests to validate Markdown implementations against
        this specification. We believe this is necessary, even essential, for the
        future of Markdown.</blockquote><p>Markdown is in widespread use, but a lack
        of standard syntax and set of comprehensive tests has hindered the adoption
        for more complex use cases, the development of cross-platform tools, and the
        use of markdown as a document interchange format. I am therefore 100% behind
        this initiative. In particular since this is not just an initiative by large
        commercial organizations heavily using Markdown such as Stack Exchange, Github
        or Reddit, but that the entire spec and both reference implementations have
        been written by <a href=\"http://johnmacfarlane.net/\">John MacFarlane</a>,
        the author of Pandoc, the universal document converter. Not only does Pandoc
        already support many of the features required by Scholarly Markdown (e.g.
        math and citations), but John is the Chair of the Department of Philosophy
        at UC Berkeley.</p><p>Markdown was developed in 2004 by John Gruber, and he
        <a href=\"http://daringfireball.net/projects/markdown/license\">holds the
        rights</a> to the name Markdown. He didn\u2019t want this initiative to use
        the name <strong>Standard Markdown</strong>, so the implementation was <a
        href=\"http://blog.codinghorror.com/standard-markdown-is-now-common-markdown/\">renamed</a>
        to <a href=\"http://commonmark.org/\">CommonMark</a>.</p><p>The consequences
        of all this for Scholarly Markdown?</p><ul><li>CommonMark focusses on the
        basic features of the language, but once the specification is agreed upon
        and implemented by a critical mass of tools, it is clear that there needs
        to be a standardized way to handle extensions of the language. This is both
        about features used by lots of people such as tables, but also functionality
        relevant only for scholarly content.</li><li>This brings us one gigantic step
        closer to a reference implementation and set of tests for Scholarly Markdown,
        as hopefully Scholarly Markdown can build upon the work by John and the CommonMark
        team.</li><li>The name Scholarly Markdown might not be a good idea going forward.
        We should either change the name to align with CommonMark, or we should come
        up with a totally different name, something that the screenwriters have done
        with <a href=\"http://fountain.io/\">their</a> implementation of Markdown.</li></ul>","doi":"https://doi.org/10.53731/r294649-6f79289-8cw06","funding_references":null,"guid":"https://doi.org/10.53731/r294649-6f79289-8cw06","id":"d0ca6fa3-3a93-46d3-b820-446938d78f70","image":"https://blog.front-matter.de/content/images/2023/09/typewriter.png","indexed_at":1764252013,"language":"en","parent_doi":null,"published_at":1410102600,"reference":[],"registered_at":0,"relationships":[],"rid":"spm2m-zb330","subfield":null,"summary":"One
        of the important outcomes of the Markdown for Science workshop that took place
        in June 2013 was a decision on a name -\n<em>\n Scholarly Markdown\n</em>\n-
        and a brief definition:Markdown that supports the requirements of scientific
        textsMarkdown as format that glues open scientific text resources togetherA
        reference implementation with documentation and testsA community In my eyes
        this is still a great definition.","tags":["Metadata"],"title":"CommonMark
        and the Future of Scholarly Markdown","topic":null,"topic_score":0,"updated_at":1736464015,"url":"https://blog.front-matter.de/posts/commonmark-and-the-future-of-scholarly-markdown/","version":"v1"}

        '
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01KBDENYRJVDWJ9M0DRKDBMAMM-ams
      ratelimit-limit:
      - '15'
      ratelimit-remaining:
      - '13'
      ratelimit-reset:
      - '7'
    status:
      code: 200
      message: ''
version: 1
