interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/a080e9d7-20a1-4a0c-b550-0c39d4423868
  response:
    body:
      string: '{"abstract":null,"archive_url":null,"authors":[{"family":"Herb","given":"Ulrich"}],"blog":{"archive_collection":null,"archive_host":null,"archive_prefix":null,"archive_timestamps":null,"authors":[{"name":"Ulrich
        Herb","url":"https://orcid.org/0000-0002-3500-3119"}],"canonical_url":null,"category":"otherSocialSciences","community_id":"3a801730-cdab-4800-9441-715e83183144","created_at":1702027153,"current_feed_url":null,"description":"Scholcomm
        & More by Ulrich Herb","doi_as_guid":false,"favicon":"https://rogue-scholar.org/api/communities/3a801730-cdab-4800-9441-715e83183144/logo","feed_format":"application/atom+xml","feed_url":"https://pulse49.com/feed/atom/","filter":"tag:-261","funding":null,"generator":"WordPress","generator_raw":"WordPress
        6.7.2","home_page_url":"https://pulse49.com","id":"ccddd342-bfbe-44d3-913b-5e1754956bbb","indexed":true,"issn":null,"language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":null,"prefix":"10.59350","registered_at":0,"relative_url":null,"ror":null,"secure":true,"slug":"pulse49","status":"active","subfield":"1802","title":"pulse49.com","updated_at":1763547032,"use_api":true,"use_mastodon":false,"user_id":null},"blog_name":"pulse49.com","blog_slug":"pulse49","content_html":"<div
        class=\"wp-block-image\">\n<figure class=\"alignleft size-full\"><img loading=\"lazy\"
        decoding=\"async\" width=\"300\" height=\"200\" src=\"https://pulse49.com/wp-content/uploads/2025/05/Library-Spending-in-Transition-Open-Access-Surges-Closed-Access-Remains-Steady.png\"
        alt=\"Library Spending in Transition: Open Access Surges, Closed Access Remains
        Steady\" class=\"wp-image-8307\"/></figure></div>\n\n\n<p>The data from the
        <a href=\"https://www.bibliotheksstatistik.de/\" target=\"_blank\" rel=\"noreferrer
        noopener\">German Library Statistics (DBS)</a> reveals a clear trend: while
        spending on Closed Access content in university libraries in Germany has remained
        relatively stable, investments in Open Access have surged dramatically. Please
        note that not all universities reported all values consistently, making it
        impossible to quantify the trends with complete precision. However, clear
        trends can still be identified.<br>At the end of the post, you will also find
        a link to the Excel file I used for the analysis.</p>\n\n\n\n<p>Let\u2019s
        look at the numbers:</p>\n\n\n\n<p><strong>Spending on digital Closed Access
        content</strong></p>\n\n\n\n<ul class=\"wp-block-list\">\n<li>2018: \u20ac153,818,679</li>\n\n\n\n<li>2024:
        \u20ac157,462,777<br><strong>= an increase of 2.37%</strong></li>\n</ul>\n\n\n\n<p>The
        data on subscription licenses are recorded in field 151, where, <a href=\"https://service-wiki.hbz-nrw.de/spaces/DBS/pages/84541474/Frageb%C3%B6gen+f%C3%BCr+die+DBS+und+%C3%96BS?preview=/84541474/1089536355/WB_vorab_Stand-Dezember-2024_final.pdf\"
        data-type=\"link\" data-id=\"https://service-wiki.hbz-nrw.de/spaces/DBS/pages/84541474/Frageb%C[...]
