interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889/agency
  response:
    body:
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.5012\/bkcs.2013.34.10.2889","agency":{"id":"kisti","label":"KISTI"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.28.1 talbot/0.1.0 (mailto:info@front-matter.io)
    method: GET
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889/agency
  response:
    body:
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.5012\/bkcs.2013.34.10.2889","agency":{"id":"kisti","label":"KISTI"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - polite
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
